[2019-03-25 16:42] northwestwitch commented on #1192
I can work on this you are not doing the same @dnil

[2019-03-25 16:50] dnil commented on #1192
Thanks! Feel free! 👍

[2019-03-25 19:23] northwestwitch opened #1194 "Can't display some case pages"
Example: https://scout.scilifelab.se/cust002?query=F0017016

This is very likely caused by the fact among the saved collaborators there is an unwanted item coming from the HTML form:

![image](https://user-images.githubusercontent.com/28093618/54947904-b6337080-4f3b-11e9-9bba-64b8f00eec65.png)

[2019-03-26 08:18] northwestwitch opened #1196 "flask_oauthlib.client.OAuthException: Invalid response from google"
Traceback (most recent call last):
  File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/login/views.py", line 71, in authorized
    oauth_response = google.authorized_response()
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask_oauthlib/client.py", line 707, in authorized_response
    data = self.handle_oauth2_response(args)
  File "/hom

[2019-03-26 13:57] #1192 closed

[2019-03-26 13:57] #1194 closed

[2019-03-28 12:42] #1178 closed

[2019-03-30 10:11] henrikstranneheim opened #1198 "List cases with no HPO-terms"
As a scout user I would like to easily get a list of cases lacking important metrics such as HPO-terms or cohort tag. Then I can add the relevant metrics to these cases and improve both the analysis in Scout and the statistics.

[2019-04-01 12:26] northwestwitch opened #1199 "Add nice colors to IGV viewer (if it's easily doable)"
So it would look like the standalone IGV

[2019-04-03 07:02] northwestwitch opened #1204 "YAMLLoadWarnings while running tests"
I keep getting a lot of them. Something like:
scout/tests/conftest.py:1094: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
    data = yaml.load(in_handle)

Only warnings and no errors for now.
Read here:
https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

[2019-04-08 09:07] ingkebil opened #1207 "weasyprint warnings when running scout"
Hi guys,

everytime we are running scout, we get following warnings:

[code]

and

[code]

[2019-04-08 09:08] northwestwitch commented on #1207
Hi, I know. It's complaining a lot but it works as it should. I'll take a look at it as soon as I have some time!

[2019-04-08 09:30] henrikstranneheim opened #1208 "Scout user meeting agenda 8/5 -19"
Welcome to the Scout user meeting @9:00-10:30 am Milkyway alfa 2, Scilifelab!

Please help us fill the agenda with topics that may interest you.

## Agenda

1. Match Maker Exchange (MME) integration in Scout

1. Rank score model. Pathogenic ClinVar variants not visible if freq is too high. /Sofie

1. Visible cases in cases view might not be optimal and users should extend the limit of cases displa

[2019-04-08 11:02] sofievonlanthen opened #1209 "New list of cases "research""
Would it be possible to add another list on top of the "active", "solved" and "archived", for cases that are still active, but more in a research mode. We have several cases that are quite old, that we are still working on, but not actively in a clinical setting. Cases we can't really let go, so want to dig deaper.

[2019-04-08 12:35] dnil commented on #1209
Sure, we can do something about that! Since it would not be quite obvious where to place a new case that comes in with research open, I would suggest a filter search where you have to type e.g. "research" and get back all cases with research open, split into the current categories as usual? Would that work for you?

[2019-04-08 14:13] sofievonlanthen commented on #1209
I was thinking that it could also include cases that do not have the research list open, but we are working on them for a longer period of time. Sometimes including making more functional tests or sending samples to other labs for verification, which might take months. It could of course include cases with research list open.  The cases then stay open in the Active list and blocks the view of the

[2019-04-08 14:34] dnil commented on #1209
Hm, ok: I see what you are after. Any name suggestion?
The research flag is convenient since it is already in the database. A new mode can be added, but that requires a bit more thought! Would adding an option to filter for case age or such be helpful?

[2019-04-09 10:39] sofievonlanthen commented on #1208
2. Rank score model. Pathogenic ClinVar variants not visible if freq is too high. /Sofie

[2019-04-09 10:48] sofievonlanthen commented on #1209
I was thinking sort of in the same way we have prioritized cases, we could have something similar, but the opposite, not prioritzed, but wont-let-go cases... Need to think about a good name. Our issue is that we have too many active cases, of which some are not that active any more, but not closed if you see what I mean.

[2019-04-09 10:51] dnil commented on #1209
Right, I know the feeling! More specifically, what is the issue you are having? Hard to navigate among the cases? Or that the notion of "active" is not necessarily correct anymore? What about a search option for age - e.g. being able to hide all cases older than 4 months old?

[2019-04-16 09:32] northwestwitch opened #1214 "Python package to compare phenotypes using HPO terms"
It's probably worth a try: https://github.com/buske/patient-similarity

[2019-04-17 08:52] henrikstranneheim opened #1215 "Update key names for ClinGen CGH (benign and pathogenic)"
Svdb has been updated in MIP 7 and to accomodate svdb changes and to clarify what has been annotated the input vcf INFO keys for ClinGen CGH has been renamed:
[code]

[2019-04-17 10:40] northwestwitch commented on #1214
I did some research, including reading this papers:
https://onlinelibrary.wiley.com/doi/epdf/10.1002/humu.22851 https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-9-S5-S4

It looks like that using the patient-similarity module to compare patients by HPO terms is an easy way to go. I've implemented and tested it in [patientMatcher](https://github.com/Clinical-Genomics/patientMat

[2019-04-23 09:09] dnil commented on #1186
Add keys to frequencies as annotated with new version of SVDB.

[2019-04-23 12:15] northwestwitch commented on #1162
Done, so I'll close this

[2019-04-23 12:15] #1162 closed

[2019-04-23 14:11] sofievonlanthen commented on #1208
Next dump for local variants to archive? /Sofie

[2019-04-24 09:39] dnil commented on #1209
@sofievonlanthen: Ok, so, we've now got the searching part fixed after some detours. It still needs a little reviewing, but should be ready to launch with the next update! After asking around, I will not add any date-wise searches for now. Instead I suggest that you use one of the existing searchable fields to encode this. E.g. you could write "surdeg" in the synopsis of such intermediate cases, a

[2019-04-25 07:48] #1209 closed

[2019-04-25 17:26] KickiLagerstedt opened #1216 "BAM files missing"
https://scout.scilifelab.se/cust002/F0029506/bed9168bd03586552d2311bcd6557b4b

Also seen this an another case I analyzed before this one...

[2019-04-25 18:49] dnil commented on #1216
Hm, I thought these were resolved; ping @ingkebil?

[2019-04-25 19:15] ingkebil commented on #1216
Hi guys,

sorry about this. Our new analysis cluster was down for maintenance this afternoon. Bringing it back up did not bring back the mount to the webserver. I've relayed the question to IT.

Furthermore, I'm drafting a document with steps to take when servers are rebooted so that we can be more proactive when it comes to these problems.

If all goes well, the BAM files should be back by tomorr

[2019-04-30 06:15] dnil commented on #1216
Looks all good now; thanks @ingkebil and IT!

[2019-04-30 06:15] #1216 closed

[2019-04-30 06:50] northwestwitch opened #1218 "Error when accessing some cases"
for instance this one: https://scout-stage.scilifelab.se/cust003/18069

Error is the following:

File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask_bootstrap/templates/bootstrap/base.html", line 1, in top-level template code
    {% block doc -%}
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask_bootstrap/templates/bootstrap

[2019-04-30 07:31] northwestwitch commented on #1218
case.updated_at is a list:
![image](https://user-images.githubusercontent.com/28093618/56946553-a86c9e80-6b2a-11e9-88d0-c08baf9ed868.png)

[2019-04-30 07:34] dnil commented on #1218
Reasonable; the case can be updated multiple times, and that is one way of logging it! :+1:

[2019-04-30 07:36] northwestwitch commented on #1218
I agree, but we should collect just the latest updated_at in this situation

[2019-04-30 07:37] dnil commented on #1218
Yep; loop and check for latest over if there is an array I suppose!

[2019-04-30 07:48] northwestwitch commented on #1218
I think the updated_at as a list if something that we have in some old cases because the code when you update a case now is just setting the value to the current moment:

![image](https://user-images.githubusercontent.com/28093618/56947307-0e5a2580-6b2d-11e9-9cc7-fa48eb39dbcf.png)

[2019-04-30 08:09] dnil commented on #1218
Yes; a tad odd for a case to have multiple delivery reports, then only one updated_at. Still, a last_updated_at version is all one can access for the rest of the case. This reminds me of an old request from Michela and Nicole to be able to show deltas between uploads. Perhaps someone was toying with that at some point. Anyway, lets live with the loop-and-check. No harm in that.

[2019-04-30 08:23] #1218 closed

[2019-04-30 08:28] northwestwitch commented on #1214
Closing this, since we have it fixed!

[2019-04-30 08:28] #1214 closed

[2019-04-30 10:10] dnil commented on #493
@henrikstranneheim: Is this available only in MIP v7 or also MIP v6? If the latter we can issue / PR CG  as well.

[2019-04-30 10:38] dnil commented on #494
Should we simply close this issue knowing we have 1) rank model versions 2) at least a partial attribution of rank score sources on each variant?
If not, @henrikstranneheim do we have a store of these somewhere? The doc website pages seem a bit dated and not all versions are present. MIP git?

[2019-04-30 11:09] dnil commented on #664
Perhaps close this noting that we now have MatchMaker integration thanks to @northwestwitch?

[2019-04-30 11:29] henrikstranneheim commented on #494
I think it would be good to have a link and perhaps even a md5sum (at least at the location the link points to).

We can create a new folder in: https://github.com/Clinical-Genomics/reference-files/rare-disease

and I add them there and you could point Scout there. What do you think?

[2019-04-30 11:44] henrikstranneheim commented on #493
It is available in MIP v6 from the [case_id]_qc_sample_info.yaml file:
[code]
I guess it have to be supplied by cg to the Scout config, in the same way as the snv/indel rank model.

[2019-04-30 11:47] dnil commented on #494
Sure, that's doable; to generalise it a little bit we could e.g. give a config option that gives a base urls for rank_model and sv_rank_model, and then name the files according to version. It might add a little bit of installation complexity for off site users, but we will make it optional naturally.

[2019-04-30 11:48] patrikgrenfeldt opened #1221 "Problem uploading delivery report to scout in production (works on stage)"
cg upload delivery-report-to-scout acase
----------------- UPLOAD ----------------------
.../P_main/lib/python3.7/site-packages/sqlalchemy/orm/query.py:2334: SAWarning: Pathed join target File.version has already been joined to; skipping
  "been joined to; skipping" % prop
uploading delivery report /.../delivery-report.html to scout for case: acase
Fetching case acase
Saving report for case acase

[2019-04-30 11:50] northwestwitch commented on #1221
I don't think this has to do with the bug of this morning. I'll check!

[2019-04-30 11:54] henrikstranneheim commented on #494
Sounds good!
Would this work (just showing most modern ones for brevity)
 https://github.com/Clinical-Genomics/reference-files/rare-disease/rank_model/1.23.ini
 https://github.com/Clinical-Genomics/reference-files/rare-disease/rank_model/1.23.ini.md5sum
 https://github.com/Clinical-Genomics/reference-files/rare-disease/svrank_model/1.7.ini
 https://github.com/Clinical-Genomics/reference-files/rare

[2019-04-30 12:01] northwestwitch commented on #1221
Scout and Scout-stage mongo have different indexes on case collection:

switched to db scout

[code]

[code]

This might be the reason.

[2019-04-30 12:04] dnil commented on #1221
Are there many entries with arrays for updated_at?

[2019-04-30 12:09] northwestwitch commented on #1221
I don't know.
updated_at is not an index in stage. Which are the correct indexes, those on stage or those in production?

[2019-04-30 12:20] dnil commented on #1221
If cg is not adding more, reverting them to scalars will resolve the issue. If they are plentiful, and we don't quite understand why they are there we need to find another solution.

@moonso was attempting to gently test and reconciliate the indices on stage, on production and the ones that are requested by the current scout master constants file, but I guess it was interrupted by something more p

[2019-04-30 12:30] dnil commented on #1221
Hm, in general, it really makes me wonder if the array-valued update_at wasn't brand spanking new rather, and created by cg? No case with both arrays for collaborator and update_at can have been added to production as long as that index was there. Note the previous offending case from @barrystokman: it was also from today. What do the current cg exported config files look like, for these updates?

[2019-04-30 13:10] patrikgrenfeldt commented on #1221
No, no values at all for updated_at in the scout-config for the case. The new thing from the cg side is that we are no longer providing the delivery report included in the scout-config for the case that we use in the upload but instead we try to add it via the scout-API afterwards, this is what fails currently?

[2019-04-30 13:42] dnil commented on #1221
Ok, I think that settles it. We should still both 1) harmonise scout stage, production and development indices and 2) strive to use the same functions for loading cases into scout from cg and command line

[2019-04-30 13:48] northwestwitch commented on #1221
@dnil I think you are right, it's a problem only for cases which have a update_at which is a list. Reading the documentation:

Compound Multikey Indexes¶
For a compound multikey index, each indexed document can have at most one indexed field whose value is an array.

In this case you already have one key which is a list (collaborators) so you can't have another.

This is fixable by converting upda

[2019-04-30 13:53] dnil commented on #1221
Yep! And PR #1222 should hopefully avoid creating new such arrays when uploading new delivery reports via cg / scout API.

[2019-05-02 08:04] #1204 closed

[2019-05-02 08:13] #1221 closed

[2019-05-02 09:06] northwestwitch commented on #664
I agree. Let's close it!

[2019-05-02 09:06] #664 closed

[2019-05-02 09:44] #493 closed

[2019-05-08 07:50] northwestwitch commented on #1208
Prioritized case should be seen

[2019-05-08 07:53] henrikstranneheim commented on #1208
Bump the score for clinvar pathogenic and likely pathogenic in rank model to make always load

[2019-05-08 07:54] northwestwitch commented on #1208
Filter causatives by gene name

[2019-05-08 11:39] northwestwitch opened #1224 "--peddy-ped option in update case cli is not used"
It's an option to the command line, but it's not used . Do we need it or can be removed?

[2019-05-09 06:27] northwestwitch commented on #1224
Ok. I'll implement it into the new cli PR.

On Wed, May 8, 2019 at 2:49 PM Måns Magnusson <notifications@github.com>
wrote:

[2019-05-09 07:57] northwestwitch commented on #1224
Mmm.. Tried to load the test case using the ped file (together with peddy_ped, ped_sex, ped_check). It works but it's not creating any key in the case object for a peddy_ped file path.
I've also tried to use the 'scout update case  --peddy-ped blabla' from the CLI. No changes in the case object.
Bah. I'm leaving this issue open and I will not modify my PR with this code right now. We can go back t

[2019-05-10 06:18] dnil opened #1225 "Long sample names render Madeline.js hard to read"
Madeline abbreviates longer sample names. This is sometimes fine, but becomes a bother for trios from eg cust002, where names like 2019-00001-01 2019-00002-01 2019-00003-01 are shown as "2019-000...". Is there a way to configure this nicely, without ending up with e.g. pedigrees from other customers with really long sample names becoming unusable - something like the command line Madeline "--nolab

[2019-05-10 09:50] henrikstranneheim commented on #494
Added rank models present in Scout to reference-files on format above: https://github.com/Clinical-Genomics/reference-files/tree/master/rare-disease/rank_model

[2019-05-20 14:31] #1198 closed

[2019-05-20 14:32] northwestwitch commented on #1143
Done by #1206

[2019-05-20 14:32] #1143 closed

[2019-05-20 14:33] northwestwitch commented on #1142
See #1206

[2019-05-20 14:33] #1142 closed

[2019-05-23 09:11] hassanfa opened #1231 "Somatic variant view change suggestions"
This issue summarizes the discussion about changes for somatic variant views on Scout. It is a followup after "Scout for cancer" goal.

Suggested changes for variant viewer:
1. External link addition:
- [ ] cbioportal
- [ ] Cancer Genome Interpreter (we might need to use a local instance of the server)
- [ ] oncokb https://oncokb.org/

2. Changes on "basics" box:
- [ ] Add a tag to variant if it i

[2019-05-23 09:18] hassanfa commented on #1231
FYI: I am aware transcript overview might be irrelevant, I just wrote down the bullet points. We can dismiss or keep them.

[2019-05-23 10:16] northwestwitch commented on #1169
Rank score and zygosity is already displayed now. Adding ACMG classification and filter by

[2019-05-23 13:24] northwestwitch commented on #1231
Shall we start to split these points into smaller issues, to address them more easily (via PR)?

[2019-05-23 13:26] dnil commented on #1231
Yep! Just put them in a project perhaps?

[2019-05-27 08:11] 47KW opened #1232 "HPO term and Gene Panel combined"
When ticking the boxes for HPO term and a default gene panel, the results (variants) depends on the order you choice to "tick"

[2019-05-27 08:13] dnil commented on #1232
Confirmed; in particular, when filtering several times, HPO terms first work as intended, also with another panel, but adding HPO-panel together with another panel has no effect.

[2019-05-27 10:18] northwestwitch commented on #1232
Thanks for noticing and reporting the bug, I'll take a look at this!

[2019-06-03 16:05] #1232 closed

[2019-06-05 12:33] northwestwitch opened #1236 "MT reports should display case display name instead of ID"
So it's easier to understand which individual is which for scout users

[2019-06-07 06:49] dnil opened #1237 "SV Research view on semi-old case"
500 Internal server error on a semi-old SV case this morning:
https://scout.scilifelab.se/cust002/F0005034/sv/variants
Anyone with log access that can shed some light on this? :-)

[2019-06-08 06:07] northwestwitch commented on #1237
{% block content -%}
  File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/variants/templates/variants/sv-variants.html", line 90, in block "content"
    {{ variant_row(variant) }}
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/jinja2/runtime.py", line 579, in _invoke
    rv = self._func(*arguments)
  File "/home/hiseq.clinical/SERVER/apps/s

[2019-06-10 06:10] dnil commented on #1237
Lets see if we can recreate this on stage..

[2019-06-10 07:04] northwestwitch commented on #1237
When is that you get the error, when you click on a specific variant or the SV variants page? Because https://scout.scilifelab.se/cust002/F0005034/sv/variants works for me.

[2019-06-10 07:27] dnil commented on #1237
Research variants, filter for chr21. That was basically what I tried. Interesting: I thought it was more widespread.

[2019-06-10 07:33] northwestwitch commented on #1237
I can confirm that research variant filtered by chromosome 21 triggers an error, so same bug everywhere!

[2019-06-10 07:47] northwestwitch commented on #1237
It probably doesn't have to do with how old the case is, because same bug is in a cust003 case from a month ago. What about the process used to load the research variants?

[2019-06-10 07:48] dnil commented on #1237
Yep, that or altogether missing genes for a variant?

[2019-06-12 08:01] moonso opened #1239 "Add external links to cancer variant view"
- [ ] cbioportal
- [ ] Cancer Genome Interpreter (we might need to use a local instance of the server)
- [ ] oncokb https://oncokb.org/

Hi @hassanfa, could you fill in here more specific the urls and what is needed to build the url to a specific variant?

[2019-06-12 08:04] moonso opened #1240 "Germline tag on cancer variants, inherited and tumor/normal"
Add a tag to variant if it is identified by germline variant caller. This highly is relevant for inherited cancer cases where we have family/trios.

[2019-06-12 08:05] moonso opened #1241 "Remove (replace?) ACMG classification for cancer variants"

[2019-06-12 08:07] moonso opened #1242 "Add other classifications to cancer variants"
MD Anderson's or MSK IMPACT tier lists (tier 1, 2, 3, 4, etc), MVL tag if variant has been found in a managed variant list, Keep VUS tag.

@hassanfa could you provide links to publications and/or other resources for this? 🙇

[2019-06-12 08:07] moonso opened #1243 "Remove mosaic tag for cancer variants"

[2019-06-12 08:09] moonso opened #1244 "Adapt dismiss options to cancer variants"
Hi @hassanfa , this one is easy as long as you can provide what alternatives to keep/remove/add. Please update in this issue

[2019-06-12 08:10] moonso opened #1245 "Update GT calls for cancer variants"
- [ ] GT call update to include ./. or -/-.
- [ ] AF/VF addition
- [x] Tags which variant callers called and what are their filters

It would be nice to get input from both @hassanfa and @bjhall on this one

[2019-06-12 08:12] moonso commented on #1231
Hi, I have splitted this on smaller issues so closing here. The transcripts part needs more discussion so lets keep that out for now.

[2019-06-12 08:12] #1231 closed

[2019-06-12 08:18] moonso commented on #1225
This should be an issue for the part of the pipeline that runs madelaine since scout only displays a static file. I'm moving this to CG in https://github.com/Clinical-Genomics/cg/issues/377.

[2019-06-12 08:18] #1225 closed

[2019-06-12 08:19] moonso commented on #1224
Hi @northwestwitch , I guess that you have merged your big PR? And is this still an issue?

[2019-06-12 08:23] northwestwitch commented on #1224
I kept the code as it was. The option is there but it's not used. Not an issue probably because nobody ever complained, but it can be fixed easily. I had a ton of other things to think about at that time. But we can fix it now!

[2019-06-12 08:23] #1208 closed

[2019-06-12 08:31] moonso commented on #1199
This is perfekt start for Mikael Laaksonen to work with

[2019-06-12 08:33] northwestwitch commented on #1207
I've looked into this. It probably has to do to an outdated version of  Pango installed on the server.  I can't recreate this on my local computer so I assume my lib is updated enough. I'll check which one it is so we can open an issue on servers repo.

[2019-06-12 08:34] moonso commented on #1186
Ok could anyone write here exactly what the keys will look like and what values they will have (eg float, one value or multiple etc)? @dnil @J35P312 @henrikstranneheim

[2019-06-12 08:36] moonso commented on #1183
Closing, please reopen if there is any more problems

[2019-06-12 08:36] #1183 closed

[2019-06-12 08:54] henrikstranneheim commented on #1186
[code]

[2019-06-12 08:56] moonso commented on #1182
@northwestwitch I'm assigning you to a lot of stuff now, feel free to remove/replace assignments if you like 🛩

[2019-06-12 08:56] northwestwitch commented on #1182
This will likely be fixed by the new layout after we upgrade to the new bootstrap.

[2019-06-12 09:02] moonso commented on #1181
I will add this so that it is communicated in the load config on individual level independent of track

[2019-06-12 09:03] moonso commented on #1180
Hi @northwestwitch , could you explain some more? What gene should we picture?

[2019-06-12 09:07] moonso commented on #1179
Are you talking about SV filter on variant page or improvements to cohort view?

[2019-06-12 09:09] northwestwitch commented on #1180
It's a comment from a scout user meeting. I think it's about visualizing the linear structure of a gene (with introns and exons I think) and where a certain point mutation occurs in this gene.

[2019-06-12 09:10] moonso commented on #1177
Merging this with the other issue, they have the same meaning

[2019-06-12 09:10] #1177 closed

[2019-06-12 09:11] moonso commented on #1105
Create a page for users to import known pathologic variants. Could you be more specific here? Should the users create a list of known variants and upload or what do you mean? Any input @dnil @northwestwitch @hassanfa

[2019-06-12 09:13] moonso commented on #1167
We should make a list here of what bullet points that are worth to implement.

[2019-06-12 09:15] moonso commented on #1144
If we are ever going to close an issue like this they need to be more specific. Could you add the goals that are needed to fulfil for this to be finished?

[2019-06-12 09:16] moonso commented on #1127
Any progress here? Fixing this would also fix #1196

[2019-06-12 09:17] moonso commented on #1074
For everything or what?

[2019-06-12 09:20] northwestwitch commented on #1144
We have started with this and we are at a good point I'd say. The views are not fully covered yet but we don't have to rush it. We could pick one page/view method and write a test for it whenever we have time, for increasing the coverage. I think we can close this issue for now!

[2019-06-12 09:20] #1144 closed

[2019-06-12 09:20] moonso commented on #1065
Ping @dnil

[2019-06-12 09:21] northwestwitch commented on #1074
Everything which applies?

[2019-06-12 09:22] moonso commented on #1032
Ok so can we consider this solved since the genes can be reached from the panels?

[2019-06-12 09:22] #1032 closed

[2019-06-12 09:23] moonso commented on #1022
Ping @henrikstranneheim

[2019-06-12 09:24] moonso commented on #983
Any more information on this @dnil

[2019-06-12 09:26] northwestwitch commented on #1199
We should look at the differences between API 1.0 and API 2.0 and if API 2.0 have nice tracks or improvements to be added to the IGV.js browser

[2019-06-12 09:27] moonso commented on #1180
Ok so this should be on the variant page and not case page then?

[2019-06-12 09:29] northwestwitch commented on #1180
I don't know, it is open to discussion. There is also the possibility that you'll have different variants on the same gene, so maybe it would be nice to see where they all are. This was the comment I think.

[2019-06-12 09:29] moonso commented on #966
Do you have any idea how to solve this @dnil ? It fails a little tricky to create different filters depending on what is annotated. My suggestion is that we consider 1000G/ExAC as deprecated, these cases can be reanalysed to get the correct information.

[2019-06-12 09:33] moonso commented on #864
Each institute should have a list of institutes that are open for sharing. Think we will start there. If cases needs to be shared with other institutes we can solve that problem later.

[2019-06-12 10:32] moonso commented on #1242
See #548

[2019-06-12 10:32] #1242 closed

[2019-06-12 10:33] moonso commented on #1180
But it will be impossible to show all variants in all genes on case level...

[2019-06-12 10:36] henrikstranneheim commented on #1022
There is a gnomad pLI per gene file: Download it: https://storage.googleapis.com/gnomad-public/release/2.1.1/constraint/gnomad.v2.1.1.lof_metrics.by_gene.txt.bgz

which Scout can use. MIP 7.0 is using this one (so we are still on gene level as the VEP plugin currently cannot handle transcript level)

[2019-06-12 10:49] moonso commented on #548
@hassanfa could you read through this issue and see if you agree? I think we should implement a classification according to the article then store the classification for every variant and display if the variant shows up again in another case just like @bjhall suggests

[2019-06-12 11:42] hassanfa commented on #548
There was also a simple classification idea in BALSAMIC, which was inspired from MSK IMPACT: https://github.com/Clinical-Genomics/BALSAMIC/blob/develop/BALSAMIC/config/MSK_impact.json

I'll check out the article here and some other sources and get back to this issue. Lets keep it open.

[2019-06-12 11:48] hassanfa commented on #1105
+1 for importing known pathogenic variants.

IMHO, it can be a simple approach for somatic SNVs: a bed file. There are multiple github issues on MVL/actionable variants. Should we move all the conversation here?

[2019-06-12 12:31] mikaell commented on #1199
GV 1 vs 2
===========

I don't know which of these are new features or not. I wasn't able to find release notes
for the javascript igv version 2 compared to version 1. This is what I could see
when playing around in the gui and reading the documentation.

Redirecting Scout to use igv 2 was a small change to the url. So far I have not run
into any problems.

### Tracks
Colors for paired end reads t

[2019-06-12 13:08] hassanfa commented on #1239
Here is the following:
1. afaik cBioPortal doesn't have stub. Instead they have a web api: https://www.cbioportal.org/webAPI.
2. Cancer genome interpreter has a REST API: https://www.cancergenomeinterpreter.org/rest_api
3. And oncokb is similar to above two: https://oncokb.org/dataAccess

I'll look into this a bit further in the coming days.

[2019-06-12 13:13] hassanfa commented on #1240
Adding comment for future me:

- In non-inherited cancers and somatic variant filtering, we need to make sure we get rid of noise and possible germline mutations. This can be mitigated by using a matching normal sample and inhouse panel of normals.

- For inherited cancers, we need to remember not to filter out germline variants, but add a tag.

Now, VCF INFO field can hold a tag with possible ger

[2019-06-12 13:51] dnil commented on #1199
Nice! 👍🏻 Then the trackHeight options I tried to introduce at some point may actually work now!

[2019-06-12 15:21] #1181 closed

[2019-06-12 15:46] #1236 closed

[2019-06-13 06:53] moonso commented on #1224
I'll remove the option to add those. It's never been used so let's implement it if there is a need in the future.

[2019-06-13 06:56] #1224 closed

[2019-06-13 11:28] moonso commented on #967
CG issue opened in https://github.com/Clinical-Genomics/cg/issues/379

[2019-06-14 06:14] northwestwitch commented on #1199
@mikaell you could take a look at this pull request to see how you add a parameter to the config file and use it downstream in the software : #1247

[2019-06-14 08:06] moonso commented on #1215
Hi @henrikstranneheim , how about `clingy_ngi`?

[2019-06-14 10:28] #967 closed

[2019-06-14 10:47] henrikstranneheim commented on #1215
I have had some discussion with Daniel N and Jesper and forgot to update this issue. We decided to use:
[code]

@dnil and @J35P312 If you object please say so.

[2019-06-14 10:58] dnil commented on #1215
Accept for the general polite grinding of teeth about the need for it, I think we are good.

On that note I also had a conversation w the aCGH ppl. We will likely be able to get an update procedure in place on our side, but the pathogenic ref file will still have to be treated privately, until there is some sort of access review board for clinical reference data in place. I guess we could give con

[2019-06-14 11:40] moonso commented on #1215
Why do we use both OCC and AF? We do not treat any other frequency like this. I think we should choose to show one of them whenever there is an alternative

[2019-06-14 13:25] dnil commented on #1215
There is no real need to have both: the cohort total number of individuals (or chromosomes, depending) would be a more informative number.

As soon as the cohorts are large enough (>200?) it is fine to default to AF.

For another cautionary side note, at some point the clingen_cgh_benign was used - at least in scoring - as a binary item, much like the old Decipher population track. I take it the a

[2019-06-14 14:12] henrikstranneheim commented on #1215
looking at the database files: there is no AF or OCC fields and no sample GT fields. Both benign and patogenic file looks binary to me and that is was svdb seems to produce. Maybe, we have an old version?

In the svrank_model version 1.8 both fields are Integers.

[2019-06-14 14:14] northwestwitch commented on #879
Hi! Today I've been having a nice discussion with @szilvajuhos and they use NGB (tps://github.com/epam/NGB)to visualize different tracks for each sample.

There is a demo here: http://ngb.opensource.epam.com/catgenome/#/

Looks more advanced than IGV, and supports the same tracks (wig among them). You need to install it on your server but you can embed it into your browser window using iFrame.

He

[2019-06-16 13:49] genecracker opened #1250 "from ESHG 2019 spliceAI"
SpliceAI
https://www.cell.com/cell/fulltext/S0092-8674(18)31629-5?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS0092867418316295%3Fshowall%3Dtrue
https://github.com/Illumina/SpliceAI

there should already be a precomputed list of scores for SNV (not for indels)

[2019-06-16 14:23] dnil commented on #1250
There is an issue for this in MIP; https://github.com/Clinical-Genomics/MIP/issues/775. We'll await its completion, then display this in scout!

[2019-06-17 08:05] northwestwitch commented on #1196
I haven't seen this error in months and I don't know how to re-create it. I think I'll close this issue for now. we can re-open it when (if) we get the same error again!

[2019-06-17 08:05] #1196 closed

[2019-06-19 08:44] moonso commented on #1245
We have a problem that is fairly huge. The cancer view is now using the template that rare disease variants is using. So if we want to update and change many things we will need that these diverge, this has to be done in an intelligent way so we don't need to maintain duplicated code. There is already now a number of similar variant templates that do very similar things. What's your input on this

[2019-06-19 08:44] moonso commented on #1244
See #1245 regarding variant templates

[2019-06-19 08:53] dnil commented on #1245
My 5¢:

The the three obvious main routes are 1) keep running with "if cancer" clauses on the views, dropping away the domain specific parts into subroutines / macros as we go along
2) refactor
or
3) split the views entirely, and similarly aim to wrap the common components in a central place

The advantage of (1) would be that we can keep going with small increments. I'd say this is the default st

[2019-06-19 08:57] moonso opened #1254 "Check out MetaDome"
MetaDome is a tool that scores positions based on how sensitive the position is to changes. Similar to pLi but it uses the information from protein domains combined with variant frequencies. We should investigate if we can score variants  and include in rank model or at least link out to the web based tool.

[2019-06-19 09:21] hassanfa commented on #1245
I have not properly introduced Scout to myself, but these are my thoughts:

1. Our tracks are clear: Cancer/Rare-Disease, imho it is easier to use _if cancer_ for cancer specific ones.
2. AF/VF/AD/VD, and GT: maybe we might need to refactor it, cause it is not a cancer specific tag.
3. For Variantcallers, How about enforcing an INFO field tag in VCF. If that tag exists, then pick them up and add t

[2019-06-19 10:29] moonso commented on #1245
Ok nice thoughts, it seems like we go with the `if cancer` stuff until it get's to much, we can deal with potential problems later. @hassanfa do you have a small VCF with non-sensitive data that includes the annotations described in these issues? The more the better, could you mail me that so I can start to work on it?

[2019-06-19 15:21] northwestwitch opened #1256 "Demo version has bam and bai files (MT reduced files) that are not found by IGV and Pileup"
I think that's the bug that you found @mikaell. I think you said you have it fixed on your branch? It would be nice if you could include it in #1255. :)

[2019-06-19 15:23] northwestwitch commented on #1256
Error message when you try to open the files in the viewers:

Traceback (most recent call last):
  File "/Users/chiararasi/miniconda3/envs/py36/lib/python3.6/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/chiararasi/miniconda3/envs/py36/lib/python3.6/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle

[2019-06-20 05:45] mikaell commented on #1256
I haven’t fixed it -just found it :)

I’ll do so right away.

/Mikael

[2019-06-20 06:16] northwestwitch commented on #1256
Ah ok! Let me know if you want to do it together! :)

[2019-06-24 13:15] northwestwitch opened #1259 "Restore --version command for interacting with servers deployment script"
--version cli command is not working in the current version and it's required to deploy scout prod and scout-stage on clinical db.

The bash commands (bash update-scout-prod and update-scout-stage) contain in fact a check for the version

[code]

Without this change it is not possible to install scout prod and scout stage on clinical-db (it's actually possible but it is very cumbersome)

[2019-06-24 13:47] #1259 closed

[2019-06-24 15:33] #1169 closed

[2019-06-25 08:03] northwestwitch opened #1261 "Clinical and research SVs page doesn't work for some cases"
For instance: https://scout-stage.scilifelab.se/cust002/F0001356-14034-2/sv/variants?variant_type=research

It's a different error than #1237

The error message here is:
Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 2311, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/m

[2019-06-25 08:17] northwestwitch commented on #1261
Ok. The problem here is a change in the structure of the database objects.

Before panels objects in cases looked like this:

![image](https://user-images.githubusercontent.com/28093618/60081607-6890f480-9732-11e9-9556-413d0524800f.png)
...
![image](https://user-images.githubusercontent.com/28093618/60081625-70509900-9732-11e9-9d79-30cdfff3eb9a.png)

Now they look like this:
![image](https://user-

[2019-06-25 09:03] northwestwitch commented on #1261
Recreated easily with demo case by removing the is_default from the default panel and adding the default_panels key to the case object:

![image](https://user-images.githubusercontent.com/28093618/60084991-d17b6b00-9738-11e9-955b-9b10b0e47f0b.png)

[2019-06-25 13:56] #1237 closed

[2019-06-25 13:56] #1261 closed

[2019-06-27 11:20] #1256 closed

[2019-07-01 07:29] northwestwitch opened #1266 "Create charts on dashboard instead of displaying numbers"
I've been playing with javascript last week. I'm working on creating some nice graphs for the dashboard pages. Currently doing that in the PR #1164.

Example:

![image](https://user-images.githubusercontent.com/28093618/60418182-94085900-9be2-11e9-9218-ed060736c341.png)

[2019-07-01 08:52] northwestwitch opened #1267 "Decide what to add to dashboard stats"
Suggestions by @vwirta :

- Type of causative vars (snv/SV) and the specific subcategory (frameshift, stop codon etc.)
- Compounds
- Clinvar classification of our causatives
- Population frequency of our causatives
- What type of causatives are found each month (thanks to which technology: NGS/WES/RNASeq

To be discussed after summer in a meeting with people from the hospital as well?

[2019-07-02 07:16] emiliaol opened #1268 "upload to scout for single cases fails"
Please see the attached error message during upload to Scout for a single sample case:

2019-07-02 07:13:49 hasta.scilifelab.se cg.cli.upload[161188] ERROR uploading family failed: abovepigeon
2019-07-02 07:13:49 hasta.scilifelab.se cg.cli.upload[161188] ERROR Traceback (most recent call last):
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/site-packages/cg/cli/upload.py", line 396, in aut

[2019-07-02 11:42] northwestwitch commented on #1268
This is fixed, closing the issue!

[2019-07-02 11:42] #1268 closed

[2019-07-02 11:45] northwestwitch opened #1270 "ideogram.js"
https://github.com/eweitz/ideogram

Anything for us @mikaell ?

[2019-07-03 10:36] sofievonlanthen opened #1271 "Visualise rerun cases- move to inactive?"
When we request reruns of cases directly in Scout we can't easily see when cases are ready and have been rerun and uploaded. The cases are still archived if requested after being archieved. Would it be possible to put them back in inactive, to make sure we don't miss when the cases have been rerun? We missed a bunch of cases that had been rerun until we actively searched for them.
Would also be go

[2019-07-08 08:36] szilvajuhos commented on #879
Hej, sorry for the late answer, yes, pathfindr makes static files _and_ CSV files in the moment. The purpose of static HTML to have a complete report that we can send around, but the CSV files and different plots can be integrated to other software. Have to find some test data to show without patient information.

[2019-08-03 10:35] #1199 closed

[2019-08-03 10:41] dnil opened #1273 "STR alleles to copy number"
@vwirta pointed out that there is a difference between how allele sizes and reference sizes are shown. Let’s parse the allele <STRn> for n, ideally on load, and use this instead.

[2019-08-05 08:46] northwestwitch opened #1274 "Local observations doesn't seem to show links to variants belonging to the same institute"
Example:
https://scout.scilifelab.se/cust004/518701400112fam/b0bfd12e6ce4de2caa660de490c1fbdf

3 observations in the old archive and 15 observations in the new.

3 of the 15 observations in the new archive belong to the same institute, cust004 (417701600625fam, 319701400073fam and 518701400112fam which is the very institute where you are in the first place), but the link to these other cases/varia

[2019-08-06 13:45] henrikstranneheim opened #1276 "Grch38 contig name for export gene panel"
Currently Scout produce this gene panel export for genome build 38:
[code]
However, grch38 should have a chromosome prefix = "chr" and MT is now called chrM, see: ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_full_analysis_set.fna.fai

We need to add the chromosome prefix and rename MT to M when exportin

[2019-08-07 11:05] 1ctw opened #1278 "mtDNA report"
Hi Chiara!

We are finally going to use the mtDNA report as originally planned, but I now noticed that there is still a problem with the report. Can you please help me fix this.

The report shows all variants detected in that family, i.e. the variants from the father are also in the report of the child and vice versa. When the variants are from the father they show up as AD Alternative=0 in the re

[2019-08-07 11:29] northwestwitch commented on #1278
Hi!
So to make sure that I've understood: in all reports (affected or parents) I should remove all lines where 'AD alternative' is 0, right?

[2019-08-07 11:45] 1ctw commented on #1278
Yes, then you have understood it right:)

[2019-08-07 12:41] dnil commented on #1267
Easy:
- Rank score of causatives
- CADD score of causatives

More advanced:
- Number of variants passing clinical filter + frequency filter / rank score cutoff
- Inheritance model for causatives (trios) (AD, AD de novo, AR, X, MT, somatic, ...)

[2019-08-07 14:01] hassanfa opened #1279 "BALSAMIC's merged somatic mutation VCF header and to discuss info/format tags"
Hi!

BALSAMIC's merged SNV and small indel VCF is finalized and it will be the last piece of release 3.0.0. Before releasing, I thought I should give heads up on annotations and tags. Also to get a feedback on it

The header and four example variants after VEP annotation is pasted below (I removed VEP annotation from variants to make lines shorter, but you get the idea). Also samples are named NOM

[2019-08-07 14:03] hassanfa commented on #1279
Pinging @vwirta @moonso @northwestwitch @dnil

[2019-08-07 15:28] #1274 closed

[2019-08-07 16:10] #576 closed

[2019-08-08 05:39] northwestwitch commented on #1276
Closing this.

[2019-08-08 05:39] #1276 closed

[2019-08-13 14:11] mikaell commented on #1270
Thanks! Closing this now.

(I kinda stopped looking at GitHub while everyone was gone)

[2019-08-13 14:11] #1270 closed

[2019-08-15 13:37] northwestwitch opened #1282 "links to str variants lead to variant page, not str-variant page"
Tried to open an str variant and it's treated as a variant. When you fix the link to the right page
(url_for('variants.str_variant', institute_id=institute._id, case_name=case.display_name,
                      variant_id=variant._id))
you get an error

[2019-08-20 06:26] henrikstranneheim opened #1284 "Scout user meeting agenda 25/9 -19"
Welcome to the Scout user meeting @9:00-10:30 am!

Location: L2:03 Goliat, KUL, KS Solna.

Please help us fill the agenda with topics that may interest you.

## Agenda

1. Re-run cases stay in archieved- how do we get the information that the case is ready?(DN) (answer down in a comment)
 - De-archive reruns and flag them as 'inactive' if archived(DN)
 - Sort cases by analysis_date, track or statu

[2019-08-20 06:55] sofievonlanthen commented on #1284
1. Re-run cases stay in archieved- how do we get the information that the case is ready? /Sofie

[2019-08-20 06:57] dnil opened #1285 "Always show prioritized cases early"
From user meeting: always show prioritized cases early in case view so they don’t drown in other cases.

[2019-08-20 07:06] dnil commented on #1284
2. Pending updates:
- early look at new look (CR)
- more case / cohort / phenotype searches

3. Timeline for MIP7? Interim loqusdb-freeze?

4. Appoint MatchMakerExchange submitters?

[2019-08-21 07:52] moonso commented on #644
We will add exons and a cli command for exporting those

[2019-08-21 08:32] 47KW opened #1287 "Quality report"
Hello
my quality report for Case F0030368 was not correctly reflecting the genepanel it was clinically based on, Cardiolog. Rather, it seems to show OMIM coverage etc. This issue concerns when making a report by pressing "General", not using the "Coverage report" or "Download PDF" buttons.

[2019-08-21 10:23] northwestwitch commented on #1287
Thanks for opening the issue, I'll take a look!

[2019-08-21 15:23] #1287 closed

[2019-08-21 15:32] northwestwitch commented on #1287
This is fixed now in the code and the change will be in place in the next scout release. Thanks for your help improving scout!

[2019-08-23 08:41] #1278 closed

[2019-08-23 09:45] dnil commented on #1282
Linking to the variant page isn't too bad; it actually gets you somewhere where you can get an alignment. But lets add a specific variant page as well, where there are only STR-relevant items left (gene level info w OMIM, variant, bam view, ...) and the STR specific info shown.

Similarly, the "next page" button on the str-variants page, if it is ever shown, takes you to the "variants" view, rathe

[2019-08-26 06:20] KickiLagerstedt opened #1289 "Unable to create General report (dowloading of PDF)"
I tried yesterday and today and I get the same error message:

"Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application."

Something wrong with my computer or something general??

[2019-08-26 06:27] northwestwitch commented on #1289
We've received some error messages from the server at this regard, I'll take a look as soon as I'm at the office.

[2019-08-26 07:16] northwestwitch commented on #1289
@ingkebil we are having some problems with scout that might be due to server settings, here's the error:

Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/urllib3/connectionpool.py", line 603, in urlopen
    chunked=chunked)
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/urllib3/connectionpool.py", line 34

[2019-08-26 07:26] dnil commented on #1289
Perhaps call FL/file an issue with scilifelab IT again; pretty sure this is related to the certificate update issues Friday afternoon! 😊

[2019-08-26 08:53] northwestwitch commented on #1289
It's definitely a server settings issue and I've been looking into the settings we have for scout and scout stage in the servers. I'm moving this issue there but I'll notify here when it is fixed.

[2019-08-26 08:58] northwestwitch commented on #1289
Moved it here: https://github.com/Clinical-Genomics/servers/issues/179

[2019-08-26 09:04] northwestwitch commented on #1289
@ingkebil says we should disable the SSL certificates for scout and the settings are probably on our servers and we should be able to modify them

[2019-08-26 09:41] ingkebil commented on #1289
yes, exactly. This way, IT can update the certificates without being dependent on an application. There is no need to encrypt traffic between localhost.

[2019-08-26 11:58] northwestwitch commented on #1289
We are trying to fix it with the IT, I'll let you know as soon as we have news

[2019-08-26 12:54] 1ctw commented on #1289
I see you are working to solve this. Just want to tell you that we at CMMS have the same problem...

[2019-08-26 12:56] northwestwitch commented on #1289
Sorry for the inconvenience, hopefully we'll fix it soon

[2019-08-26 13:10] ingkebil commented on #1289
Alright. We have now fixed the problem. Download ahead!

[2019-08-26 13:13] dnil commented on #1289
Works!

[2019-08-26 13:13] northwestwitch commented on #1289
Nice! Thanks @ingkebil !

[2019-08-26 13:14] #1289 closed

[2019-08-27 11:56] #1065 closed

[2019-08-27 11:59] dnil commented on #1064
Closed by #1281.

[2019-08-27 11:59] #1064 closed

[2019-08-27 12:35] henrikstranneheim commented on #1022
For SV we are taking the most severe pli score for genes affected by the variant as a proxy:
[code]
This part of the SV rank model in MIP 7.1. Display on SV view if relevant

[2019-08-27 12:39] henrikstranneheim commented on #974
@northwestwitch @moonso What is the status on this one? Do you need any more info from the raw data?

[2019-08-27 12:53] northwestwitch commented on #974
I'm not sure, I'll check!

[2019-08-28 09:19] northwestwitch opened #1294 "CLI load command help is not user friendly"
![image](https://user-images.githubusercontent.com/28093618/63842733-77d82c80-c985-11e9-868c-d2cf5f156619.png)

The command can be used to load many other things, not only the Scout database. This creates confusion in production

[2019-08-30 09:38] hassanfa commented on #1245
A VCF example of BALSAMIC's output can be found here
 https://github.com/hassanfa/VCFmerge/blob/master/tests/data_result/

The final file is: https://github.com/hassanfa/VCFmerge/blob/master/tests/data_result/mutect_vardict_strelka_concant.merged.sort.annotate.pair_orient.depth.vcf

[2019-08-30 10:51] dnil opened #1297 "SV UCSC link gets wrong coordinates when viewing BNDs"
BNDs and any other event spanning multiple chromosomes doesn't fit nicely into the current linkout. Should be updated to point to the two breakpoints instead of trying to show the whole fusion... 😄

[2019-08-30 10:52] dnil opened #1298 "Transcript versions on genes / gene panels"
It would be very nifty if the transcript version numbers fetched for ClinVar submission could also be displayed on the corresponding gene page.

[2019-08-30 11:16] dnil opened #1299 "Case sort order cycling"
When you select a case sort order, selecting the same order multiple times should cycle through forward and reverse sort order on that key.

[2019-08-30 11:17] northwestwitch commented on #1299
Exactly what I had in mind! :)

[2019-08-30 11:17] #1271 closed

[2019-08-30 11:17] #1285 closed

[2019-08-30 13:03] #974 closed

[2019-08-30 14:39] northwestwitch commented on #1298
What if we start putting a link to the entrez page?

[2019-09-02 08:54] henrikstranneheim opened #1300 "Export of reduced penetrance file based on gene panels via CLI"
We use the this type of file in the analysis together with genmod to modify the inheritance models based on reduced penetrance:
[code]

- It would be great if Scout could export this via the CLI for dynamic inclusion of the file in the analysis via Cg.
- Modify it so that it work for both genome build 37 and 38 (and onwards...)

[2019-09-03 03:38] #1294 closed

[2019-09-04 09:41] 47KW opened #1302 "Scout, ranklista, comments"
Hej
jag föreslår att det finns en visuell skillnad mellan "comments" i Variantlistans rank-rutan beroende på om kommentaren är global eller lokal.
mvh

[2019-09-04 13:47] ViktorHy opened #1303 "Search for variants within a chromosomal position"
Hi!

Suggestion for improvement, currently we are only able to search for variants on a specific chromosome. Would be nice to also be able to search for variants within certain coordinates. Like chr7:1000-1000000.

If this function is available it is not obvious where/how to do this.

Best wishes
Viktor

[2019-09-05 14:13] hassanfa opened #1304 "COSMIC and new identifier"
Heads up on new cosmic identifier: COSV. COSM and COSN are both considered legacy.

COSV introduced in August update.

More here on September update for COSMIC v90:
https://cancer.sanger.ac.uk/cosmic/variant-updates

[2019-09-06 06:16] #1186 closed

[2019-09-06 06:16] #1215 closed

[2019-09-06 06:20] northwestwitch commented on #1303
I'm sure that this functionality won't be too difficult to implement, and it will be useful for many users!

[2019-09-06 06:23] dnil commented on #1303
Good, and easy enough!

It also ties in with the general region concept. We would like to have regions as a more general entity, much like the panelApp concept, where panels could contain a region with known pathogenic aberrations, but not one defined gene spanning it.

[2019-09-06 06:40] dnil opened #1305 "SV variants frequency hover"
We now have a decent set of frequencies for SVs, although more are coming. Time to wrap that into a nice hover on the variants page for easy access, and perhaps update the filter fields as well.

[2019-09-06 07:45] dnil commented on #1068
Solved in #1253.

[2019-09-06 07:45] #1068 closed

[2019-09-09 09:10] henrikstranneheim opened #1308 ""Description" field on gene panel overview"
It would be good to have a free text field with a label "Description" or similar to write more general information regarding each panel.

[2019-09-09 12:36] dnil commented on #594
Hm, I guess we could add an additional type of panel, e.g. a custom gene list panel, that the user could populate directly from the case page. Then use it much like we use the current "Dynamic gene panel" for HPO lists.

The only objection I can think of is that some genes may not be on the master panel etc, but that is exactly analogous for the HPO list. Anything I'm missing?

[2019-09-09 13:15] KickiLagerstedt commented on #594
Låter bra! Tror inte att ngt är glömt…

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 9 september 2019 14:37
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Kristina Lagerstedt <kristina.lagerstedt@ki.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] Clinical filter - own gene panel -- not the other way around (#594)

Hm, I guess we could ad

[2019-09-09 14:05] 47KW opened #1309 "IGV Track Height"
Hi,
could we have the default track height setting in IGV increased from 300 to 700?
kindly
Håkan

[2019-09-10 19:25] #1273 closed

[2019-09-11 07:02] #1308 closed

[2019-09-11 08:55] dnil commented on #1282
So two things here:
- [ ] "Next page" bugfix - thats a bug; I should have remembered that when I was anyway tinkering with the page, but I rarely open trios.
- [ ] A STR specific variant page. I would actually argue against it in favour of making the  regular variant page work ok for STRs. Instead I would like to propose a gene / loci level view where all variants in the same loci for the whole ca

[2019-09-11 09:13] northwestwitch commented on #1302
Hi, just to clarify, you mean this list for instance?

![image](https://user-images.githubusercontent.com/28093618/64684246-0ae48c80-d485-11e9-8862-9bfdb93fdd71.png)

Do you have any suggestions?

[2019-09-11 09:13] #1309 closed

[2019-09-11 09:21] vwirta commented on #1302
Different colours for the bubble?

[2019-09-11 09:26] northwestwitch commented on #1302
Or a different shape of the bubble if there are global comments ?

[2019-09-11 09:26] 47KW commented on #1302
After discussion in the office, this is maybe a non-issue since we are avoiding making global comments in general
😊
Suggest to leave it as it is

/ Håkan

Från: Valtteri Wirta <notifications@github.com>
Skickat: den 11 september 2019 11:22
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Håkan Thonberg <hakan.thonberg@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-G

[2019-09-11 09:26] northwestwitch commented on #1302
Ah ok, it was an easy fix :)

[2019-09-11 09:27] 47KW commented on #1302
A globe if global and a ….map if local
😉

Från: Chiara Rasi <notifications@github.com>
Skickat: den 11 september 2019 11:26
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Håkan Thonberg <hakan.thonberg@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] Scout, ranklista, comments (#1302)

Or a different shape of the bubble if there are global comments ?

[2019-09-11 09:42] northwestwitch commented on #1302
What about adding the globe if there are global comments and leaving the comment bubble as it is if it's local?

![image](https://user-images.githubusercontent.com/28093618/64686617-38333980-d489-11e9-8471-59123d9a4541.png)

[2019-09-11 10:55] #1302 closed

[2019-09-12 06:50] northwestwitch opened #1314 "Variant filter form needs to be validated before submission"
Both snv and sv variants filters must be validated. This way we'll avoid the recurrent bug of users submitting non-valid params that trigger errors crushing the variants page.

I never used Flask_WTF but here is how to do it: https://www.youtube.com/watch?v=TZvb1Wurj7w

I was thinking I could work on this while I fix #1303

[2019-09-13 07:59] dnil opened #1317 "Always load ClinVar likely pathogenic / pathogenic variants, regardless of rank score"
genmod developers (and clinical customers) would prefer if we always load all variants annotated potentially pathogenic for scrutiny. This frees up for development of the rank model - and makes sure no founder variants, reduced penetrance or otherwise odd pathogenic variants are overlooked on load.

[2019-09-13 10:47] henrikstranneheim opened #1318 "Remove pileup view functionality"
as it is replaced by IGV in full.

[2019-09-13 12:14] northwestwitch opened #1319 "Genes page crashes"
Error is likely this:

Traceback (most recent call last):
  File "/Users/chiararasi/miniconda3/envs/py36/lib/python3.6/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/chiararasi/miniconda3/envs/py36/lib/python3.6/site-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/chiar

[2019-09-13 12:22] northwestwitch commented on #1319
I've grepped the same syntax and /scout/server/blueprints/genes/views.py is the only file where I've found all_genes().limit

[2019-09-13 12:30] northwestwitch commented on #1319
There is a test for that page with the bug. It doesn't fail because it's not actually collected from Travis. It has probably to do with its name, that doesn't start with 'test'. Because if you specifically run pytest giving it the file that the test fails with the right message:
 @genes_bp.route('/genes')
    @templated('genes/genes.html')
    def genes():
        """Render seach box for genes."""

[2019-09-13 12:50] #1319 closed

[2019-09-16 06:47] henrikstranneheim commented on #957
@dnil Any timeplan for this one? It is one of the last issues on the CG goals. Would be nice to be able to close soon.

[2019-09-16 06:49] henrikstranneheim commented on #484
@dnil Still relevant? Also one of the last issues on the SV goal for CG.

[2019-09-16 08:44] northwestwitch opened #1322 "Weird names for missing individuals in pedigree pics"
Look at this case for instance: https://scout.scilifelab.se/cust002/F0015186

Missing individuals look like this:

![image](https://user-images.githubusercontent.com/28093618/64944578-f2061d80-d86e-11e9-9c50-28596ae32537.png)

Not super urgent but it's a bug I think

[2019-09-16 09:42] northwestwitch opened #1323 "Error after loading exons on hasta stage (build 38)"
I've been trying the command
[code]
from hasta stage.

The command works fine:
![image](https://user-images.githubusercontent.com/28093618/64948242-edddfe00-d876-11e9-9f06-205cb0f656c7.png)

But I get an error at the end:
![image](https://user-images.githubusercontent.com/28093618/64948275-0221fb00-d877-11e9-9e53-168f694938e4.png)

[2019-09-24 07:36] dnil commented on #442
The load config yaml is fine. How about we start with MIP version, plus, if any, references/programs that we allow ourselves to update independently. The bulk of actual component software versions, references versions etc could then be listed in static files, much like the rank models?

[2019-09-24 12:45] bjhall opened #1325 "Store "quick" ACMG classifications in acmg collection"
This relates to my pull request from last week: https://github.com/Clinical-Genomics/scout/pull/1324

Currently "real" ACMG classifications are stored in the acmg collections, whereas "quick" classifications (when one of the P/LP/VUS/LB/B buttons are pressed on the variant overview page) are stored in the case's document in the case collection.

Is this due to legacy reasons or by design?

I see t

[2019-09-25 06:41] moonso commented on #1284
Do you have a comment on @sofievonlanthen 's question @northwestwitch ?

[2019-09-25 06:48] dnil commented on #1284
We hope it is answered by 7 and 9, but lets see if we got it right!

[2019-09-25 06:57] northwestwitch commented on #1284
Now when you click on rerun the case should become 'inactive' if it was archived.

We don't have any popup or message that the case is ready but for the time being you could sort the case cases by analysis date. Newest analyses should be displayed at the top.

Open for discussion and improvement

[2019-09-25 07:12] moonso opened #1326 "Keep Sanger evaluation after rerun"
Atm the Sanger order and status disappears after rerun

[2019-09-25 07:14] moonso opened #1327 "Add button to inactivate case"
When removing assignee get prompt if case should stay active or inactivate

[2019-09-25 07:45] moonso opened #1328 "Case search seems to not work as expected"

[2019-09-25 07:56] moonso opened #1329 "Show gene on top of IGV view"

[2019-09-25 12:29] dnil opened #1330 "Document VCF key parsing as tests"
As new keys are added, current documentation grows obsolete, and it becomes difficult for all centers with instances to keep track. We propose the introduction of tests at the parsing level for each key that scout will load, parse and visualise.

- [ ] Introduce a key parse test template
- [ ] Add a section to the development guide describing the steps involved
- [ ] Update documentation to refer

[2019-09-25 12:49] dnil commented on #868
We will consider this solved with #1253 for now. It is not unlikely that someone will wish for aggregate lists from this feature, perhaps in combination with average (expected) mapped coverage for genes on a panel, but that may be better solved by e g Chanjo development.

[2019-09-25 12:49] #868 closed

[2019-09-25 12:53] northwestwitch commented on #1328
Oh no!

[2019-09-25 12:56] dnil commented on #1328
Either sth with indexes on the production server, or possibly with gene hgnc symbols not being populated there as on the stage? I think I would start checking the latter, and if so just convert symbols to hgnc_ids before searching with pinned, causative etc?

[2019-09-25 12:56] moonso commented on #291
Could you add this @northwestwitch , we got a customer request again today about it..

[2019-09-25 13:10] moonso commented on #1325
Hi @bjhall , we have discussed this and agree with you. They should be stored in the collection as well.

[2019-09-25 13:18] dnil commented on #1325
Yep! :+1: I guess the previous was sensible since a variant is only ever classified in relation to a phenotype, and previous classifications without phenotype are not necessarily transferable. Genetics is not predictive. We should be restrictive with displaying LB/B/VUS in a way that rookies - or stressed out specialists - might misinterpret them. But, previous LP/P are important enough to warrant

[2019-09-25 13:33] dnil commented on #1284
The meeting returned the following issues: #1326, #1327, #1328, #1329. Please add more if we missed any!

[2019-09-25 13:33] #1284 closed

[2019-09-26 07:17] AnnHam opened #1331 "Can't search with gene name in IGV"
Since the last update we can't search with gene name in IGV. "Not found" is the error message I get when doing the search.

[2019-09-26 07:22] northwestwitch commented on #1330
This will be super useful

[2019-09-26 08:22] dnil commented on #1267
Gene stats is also in demand: how many distinct genes with causatives? Also recurrent genes, and single patient ones.

[2019-09-26 08:57] moonso commented on #1325
Hi @bjhall and @dnil , I'm working on this now and there are some stuff that becomes complicated.

1. If there is a evaluation and then that is changed it will become 2 evaluations. Should we remove the first one then?
1. If a user press `Likely Pathogenic`, changes mind and press `Likely Pathogenic` again there is a complicated situation. Variant should go back to 'unevaluated', however there wil

[2019-09-26 09:43] dnil commented on #1325
Can we let the user revoke a classification; e.g. as (I guess?) one would with dropping an ACMG one? Then things should be rather ok.

One could argue that one user should only be allowed one verdict (of each type) per case-variant, but we don't necessarily need to enforce that.

[2019-09-26 09:57] northwestwitch commented on #1331
Looks like we are not the only ones with the problem: https://github.com/igvteam/igv.js/issues/967.
I'm fixing it as suggested in that issue

[2019-09-26 10:12] bjhall commented on #1325
The easiest solution is probably to only allow one classification per variant, ie. removing all classification except the latest one (which would be in accorandance to Måns' suggestion). The users should probably do full evalations if they have differing opinions anyway, in order to document why they differ.

The other option, I guess, would be to handle the "quick" evaluations more like the "full

[2019-09-26 10:41] northwestwitch commented on #1329
I was already working on igv stuff so I'm including this fix as well!

[2019-09-26 10:46] moonso commented on #1325
Ok that will work. Do we all agree on only showing classifications P/LP on the variants overview page?

[2019-09-26 10:50] northwestwitch commented on #1325
I think he wanted to show it on the variants page as in  #1324

[2019-09-26 11:31] #1329 closed

[2019-09-26 11:31] #1331 closed

[2019-09-26 11:35] northwestwitch commented on #1326
@moonso doesn't look super easy as you labeled to me..
Anyway, once you rerun you delete all variants so the sanger validated and ordered should be saved before doing so. And then, after the upload of the new variants, these should be compared with those saved before. I would do it in this way, unless there is an easier way. Ideas?

[2019-09-26 12:30] moonso commented on #1326
Oh ok! Sorry about that. Perhaps we should turn them into events then so that they are kept even if variants are deleted?

[2019-09-26 12:36] northwestwitch commented on #1326
No worries! I would use the events to collect all the sanger ordered (readapting a function that already exists) . Plus I'd collect the validated (easier). Then I'd turn them into variants (because so far I have only ids) and save them into an object.

After re-uploading the variants I'd compare with the ones saved in the object above. At least this is how I'm doing it now.. Let's see!

[2019-09-27 07:35] 4WGH opened #1335 "editing the panel at the gene level"
I want ot change the manually curated inheritande model in a gene but it is not possible. I gent the wrong type of inheritance model type , see atttached picture

![bild](https://user-images.githubusercontent.com/12525201/65751056-0a492880-e10a-11e9-8e0b-a803cdc7651b.png)

[2019-09-27 07:40] 4WGH opened #1336 "window move to much"
![bild](https://user-images.githubusercontent.com/12525201/65751289-8479ad00-e10a-11e9-803b-957717d864fb.png)

If there are many trancript I need to scroll down When I do so the "disease associated transcipts window disappear too. I wish that only the TRanscript overview window move.
It was so a while ago. So I can still see which is the disease associated trancript :)

test here of exemple
https:

[2019-09-27 08:14] NicoleCMMS opened #1337 "Scout too slow to work in"
Scout has become so slow that it is no long possible to analyse our patients.  Some parts of Scout are working without any delay but when we click on a variant it can take up to one minute for the variant page to open.

[2019-09-27 08:24] 4WGH opened #1338 "Clinical STRs - suggestion"
1. could we filter by panel?
so we avoid to see things we should not see.

2. once we go inside the variant could we see to which panels the variatns belog too as we do for the variants from the CLinical SNV and INDELs ?

[2019-09-27 08:37] dnil commented on #1338
If you could agree on panels, we could fix that. It's a fairly big undertaking, so we should be clear that it is needed.

We've had some discussion back and forth; our senior clinicians are not unanimous. The current status is that it is deemed more important to have a good routine for interpretation and a policy for what to report back in place. Don't click it unless you have thought it through.

[2019-09-27 08:40] dnil commented on #1336
Sounds very reasonable and doable! :+1:

[2019-09-27 08:45] northwestwitch commented on #1336
In the new layout it doesn't scroll, see here: https://scout-stage.scilifelab.se/cust003/94/0cd4dd4a1ff603eddb9d4726dc3f8e23 . Maybe it should, but in the way @4WGH suggests. We should work on that layout and not on the current one.

[2019-09-27 08:49] northwestwitch commented on #1336
Ok I've removed the new layout from scout stage just now because I'm testing stuff, so that you know. I'll put it back in half hour or so

[2019-09-27 09:06] 4WGH commented on #1338
Sorry can not see how filtering by paneL (for the ones who want) is a problem.
It doesn't not remove the possibility to look at all variants. (for you clinician) :)

[2019-09-27 09:15] dnil commented on #1338
Its a decent amount of overhead and maintenance for a small, but actively growing number of genes. Just to be sure; are you clear on what genes will go onto your panels?

[2019-09-27 09:30] moonso commented on #1337
We're looking at it @NicoleCMMS , hopefully it will be fixed soon

[2019-09-27 10:46] dnil commented on #1337
We have found an issue with the total index size being larger than the memory allocated to us on the server. Fingers crossed we can get some more!

[2019-09-27 10:48] henrikstranneheim commented on #1337
does @ingkebil know?

[2019-09-27 10:54] dnil commented on #1337
He's in touch with IT!

[2019-09-27 10:54] henrikstranneheim commented on #1337
👍

[2019-09-27 11:45] dnil commented on #1328
Yes, can confirm the latter. After a fresh local install, the issue on the production server can be reproduced. Something to keep in mind when testing on stage, or on a local db that has been around for.. a while. Will fix, and only search for hgnc_id, but am thinking of checking out early today to get to #FridaysForFuture. Perhaps we shouldn't risk an update today at any rate?

[2019-09-27 12:55] dnil commented on #1337
What do you think now @NicoleCMMS @AnnHam? It is not super snappy, but tentatively we are at a sustainable performance? @ingkebil also has a conversation with IT about letting our LIMS live on another machine until we can migrate to a new server farm.

[2019-09-27 13:34] NicoleCMMS commented on #1337
Yes I agree it is much faster than it was earlier today.  We can at least analyse some patients at this speed 😊  Thanks for working on this so fast!

Nicole

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 27 september 2019 14:56
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Nicole Lesko <nicole.lesko@sll.se>; Mention <mention@noreply.github.com>
Ämne: Re: [Clinical-

[2019-09-27 13:37] dnil commented on #1337
Thanks everyone! Closing this issue for now, but do get back if things are unbearable again. We hope this will be sorted more long term in a month or so. More hardware that will help has already been bought.

[2019-09-30 08:40] northwestwitch commented on #1335
Instead of available models in the inheritance checkbox, use these models:
- AD
- AR
- XL
- XD
- XR
- NA
- AD (imprinting)
- digenic
- AEI (allelic expression imbalance)
- Other + free text

[2019-09-30 10:32] northwestwitch opened #1340 "Clinvar fixes"
- [x] Open clinvar submission in a blank page

- [x] OMIM field

- [x] HPO don't preselect, but checkboxes for the available terms

- [x] Remove : and stuff after in snp name (if present)

- [x] Zygosity in case data:
Do preselected but show all options regardless.
0/1 : if recessive (preselect compound hetero= otherwise hetero.
1/1 Homo, otherwise hemi if on sex chrom
Add something to focus on fi

[2019-09-30 10:32] 4WGH opened #1341 "Causative variants"
if would be very usefull to be able to export the list of causative variants in a file compatible with excell .

It would be great that it appears that the CLinVar submission has been done

[2019-09-30 10:40] 4WGH opened #1342 "statistic in dash board - improvement"
in the variant statistic

show the number of causative variants (total number of variants)

if possible even how many as pathogenic, LP, or VUS

[2019-09-30 11:50] dnil opened #1343 "Search all variants also in shared cases"
Some researchers working in research institutes do not belong to the institute that shared the case. Search should be possible for collaborators as well.

[2019-09-30 12:26] dnil opened #1344 "Dismissed variants for a case should show on research view"
If a variant is dismissed on clinical analysis, it should show as such also on research..

[2019-09-30 13:59] szilvajuhos commented on #1245
I did some changes that ignores the genotype for cancer samples - managed to load a Strelka somatic snvs file with no genotypes, but I am not sure this is the way forward:
https://github.com/Clinical-Genomics/scout/compare/master...szilvajuhos:ignore_genotype

[2019-09-30 14:39] northwestwitch commented on #1337
I'm reopening this because it's still slow. In a rustic and horrible way I've been analyzing what is causing this behavior and I think I might have found the cause.
To do so I wrote some code that counts the microseconds it tales to execute each function in the variant view (see branch variant_find_bottleneck) that is on stage.

The specific code that takes most time is this:
[code]

[2019-09-30 18:17] dnil commented on #1343
Been talking to research side scout users today, and this came up. Research priority obviously. They could also order cases separately.. 😊

[2019-09-30 18:37] ingkebil commented on #1337
Can you explain that code for people who are not familiar with scout?

Just throwing some ideas around:
Would it be possible to move whatever this piece of code does and load it after the page is displayed? Back in the day, that would've been an AJAX call. I'm not familiar with what fancy technology you kids are playing these days ;)

On other news, I have asked IT to give me an estimate on the fo

[2019-09-30 18:38] ingkebil commented on #1337
I can up the memory again to 50GB and disable all non-essential services on that server. This means e.g. shutting down the beacon.

Is that alright?

[2019-09-30 20:23] dnil commented on #1337
Nice @northwestwitch!

@ingkebil, it lists other cases which have the same causative variant. Postponing that querying is a general enough way to deal with it, but not quite satisfactory: a user may miss out on a matching causative if they look at the page too short a time. They will have to learn to wait until that process finishes. Possible, but not fun.

But, e.g. changing that store.other_caus

[2019-09-30 22:08] northwestwitch commented on #1337
@ingkebil I would try to optimize the code first. @dnil an even faster way to get all causatives display_names and cases (and even links to the other causative variants) would be to query the event collection using the 'mark_causative' verb. That collection contains exactly what we need I think. I'll try tomorrow!

[2019-10-01 06:59] henrikstranneheim opened #1346 "Scout user meeting agenda 13/11 -19"
Welcome to the Scout user meeting @9:00-10:30 am!

Location:  K Rum NKS J5-11 Senningrummet

Please help us fill the agenda with topics that may interest you.

## Agenda

1. Demo of new features:
   - Previous ACMG LP/P from other cases shown on variants list (Thanks @bjhall!)
   - bs4 (new colours, new looks)
   - Improved dashboard using Chart.js
   - Genes can be manually added to the dynamic g

[2019-10-01 07:06] moonso commented on #1337
Nice job @northwestwitch! Don’t forget to consider “unmark causative”

[2019-10-01 07:17] 4WGH opened #1347 "panel history is incorrect"
![bild](https://user-images.githubusercontent.com/12525201/65941133-991bb500-e42a-11e9-9124-9bd74b10ab1b.png)

 the dates for the different versions of panels: IEM, MIT, EP, ENDO are incorrecrt
see picture

v14 correct
v13 correct
v12  should be 2018-02-05
v11 should be 2017-09-XX
v10 correct
v9.4 correct

OBS!!!! for panel PEDHEP we started with version 10,1 (not 10.0!!!!!!)
v14 correct
v13 corre

[2019-10-01 09:59] #1328 closed

[2019-10-01 11:47] 1ctw opened #1349 "Missing variants in local database?"
I noticed a variant that is almost in all newly analyzed cases (7 hits in "All SNVs and INDELS"). It does however not appear in the local database. How often is the local database updated? It would maybe be good to do an update to get rid of those variants that are common now after Scout update.

https://scout.scilifelab.se/cust003/19199/6a961c3f0c5ade4f125c38e4241088e5

[2019-10-01 11:49] dnil commented on #1349
Ping @henrikstranneheim for a suggestion on what is practical! I would humbly advise to amass a few hundred cases for a freeze to make it count.

[2019-10-01 14:01] #1337 closed

[2019-10-02 06:12] 1ctw opened #1352 "Not possible to open mtDNA report"
It is not possible to open mtDNA report in the cases analyzed after update of Scout.

[2019-10-02 08:23] moonso commented on #1344
Should this be shown between cases like ACMG?

[2019-10-02 08:27] moonso commented on #1336
Could you close this with the bootstrap 4 PR later @northwestwitch ?

[2019-10-02 08:28] northwestwitch commented on #1347
It's not really a bug, if an old bug, that now it's fixed. I'll change the dates in the database.

[2019-10-02 08:29] moonso commented on #1305
I'll be happy to work on this, however it would be nice to have an updated test data file with all the new SV frequencies. Would that be possible to fix @henrikstranneheim ?

[2019-10-02 08:29] northwestwitch commented on #1352
Checking this!

[2019-10-02 08:33] northwestwitch commented on #1352
It's weird, it works well on stage. Error message is the following:
Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = s

[2019-10-02 08:39] 47KW opened #1353 "Wrong position in a transcript"
Hi,
the variant annotation to HGNC primary transcript is incorrect. c.4708 should be c.4711 for NM_000068

https://scout.scilifelab.se/cust002/F0013714/8304fc3d8b27fe29a3b8a614812452c2

[2019-10-02 08:51] northwestwitch commented on #1352
Reproduced on stage case: https://scout-stage.scilifelab.se/cust002/F0009130-validation.

[2019-10-02 09:10] dnil commented on #1353
First few ¢: NM_000068 was recently updated to NM_000068.4 (this August) from NM_000068.3 (from march this year) with another 19 bp..

[2019-10-02 09:31] moonso commented on #1353
Hi, this is annotated in the pipeline before Scout and is dependent on how updated the database that is used for annotating AA-change is. Unfortunately there is nothing we can do about it in Scout so we have to refer you to https://github.com/Clinical-Genomics/MIP

[2019-10-02 09:31] #1353 closed

[2019-10-02 09:42] northwestwitch commented on #1352
The reason was that before all MT variants were in genes but now all MT variants are loaded, also those not in genes, but the code didn't take care of this. Fixed now. The change will be visible in the release of today.

[2019-10-02 09:43] #1352 closed

[2019-10-02 09:45] henrikstranneheim commented on #1305
There is currently no new ones planned, but they move from being key-value in INFO to INFO/CSQ.

I think I lost the raw test data I used to use in the move from Rasta to Hasta. I will look into it.

[2019-10-02 09:49] dnil commented on #1305
@moonso I was just aiming to show the ones we already have on the variant page as a hover on the variants view! And if one were to happen to write tests for the import of these keys as per issue #1330, that's a nice bonus.

[2019-10-02 09:51] dnil commented on #1347
Yeah, perhaps from changes during #1095, which has been resolved.

[2019-10-02 10:01] henrikstranneheim commented on #1349
This is related to the what we talked about in the Scout user meeting.
1. There were issues with duplications and cancer samples being present in the current rare disease loqusdb that Scout query.
2. A new one has been drafted, with a better more stringent implementation that removes the faults the old one had. However, that is empty.
3. Productions samples are now filling up the new better loqus

[2019-10-02 10:05] dnil commented on #1344
No, generally that is over the top. Consider actual pathogenic recessive carrier status. Those would be dismissed for most individuals with them. One could consider showing certain categories, such as "technical issue", that would be of interest regardless of phenotype etc.

But, you are onto something good here! Perhaps they should be shown as such *within* the case? Clinical variants can be dism

[2019-10-02 10:06] #1325 closed

[2019-10-02 10:38] 1ctw opened #1356 "Delivery report missing"
I noticed that the button for "Delivery report" is missing after update of Scout. Is it hidden somewhere?

[2019-10-02 10:48] 1ctw commented on #1356
19200 as example

[2019-10-02 10:52] dnil commented on #1356
Most new ones do have it, but perhaps sth with reanalysed cases? I saw one w/o:
https://scout.scilifelab.se/cust002/F0004963-2

[2019-10-02 11:49] northwestwitch commented on #1356
Checking in the database: delivery report is missing at that level. It's not related to the new release of Scout, but not less warning.

![image](https://user-images.githubusercontent.com/28093618/66041862-3bb36100-e51b-11e9-93f9-e2ea216895ae.png)

[2019-10-02 12:06] northwestwitch commented on #1356
@1ctw delivery report is likely there but the button doesn't show, see here: https://scout.scilifelab.se/cust003/19200/delivery-report

[2019-10-02 12:26] northwestwitch commented on #1356
I've just spoken with production team and they say that if it's recent cases (last few days) then it likely that the report has not yet been delivered to LIMS and that's why you don't see it.
They say you should check again after you get your ticket answered.

I'm closing this for now but please reopen if needed!

[2019-10-02 12:26] #1356 closed

[2019-10-02 12:32] northwestwitch opened #1357 "Speed up variantS page"
It's another page that you can die while waiting for it to load.

Low prio but useful I think.

[2019-10-02 13:16] northwestwitch commented on #1347
Fixed. For the fields where you have XX I chose the 15th of the month, which is in the middle, hope it is fine!

![image](https://user-images.githubusercontent.com/28093618/66047178-9f438b80-e527-11e9-8a1f-a6ac6e2df3e8.png)

[2019-10-02 13:17] northwestwitch commented on #1347
Closing this, please reopen if something needs fixing!

[2019-10-02 13:17] #1347 closed

[2019-10-02 13:46] 1ctw opened #1358 "mtDNA variants missing in Scout"
I noticed that there are mtDNA variants still missing in Scout. The variants in the D-loop is still not there but they are in the mtDNA report.

Example case 17031:
40 variants in mtDNA report but only 28 showing up in Scout.

[2019-10-02 13:54] northwestwitch commented on #1358
Have you tried removing the preselected gene panel in the filters?

[2019-10-02 14:03] 1ctw commented on #1358
Yes, that doesn´t help...they are still missing.

[2019-10-02 14:19] northwestwitch commented on #1358
That's weird, if I remove the preselected panel I count 42 variants in the list of the MT variants returned, same number of variants that is in the report.

[2019-10-02 15:01] 4WGH commented on #377
can we add:
not visibile at reads inspection? (or something similar)
When I have a trio with a de novo I always cross check if I see a sign of mosaicism on the parents in IGV. it would be nice to have the possibility to register in scout that the check is done :)

[2019-10-02 17:59] moonso commented on #377
Could @dnil or @northwestwitch take over this one?

[2019-10-03 07:32] 1ctw commented on #1358
I can only see these 28 variants. They are all in genes. The ones in the D-loop is missing here but they are in the report.

[2019-10-03 07:37] 1ctw commented on #1358
Från: Chiara Rasi <notifications@github.com>
Skickat: den 2 oktober 2019 16:19
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Helene Bruhn <helene.bruhn@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] mtDNA variants missing in Scout (#1358)

That's weird, if I remove the preselected panel I count 42 variants in the list of the MT variants returned,

[2019-10-03 07:44] 1ctw commented on #1358
Jag tried to send you a picutre of what I see above, but you can not see it can you?

Henrik told me yesterday since we see it in the report, the variants are in Scout back-end but they are not shown front-end (the view I see). Does this make sence for you?

[2019-10-03 07:45] northwestwitch commented on #1358
Just to be sure we do the same type of search, in the variants page, filters, you look for chromosome:'MT and all other filters are empty?

[2019-10-03 07:51] northwestwitch commented on #1358
No, sorry I don't see the pic. Im not at the office yet (train problems)
but as soon as I arrive I'll get back to you. We could continue the
discussion by email. Try to send the pic to my email instead.

On Thu, Oct 3, 2019, 09:44 1ctw <notifications@github.com> wrote:

[2019-10-03 07:52] 1ctw commented on #1358
Now I understand what you mean:) I am not used to analyze mtDNA like that. We always use panel "Mitochondrial DNA" under Gene Panels in the Filters. When I do as you say I can see them.

[2019-10-03 08:00] 1ctw commented on #1358
I guess this is because of how we created the gene panel from the beginning. It only contains the parts of mtDNA which have known genes with HGNC symbols.

If we don´t figure out to change the panel somehow we will have to do the analysis as you suggest for mtDNA. Now when we now how it works it is not a big problem.

[2019-10-03 08:00] northwestwitch commented on #1358
Aaah that's why! Nice that we understood why. 😊

Closing the issue then!

[2019-10-03 08:00] #1358 closed

[2019-10-03 08:01] northwestwitch commented on #1358
Yeah you either update the panel or look for MT chrom. Maybe the latter option is the easiest!

[2019-10-03 08:10] dnil commented on #1358
This could also be solved with the introduction of Regions to gene panels (cf panelApp). This will be appreciated for leukaemia and certain structural variants as well. Fairly big change, so we should collect use-cases..

[2019-10-03 08:24] KickiLagerstedt opened #1359 "Variant not detekted by MIP7 / GATK in WDR62"
This patient/DNA has now been rerun using TWIST (and WGS - still no data) and the variant in WDR62 can be detected in GATK.

https://scout.scilifelab.se/cust002/F0000310-3/478081daa1f7ab9a2b2cec715e03b4f8

// Kicki

[2019-10-03 08:57] 4WGH opened #1360 "clinical STR - bug on page?"
https://scout.scilifelab.se/cust003/19176/str/variants?variant_type=clinical

If I click on "next page" at the end of the page instead of being moved to another page with STR variants I'm moved to the clinical SNV page.

A bug?

[2019-10-03 09:34] moonso commented on #1359
Could you explain a little more what has been done

[2019-10-03 09:35] dnil commented on #644
Done with #1295?

[2019-10-03 09:40] moonso commented on #1349
Ok so we will switch to the new database when there are around 300 samples there. That will be announced!

[2019-10-03 09:40] #1349 closed

[2019-10-03 09:40] dnil commented on #1360
Yep its a known bug - that I must have missed adding to the last PR on the STR-page. Will look at it!

[2019-10-03 09:44] dnil commented on #821
Closed with #1037?

[2019-10-03 09:45] moonso commented on #381
Ok I moved stuff from here to #442 so lets continue the discussion there

[2019-10-03 09:45] #381 closed

[2019-10-03 09:48] moonso commented on #480
Could anyone @dnil @henrikstranneheim suggest a solution to this problem?
If it should be done in MIP, please close this and move there. Otherwise we need to understand exactly how to solve it

[2019-10-03 09:48] moonso commented on #484
I'm closing this, please reopen if it seems important again

[2019-10-03 09:48] #484 closed

[2019-10-03 09:51] dnil commented on #1359
This relates to a discussion / issue on verification of MIP. We had an old exome case where only bcftools/samtools could call the causative variant, but have now resequenced with TWIST and wgs to remove the only known anecdotal evidence against it being ok to disable bcftools.

[2019-10-03 09:51] henrikstranneheim commented on #1349
Current status in new loqusdb_rd:
- Cases in: snvs/indels/Svs = 509
- Number of Svs variants for these cases ~ 600,000

[2019-10-03 09:56] dnil commented on #480
This is essentially MIP / best practice policy issue, not a Scout - Scout one. I have a feeling @henrikstranneheim might have enabled REFSEQ_MATCH in VEP already? Lets move it to MIP.

[2019-10-03 10:01] moonso commented on #856
Not sure I like this idea

[2019-10-03 10:01] #856 closed

[2019-10-03 10:01] dnil commented on #884
Close with #1283 !

[2019-10-03 10:02] moonso commented on #644
Yes

[2019-10-03 10:02] #644 closed

[2019-10-03 10:03] moonso commented on #749
This will be covered in #1330

[2019-10-03 10:03] #749 closed

[2019-10-03 10:04] moonso commented on #582
This is a funny one! I guess it will happen when one open the acmg view

[2019-10-03 10:05] dnil commented on #966
Another year has passed without this becoming a major issue. Lets close this until someone objects.

[2019-10-03 10:05] #966 closed

[2019-10-03 10:07] moonso commented on #789
Who is on this one? It does not necessarily have to be a scout person. What do you think @henrikstranneheim ?
I'm converting this to an larger issue where we can gather information about similar tools.

[2019-10-03 10:09] moonso commented on #789
# AMELIE
## Resources
- https://amelie.stanford.edu/
- https://www.biorxiv.org/content/early/2017/08/02/171322
## Comments
any comments...

# Other tool
## Comments
More comments...

[2019-10-03 10:10] dnil commented on #988
Goes well with #864

[2019-10-03 10:12] moonso commented on #857
No do not like

[2019-10-03 10:12] #857 closed

[2019-10-03 10:12] dnil commented on #983
@KickiLagerstedt do you still see this happening?

[2019-10-03 10:12] moonso commented on #884
SOOOOOON!!

[2019-10-03 10:14] moonso commented on #983
I'm closing since we haven't heard anyone complaining for a long time. Please reopen if it still happens

[2019-10-03 10:14] #983 closed

[2019-10-03 10:16] moonso commented on #1127
This is also important when considering other alternatives to handle login. We should spend some time on this one

[2019-10-03 10:19] moonso opened #1361 "Display loqusfrequencies from loqusdb_rd"
We should now switch to the new database and also add that information on structural variants

[2019-10-03 10:27] dnil commented on #1167
Perhaps this is not quite a "small issue", but we could get it going by picking obvious ones that one shouldn't have to do manually / we'd really not see fail from https://github.com/Clinical-Genomics/atlas/blob/master/docs/validations/scout.md and then close the issue knowing that this is an option.

[2019-10-03 10:32] dnil commented on #813
Perhaps also rather a MIP / Mutacc issue @moonso?

[2019-10-03 10:36] dnil commented on #1179
I believe cohort view. Will require a new index, at least.

[2019-10-03 10:53] moonso commented on #813
Yes defenitely! Could you move it to MIP @dnil ?

[2019-10-03 12:09] dnil commented on #1342
Hi Michela! Thank you for the info! We have an issue for this already (#1267 ) - moving your request there to keep the list clean.

[2019-10-03 12:09] #1342 closed

[2019-10-03 12:10] dnil commented on #1267
From @4WH:

in the variant statistic

show the number of causative variants (total number of variants)

if possible even how many as pathogenic, LP, or VUS

[2019-10-03 13:49] genecracker opened #1363 "Variant 12_122064773_CCCGCCA_C_clinical"
not present in local database but AF 99% in gnomAD? Rank score 15. Can you check this variant? Something seems off.

Kind regards,
Bianca

[2019-10-04 06:44] moonso opened #1365 "Build docs with mkdocs"
We should leave gitbook and replace with mkdocs

[2019-10-04 09:49] 47KW opened #1366 "Rankscore"
Please comment / check the rank score for this variant when it comes to clinical significane.
Genmod?

https://scout.scilifelab.se/cust002/F0030188/e68575e5369dfad5ed1df323e7b11fd4

[2019-10-04 10:47] moonso commented on #1366
Hi @47KW , yes you are right, something looks strange here. Do you @henrikstranneheim have any idea how this variant can get a score of 16 only for the clinical_significance category? It would be informative to look at the raw VCF variant perhaps

[2019-10-04 12:32] #1318 closed

[2019-10-04 13:46] northwestwitch opened #1367 "Swap 'next page' and 'previous page' buttons on all variants page"
It's more user friendly to have next page on the right and previous page on the left. Now it's the other way around

[2019-10-04 13:46] #1360 closed

[2019-10-04 14:39] 47KW commented on #1366
https://scout.scilifelab.se/cust002/F0028473/a11d1101eb23faa7691a1744eca80c9a
this case;variant also

[2019-10-04 14:43] 47KW opened #1368 "gnomAD frequencies"
The link to gnomAD is ....well.....check it
https://scout.scilifelab.se/cust002/F0028473/4b644a3b3b5892bc70a68d570e1c9dd0

[2019-10-07 08:58] northwestwitch commented on #884
Fixed in #1283. Closing the issue

[2019-10-07 08:58] #884 closed

[2019-10-07 08:59] northwestwitch commented on #1266
Fixed in #1283. Closing the issue

[2019-10-07 08:59] #1266 closed

[2019-10-07 09:23] moonso commented on #884
Felt good 😄

[2019-10-07 09:28] moonso commented on #1336
I'm closing this since bootstrap4 is merged, reopen if it does not work

[2019-10-07 09:28] #1336 closed

[2019-10-07 09:36] moonso commented on #1368
Hi @47KW , nice find. I guess this is wrong since it is a multi allelic variant. This is a typical corner case that we need to look closer to and modify stuff in the analysis pipeline (MIP). @henrikstranneheim , could you have a look at this and see if it is VEP who can not handle the situation?

## Problem
In scout it looks like this variant is unique, however when looking at the nomad homepage i

[2019-10-07 09:38] moahaegglund opened #1370 "Upload to Scout can't handle the value 1.0 of het_call_rate in file caseID_gatkcomb.peddy.ped"
Upload to Scout fails when the value of "het_call_rate" is 1.0 for a sample in file caseID_gatkcomb.peddy.ped. See error message below.

[code]

[2019-10-07 09:39] northwestwitch commented on #1370
Fixed by modifying the peddy file. Changed 1.0 to 1 and it works but it should be handled better in scout. Not urgent but it's a bug

[2019-10-07 09:48] 47KW commented on #1366
...and the opposite, low Clin Signifacne ranks core for variant with multiple ClinVar pathogen/likely path.
https://scout.scilifelab.se/cust002/F0031170/5c6827257a2d42d1df162053e7b52b45

[2019-10-07 11:03] henrikstranneheim commented on #1368
Hi, it is unclear why this particular variant did not get a annotation in the vcf from GNOMAD. All looks correct in the analysis both are normalized and decomposed in before the annotation process, which is done using vcfanno. I do not know why vcfanno missed this one.

[2019-10-07 11:29] henrikstranneheim commented on #1368
Ok, the production version of gnomad had not been normalized and decomposed. I have fixed this in the production setting as of now. I will write a deviation.

[2019-10-07 11:30] moonso commented on #1368
Great @henrikstranneheim ! So new analysis will not have this problem

[2019-10-07 11:30] #1368 closed

[2019-10-07 12:17] moonso commented on #1365
Ok mayor confusion here. We had already switched to mkdocs. However the release notes have not been updated so when you published the new documentation with gitbook @dnil it overwrites the earlier mkdocs. I'm fixing that now 😸

[2019-10-07 12:28] #1365 closed

[2019-10-07 12:52] northwestwitch opened #1372 "Comments_table missing from current master"
generates an error on variants page:

Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_ex

[2019-10-07 12:54] #1326 closed

[2019-10-07 12:58] henrikstranneheim commented on #1366
The reason seems to be (@moonso correct me if I am wrong I just glanced the code) that genmod makes all string matches on lower case and and probably a greedy regexp, which means that e.g. 'Pathogenic' will get a match on the string: 'Conflicting_interpretations_of_**pathogenic**ity'. This is the situation for this variant as it gets 15 from the CLNSIG.

Also Clinvar has updated the terms and expa

[2019-10-07 13:01] moonso commented on #1366
Aha then this is a genmod bug... not good. @henrikstranneheim how come it gets +15 for that? Isn't that I bit out of bounds?

[2019-10-07 13:09] henrikstranneheim commented on #1366
It was decided on a Scout user meeting a while back to make sure that all 'pathogenic' and 'likely_pathogenic' are loaded by Scout and not missed, when mainly the frequency is high. this skewes the rank model quite a bit. I am not thrilled by this and that is why we should work on the solution we talked about in the milestone meeting to make Scout load these. Then I can lower this again to a more

[2019-10-07 13:17] moonso commented on #1366
Ok. How quickly will you be able to remove clinvar from the rank model?

[2019-10-07 13:36] northwestwitch opened #1374 "Move and fix filter reset in variants page"
The options don't work at the moment and they are placed in a location that is not really user-friendly:

![image](https://user-images.githubusercontent.com/28093618/66316604-3f2e5a00-e918-11e9-970c-8ab9237f6c1b.png)

Fix the same options for sv-variants page as well!

[2019-10-07 14:29] moonso commented on #1317
Please include here which of the clinvar terms that should always be loaded.
There are some to choose from...
[code]

[2019-10-07 14:57] henrikstranneheim commented on #1366
That is easy, but we have to wait until you Scout can load clinvar independent of MIP

[2019-10-07 14:58] henrikstranneheim commented on #1317
All except the terms: benign, likely benign or combinations thereof

[2019-10-07 16:59] moonso commented on #1317
So according to that suggestion we should load variants with the following terms(for example):

[code]

Are you sure about that? Feels like we will flood the database with variants then...

[2019-10-07 17:02] #1372 closed

[2019-10-07 17:03] dnil commented on #1317
These mostly do seem insignificant! What are the “other” and “not_provided”?

[2019-10-07 17:04] moonso commented on #1317
Exactly, I think we need to think this through a little bit and take it term by term

[2019-10-07 17:05] vwirta commented on #1317
Is it possible to get calculate for a case how many we have of the different categories?

[2019-10-07 17:15] moonso commented on #1317
I'm not sure yet but I think that the numbers could be the key. Look at them instead of the strings

[2019-10-07 17:17] moonso commented on #1317
I don't know @vwirta but in any case I dom't think it will be informative with variants with the clinical significance as described above. It does not add to the interpretation

[2019-10-07 17:22] vwirta commented on #1317
I agree @moonso, I do not think we should load all of these categories.
We need to judge these one by one and then document what we decided.

[2019-10-07 17:49] dnil commented on #1317
You may well be right. My somewhat eager to get out through the door judgement was that there were so few in each of the scrap categories that we could load them just to be safe and deal with the categories later. And send a pedagogical note to the clinvar maintainers with these numbers to let them know that they are making life difficult for developers / clinicians using their resource.

[2019-10-07 20:08] moonso commented on #1317
I would vote for using these:

[code]

[2019-10-07 20:12] moonso commented on #1317
Explanation of terms [here](https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/). Most of these would not be interesting to us

[2019-10-08 05:42] northwestwitch commented on #1317
I would probably add:
Pathogenic,_other
Likely_pathogenic,_other
Pathogenic/Likely_pathogenic,_other

Just to be on the safe side

[2019-10-08 05:54] dnil commented on #1317
And what about the conflicting ones? Some are just old calls that we now understand to be benign (or are at least deemed unknown again) but some again go the other way. Curation of those would be great, but not our immediate task. I don’t see it hurting anyone if we load them, but possibly subtly so by not doing it? Although filter redesign looms ahead...

[2019-10-08 06:28] bjhall commented on #1317
I would probably agree with Henrik and just load everything except Benign, Likely benign and maybe "not_provided".

VUSes have potentially relevant information in the ClinVar submissions.

"Conflicting_interpretations_of_pathogenicity" are common in for instance BRCA since the BRCA community does ClinVar submissions slightly different.

And things like "drug response" and "risk_factor" could poten

[2019-10-08 07:59] moonso commented on #1317
Haha ok I'm working on this one and need a decision. I would really not like to add ALL VUSes to the database regardless of rank score. I can not see how one would work with a VUS with a low rank score, in what way would that add to the analysis? There will be tons of variants to consider before even encountering those. I think they will just end up in the catacombs of the database...

[2019-10-08 08:05] northwestwitch commented on #1317
Did we decide to remove clinvar from the ranking model? Because if we keep it then we can afford to load always just a small amount of variants (the pathogenic and likely ones) leaving out all the rest, which would end up ranked anyway, so if it has to be uploaded then it will be be.

[2019-10-08 08:19] #1374 closed

[2019-10-08 09:10] henrikstranneheim commented on #1317
Why do we start with a whitelist of:
[code]
but make sure that entries like "Pathogenic,_other" are split on "," and therefore always loaded.
If we in the future find that we have need of another term e.g. "drug response" - let´s add it one by one.

We can certainly keep clinvar keys in the rank model, and get the rest into Scout with a sane rank score

[2019-10-08 09:25] moonso commented on #1317
I like that way if thinking

[2019-10-08 13:49] dnil opened #1376 "variant page is occasionally slow again on excessive number of matching cases"
See discussion on servers repo (https://github.com/Clinical-Genomics/servers/issues/211), and in particular e.g.

https://scout.scilifelab.se/cust000/GSU734/639d6f1bf56c9a12547c11041d4de1cc

[2019-10-09 07:45] moonso opened #1377 "Map ClinVar significance terms to numbers"
This is a suggested mapping, please give your opinion if you have any other idea @henrikstranneheim @dnil . It would be nice to see what mapping you use in Lund @bjhall

| Term | Number |
| ----- | -------- |
| Pathogenic | 5 |
| Likely pathogenic | 4 |
| Conflicting_interpretations_of_pathogenecity | 3 |
| Uncertain significance | 0 |
| likely benign | 2 |
| benign | 1 |
| affects | 20 |
| associ

[2019-10-09 07:54] moonso commented on #1377
And similar with the review status:

| Term | Number |
| --- | --- |
| reviewed_by_expert_panel | 5 |
| practice_guidelines | 4 |
| criteria_provided | 3 |
| conflicting_interpretations | 3 |
| multiple_submitters | 3 |
| no_conflicts | 3 |
| single_submitter | 3 |
| no_assertion_criteria_provided | 3 |

[2019-10-09 07:56] dnil commented on #1377
Looks good to me: Swap conflicting and Uncertain significance,

[2019-10-09 08:08] moonso commented on #1377
What do you mean @dnil ? They are in different tables...

[2019-10-09 08:08] moonso commented on #1377
Aha you mean 3 and 4 in the first table! What numbers should we use on those?

[2019-10-09 08:09] dnil commented on #1377
At a meeting..

Conflicting_interpretations_of_pathogenecity | 3
Uncertain significance | 0

is weird. Uncertain (VUS) is 3, conflict is typically 1.5, 4.5 or possibly 2.5 or 3.5.

[2019-10-09 08:45] moonso commented on #1377
Is it important to use same numbers like acmg? Or could we just assign any number. So least interesting would be 1 and pathogenic 12 or something?

[2019-10-10 07:28] moonso commented on #1377
Ok here is the final solution that I have chosen. It has the advantage that it will work with existing values in the database.

| Term | Number |
| ----- | -------- |
| other | 255 |
| not_provided | 1 |
| drug_response | 6 |
| association_not_found | 13 |
| risk_factor | 12 |
| protective | 11 |
| association | 10 |
| affects | 9 |
| histocompatibility | 7 |
| benign | 2 |
| likely_benign | 3 |
|

[2019-10-10 07:35] henrikstranneheim commented on #1377
Looks good! It is nice for now to have backwards compatibility. We can then provide another map of how each term should be viewed in clinical significance when updating clinvar and recalculating the status for each variant i.e. if they moved up or down in pathogenicity.

[2019-10-10 10:22] dnil opened #1380 "coverage report disabled in new master?"
I couldn't find coverage reports on the new collapsible sidebar? Are they hiding somewhere or just forgotten? A quick search for SQLALCHEMY_DATABASE_URI seems to indicate the latter, but I may just be lacking lunch? 😊

[2019-10-10 11:14] northwestwitch commented on #1380
Or I needed lunch when I wrote that part of the code, I'll check!

[2019-10-10 13:33] #1327 closed

[2019-10-11 05:46] moonso commented on #1376
@dnil , @northwestwitch could you point to the code block here that you have identified as slow?

[2019-10-11 06:28] #594 closed

[2019-10-11 07:09] #1317 closed

[2019-10-11 07:09] #1377 closed

[2019-10-11 07:09] moonso commented on #1370
I'll take this

[2019-10-11 07:44] dnil commented on #1376
@northwestwitch has a branch with actual numerical measurement on a per block and variant basis. That worked really well in the general case. I'm just using male intuition (killgissar). It seems an interesting coincidence that the slow variant makes heavy use of observations, so calls to that and esp the controller function observations?

[2019-10-11 07:47] moonso commented on #549
Could you take over this one @dnil ?

[2019-10-11 07:48] dnil commented on #549
Probably, yes! I really like the idea, at least!

[2019-10-11 07:48] northwestwitch commented on #1376
I had it this measurement branch, then I removed the measurement code. I'll re-create it!

[2019-10-11 07:49] dnil commented on #822
@moonso if you are anyway working on the observations & matching causatives code, this is a good one to deal with at the same time!

[2019-10-11 07:51] dnil commented on #791
I think we are about to get/partly have that functionality; see  #494?

[2019-10-11 08:45] dnil commented on #957
Merging was just too much for now. That will have to remain on the refactor wish-list. Quite possible, but many little things that can go wrong.

[2019-10-11 10:40] KickiLagerstedt opened #1384 "F0026339-2"
Fel pappa???

Vad betyder det att det är kryss på pappa?
https://scout.scilifelab.se/cust002/F0026339-2

Vi har testat DNA här med polymorfa markörer och pappa är pappa - har vi skickat fel DNA?

// Kicki & Helena

[2019-10-11 13:33] dnil opened #1386 "Load UPD, rho, coverage wig/bed and display in IGV.js"
See chromograph [#5](https://github.com/mikaell/chromograph/issues/5).

[2019-10-12 06:53] #1370 closed

[2019-10-12 07:20] #957 closed

[2019-10-12 07:20] #1297 closed

[2019-10-12 12:30] #1380 closed

[2019-10-12 15:27] dnil commented on #499
If you agree, with #1388 we transfer this to chanjo report/close it and reopen it there.

[2019-10-13 12:43] #499 closed

[2019-10-14 10:37] northwestwitch commented on #1384
@emiliaol could you check this in genotype? I don't have access to the app. Thanks!

[2019-10-14 10:51] dnil commented on #1282
I'm closing this for now: the next page is fixed in #1364 and most of the loci level view would be covered in solving #1180. If we still feel the content on the variant page is not filled up well enough, with #1273 I'd say we could disable it, as all relevant info we currently have loaded is shown already on the str-variants page.

[2019-10-14 10:51] #1282 closed

[2019-10-14 10:51] #1335 closed

[2019-10-14 10:54] dnil commented on #1182
Is this ok now, @northwestwitch?

[2019-10-14 11:31] northwestwitch commented on #1182
It should be OK, we're not scrolling any more in that panel in the new bootstrap version. Let's close it!

[2019-10-14 11:31] #1182 closed

[2019-10-15 11:18] moahaegglund commented on #1384
Hej,

Krysset beror på att släktskapsanalysen i Peddy blir underkänd mellan barn och pappa. Enligt Plink, det andra programmet som kollar släktskap, så är det rätt pappa. Håller på att kollar lite noggrannare på vad det här beror på så jag återkommer.

[2019-10-15 12:03] 4WGH commented on #1376
problem again today for several users. the uploasd is so slow that for some variantswe get te gaTe error message

[2019-10-15 12:04] northwestwitch commented on #1376
Hi! We are aware, we'll try to fix this ASAP!

[2019-10-15 12:04] dnil commented on #1376
Load on clinical-db is high (>6); LIMS in particular is often quite busy. And mongo is now closing on 50 Mb, so perhaps good to cycle it when you are at it? @ingkebil

[2019-10-15 12:07] moonso commented on #1300
Would this be for a specific gene panel? Otherwise it will be tricky... What did you have in mind @henrikstranneheim ?

[2019-10-15 12:15] henrikstranneheim commented on #1300
Preferably for all panels (going into an analysis) in one go. Then I do not have to post process the file. But it easy to call the CLI functions in a loop appending to the same file and then making the records unique. However, it should be upstreams of MIP most likely cg - adding to each analysis dynamically by querying Scout.

[2019-10-15 12:17] moonso commented on #1300
Ok I think one has to specify the panels on the command line. Something like this:
[code]

[2019-10-15 12:18] henrikstranneheim commented on #1300
Looks great!

[2019-10-15 12:22] dnil commented on #1300
It would be great if info like this was available to penetrate the panel boundaries, or end up on a special case/manual annotation gene panel..

While inheritance patterns may sometimes be specific to one gene panel, as with multiple quite different disorders from one gene, most of the time this will be about the same gene and same disorder being on a bunch of different panels. Sometimes someone h

[2019-10-15 12:23] moahaegglund commented on #1384
Hej igen,

Bifogar en Excelfil där ni kan se värdena från Peddy för det här caset och tre andra för jämförelse. Pappan har alltså ett högre ibs0-värde (215) än övriga föräldrar som ligger på 0-10 vilket gör att den underkänns.  "ibs0: the number of sites at which the 2 samples shared no alleles (should approach 0 for parent-child pairs).” (Se [här](https://buildmedia.readthedocs.org/media/pdf/peda

[2019-10-15 12:34] moonso commented on #1300
How would that be done in practice @dnil ?

[2019-10-15 12:38] dnil commented on #1300
Not simple with the current concept. Perhaps one could store local/tentative knowledge directly on genes, and make these persistent over gene updates?

[2019-10-15 13:06] dnil commented on #1384
Tack! Bra idé, men det låter spontant lite högt för UPD också; inte ens med chr1 eller 2 borde man komma riktigt dit? Hur var sekvenseringskvalitén; nära gränsen för Q30%, eller såg det normalbra ut?

[2019-10-15 13:23] moahaegglund commented on #1384
Q30 ligger mellan 92.6-93.2 för respektive lane för pappan, gränsen är på 75 så det är bra kvalitet. Övriga kvalitetsparametrar i MIP-analysen ser också bra ut så på rak arm verkar inte förklaringen ligga i kvalitén heller. Har du någon annan idé?

[2019-10-15 14:09] vwirta commented on #1384
Kan detta vara mosaicism?

Om man drar ut antal reads för resp allel för dessa SNPs, kan man se indikation på mosaicism då?

[2019-10-15 14:48] dnil commented on #1384
Det verkar som Moa vinner! Lite preliminärt en maternell isodisomi chr 12 enl upd.py. Jag skulle jaga en avmaskerad recessiv variant (synbarligen AR_dn kanske?) på chr12..

[2019-10-15 14:50] henrikstranneheim commented on #1384
Coolt! Täcks detta upp av nuvarande upd och rhocall eller ska vi fundera på att flagga detta mer tydligt i analysen när peddy ger sådana signaler?

[2019-10-15 14:53] dnil commented on #1384
Mja, i princip täcks det nog på utvecklingssidan. Det borde synas tydligt i chromograph/IGV. Det finns 26 stora UPD-fönster flaggade för chr12, inget för någon annan kromosom. Och normalt inget..

[2019-10-15 14:54] henrikstranneheim commented on #1384
👍

[2019-10-15 15:06] vwirta commented on #1384
coolt!

[2019-10-15 18:48] ingkebil commented on #1376
restarted mongodb now.

I've asked IT to up the memory on LIMS (we have some wiggle room) and lock it to a limited amount of cores.

[2019-10-15 18:58] northwestwitch commented on #1376
Thanks!

[2019-10-16 07:11] moonso commented on #1384
Härligt, då var det utrett!

[2019-10-16 07:11] #1384 closed

[2019-10-16 07:13] moonso commented on #1376
@northwestwitch , could you upload that analysis branch?

[2019-10-16 07:27] northwestwitch commented on #1376
https://github.com/Clinical-Genomics/scout/tree/test_variant_speed

[2019-10-16 09:27] #1299 closed

[2019-10-16 11:32] moonso opened #1391 "Wrong link on STR varianT page"
When entering an STR variant the link back to variant list leads to SNV/Indel and not STRs

[2019-10-16 11:34] northwestwitch commented on #1391
Didn't we fix it already? Probably it was before bootstrap 4 :-/

[2019-10-16 11:37] dnil commented on #1391
Well, no; I removed the STR-variant page, using the SNV-variant page instead, but that does have that consequence. I would never notice, since I use my browser-back key for getting back to the variant list. Me fix!

[2019-10-16 12:25] dnil commented on #1391
Will be closed by #1392, which is ready for review!

[2019-10-17 10:02] dnil opened #1393 "Update instructions for new sites"
- [ ] API keys (OMIM, phenomizer)
- [ ] merge main README into docs
- [ ] bam file config

[2019-10-17 12:29] dnil opened #1394 "Be explicit about relative / absolute paths config.yaml"
Relative paths for vcf, bam are confusing. Absolute bam paths do not appear to work?

[2019-10-17 13:01] sofievonlanthen opened #1395 "Inactive cases not shown"
My understanding from the last Scout user meeting was that inactive cases should always show up after prioritized (if it fits within the number of cases shown) before active and archieved cases, not to miss new inactive cases.
I just realised that doesn't work. We have asked for a re-run of a case, which has now been placed in inactive. However I can't see the inactive cases unless I change the nu

[2019-10-17 13:28] northwestwitch opened #1396 "Authenticate using LDAP"
working on this with @ninanorgren

https://github.com/Clinical-Genomics/scout/tree/ldap

[2019-10-17 16:48] northwestwitch commented on #1394
Being clear about how to fill in config files would certainly help. However I think that the issue of today with bam files was caused by a wrong key name -> bam_file instead of bam_path

[2019-10-18 06:13] dnil commented on #1395
Hi Sofie!

The routine for flagging rerun cases inactive is indeed overzealous. Thank you for noticing!
- [ ] The intended behaviour is for cases to go inactive when the results are ready, not when you hit rerun. We will fix!

Inactive cases can accumulate. I'm aware of one institute *cough* that are closing on 100 inactive ones to start from. An option to increasing the total number shown is to s

[2019-10-18 06:33] dnil commented on #1394
Quite right, #1397 so that doesn't happen again.
But, my recollection was that strangeness did occur with relative paths that are not also correctly relative to your $PWD when loading. I'll try to replicate that.

[2019-10-18 06:38] sofievonlanthen commented on #1395
Ok, thanks for fixing the bug with the re-runs.

Just to make sure I am not missing anything, if you have 2 prioritized cases and 1 inactive, and then maybe 20 ish active ones, and then of course a bunch on archieved and solved, shouldn't you always see the prioritized and inactive cases and  active ones and fill up with the solved/archieved up to 100? Atm it seems to be more like "some of each"?

[2019-10-18 07:54] dnil commented on #1395
With the current in flow (and fraction of answered cases that are actually ever flagged archive/solved) we have some 700 cases flagged active and 100 inactive. Its not very productive to scroll through those. I would again recommend using a combination of user assignment, notes in synopsis, HPO-terms, variant pinning, status switching (an inactivation button is already waiting in the next release)

[2019-10-18 09:03] sirselim opened #1398 "OMIM api-key requirement?"
Apologies as this is probably a very basic question but has been the cause of a lot of frustration.

We're trying to import a couple of cases from our fairly standard pipeline (GATK4, genmod, VEP, dbNSFP). Most keys seem to be recognised however we're not getting mappings between the HGNC_id and gene symbols (i.e. only see the integers in Scout when looking at a loaded case).

After spending time

[2019-10-18 09:31] northwestwitch commented on #1367
This is basically the problem:
![image](https://user-images.githubusercontent.com/28093618/67082989-934c0080-f19a-11e9-999d-513398726221.png)

We want to have next page on the right, and previous page on the left.
This should be done in
- variants/variants.html
- variants/sv-variants.html
- variants/cancer-variants.html
- variants/str-variants.html

[2019-10-18 09:43] northwestwitch commented on #1398
Hi and thanks for asking, the answer could be useful for other users as well.

Yes, unfortunately you need a valid OMIM key to download the definitions from there. You'll need it also to visualize associated phenotypes, etc.

The steps you need to follow are described in this document: http://www.clinicalgenomics.se/scout/admin-guide/genes/

Please try loading the cases again after setting up the

[2019-10-18 10:03] dnil commented on #1398
Hi; yeah; thanks for the interest!
The actual HGNC gene symbol to HGNC_ID mapping is from ftp://ftp.ebi.ac.uk/pub/databases/genenames/new/tsv/hgnc_complete_set.txt, but that data is loaded together with the OMIM info. If this proves a lasting hassle, we could try to uncouple them. But having the OMIM API-connection is sweet, so don't give it up! Without phenotype info, triage isn't that efficient.

[2019-10-18 14:47] #1391 closed

[2019-10-18 15:51] #291 closed

[2019-10-18 20:02] sirselim commented on #1398
Hi both, thanks for the confirmation.

I agree that OMIM API connection is a really nice feature. What's the 'usual' wait time on getting access? From what I've read of other people's experience it's been same day (many within minutes). OMIM say 2 business days. We've been waiting a week now...

I'd be interested in the ability to uncouple to allow gene symbols to populate because as it stands wit

[2019-10-18 20:18] dnil commented on #1395
Ok, what I did now in a feature branch was to first fix the unexpected behaviour and add another small badge on the cases page.

When this goes live, there will be no change to status when you hit rerun, but a small badge "rerun pending" will appear on the cases list. When the rerun is done and the case gets updated, said case will go inactive if it was previously active or archived. The "rerun pe

[2019-10-19 09:26] jdeligt commented on #1398
Hi @dnil and @northwestwitch, thanks for the quick responses. I'm working with Miles on a demonstration instance. I think it would be great to have this process more incremental. If I see you data models in Mongo you are looking into decoupling some of the data sources already.

One thing that I found interesting is that you are 'coining' unique IDs for you transcripts/genes etc. Why not use the u

[2019-10-19 09:41] northwestwitch commented on #1398
Assigning this to @moonso, that is the one with the beast insight over the gene loading process in the Scout team!

[2019-10-19 10:02] northwestwitch commented on #1398
Just a quick comment about this: we are not using unique ids from for instance ensemble because for how the database is structured right now, they would not be unique. If you for instance take a random gene loaded with the demo data you'll see that it exists in 2 documents, one for each genome build, and they have the same ensemble id.

I'm not saying that the way we are populated this collection

[2019-10-19 10:17] #1305 closed

[2019-10-19 10:18] jdeligt commented on #1398
Thanks for that, I understand it would be a major rework and the problems of genome builds. With the new way of using contigs vs. chromosomes it is becoming increasingly prudent to decouple 'physical' data about a gene from it's meta data (phenotype, inheritance, etc.). We completely understand if this is something you can't adress right away but did want to flag it since we've been digging around

[2019-10-19 12:24] dnil commented on #1398
OMIM were quick about keys last year; they might have had their attention elsewhere this week with ASHG happening.

As for incorrect and mostly nonexistent gene symbol mappings, they disappear as soon as you move away from the demo resources - that is OMIM is ok and you can load that EBI HGNC file.

Your eager clinicians will be much more positive if they can see disease names and inheritance patt

[2019-10-19 15:52] moonso commented on #1398
Hi @jdeligt and @sirselim I tried to find your email addresses for a quick and dirty solution but it was not that easy. Feel free to send me a mail mans.magnusson@scilifelab.se

[2019-10-19 16:02] moonso commented on #1398
Ok and the issues. I'm thinking about this suggestion you have to add OMIM at a later point. It sounds reasonable, I agree on that OMIM is not 'essential'. If there isn't too much work I can try to fix that.

Regarding the other question we have choosen to always use hgnc as a 'anchor', or what to call it, for all our genes. HGNC promises to maintain an updated map from hgnc id and hgnc symbol, an

[2019-10-20 08:32] #1398 closed

[2019-10-20 08:37] dnil commented on #1398
Thanks to @moonso! I will leave you on master for now if that's ok. Holler if you want this hot-fixed and released. Feedback on master is much appreciated - it's not fully action tested yet. If you run into trouble with it you could always cherry pick this branch into a stable release. In any event, if you have time, we'd be happy for some notes back in a while on how you are doing!

[2019-10-21 06:19] sofievonlanthen commented on #1395
Perfect! Thanks Daniel.

------------------------
Sofie Vonlanthen
Molekylärbiolog
Klinisk Immunologi och transfusionsmedicin
F79 Karolinska Universitetsjukhuset, Huddinge
141 86 Stockholm
tel: 072 5955823

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 18 oktober 2019 22:19
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Sofie Vonlanthen <sofie.vonlanthen@sll.se>; Au

[2019-10-21 09:42] mayabrandi opened #1404 "Issues installing scout"
Im having issues with the installation. The problem is the package  gobject-2.0, which is not found, and which I don't manage to install. When installing, it is suggested that I should add the path to PKG_CONFIG_PATH, but the problem is i cant find the path to where it is installed. Or to be more correct, i don't think it is installed yet, since that is what im trying to do..

Output from running

[2019-10-21 10:31] mayabrandi commented on #1404
issue seems to be solved now. I did so many things on the way trying to debug, so its hard to say which of them actually were needed. These were the last two things I did that made it work:

export PKG_CONFIG_PATH='/usr/local/Cellar/glib/2.62.1/lib/pkgconfig/'
conda install -c conda-forge pygobject

[2019-10-21 10:31] #1404 closed

[2019-10-21 10:31] northwestwitch commented on #1404
Nice!!! So we know how to fix it it this happens again!

[2019-10-21 11:39] #1396 closed

[2019-10-21 12:26] northwestwitch commented on #1341
@mayabrandi this is a relatively easy one, check at the code in the dashboard: https://scout-stage.scilifelab.se/dashboard , variant statistics tab.

![image](https://user-images.githubusercontent.com/28093618/67204807-9b13db00-f40e-11e9-85de-1cca9f4e676f.png)

You could add a similar function to the causatives variants page: https://scout-stage.scilifelab.se/cust003/causatives.

[2019-10-21 13:24] dnil opened #1406 "Gene panel order on case view"
Gene panel order logic; eg alphabetical.

[2019-10-21 13:29] dnil opened #1407 "Gene popover with phenotypes"
Displaying OMIM phenotypes under/with inheritance mode in popover on variants page is requested by clinicians.

[2019-10-21 14:13] northwestwitch opened #1408 "Mark SV variants as partial causatives"
Basically copy the code from snv variant page

[2019-10-22 10:46] dnil commented on #1408
And STRs, but that is probably already covered through the joint variant page.

[2019-10-22 13:26] #1395 closed

[2019-10-22 13:56] northwestwitch opened #1414 "SV variants filters query is broken"
I noticed while working on another PR. Looks like variant_type filter param is always empty.
I can fix it in the PR I'm working at!

[2019-10-22 14:02] dnil commented on #1414
Hm, the SV research list seems blank on SWEDAC-2019-HG-05-Trio-NovaSeq..

[2019-10-22 14:19] northwestwitch commented on #1414
I can confirm it's my branch, sorry for the scare. Closing this now! :)

[2019-10-22 14:19] #1414 closed

[2019-10-23 07:28] northwestwitch commented on #1407
You could do this one @moonso

[2019-10-23 07:31] northwestwitch commented on #1180
I'm going to close this because we have no concrete ideas on how and where to have this functionality. We could reopen in the future

[2019-10-23 07:31] #1180 closed

[2019-10-23 07:36] moonso commented on #1407
It's already in place...
<img width="1440" alt="Skärmavbild 2019-10-23 kl  09 35 19" src="https://user-images.githubusercontent.com/405278/67368966-7f2c4880-f578-11e9-8c9d-801c9858f0d1.png">

[2019-10-23 07:36] moonso commented on #1407
Or do you mean something else?

[2019-10-23 07:37] dnil commented on #1407
Yeah, add disease descriptions to that as well. Gives a clinician a quick feel for if the variant is phenotypically relevant even if they dont recognise the gene.

[2019-10-23 07:39] dnil commented on #1407
I had a quick look yesterday - technically its not really hard; just a bit involved in the variant / variants controllers so I paused it. The tricky part I suppose is not getting a hover that covers the whole page... X-) Good luck!

[2019-10-23 07:48] northwestwitch opened #1416 "Weird variant lines in variants template"
Look at the rank col!

![image](https://user-images.githubusercontent.com/28093618/67369963-36758f00-f57a-11e9-9e45-5826fd430b07.png)

[2019-10-23 07:50] moonso commented on #1407
Ok... so how should one solve that?

[2019-10-23 07:52] dnil commented on #1407
Some creativity? E.g. show only the first N, then an ellipsis or text (and 19 other diseases). For the most genes this will be 1-3 disorders. Then some culprits are described as *many* things..

[2019-10-23 07:53] dnil commented on #1407
It does touch the variants controller, I suppose, unless I misread it and the info is already there?

[2019-10-23 07:58] northwestwitch commented on #1407
Ok maybe I took the wrong task for now, let's leave for when we merge #1415

[2019-10-23 08:02] dnil opened #1417 "cancer variants page broken freq popover/tooltip"
<img width="446" alt="Screenshot 2019-10-23 at 10 01 46" src="https://user-images.githubusercontent.com/758570/67371168-3bd3d900-f57c-11e9-91f4-572008eaa0a7.png">

Import correct js!

[2019-10-23 11:26] 47KW opened #1419 "gnomAD freq. is wrong"
https://scout.scilifelab.se/cust002/F0023816-2/8b1e4d9154dd6f5bad4d608a4ff525ee

[2019-10-23 11:29] moonso commented on #1419
@henrikstranneheim is this the same thing like before?

[2019-10-23 11:45] henrikstranneheim commented on #1419
No, it is just that we are using gnomad version 2.0.1 and the gnomad browser is using 2.1.1.

We are planning to update to 2.1.1 for grch37 with the next release of MIP schedule before X-mas.

[2019-10-23 11:48] moonso opened #1420 "Fails on loading when no variants"
There is a pymongo error when no errors to insert:
`pymongo.errors.InvalidOperation: No operations to execute`

[2019-10-23 11:49] moonso commented on #1419
Ok then we have the solution for that. Keep up the good work @47KW !

[2019-10-23 11:49] #1419 closed

[2019-10-23 11:52] dnil commented on #1419
And I'm glad we can now / still reliably see that variant. As common as it is around here, it is still important!

[2019-10-23 12:55] #1417 closed

[2019-10-23 13:32] dnil commented on #1416
Hm, the present suggestion gives another unsatisfying alignment within the cell. Kinda clunky when it overflows as well.

<img width="1576" alt="Screenshot 2019-10-23 at 15 18 52" src="https://user-images.githubusercontent.com/758570/67397221-2a54f600-f5a9-11e9-9ffc-fedc73b78cab.png">

I suppose that could be amended by changing the style width. I would like to try to move to a more complete d-fle

[2019-10-23 13:43] northwestwitch commented on #1416
It might be fixed in another way but having d-flex justify-content-between align-items-center in that td is definitely an intended copy and paste error, because the other td from the same table look different. You can increase the size whichever cell but if you have enough you will see the newline in rank because of this wrong code

[2019-10-23 15:39] #1416 closed

[2019-10-24 08:58] moonso opened #1422 "uncouple loqus"
Queries to locus should be run via the command line like in CG. The reason is mainly to avoid dependency conflicts. For example now we can not use the latest version of loqus since that one has a newer pymongo version than Scout can handle.

[2019-10-24 19:57] #1303 closed

[2019-10-25 10:57] #1408 closed

[2019-10-25 12:15] dnil commented on #1367
Closed by #1412.

[2019-10-25 12:15] #1367 closed

[2019-10-25 12:30] dnil opened #1425 "Show Stranger limits on STR view: PATHOLOGIC_MIN, NORMAL_MAX"
Thanks @bjhall! See https://github.com/moonso/stranger/pull/13.

[2019-10-25 12:33] dnil commented on #1366
And just to keep track, the dev version of scout can do that since a couple of weeks: #1379.

[2019-10-25 12:34] #1366 closed

[2019-10-25 13:12] bjhall commented on #1425
I could make an attempt at implementing this (next week...), if no one else feels obliged.

Any opinions on how to present it? Should it simply be two new columns named something like "Minimum units, patholocical" and "Maximum units, normal". I am feeling that there is a better way of showing it...

[2019-10-27 09:39] #1376 closed

[2019-10-28 18:27] #1420 closed

[2019-10-29 10:14] #1425 closed

[2019-10-29 10:30] dnil opened #1431 "New variants view incompatible with reports"
Generating a general report with a variant on it throws an “TypeError: variant() got an unexpected keyword argument ‘institute_obj’”. I guess we didn’t have a good test for that.

[2019-10-29 10:38] moonso commented on #1431
I'm on it

[2019-10-30 05:14] #1340 closed

[2019-10-30 06:13] #1431 closed

[2019-10-30 06:41] northwestwitch commented on #1406
This looks an easy thing to do for when you have time @mayabrandi

[2019-10-30 06:43] northwestwitch commented on #1406
Gene panels page is available in the dropdown on the right of the page logo:

![image](https://user-images.githubusercontent.com/28093618/67834908-ebfb9180-fae8-11e9-9ac2-f7daff811ba3.png)

[2019-10-30 07:17] dnil commented on #1406
Right, this list on the case page is what needs sorting:
<img width="665" alt="Screenshot 2019-10-30 at 08 15 29" src="https://user-images.githubusercontent.com/758570/67836683-8a89f180-faed-11e9-83ab-cde15f960eae.png">

[2019-10-30 07:20] northwestwitch commented on #1406
Ahhh I see, removing my previous comment then!

[2019-10-30 07:21] northwestwitch commented on #1406
Actually if I read the issue title properly I could have guessed :)

[2019-10-30 09:29] #549 closed

[2019-10-30 10:35] dnil commented on #1341
Closed by #1423! Nicely done!

[2019-10-30 10:35] #1341 closed

[2019-10-30 20:01] dnil commented on #1167
Checking the first five says three covered by tests already, one more implemented, and the fifth fails also on manual tests. 😆

[2019-10-31 14:46] 47KW opened #1435 "Variant call of dinucleotide change"
Hello
I found a variant that consist of two nucleotides on the same allele (reads) that was only called as single nucleotide change (times two). Whats your thinking?

https://scout.scilifelab.se/igv?sample=2019-22369-03&build=grch37&bam=%2Fhome%2Fproj%2Fproduction%2Fhousekeeper-bundles%2Fupfawn%2F2019-10-27%2FACC6318A2_lanes_1234_sorted_md_brecal.bam&bai=%2Fhome%2Fproj%2Fproduction%2Fhousekeeper-b

[2019-10-31 15:14] dnil commented on #1435
This is from your description what would qualify as an MNV. They are a known limitation with old school variant calling, posing issues for variant interpretation that don't well appreciate that the changes in isolation may e.g. be synonymous but taken together change an amino acid. Current approaches are available, but are not quite mainstream yet. See e.g. this MIP issue https://github.com/Clinic

[2019-10-31 16:04] KickiLagerstedt opened #1436 "Kan inte nå HPO fr SCOUT"
Eller ligger den servern nere bara???

[2019-10-31 16:07] dnil commented on #1436
Nej, det verkar funka. Kan du ge ett specifikt fall?

[2019-10-31 16:08] KickiLagerstedt commented on #1436
https://scout.scilifelab.se/cust002/F0032094

Helena når inte heller (F0025037)

[2019-10-31 16:09] KickiLagerstedt commented on #1436
Dvs när vi trycker på "HPO web" så nås vi av felmeddelande

"Sorry, we could not find that page. Please ensure your URL is correct or the term you are looking for exists when searching.

If you believe this is a mistake please let us know on our issue tracker."

[2019-10-31 16:13] dnil commented on #1436
Japp, så rätt! De verkar ha möblerat om hos sig. Vi får ändra från länkar på formen
´´´https://hpo.jax.org/app/browse/term?id=HP:0002647´´´
till i stil med
´´´https://hpo.jax.org/app/browse/term/HP:0002647´´´
Tack för uppmärksamheten!

[2019-10-31 16:19] dnil commented on #1435
To summarise that, one approach to mitigating this is planned for inclusion in the November release of MIP. Lets 'keep this open and revisit it after the MIP update to see if we are able to catch it that way.

[2019-11-01 09:36] dnil commented on #494
@henrikstranneheim I added a link-out now, but old versions are missing. See https://github.com/Clinical-Genomics/reference-files/issues/11.

[2019-11-01 13:11] dnil opened #1440 "All variants page length appears to weave?"
Page length changes for different pages if viewed as a normal user, due to variants discarded from access being denied. Rewrite the gene_variants controller..

[2019-11-04 09:56] #1407 closed

[2019-11-04 13:32] moonso opened #1443 "Fetch users on email, not _id"
In the `store.user` method a user is fetched on the _id field but email is used as an argument. This will cause trouble when _id is not the email adress

[2019-11-04 13:36] 1ctw opened #1444 "Can not open General report"
It is not possible to open General report in case 19200. It seems to work for other cases I have tried. Internal Server Error?

[2019-11-05 06:09] dnil opened #1445 "Case count not operational"
Case count is not accurate, but rather reflects nr of fetched cases (for sorting)?

<img width="209" alt="Screenshot 2019-11-05 at 07 06 58" src="https://user-images.githubusercontent.com/758570/68182886-0e832400-ff9b-11e9-9b64-b8e4051cfea5.png">

[2019-11-05 08:24] #494 closed

[2019-11-05 08:24] #1436 closed

[2019-11-05 09:20] dnil opened #1447 "Phenotype search is down [dev version]"
Entering search terms fires no autocomplete, and searching anyway causes crashes - perhaps on a string decompose expecting an auto-complete style string?

[2019-11-05 09:51] northwestwitch opened #1448 "Case page crashes when case has analysis_date type=string"
Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/hiseq.clinica

[2019-11-05 09:53] northwestwitch commented on #1444
Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/hiseq.clinical/miniconda/

[2019-11-05 09:56] dnil commented on #1448
It was a malformatted date as produced by ```cg scout load -p ``` in this case; a sting starting with  ``` datetime.date(```..

[2019-11-05 10:20] KickiLagerstedt opened #1449 "Scout-Stage - Saknar genpanel i sidovyn"
Ta med vilken genpanel som är förvald.
För mörk färg - gör den ljusare

(kan inte stoppa in bild...)

[2019-11-05 10:25] northwestwitch commented on #1444
It took me a while to understand the reason of the error because the has something like 60 variants dismissed, but the last one looks like this:
![image](https://user-images.githubusercontent.com/28093618/68199784-f58c6a00-ffbe-11e9-9a5a-3c3f8d4ffdb6.png)

And this is the reason why it's crashing. Working on it!

[2019-11-05 10:27] KickiLagerstedt opened #1450 "Panel selectpicker in some disorder [dev version]"
Gjorde först en HPO sökning - allt frid och fröjd
Sedan vill jag titta på CTD-panelen - går att öppna sidan men sedan när man trycker "Clinical Filter" så hoppar den tillbaka till HPO panelen som förvald.

https://scout-stage.scilifelab.se/cust002/F0032094/variants

Är antagligen OK - bara inte van vid att det är så.

[2019-11-05 10:29] KickiLagerstedt commented on #1450
Sedan när man ska byta panel är panelerna "huller om buller" - går det att få den i en lista???

[2019-11-05 10:29] dnil commented on #1449
Bra idé med default-panel mer i blickfånget!

Vi får ha omröstning om färgerna. Det är precis samma som bakgrunden på nästan alla appar på mitt skrivbord, så förstår inte riktigt varför. Motivera gärna!

[2019-11-05 10:29] KickiLagerstedt commented on #1450
den = dem

[2019-11-05 10:31] KickiLagerstedt commented on #1450
Sedan hittar jag inget mer...

[2019-11-05 10:31] KickiLagerstedt commented on #1450
Sedan hittar jag inget mer...

[2019-11-05 10:34] KickiLagerstedt opened #1451 "Scout-Stage Coverage report"
Det är lite tunnt med info...

https://scout-stage.scilifelab.se/reports/report?sample_id=ACC6318A6&level=10&panel_name=Connective+Tissue+Diseases+%2855.0%29

[2019-11-05 10:35] dnil commented on #1450
Tack Kicki! Vi kan titta på det tillsammans vid tillfälle, men det låter nog som förväntat beteende. Precis som tidigare så är clinical filter låst till den förvalda panelen. Det som är nytt är att man kan välja att HPO-panelen ska vara förvald. Den förblir sedan det till man väljer bort det.

Om listordningen: det är nog i princip samma som i productionsversionen; se #1406? Isf är det på gång!

[2019-11-05 10:36] KickiLagerstedt opened #1452 "Delivery report pdf export"
Skulle det vara möjligt att kunna ladda ned även denna fil som en PDF?

Leveransrapport Clinical Genomics
https://scout-stage.scilifelab.se/cust002/F0032094/delivery-report

[2019-11-05 10:36] dnil commented on #1451
Tack, vi kikar på det - troligen bara lite knas vid uppladdningen på en bakväg.

[2019-11-05 10:38] KickiLagerstedt commented on #1450
Nix - inte samma

Genpanelerna ligger huller om buller - skickar bild via mail!

[2019-11-05 10:41] dnil commented on #1450
![image](https://user-images.githubusercontent.com/758570/68200948-2a012580-ffc1-11e9-87ba-238a77461c62.png)

Ah, jag förstår! Jepp, sådana har vi haft fler av. Tack!

[2019-11-05 10:43] KickiLagerstedt opened #1454 "Scout - Stage Ang research list"
Om man "beställt" Research list så måste man aktivt trycka på pilen för att kunna se att detta är beställt.

Går det att få, som idag, att man ser det om det är valt?

[2019-11-05 10:44] KickiLagerstedt commented on #1454
Whoops - nu syns det....
Sorry

https://scout-stage.scilifelab.se/cust002/F0032094#

[2019-11-05 10:47] dnil commented on #1454
Nja, nog bara efter att du själv valt att fälla ut den. Det går definitivt att få den utfälld som standard; borde gå att sätta den utfälld om forskning är beställt.

[2019-11-05 10:54] northwestwitch commented on #1447
In which form is the error, cases, case?

[2019-11-05 10:54] dnil commented on #1447
Phenotypes!

[2019-11-05 12:06] 1ctw commented on #1444
Sorry for that! I normally do not dismiss CNVs but I did in this case by mistake. I wanted to take the "dismiss tag" away. I managed to do that but it was still marked grey in the variant list which was a bit confusing. So that is why it crashed...

[2019-11-05 12:09] northwestwitch commented on #1448
Is this fixed now? I can't find the specific case that triggers the error!

[2019-11-05 12:24] northwestwitch commented on #1447
I think autocompletion was never implemented for this page. I don't see any code relative to this in the old scout versions. I'll add it!

[2019-11-05 12:27] northwestwitch commented on #1444
No worries, it's not your fault, the program should be able to prevent these errors by itself. Do you want to remove the dismiss tag from the variant? I can do it from the database. Let me know!

[2019-11-05 12:41] 1ctw commented on #1444
Yes, please:)

[2019-11-05 12:54] dnil commented on #1447
Ah, ok! Very nice! Still, it crashes upon search, so something is off..

[2019-11-05 12:54] #1444 closed

[2019-11-05 12:55] northwestwitch commented on #1447
I'll fix it

[2019-11-05 13:04] dnil commented on #1448
Yeah, I edited the db. But it is easy to recreate locally if you want to test it.. ;-)

[2019-11-05 13:27] moonso commented on #1448
Sooo should we close or not, I could add a check in the controller.

How can I recreate locally @dnil?

[2019-11-05 13:38] northwestwitch commented on #1444
Removed. The general report should work for this case now!

[2019-11-05 13:45] northwestwitch commented on #1448
Modify analysis_date so that it's not a Date object but a string:

![image](https://user-images.githubusercontent.com/28093618/68212954-ee735500-ffda-11e9-9406-1ab2a5f4c392.png)

[2019-11-05 13:46] dnil commented on #1448
Exactly! Add a string instead of a properly formatted date in a load config yaml, or just edit the db.

[2019-11-05 13:51] northwestwitch commented on #1448
It would be nice to have a check to make sure that the case is not created with a string date since the beginning

[2019-11-05 13:58] dnil commented on #1444
Good job, both of you! @1ctw do you remember what you did when you tried to remove the tag? You are not supposed to be able to set it to that value.. 😆

[2019-11-05 15:05] moonso commented on #1448
What did the string look like that you used when it didn't work @dnil ?

[2019-11-05 15:16] #822 closed

[2019-11-05 16:13] #1445 closed

[2019-11-05 16:38] #1343 closed

[2019-11-05 19:07] #1447 closed

[2019-11-05 19:11] dnil commented on #1451
Jo, det verkar så. Uppladdningen av Chanjo-täckning görs separat via cg. Detta fungerar just nu inte i testmiljön, verkar det, men är helt ok i produktion.

[code]

[2019-11-05 19:11] #1451 closed

[2019-11-05 19:21] dnil commented on #1450
Hm, panel names are sometimes really short. Do you know @northwestwitch; do we have to make the selectpicker really short - like col-1 or so - or is there some config option for this?

[2019-11-05 19:31] dnil commented on #1440
Or perhaps it would be possible to apply jquery.dataTables with pagination?

[2019-11-05 23:34] northwestwitch commented on #1450
Hi, the reason is a conflict between our css and and the css from the multiselect js library. In fact if you remove this part
[code]
from the b4_styles.css the multiselect looks nice.

The problem is that if you remove that style part then scout style becomes messy, especially the top bar. It can be fixed but the ul li from scout must be renamed with some custom name and the changes should be appl

[2019-11-06 09:03] northwestwitch opened #1460 "Scout for cancer workshop (2019-11-06) notes"
**Important features (MVP):**
- Variant Ranking is important
- Scout for cancer and Scout for rare diseases on difference instances and also different institutes so no mix-up of rare cases and cancer ones.
- Introduce a badge for cancer in cases table and search for cancer cases in the cases search
- Chanjo report for cancer cases: modify depth of coverage thresholds.
- Define relevant phenotype g

[2019-11-06 09:09] dnil commented on #1460
- [ ] HPO clinical filter button needs to go to "cancer" variants..
- [ ] ACMG/AMP for the classification page.

[2019-11-06 12:15] northwestwitch opened #1461 "fix PDF general report"
![image](https://user-images.githubusercontent.com/28093618/68297544-7fa80180-0097-11ea-98eb-4d6781c0c1ee.png)

[2019-11-06 12:33] #1443 closed

[2019-11-06 12:56] #1448 closed

[2019-11-06 13:53] #1450 closed

[2019-11-07 11:54] dnil opened #1464 "Quality scores for SVs"
As a user of Scout, I would like SV quality scores to be clearly represented and the scale documented. -1 is not a great way to report SV GQ. Likely present on the VCF but may require specialized parsing compared to the SNV GQs.

[2019-11-07 11:55] dnil commented on #1464
Right @sofievonlanten?

[2019-11-07 14:37] moonso commented on #1123
Duplicated in #1422

[2019-11-07 14:37] #1123 closed

[2019-11-08 10:03] northwestwitch opened #1465 "Except block is trying to print the error message of a none object"
https://github.com/Clinical-Genomics/scout/blob/d5973b790d509c338bd4b4c0701007676286d45a/scout/server/blueprints/login/views.py#L100

This is an error i've been seeing since a long time. It could be causing the error we are seeing when trying to deploy release 4.8.

[2019-11-08 12:36] #1465 closed

[2019-11-08 15:41] northwestwitch opened #1467 "Login crashes for users that have _id = Objectid"

[2019-11-08 15:43] northwestwitch commented on #1467
Object IDS and emails. Sometimes there's a double user with both and this creates a problem at the login. The current version of Scout (4.8) has problems with users defined by Object IDS

[2019-11-09 11:24] #1467 closed

[2019-11-11 08:13] northwestwitch opened #1472 "Scout users with more than one account might not see all their institutes"
A quick(ish) fix would be to manually copy all the missing institutes from the complete account to the one missing institiutes.

A less quick fix is to modify the adapter.user query to return the user which has most institutes.

The best way to fix this is to go thru all the users in the database, add all institutes to the official user account and remove the extra accounts.

[2019-11-11 08:34] dnil commented on #1472
The first is presumably the way to go, right?

Suggestion (2) seems like a bit of work for a rather unpredictable outcome anyway. What if the user instances have (partly) disjoint sets of institutes, but roughly the same number? Hard to justify code that works that way?!

I would also feel somewhat uneasy about (3) without careful reading/testing of code around case assignments and event logging i

[2019-11-11 08:40] northwestwitch commented on #1472
There's another aspect of this multi-account mess: the associated events.
If you look at the users list here: https://scout.scilifelab.se/users you'll see that some double accounts were there but were never used (kind of). We should keep using the right account!

[2019-11-11 08:42] northwestwitch commented on #1472
I have the feeling that this could be solved by selecting preferably those users that have _id as an email address. This behavior could have been modified by #1457

[2019-11-11 08:44] genecracker opened #1473 "dismissed variants"
Hi,

When generating a report in the new scout, the table of the dismissed variants does not show why they were dismissed. (I have only checked one case)

![image](https://user-images.githubusercontent.com/5881356/68573264-b0a57f00-0467-11ea-875f-08d833cc9972.png)

Kind regards,
Bianca

[2019-11-11 08:49] dnil commented on #1473
Thank you @genecracker! There's bound to be quite a few of the kind now.

[2019-11-11 09:59] dnil opened #1475 "Recast old rank_model_version floats as str for display - and make sure no new ones are loaded."
Versions should always be strings (or more complex types) - floats are wrong. 1.10 is often better than 1.1.

2019-11-11 10:56:18,613 - scout.server.app - ERROR: Exception on /cust003/1 [GET] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1891]
Traceback (most recent call last):
 File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask

[2019-11-11 10:10] genecracker opened #1476 "assign yourself"
Hi!

I tried to assign myself to a case, and while I see that happening in the activity log (for as many times as I clicked on "assign me"), my name does not show up in the main list of cases.

Kind regards,
Bianca

[2019-11-11 10:12] dnil commented on #1476
Hi Bianca! This is for the same issue as the one where you didn't see your institute - you being logged in as your old, duplicate user. We'll fix, but I think I'll move this to the other issue and close here to keep us focused. Thanks for letting us know!

[2019-11-11 10:14] henrikstranneheim opened #1477 "Clicking on coverage report opens up 2 tabs"
One correct and one empty

[2019-11-11 10:14] dnil commented on #1472
That answers worry under (3) above, and weighs towards that we would be better off without the dupe accounts.

[2019-11-11 10:15] #1476 closed

[2019-11-11 10:17] dnil opened #1478 "Protein paint link can't find hgnc_id for gene on given variant."
2019-11-11 11:04:15,281 - scout.server.app - ERROR: Exception on **/cust003/16118/414ae17028efb7ef6cf9dfb44668b951** [GET] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1891]
Traceback (most recent call last):
 File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
   response = self.full_dispatch_req

[2019-11-11 10:18] dnil opened #1479 "Deleting empty filter fails, perhaps?"
2019-11-11 11:06:11,907 - scout.server.app - ERROR: Exception on /cust003/19217/variants [POST] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1891]
Traceback (most recent call last):
 File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
   response = self.full_dispatch_request()
 File "/home/hiseq.c

[2019-11-11 11:03] dnil commented on #1472
Lets see, what do we have in the dbs in terms of ObjectId user_id connections?
**stage**
[code]
**prod**
[code]

[2019-11-11 11:14] dnil commented on #1472
So same users, and a bit more productive on the stage env, but not dramatic. We could edit that down manually, or script it, then fix the user documents.

[2019-11-11 11:23] sofievonlanthen opened #1480 "Assignees tag not working"
Assigning to cases don't seem to work in the new Scout. We have all assigned ourselves to new cases, but can't see this in the list of cases, the assignees name won't show up (although I can see at the bottom of the page at the activity tracking that I assigned myself to a case).

/Sofie

[2019-11-11 11:42] sofievonlanthen opened #1481 "Can't remove comments"
In new Scout, we can't remove our own comments created on the case page. Is there a reason for this or a bug? Old comments can still be removed (as long as it is our own comment).

/Sofie

[2019-11-11 11:50] sofievonlanthen opened #1482 "Can't open old cases"
I tried to open an old case from 2017 (417701600542), but get "internal server error". Is there a limit how old cases we can open in new scout? Not the BAM file, just wanted to check the pinned variants.

/Sofie

[2019-11-11 11:50] dnil commented on #1481
I think that says you are with Bianca in having two different accounts, and one is suddenly accessible. We can hopefully resolve that tonight. See #1472 - but I'll keep this open until we have investigated further! Thank you for the report!

[2019-11-11 11:55] dnil commented on #1482
That old case was unfortunately loaded with a floating point version id. See issue #1475. Its a fairly simple fix, so let us know if you are in a hurry, otw we fix this after the user_id / acmg / comments issue. I will close this issue, but thank you for reporting it: there was essentially no way you could know they were the same problem without having access to the server logs.

[2019-11-11 11:55] #1482 closed

[2019-11-11 11:57] dnil commented on #1480
See #1472 again (and #1476). Once we have your alternative account locked down, you will be fine again.

[2019-11-11 11:57] #1480 closed

[2019-11-11 12:00] dnil commented on #1475
Would you have time to look at this one @moonso - you know the loading part best, and perhaps have the best recollection of how the conversion over to str from float was (not) handled last time?

[2019-11-11 13:23] 1ctw opened #1483 "Error loading data track in IGV"
In case 17121-1 there is a problem with viewing variants in IGV. Error message : "Error loading data track" or just a blank page below the reference sequence. Browsers tested: Firefox, Chrome, Explorer, Edge.

[2019-11-11 13:25] dnil commented on #1483
Thank you for noticing! IGV view in general seems to be working for some random cases I picked. We will have a look!

[2019-11-11 16:41] northwestwitch commented on #1479
Is anyone working with this? Otherwise I can take the issue

[2019-11-11 16:42] dnil commented on #1479
But also pace yourself - don't feel forced to!

[2019-11-11 16:45] northwestwitch commented on #1479
It's Ok, I could use some programming, the course of today was quite basic

[2019-11-11 19:27] #1479 closed

[2019-11-12 07:43] 1ctw opened #1487 "Previously classified as Pathogenic"
Pinned variant in gene XDH in case 19194 now has to symbols for ACMG classification in variant list. One for "Pathogenic" which is blue and one "Previously classified as Pathogenic" which is grey. A bug? We have not seen this variant in any other case.

![bild](https://user-images.githubusercontent.com/15033593/68651588-ff1a5280-0527-11ea-996e-63d2e04f608e.png)

[2019-11-12 10:17] dnil commented on #1472
Fixed by #1484

[2019-11-12 10:17] #1472 closed

[2019-11-12 10:23] dnil commented on #1481
Ok, this now seems to be working again. Let us know if you have more issues with it @sofievonlanthen and @genecracker!
Fixed by #1484

[2019-11-12 10:23] #1481 closed

[2019-11-12 10:28] dnil commented on #1487
Thank you @1ctw! It would seem that HB has classified this variant as Pathogenic, so the current "blue" one is correct, but since it has only been seen in this case it would have been less confusing not seeing the "grey" previously classified label as well. We'll have a look at that!

[2019-11-12 10:50] AnnHam opened #1488 "HPO gene panel lists all genes in the browser"
When creating a HPO gene panel (1011 genes), 1 phenotypes ) - all the genes are listed in the browser - you need to scroll down to the very end to analyze your HPO gene panel...

[2019-11-12 10:54] dnil commented on #1488
I would make a lot of sense to have that as a fixed size and scrollable card. Thank you @AnnHam!

[2019-11-12 10:55] dnil commented on #1488
In the meantime, happy scrolling! 😅

[2019-11-12 13:05] 4WGH commented on #1473
fam 19220 is affected by this :(
can you help me with this?

[2019-11-12 13:50] dnil commented on #1473
Thank you for the report! (And sorry for accidentally marking this as closed - it was not a user_id-related problem. We will investigate this next, after the old case version number issue.

[2019-11-12 14:30] 4WGH commented on #1473
19208 same prob.

[2019-11-12 14:39] #1475 closed

[2019-11-12 14:53] dnil opened #1490 "Variant verification controller issue"
[code]

[2019-11-12 15:04] #1477 closed

[2019-11-12 16:09] #1478 closed

[2019-11-12 16:09] #1490 closed

[2019-11-12 17:02] #1473 closed

[2019-11-12 19:24] dnil opened #1494 "Prioritized cases again"
Sorry @sofievonlanthen - we have managed to botch the prioritised cases first rule, presumably when re-enabling the case count again. Prioritised cases are currently only shown first, if shown at all.

https://scout-stage.scilifelab.se/cust002?query=&limit=100
<img width="906" alt="Screenshot 2019-11-12 at 20 22 01" src="https://user-images.githubusercontent.com/758570/68703187-6537c180-058a-11ea-

[2019-11-12 19:25] dnil commented on #1494
Next time, we will make a test for this so it can't reappear.

[2019-11-12 20:02] northwestwitch opened #1495 "Deployment of release 4.8.2"
Patch release to fix the following problems:
- Avoid opening extra tab for coverage report
- Fixed a problem when rank model version was saved as floats and not strings
- Fixed a problem with displaying dismiss variant reasons on the general report
- Disable load and delete filter buttons if there are no saved filters
- Fix problem with missing verifications
- Remove duplicate users and merge thei

[2019-11-12 20:04] northwestwitch commented on #1495
Cool, thanks @ingkebil!

[2019-11-12 20:12] #1495 closed

[2019-11-12 21:07] dnil commented on #1483
Ping @ingkebil @emiliaol. Other cases appear to have their IGV view intact, but not this one. Other recent reruns also seem to load bam files just fine. The scout db bam file entry for the case loos good at a glance. The bam file pointed to is a little on the small side, but at least the index seems very readable. Can you find anything unusual from your perspective? Any extended permissions in pla

[2019-11-13 08:10] dnil opened #1496 "Scout DarkMode"
The new colours are officially great, :tada: but the white is a bit harsh on the eyes.

[2019-11-13 08:15] dnil opened #1497 "Bootstrap issues"
- [x] mouse pointer focus and focus highlighting misaligned on the cases page (Firefox only?)
<img width="932" alt="Screenshot 2019-11-17 at 11 26 55" src="https://user-images.githubusercontent.com/758570/69006295-57d55b00-092d-11ea-833f-983bb201fb39.png">
 I don't see this issue @dnil Neither on firefox or chrome.. /MB

Tested on chrome and firefox (70.0.1) and I can'r re-create the issue either

[2019-11-13 08:18] dnil opened #1498 "Overlapping SV display sometimes off?"
@sofievonlanthen and Ingegerd - examples?

[2019-11-13 08:20] sofievonlanthen opened #1499 "Overlapping SV on variant list"
The variant list contains the tag for overlapping structural variants for some variants, but when looking on the variant page, there are no overlapping structural variants.

Example: 219701400158
Variant in TSC2

/Sofie

[2019-11-13 08:20] dnil commented on #1498
same as #1499

[2019-11-13 08:20] #1498 closed

[2019-11-13 08:28] northwestwitch opened #1500 "ValueError: invalid literal for int() with base 10 in cases.views"
I've been seeing this error a lot. Time to fix it!

[code]

[2019-11-13 08:47] ingkebil commented on #1483
Permissions are fine:

Hasta
[code]

clinical-db
[code]

[2019-11-13 09:55] 47KW opened #1501 "STR calls layout"
Suggested improvements for the STR layout:
- [x] The link to IGV viewer "button" has lost its boundaries, square
- [x] sort the calls by gene-name or numerically by Chr. and Position. (put the IGV-button outside?)
- [x] make the list viewed as single row for each repeat with both alleles (genotype)
- [x] dont use the term rank since its not really a rank
- [x] remove the chromosome postions from c

[2019-11-13 10:06] #1346 closed

[2019-11-13 10:07] dnil opened #1502 "Scout user meeting 22/1 - 2020"
1. Current updates - production
*Causatives*
- Rank score model in causatives page
- Display GT and allele depth in causatives table.
*Phenotypes*
- Exportable HPO terms from phenotypes page
*Cases*
- All prioritized cases are shown on cases page
*Case*
- Add or modify individuals' age or tissue type from case page
- Sort gene panel list on case view.
- Fix error when a gene is added to an empty d

[2019-11-13 10:13] dnil commented on #1501
Thank you Dr @47KW! We will ponder this: especially 1 we will fix as soon as time allows. The other ones are more pipeline issues, that we could of course polish away in scout, but that I would rather distribute out on the respective pipeline components.

I am not sure how to solve 3 for general family structures? Ideas? Fairly straightforward for singletons or trios, although it would be preferab

[2019-11-13 10:18] 47KW commented on #1501
Will contemplate over 3). Some things are easy, others are more rewarding 😉
Can you call alleles without referring to the reference and then that would make to alleles show up as two rows?

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 13 november 2019 11:14
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Håkan Thonberg <hakan.thonberg@sll.se>; Mention <mention@norep

[2019-11-13 12:02] genecracker opened #1503 "order sanger function not working"
I tried to order sanger from a case in scout and I get an _Internal Server Error_ message.

[2019-11-13 12:07] dnil commented on #1503
[code]

[2019-11-13 12:31] genecracker commented on #1503
I had the problem yesterday as well!

[2019-11-13 12:49] moonso commented on #1503
I have fixed that in https://github.com/Clinical-Genomics/scout/pull/1504

[2019-11-13 12:52] dnil commented on #1503
😄 Sure, but not just now - might have to be the evening project or for early tomorrow. On the face of it, it looks sort of straightforward I guess, but much like the partial fix yesterday showed, there might be more hiding after that.

[2019-11-13 12:53] dnil commented on #1503
Thanks @northwestwitch!

[2019-11-13 13:03] dnil opened #1505 "urllib not defined.."
2019-11-13 14:00:14,771 - scout.server.app - ERROR: Exception on /cust000/620573fam30M/3c7373a40c53fed5466f854961b64078/snv/True [POST] [in /home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py:1891]
Traceback (most recent call last):
 File "/home/hiseq.clinical/miniconda/envs/prod-stage/lib/python3.6/site-packages/flask/app.py", line 2446, in wsgi_app
   response

[2019-11-13 13:16] #1503 closed

[2019-11-13 13:39] genecracker commented on #1503
I still have the same problem. the fix is not urgent, I can talk to my colleague and ask for Sanger verification :-)

[2019-11-13 13:45] dnil commented on #1503
Perfect! It will be fixed in release 4.8.3 - unless you have tested it locally, just wait and it will be out soon-ish.

[2019-11-14 08:32] dnil opened #1507 "Add to empty dynamic list perhaps?"
[code]

[2019-11-14 08:34] dnil opened #1508 "Don’t crash on weird input to dynamic Gene list"
[code]

[2019-11-14 08:37] northwestwitch commented on #1508
I think this is is the same of #1500

[2019-11-14 08:45] dnil commented on #1508
Looks veeeery similar. Sorry, trying out the GitHub phone app, and while it’s nice and pretty I still don’t quite get the overview of the full size web interface.. I’ll close this for now.

[2019-11-14 08:45] #1508 closed

[2019-11-14 09:01] northwestwitch commented on #1508
It's ok, your title was more informative, so close the other if you want!

[2019-11-14 09:28] mikaell opened #1510 "Hide Chromograph PNGs when page is too narrow"
Too narrow browser screen will make Chromograph pictures line up in a strange way and make the feature useless.

Solution
* Hide images
* Link to separate page?
* Info text (keeping user informed of hidden pictures -always be kind to the end user

[2019-11-14 09:53] moonso commented on #1505
That was also solved in #1504

[2019-11-14 09:53] #1505 closed

[2019-11-14 11:18] dnil commented on #1487
Ok, that was the intention all along, fortunately. It just needs a little bit of fixing.

[2019-11-14 16:19] dnil opened #1513 "Case has no analysis date?"
[code]

[2019-11-14 16:23] emiliaol commented on #1513
Är det caset jag precis laddade upp? Använde config enligt nedan (fick inte bifoga):
[code]

[2019-11-14 16:25] dnil commented on #1513
Det skulle nog kunna stämma! Var kommer datumsträngen ifrån? Den ser ut som cg -p varianten? Dessa ska egentligen hanteras nu trodde jag - se #1458? @moonso

[2019-11-14 16:27] dnil commented on #1513
Rättar du den @emiliaol, eller vill du jag ska fixa det i databasen på en gång? Det lär blockera cust002 helt.. 🙈

[2019-11-14 16:28] emiliaol commented on #1513
Tänkte precis be dig fixa det i databasen så att vi kan se cust002

[2019-11-14 16:28] dnil commented on #1513
👍 Är ni ikapp med 4.8.3 i produktion nu?

[2019-11-14 16:29] emiliaol commented on #1513
Tack!
Nope, vi har inte uppdaterat på hasta än om det var det du menade.

[2019-11-14 16:33] emiliaol commented on #1513
Funkar fint nu!
Men det du säger är att om Scout hade varit uppdaterad på hasta när jag laddade upp caset med den här configen så hade det fungerat?

[2019-11-14 16:34] dnil commented on #1513
Så, fixat! Ja, det där hade vi sett en gång tidigare och ordnat. Jag ska kolla; minst inte om det bara hade funkat och varnat, eller om det hade vägrat ladda fallet..

[2019-11-14 16:35] dnil commented on #1513
Men, eh, var kom configen ifrån? Vanliga CG-vägen? Isf kanske vi måste kika igen för att få det rätt i båda ändar så att säga.

[2019-11-14 16:37] dnil commented on #1513
Jo; den borde ha gnällt lite i stil med:
[code]

[2019-11-14 16:48] dnil commented on #1513
En försiktig gissning är att laddningen gått lite annorlunda vid omanalys nu efter https://github.com/Clinical-Genomics/cg/issues/77? Utan #1458, och https://github.com/Clinical-Genomics/cg/issues/468 är kopplingen lite halvfärdig.

[2019-11-14 16:49] emiliaol commented on #1513
Configen kom från `cg upload scout -p savingakita` som ger följande output:
[code]

Den har jag sedan manuellt masserat för att scout ska acceptera den och för att ta bort sv-infor (eftersom det inte finns några sv varianter i det här fallet)

[2019-11-14 16:52] dnil commented on #1513
Japp, det är precis https://github.com/Clinical-Genomics/cg/issues/468! Då behöver du bara komma ihåg att ändra på datumet också till något som ser ut som ett datum för yaml. Eller installera senaste scout på hasta så länge så får du bara en varning. Efter att https://github.com/Clinical-Genomics/cg/issues/468 är fixad är förhoppningen att det ska funka fint även utan massage!

[2019-11-14 16:52] emiliaol commented on #1513
Toppen, tack!

[2019-11-14 16:53] #1513 closed

[2019-11-15 08:56] ielvers commented on #1499
I'm actually having a hard time finding an example where the SV is listed on the variant page. I can only find cases where the variant list shows the overlapping SV tag, but the variant page says there are no overlapping structural variants.

More examples:
sample 19225, variants in NOTCH2 (SV is an intronic insertion, length n.d.)
sample 19230, variant in TJP2 (SV is an intronic deletion)
sample

[2019-11-15 09:05] dnil commented on #1499
I have a hunch this is related to finding variants by gene/gene_symbol/hgnc_id and region.. @moonso would find this quickest, but he's really supposed to be doing other things. If you wish to procrastinate M, this is a good one, but otherwise we will get to it anyway.

[2019-11-15 09:20] northwestwitch commented on #1499
I remember I've been re-writing the code to find overlapping SVs in the variants page. I could also have a look at the code next week!

[2019-11-15 09:25] 4WGH opened #1514 "research page 2 is a clinical page"
Hi , see the exemple of fam 83
If we are on the research page and click on "next" the fololowing page is a clinical page.

initial page
https://scout.scilifelab.se/cust003/83/variants?variant_type=research
click on "NEXT"
https://scout.scilifelab.se/cust003/83/variants
this come up: on top it states clinical SNV and INDEL

thanksfor help

[2019-11-15 09:41] dnil commented on #1514
Thanks for the report! We will look into it. I’m relieved it wasn’t the other way around, but we do want to support research as well!

[2019-11-15 10:02] 4WGH commented on #1514
thanks!
Paulina who is going throug our research family noticed it :)

________________________________
Från: Daniel Nilsson <notifications@github.com>
Skickat: den 15 november 2019 10:41
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Michela Barbaro <michela.barbaro@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] research page 2 is a clinical page

[2019-11-15 10:10] dnil opened #1515 "There is more than one way to Select a tag"
[code]

[2019-11-15 13:20] ielvers commented on #1514
Hi,

This also happens to family 25.

/ Elin through Ingegerd

[2019-11-15 13:35] ielvers commented on #1514
To clarify: from page 2 and onwards it says "Clinical SNV and INDELs" on top but all variants are displayed (no filter).
In research mode, variants in family 25 are also ranked different compared to two weeks ago. But we'll create a separate issue for that.
Thank you :)
- Ingegerd

[2019-11-15 13:39] ielvers opened #1516 "variant prioritization changed without rerun or notification"
Hi,

When looking in family 25 (research list) Elin noticed that the score and therefore order (rank) of variants has changed compared to when she copied the list 10 days ago.

/ Elin and Ingegerd

[2019-11-15 14:24] dominykabat commented on #1514
Hej, I think the same thing happens when you try to filter research variants by something. For example, when on 'Research SNV and INDELs' I select a filter and pressing Filter Variants it returns me to 'Clinical SNVs/Indels' (no research variants displayed)

Dominyka

[2019-11-15 15:42] dnil commented on #1514
Yeah, it appears a variable that separates the two views is now being mistakenly dropped on that form. When it is not found, the default is to use clinical. We will try to fix it soon-ish!

I realise we did not have any of the research users test the new version before-hand, only the clinic users. That is something to learn from for next larger update. Thanks for all the feed-back!

[2019-11-15 16:07] moonso commented on #1516
Hi, there is no possibility that the score has changed without rerunning a case. It is nothing that Scout does on its own. For us to be able to follow up you need to be more specific, link to variants etc.

[2019-11-15 16:59] #1487 closed

[2019-11-16 12:37] northwestwitch opened #1517 "Show contact emails in matchmaker matches"
Some MME nodes provide email field in contact object. We are not currently displaying these emails in the match overview. Example:

![image](https://user-images.githubusercontent.com/28093618/68993209-c525b500-0875-11ea-9075-6cfccec4bb18.png)

They have asked us to show them to our users.
Email field is correctly saved in match objects (patientMatcher database) but it's not yet displayed by Scout.

[2019-11-17 13:53] northwestwitch opened #1522 "Some cytoband-related code is executed in background also on demo patient"
This is more a question than an issue.
I'm testing some stuff on a local instance of Scout and noticed that there is some background code executed for the demo patient:

![image](https://user-images.githubusercontent.com/28093618/69008376-f1ab0100-0949-11ea-9248-5cea2c70e3a8.png)

Is this supposed to run for every patient, also those without the pertinent tracks?

[2019-11-17 14:14] dnil commented on #1522
I seem to recall there is some testing for presence of one file to determine if anything should be shown. It is mostly just legacy. It would likely be possible to do that only if appropriate variables are set on the case now.

[2019-11-18 08:29] emiliaol opened #1523 "load institute message is a bit confusing"
The `scout load institute` CLI command makes it seem like the display name for the newly created institute will be the internal name. The institute is however correctly added with the desired display name to the db.

![Skärmavbild 2019-11-18 kl  09 27 33](https://user-images.githubusercontent.com/12113434/69036339-f58c6100-09e5-11ea-91ea-1b608976bdf5.png)

[2019-11-18 08:53] 47KW opened #1524 "BCFTools making weird calls: Ref 10 Alt. 2"
https://scout.scilifelab.se/igv?sample=2019-26950-02&build=grch37&bam=%2Fhome%2Fproj%2Fproduction%2Fhousekeeper-bundles%2Ffinerkid%2F2019-11-10%2FACC6347A6_lanes_1234_sorted_md_brecal.bam&bai=%2Fhome%2Fproj%2Fproduction%2Fhousekeeper-bundles%2Ffinerkid%2F2019-11-10%2FACC6347A6_lanes_1234_sorted_md_brecal.bam.bai&contig=1&start=74808758&stop=74808858&center_guide=T

[2019-11-18 08:58] 47KW opened #1525 "gnomAD freq. does not show correct number"
https://scout.scilifelab.se/cust002/F0030160/118ffa150225dc2e3c4f2293de4a534c

[2019-11-18 09:12] dnil commented on #1523
Thanks for the Argentina!

[2019-11-18 09:22] henrikstranneheim commented on #1525
Still a not in sync issue. We are using r2.0.1 in MIP and web interface is showing r2.1.1.

[2019-11-18 09:26] #1525 closed

[2019-11-18 09:34] dnil commented on #1524
Japp, helt klart! Fast om jag skulle bedöma så är det nog inte homozygot referens på alla positioner däromkring heller, så tycker nog att det är lite bra att den iaf hostar lite när de andra avropsprogrammen tiger:
<img width="1579" alt="Screenshot 2019-11-18 at 10 32 55" src="https://user-images.githubusercontent.com/758570/69040869-de05a600-09ee-11ea-8f10-08af1a53f8b0.png">

[2019-11-18 09:59] 47KW commented on #1524
TWIST Exom….
Det ä väl soft-clippat adapter som syns? Borde hårdklippas?

BCFTools avropat en hel hög med skumma saker i tre case som jag kollat på. Känsla det inte var så innan….men endast en känsla.
Låga ”Allele depth” på avropen som inte stämmer med IGV vy…
https://scout.scilifelab.se/igv?sample=2019-26765-04&build=grch37&bam=%2Fhome%2Fproj%2Fproduction%2Fhousekeeper-bundles%2Fpickedshark%2F201

[2019-11-18 10:04] dnil commented on #1524
Mm, möjligt att den inte lirar så bra med twist kanske? Var det dåligt med DNA eller varför går de som exom?!

[2019-11-18 10:06] 47KW commented on #1524
Det är Kardio-panel som vi kör som TWIST exom
Tror att det inte lirar så bra …..

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 18 november 2019 11:04
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Håkan Thonberg <hakan.thonberg@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] BCFTools making weird calls: Ref 10 Alt. 2 (#1524)

Mm, möj

[2019-11-18 13:51] northwestwitch commented on #1244
@hassanfa is superbusy at the moment, so you could take this one @mayabrandi !

[2019-11-18 14:40] hassanfa commented on #1244
@mayabrandi The following can be added to cancer variants:

- Possible Germline. Description: Variant is possibly a germline event. Note: Evidence for this is based on the reviewer's/clinician's call. There is no tag for this in VCF INFO field.
- Low count normal. Description: If normal sample exists, variant has too few reads in normal sample 'AD'
- Low count tumor. Description: Variant has too f

[2019-11-18 15:24] dnil commented on #1244
- Its good to be able to flag "Possible germline". The GT fields would give decent support for that and is what I would put on the general report with that. I'm not sure I agree its a "dismiss", as that usually is the start of an investigation on the hereditary side, but lets have it as such for now.

Otherwise I think I would be fine with the present ones, possibly tweaking the descriptions a bit

[2019-11-18 15:57] hassanfa commented on #1244
Of course we should aim for keeping current tags. Reason: Some of them are relevant for cancer and rare disease.

'Possible germline' is a tag that I'd argue we might need for "just in case" situations. If a tumor sample has a matching normal, the VCF will have a flag "Possible_germline" in `INFO` field. This is for those cases that might not have a matching normal sample. Also not only GT field,

[2019-11-18 16:31] #1515 closed

[2019-11-18 18:48] dnil commented on #1524
Oki; jag tycker som sagt att vi ser till att få till en lite ordentligare lokal db med twist-exom, men det får ligga på MIP-sidan. Det är möjligt att bcftools inte gör nytta där - eller alls när vi inte har Agilent exom längre. Vi får gemensamt samla vidare på eventuella ställen där den är ensam om ett riktigt fynd, så hoppas vi vi kan stänga av den eller bara filtrera bort det lokala bruset sedan

[2019-11-18 18:49] #1524 closed

[2019-11-19 08:34] #1514 closed

[2019-11-19 10:08] #1517 closed

[2019-11-19 10:34] dnil opened #1528 "Enable export on HPO term view"
To facilitate the exchange of phenotypes with the clinical system, we would like to export HPO-term ids (HP:0000001) and Term names ("All") from scout. I think the current table view could actually be coerced to do that much like when exporting causatives.

[2019-11-19 12:19] ielvers commented on #1499
Also when looking at SVs, the overview page lists Gene(s) but when looking at the SV page it says "no overlapping SNVs found".
Example: case 19164, I would expect SV https://scout.scilifelab.se/cust003/19164/sv/variants/bcf4d36b407ec963984fa7f287380cb4 to link to SNV https://scout.scilifelab.se/cust003/19164/33fb23f29b1d5659d1cddf86be4c8262
Thank you :)

[2019-11-19 14:10] moonso opened #1529 "Link to GENEMANIA"
I found this nice network resource which we should add a link to

[2019-11-19 14:11] moonso commented on #1516
Ok so @ielvers I'm closing this for now. Please reopen if there are any supporting links etc for this one

[2019-11-19 14:11] #1516 closed

[2019-11-19 14:36] moonso commented on #1528
Will this do?:
[code]

[2019-11-19 14:46] 4WGH opened #1532 "causative page, a though"
in the Causative page we can see the rank score, which is good, but....
If we want to use it for any analysis/comparison we need to know which version of score system has been used,
Can this info be added to the page? just a though for future....
would anyone use it?

[2019-11-19 14:49] dnil commented on #1528
😄No, but I might have guessed. Still, that won’t help the clinic admins terribly - effectively meaning they would have to write a ticket for the list. We won’t have use for it until summer 2020 sometime anyway methinks.

[2019-11-19 15:30] dnil commented on #1532
Yes, that is rather important. It would be available from each case page, but that doesn't help you with bulk comparisons. Should not be too difficult.

[2019-11-19 15:32] 4WGH opened #1534 "comments on patogenicity page are not saved"
https://scout.scilifelab.se/cust003/18117/7df2dd00bf8311ded986d3205ef87812
for this variant I had written a comment under PS3 Functional damage (HQ), but I can not see it any longer once I go in here:

https://scout.scilifelab.se/evaluations/5dd40a3b124f63a9b5e68580

a Bug?

[2019-11-19 15:40] northwestwitch commented on #1534
I think the comment is saved but the area where it should be is not showing. We'll fix it, thanks for reporting it.

[2019-11-19 16:22] moonso commented on #1534
Yes, I have checked and it exists in the database @4WGH, there is a comment about mRNA analysis right? So like @northwestwitch said we need to display the comment when bringing up the evaluation. Nice find!

[2019-11-19 16:27] #1523 closed

[2019-11-19 16:32] emiliaol commented on #1523
Thanks guys!

[2019-11-20 07:43] 47KW opened #1538 "STR calls in Trio"
Good day Sir/Madam
this case shows some strange calls of STR ATXN8OS from the individuals in a trio. Example; 2019-22270-04 has 4 alleles/calls.
https://scout.scilifelab.se/cust002/F0028964-2/str/variants?variant_type=clinical#

Found by Helena Malmgren and she would appriciate to be on the issue as well.

Enjoy Wednesday

[2019-11-20 07:45] 47KW commented on #1538
We can see that there is two different repeats, but the 2019-22270-02 calls are not there at all.....cant be right?

[2019-11-20 08:17] #1529 closed

[2019-11-20 08:34] dnil commented on #1538
I'm sorry, I dont quite understand the question.
I can't confirm four calls for 2019-22270? I can see two calls for in the known pathogenic ATXN8OS plus two for the nearby for 2019-22270-04? Each call is a ./1 or 1/., so valid as each is a potential heterozygote.

I don't know who 2019-22270-02 is - did you mean 2019-05421-02? I agree I would like to have seen a call from that individual. It looks

[2019-11-20 09:02] 47KW commented on #1538
Yes, It would be helpful to see 2019-05421

Thats essentially what we need, Right Helena?

20 nov. 2019 kl. 09:34 skrev Daniel Nilsson <notifications@github.com<mailto:notifications@github.com>>:

I'm sorry, I dont quite understand the question.
I can't confirm four calls for 2019-22270? I can see two calls for in the known pathogenic ATXN8OS plus two for the nearby for 2019-22270-04? Each call is

[2019-11-20 09:04] dnil commented on #1538
:+1: Looking into it!

[2019-11-20 09:47] dnil commented on #1538
The individual in question is indeed normal (20) for the gene in question. But you should have been able to see that. Something appears to go wrong on loading, possibly because there are multiple entries with size 20 after multi-allelic sites decomposition. Lets keep this issue open, and we'll keep you posted!

[2019-11-20 10:00] 19SC opened #1539 "Research page 2 continues being a clinical page"
Hi,

I saw that you closed the issue "research page 2 is a clinical page #1514", but the problem isn't solved yet, right? I continue to have the clinical page instead of the research page, for example:

Fam 81:
(page 1) https://scout.scilifelab.se/cust003/81/variants?variant_type=research
(page 2) https://scout.scilifelab.se/cust003/81/variants

Thank you for your help.

[2019-11-20 10:03] #1406 closed

[2019-11-20 10:05] dnil commented on #1539
Hi,

this might be a bit confusing to new users. We close issues when we have solved them in development of Scout. That does not mean that they are deployed to your particular instance (clinical genomics Solna) just yet!

Sorry, you will have to live with it for just a little longer. That update should be happening later this week, possibly even today. All our local users will be notified by email

[2019-11-20 10:08] northwestwitch opened #1540 "Introduce scroll over long lists of items"
For instance the long list of gene generated when you create an HPO gene panel.

For instance look at this case: https://scout-stage.scilifelab.se/cust000/F0000310-validation#phenotypes_panel

[2019-11-20 10:19] 19SC commented on #1539
Ok, thank you :).

[2019-11-20 10:19] #1539 closed

[2019-11-20 10:22] dnil commented on #1540
That is already on issue #1497 - but its better with separate issues, so just keep this issue and take it off that other list!

[2019-11-20 10:26] dnil commented on #1540
Better yet, solve all of them on #1488! I'll close this and reference for a nice mess of links. Please read old issues! 😜

[2019-11-20 10:26] #1540 closed

[2019-11-20 10:27] dnil commented on #1488
More requests for this and similar panels: see https://github.com/Clinical-Genomics/scout/issues/1540 and #1497. 😄

[2019-11-20 10:29] mayabrandi commented on #1540
Okej

[2019-11-20 11:02] dnil commented on #1538
Yes, there is an issue here. When MIP (SVDB) merges individual ExHu runs into a family file, and subsequently MIP splits the multi allelic entries, things go wrong. I'll describe it in some more detail and transfer the issue to MIP. Thanks a whole bunch for noticing! Good job! :+1:

[2019-11-20 12:26] #1499 closed

[2019-11-20 13:16] northwestwitch commented on #1522
Looking at the source code of the demo case page for other reasons, and there are a lot of errors in the javascript code:
![image](https://user-images.githubusercontent.com/28093618/69241946-257f6400-0ba0-11ea-8bd7-20df5b96fb0a.png)

We should definitely handle the absence of chromogram tracks tracks better..

[2019-11-20 13:26] northwestwitch commented on #1488
@mayabrandi the easies way to add the scroll would be using the overflow class of Bootstrap : https://getbootstrap.com/docs/4.3/utilities/overflow/

[2019-11-20 15:11] #1500 closed

[2019-11-20 15:11] #1507 closed

[2019-11-21 07:25] #1534 closed

[2019-11-21 09:23] #1494 closed

[2019-11-21 10:18] henrikstranneheim opened #1542 "Causatives not found in the causative list"
I cannot find the causative variant in ADK from case : https://scout.scilifelab.se/cust003/1
which is set as casuative on the case page.

However, it is not show here: https://scout.scilifelab.se/cust003/causatives

[2019-11-21 10:33] northwestwitch commented on #1542
You're right, it's not there, bug!

[2019-11-21 10:45] dnil commented on #1542
Is it in the events, and on a reasonably modern format? It’s very old.. I remember when MB was working on it. :D Possibly old enough to have been merged from an old no longer existing user...

[2019-11-21 11:19] northwestwitch commented on #1542
This could be solved in a combo with #1532

[2019-11-21 13:41] northwestwitch commented on #1542
I might have understood why the variant doesn't show among the causatives.
If you search in all events associated to that case, that variant, you 'll find these 4:

![image](https://user-images.githubusercontent.com/28093618/69342177-4496f800-0c6b-11ea-96dd-9145ac445957.png)

If you look at the associated "verbs" (will explain the event action):
- 2 variant pins
- 1 acmg classification
- 1 validat

[2019-11-21 14:17] northwestwitch commented on #1542
Tried to "reset causative" for the variant and then "mark causative" it again and it shows among the causatives. It's not really a bug, but we should definitely check in how many cases this is happening. A custom script would do!

[2019-11-21 14:24] bjhall opened #1544 ""scout update omim" not working"
Worked a few weeks ago... I don't have time to debug this at the moment. If no one else cares about this I will take a look at it next week!

[code]

[2019-11-21 14:37] northwestwitch commented on #1544
I can confirm the bug. I've tested the command on our stage environment and on a local instance and I get exactly the same error!
We'll try to fix it ASAP! Thanks @bjhall!

[2019-11-22 09:08] northwestwitch commented on #1544
I'll try to fix this today!

[2019-11-22 09:46] northwestwitch commented on #1544
It might actually take some more time, because after some attempts my omim key has been blocked, and instead of the definitions I get this message `This data account exceeded its download cap, please contact us at https://omim.org/contact if this is an issue`

[2019-11-22 09:59] dnil commented on #1544
We should keep a backup key...

[2019-11-22 10:34] northwestwitch commented on #1544
Why should I have a backup one when I can get the one of Måns or yours? ;)

[2019-11-22 10:59] dnil commented on #1544
Mine is expired -  I need to renew, but why should I when I can just use Måns’. X-)

[2019-11-22 11:09] northwestwitch commented on #1544
@moonso you should ask for 10 Kr for each time someone uses it!

[2019-11-22 11:11] moonso commented on #1544
Haha yes you can always hire mine

[2019-11-22 12:02] mayabrandi commented on #1497
witch table/tables are you referring to here? @dnil @northwestwitch

[2019-11-22 12:15] northwestwitch commented on #1497
Gene panels could also be scrollable if there's many panels:
![image](https://user-images.githubusercontent.com/28093618/69424711-9aca7080-0d29-11ea-9a93-9e29e3385489.png)

compound variants could be also scrollable, see here: https://scout-stage.scilifelab.se/cust003/18069/24874c4fbc5cfad98ff06c6fbf1397c7

Transcripts could be a long list, for instance this one: https://scout-stage.scilifelab.se/

[2019-11-22 12:24] dnil commented on #1497
Exactly; looks like it is called "Transcript overview".

Then we need to do something about the Gene panel view on the variant page:
![Screenshot 2019-11-22 at 13 21 58](https://user-images.githubusercontent.com/758570/69425441-25f83600-0d2b-11ea-9a39-64a4948786bc.png)
Not sure making that scrollable is the best, but it does take too much space for its prime position now.

[2019-11-22 12:29] mayabrandi commented on #1497
More or less, wherever lists seem to get long? Maybe set overflow and max-witdth on all lists at least?

[2019-11-22 12:34] northwestwitch commented on #1544
@bjhall the problem is that they changed a column header in the genemap2 file. "Mim Number" was changed to "MIM Number"

[2019-11-22 12:56] #1544 closed

[2019-11-22 13:11] northwestwitch commented on #1542
I'm going to work on this script now, let's see how many causatives we are missing!

[2019-11-22 13:18] henrikstranneheim commented on #1542
What a cliffhanger!! Fingers crossed for very few 😄 !

[2019-11-22 14:59] northwestwitch commented on #1542
Ok, I've got the number, do you want to guess?

[2019-11-22 15:05] northwestwitch commented on #1542
1	cust003	15105	ea51a856847afc48446cdeea47dbbc9c
2	cust003	16123	206f689540587bf50a6b273bb9cfa045
3	cust003	16121	6a83f96e6017c22f29d3b8696120f58c
4	cust003	16120	88992bbe1a063df4524730a24bf214e7
5	cust003	15040	cfd18ce75692ed04e453deb1f3bf4683
6	cust003	208	27c01100a5c7686570e63141627f9067
7	cust002	F0005865	20bcd8dd9ff089381a68d3c16eb53647
8	cust002	F0005002	34b08f6265327ef8311ae3c053f5e36d
9	cu

[2019-11-22 15:13] henrikstranneheim commented on #1542
Ok, great work. I will go in and manually set them again and then you can redo the test.

[2019-11-22 15:20] henrikstranneheim commented on #1542
Done

[2019-11-22 15:33] northwestwitch commented on #1542
I'll re-run the script later from home to confirm that i don't pick any one more!

[2019-11-22 18:12] northwestwitch commented on #1542
The script didn't return any missing causative, you fixed them all @henrikstranneheim! 👍
Closing the issue!

[2019-11-22 18:12] #1542 closed

[2019-11-23 11:25] dnil commented on #548
Do we have a full or partial auto-classification for this scheme now as well? Otw the manual version is now ready for review, just a couple of months later - or years, depending on how you view it.. 😅

[2019-11-23 11:36] hassanfa commented on #548
We do have a partial one, just some 🐍 script to do that. Ill put it somewhereon GitHub soon ™

[2019-11-23 11:37] hassanfa commented on #548
But if someone else a more stable one, please do share it as well. 🤣 My classification code is ancient

[2019-11-26 07:26] mayabrandi commented on #1488
Ill close this one. Soved by #1546

[2019-11-26 07:26] #1488 closed

[2019-11-26 09:48] northwestwitch commented on #1243
@mayabrandi this one!. Mosaic tag needs to be removed from a variant page:
![image](https://user-images.githubusercontent.com/28093618/69618391-1e41d580-103a-11ea-8f62-abca1c52e9b5.png)

[2019-11-26 09:49] northwestwitch commented on #1243
If @moonso hasn't started with this yet!

[2019-11-26 09:59] moonso commented on #1243
No I have not!

[2019-11-26 10:21] mayabrandi commented on #1243
I added a pr for this. #1551

[2019-11-26 14:44] northwestwitch commented on #1528
I can work on this if you haven't started yet @moonso

[2019-11-26 14:59] #1532 closed

[2019-11-26 15:15] #1243 closed

[2019-11-26 15:45] #1528 closed

[2019-11-26 15:54] dnil commented on #864
Good to do together with #988!

[2019-11-26 16:03] dnil commented on #1322
Does this also have corresponding MIP / CG issues already?

[2019-11-26 16:05] henrikstranneheim commented on #1322
MIP does not do the madeleine pedigree pics, but cg does

[2019-11-26 16:11] dnil commented on #1497
It is still there, and appears after a short term of use. Try scrolling rapidly through cases for an institute with many cases on stage.

[2019-11-26 16:15] dnil commented on #1497
Sorry, that might have seemed a very obvious note during the meeting. On the variants page, when a variant touches multiple genes, they get printed without indication there are more than one there:

<img width="528" alt="Screenshot 2019-11-26 at 17 11 47" src="https://user-images.githubusercontent.com/758570/69651260-16048d00-1070-11ea-853c-dba786108ae1.png">

Compare e.g. the SV variants view:

<

[2019-11-26 16:17] dnil commented on #1497
Agreed! :+1:
But, perhaps we could fix the dropdown to be more to size while we are looking at it, otherwise it's kind of hard to tell:
<img width="507" alt="Screenshot 2019-11-26 at 17 15 26" src="https://user-images.githubusercontent.com/758570/69651559-90cda800-1070-11ea-8397-aa62fd7442b2.png">

[2019-11-26 16:21] dnil commented on #1497
So this is weird for admins / all institutes on the second tab:
<img width="1097" alt="Screenshot 2019-11-26 at 17 17 34" src="https://user-images.githubusercontent.com/758570/69651743-d7bb9d80-1070-11ea-8d98-3020d1e36c1b.png">

When e.g. on the third tab:
<img width="668" alt="Screenshot 2019-11-26 at 17 18 57" src="https://user-images.githubusercontent.com/758570/69651811-f15ce500-1070-11ea-944a

[2019-11-27 08:59] #548 closed

[2019-11-27 09:08] northwestwitch commented on #1461
I'm going to work on this now!

[2019-11-27 13:43] dnil commented on #1394
This is also a general issue with the way delayed file reads are handled. Consider e.g. batch loading research vcfs after some time.. It may have worked when loading each case yams originally, but now you will have to cd back to the each directory where the load was working relatively..

[2019-11-27 13:57] dnil commented on #548
Meh, for all those tests there was still one more place; the case page also calls the tier_cell macro for pinned variants.. I'll fix it in a related PR: I'm touching it when working on showing clinical assessments on the research page..

[2019-11-28 09:45] 47KW opened #1557 "OMIM link"
Hello,
sorry if already known issue, but.....
the link between gene and OMIM seems to lack certain phenotype.
example shows GRN that lacks FTD (Frontotemporal lobar degeneration with ubiquitin-positive inclusions) which is rather important.....
https://scout.scilifelab.se/cust002/F0032561/baf04eeea08df797a7e7907d1e44c3f6

[2019-11-28 09:58] dnil commented on #1557
Yep, something is currently wrong with that particular display. The correct data is in the db, as seen e g on the gene page:
<img width="1659" alt="Screenshot 2019-11-28 at 10 56 15" src="https://user-images.githubusercontent.com/758570/69796190-dbb10200-11cd-11ea-869f-0dccb22c7fe7.png">

[2019-11-28 10:01] dnil commented on #1557
..and the HPO to gene map seems intact. Good. We'll look into it - thank you for the report!

[2019-11-28 10:05] dnil commented on #1557
Actually *no* diseases show up on the variants - tooltip version of that list, although it should be recent enough:
<img width="167" alt="Screenshot 2019-11-28 at 11 02 09" src="https://user-images.githubusercontent.com/758570/69796684-b8d31d80-11ce-11ea-943d-a39a187fc442.png">

[2019-11-28 10:40] dnil commented on #1557
This is either just a case of lagging local updates to the disease term collection, or possibly an error with parsing genemap2 from OMIM - they did change some things lately..  At least the gene in question is missing from the db. I'll test updating the collection locally and see if the corresponding phenotype is parsed correctly.

[2019-11-28 11:05] dnil commented on #1557
Local gene/disease updates are not operational. It seems there are some issues over at ENSMBL at the moment. They were down earlier today, and now appear intermittent. We will get back to you as soon as the smoke clears over there!

[2019-11-28 12:13] henrikstranneheim opened #1559 "Wrong date on local observations archive"
For a recently uploaded case the date should be "2019-11-04" instead of "2017-05-31". Questions is if this is parsed somewhere or hardcoded (most likely)?

[2019-11-28 12:22] northwestwitch commented on #1559
Ahem..

![image](https://user-images.githubusercontent.com/28093618/69805978-29376a00-11e2-11ea-9e0d-063ea6a3dadd.png)

[2019-11-28 12:23] dnil commented on #1559
<img width="561" alt="Screenshot 2019-11-28 at 13 19 34" src="https://user-images.githubusercontent.com/758570/69805822-cf36a480-11e1-11ea-870f-b508110ab2d5.png">

🤣 I won't ask why this is so, but let's fix it. Is meaningful data (date, max alleles, max cases) exported in any file?

[2019-11-28 12:23] northwestwitch commented on #1559
Hahahaha exactly!!!

[2019-11-28 12:23] dnil commented on #1559
🤣

[2019-11-28 12:29] northwestwitch commented on #1452
What about this one @mayabrandi ??

[2019-11-28 12:31] dnil commented on #1557
<img width="865" alt="Screenshot 2019-11-28 at 13 30 15" src="https://user-images.githubusercontent.com/758570/69806508-50db0200-11e3-11ea-83f7-c848a4a81370.png">

Still no luck..

[2019-11-28 13:49] northwestwitch opened #1560 "dashboard page crashes when slice query returns no cases"
try to generate charts querying for ANY weird string