[2014-10-10 09:09] robinandeer opened #1 "Simple to load any VCF"
New class that can load general VCF files and serve as a MongoDB backend API.

The focus is first to provide demo data for the MVP.

[2014-10-10 09:10] robinandeer opened #2 "Display all parameters/tools needed to reproduce the analysis"
Make sure all the data is somehow stored in the database.

[2014-10-10 09:28] robinandeer opened #3 "GitHub workflow"
How do we work against the central GitHub repository?

We at Clinical Genomics are planning to use something called **GitHub Flow**: http://opensource.scilifelab.se/software-development/version-control/github/

[2014-10-10 09:32] robinandeer opened #4 "Restricting access"
Access to VCFs will be restricted based on "institutes". My idea would be to couple institutes to uploaded VCFs (or families). This way, we don't impose access restriction on the core product but only when you include the user management component.

[2014-10-10 09:45] robinandeer opened #5 "Display a list of samples (VCFs, families)"
The core of Scout will be built around a VCF visualizer interface.

Initially this will be built to provide core functionality that will be extended later.

This component will always exists as part of the overall Scout project.

Q: Would it be weird to rename families to cases? No...

[2014-10-10 13:13] robinandeer opened #6 "Setup testing"
Once the MVP is complete we should move to more proper development and keep testing and peer review in mind.

TravisCI is a continuous testing tools with GitHub integration. Coveralls is tied into Travis and calculated test coverage which is reported back to the repo as a comment on pull requests.

- [ ] TravisCI
- [ ] coveralls.io
- [ ] https://pythonhosted.org/Flask-Testing/

[2014-10-10 13:16] robinandeer opened #7 "Setup Vagrantfile + provisioning"
To work effectively as a team we need some way to synchronise our development setups. Vagrant seems like the perfect tool to accomplish this. It's also nice for people that would like to try out the project to be able to install all dependencies like MongoDB without messing with their local environment.

We will setup a Vagrantfile with Ansible provisioning to get all collaborators up and going qu

[2014-10-13 07:02] robinandeer opened #8 "Variant JSON best practises"
This is what I would like to see when it comes to a variant entry delivered to the Scout server interface.

[code]

**Edit: this is a work in progress - I will update this comment as we discuss what the structure should look like.**

Edit 2: Changed intention to exclude how data is stored in Mongo.

[2014-10-13 08:14] robinandeer opened #9 "Thoughbot conventions"
I think @thoughbot has excellent [development conventions](http://playbook.thoughtbot.com/) and [guides](https://github.com/thoughtbot/guides) that we should more or less copy-paste or reference to.

Please read and attain enlightenment :sunrise:

[2014-10-13 08:20] robinandeer opened #10 "Frontend assets and compilation"
Flask can compile assets using Flask-Assets but not much else. The plan is therefore to integrate Node.js based solutions for added features like live reloading, CSS injection etc.

The solution needs to be able to compile at least SCSS and CoffeeScript. It needs to enable live reloading features including CSS injection.

The initial plan is to rely on Gulp and BrowserSync.

Study the SCSS structu

[2014-10-14 07:29] robinandeer opened #11 "Software overview"
It would be great to have an up-to-date overview of the project and the server. Perhaps a mindmap would work.

![img_20141014_092814](https://cloud.githubusercontent.com/assets/1220232/4625279/1e5bd008-5374-11e4-8765-d638fd7d8f3d.jpg)

Edit: **This should also an effort to kickstart the Documentation so that it's setup in a way that enables quick iteration. The base structure should be in place fo

[2014-10-16 07:31] robinandeer opened #12 "Base class backend adapter"
Write a base class that defines the interface with a backend; VCF, Mongo etc.

Write it as a Flask extension with `init_app` etc.

[2014-10-17 07:44] moonso opened #13 "Allow to start scout without mongodb"
We should allow the user to start scout without an existing mongodb.
In this way we could just start with a simple vcf-viewer with the same frontend.

[2014-10-17 07:46] #3 closed, assigned to nobody

[2014-10-17 07:51] moonso opened #14 "How to handle config files?"
Since the config file is central to all parts of scout i think we should store them in a folder directly in the base of the scout package named configs.
Here we can have some different versions, from a minimal all the way up to the the one used for fully annotated vcf:s.
I make one example on my feature and see what you think.

[2014-10-21 08:04] robinandeer opened #15 "Documentation"
One of the most important points of the project will be to continually document new parts added to the project. It should be a hard requirement that anything new added to the repo also much touch the documentation in some way.

In the end we should also start thinking about some way to compose a usage manual that could be distributed to users.

Reading material:
http://jacobian.org/writing/great-d

[2014-10-29 06:38] robinandeer opened #16 "Roadmap"
Just rough without deadlines.

[2014-10-30 07:13] robinandeer opened #17 "Landing page"
The default view that all users who aren't logged in will arrive at. This page is also known as a "splash page". It's main purpose is to introduce potentially new users to the website. It's important that it provides a clear call to action, commonly with a big button for signing in/up.
- [x] Tagline
- [x] Logo
- [x] 2-3 sentence summary
- [x] 4 key features that sets Scout apart
- [x] Call to acti

[2014-11-04 06:58] robinandeer opened #18 "Frontend framework"
I think we will eventually need some kind of abstraction layer for frontend JS stuff. What this layer is I don't know but I have a preference for something that allows us to write separate components that allow part of the page to be interactive and others that are static.

From this there are two main contenders; Polymer and React. They are both similar in their approach to web development but ha

[2014-11-05 06:39] robinandeer opened #19 "Database schema"
Tool to draw the schema
https://editor.ponyorm.com/user/robinandeer/movie_logbook#

[2014-11-06 06:13] robinandeer opened #20 "Deployment"
After the MVP is complete.
- [ ] Feature Flags https://flask-featureflags.readthedocs.org/en/latest/

[2014-11-06 07:40] robinandeer opened #21 "User management and login"
Scout needs some way to manage users with different roles and belonging to different sub-projects.

It should be simple to author (CRUD) users. We therefore need an admin interface (Flask-Admin).

We need to loosely couple Users with Comments/Activity records and the login procedures.

[2014-11-06 07:44] robinandeer opened #22 "Basic Flask structure"
We need to make up out own conventions about how to structure the Flask server. What extensions to use, how to structure the folders, etc.

A core goal should be to decouple at least each blueprint as much as possible. Always think in terms of APIs. Janking out a Blueprint shouldn't mess up to much of the rest of the app.

To get a rough idea I will model the conventions after however GitHub has s

[2014-11-06 13:36] #12 closed, assigned to robinandeer

[2014-11-07 09:36] #22 closed, assigned to robinandeer

[2014-11-07 09:40] #19 closed, assigned to nobody

[2014-11-07 09:43] #17 closed, assigned to robinandeer

[2014-11-07 09:45] #15 closed, assigned to nobody

[2014-11-07 09:53] #9 closed, assigned to nobody

[2014-11-07 09:54] #7 closed, assigned to nobody

[2014-11-07 09:55] #5 closed, assigned to nobody

[2014-11-07 09:56] #4 closed, assigned to nobody

[2014-11-07 10:37] #21 closed, assigned to robinandeer

[2014-11-07 14:21] robinandeer opened #23 "Get inheritance model from OMIM"
OMIM has a pretty decent free API.

To get the inheritance model for a disorder - do:

[code]

[code]

Perhaps we can write a simple Python API if we are going to get more information from there.

[2014-11-10 07:01] #16 closed, assigned to nobody

[2014-11-10 07:02] #18 closed, assigned to robinandeer

[2014-11-10 07:31] moonso opened #24 "Questions to Mats regarding MongoDB"
- Why use md5-keys? We can access the variants through the id chr_pos_ref_alt, but maybe there is something else you have thought about?

[2014-11-10 13:17] robinandeer opened #25 "Search/filter cases"
Page: cases.

The number of active cases will grow over time. At some point it will be necessary to filter (fuzzy match) cases.

Compare "Go to case": https://clinical-db.scilifelab.se:8081/#/cust002

To make this easy to use we need a client side approach. This is a good candidate case to see how easy it is to implement a custom Polymer component.

EDIT: clarified purpose.

[2014-11-10 13:18] robinandeer opened #26 "Comments and activity"
Many events should be logged on a case-by-case level generated by user actions.

- [ ] Case comments
- [ ] Variant comments
- [ ] Case activity feed (variants + case activity)
- [x] Open research list
- [x] Solving a case
- [x] Assigning a user to a case

[2014-11-11 14:00] moonso opened #29 "How to represent missing data in database"
How to handle missing data, for example if the variant is not present in a frequency database or if it is in a intergenic region. Should it be represented with `None` to show that we have actually looked for the entry?

I think it would be more easy to validate the analysis if we use default values for everything we searched for in the vcf.

[2014-11-11 14:15] #13 closed, assigned to nobody

[2014-11-11 14:16] #14 closed, assigned to nobody

[2014-11-12 15:22] robinandeer opened #30 "Enable SSL"
To run the app on clinical-db SSL must be enabled I think.

[2014-11-12 16:13] moonso opened #31 "Setup a database in mongo lab to allow for easy testing"
We should set up an instance of the database at [mongo lab](https://mongolab.com/) for internal and external testing of scout.

[2014-11-12 16:28] moonso opened #32 "Problems with multi allelic calls"
We should really think this one through. If we allow multiallelic variants it will be hard and ineffective to do searches in the database.
Imagine for example if we have apply a filter from the frontend where we remove all variants with a allele frequency > 0.01, how should we then filter a variant that have [0.05, 0.0001]? Same with caddscores, rank scores and many other things.
The indexes will

[2014-11-14 06:05] robinandeer opened #33 "Setup React (frontend framework)"
Polymer wasn't stable enough to continue with. It also didn't work well in browsers other than Chrome.

The most similar yet more mature alternative is React. It's a UI framework built by Facebook that many people are already in production. It has a focus on building separate components which I think fit in very well with  the idea of incrementally adding interactive region of pages.

This also me

[2014-11-17 08:10] #33 closed, assigned to robinandeer

[2014-11-17 08:10] #25 closed, assigned to robinandeer

[2014-11-17 08:10] #10 closed, assigned to robinandeer

[2014-11-18 14:21] robinandeer opened #34 "Go to next/prev variant"
Wouldn't it be nice to be able to walk through variants one at a time without returning to the variants list?

This functionality needs to be implemented in the frontend, server, and apater I think.

[2014-11-18 14:47] robinandeer opened #35 "Markdown service"
When editing markdown on GitHub, the string is sent back to the server to be converted to HTML. The JSON package is then inserted into the page without a page reload. This seems like a very nice solution to editing markdown in the synopsis e.g.

- [ ] Flask route to convert Markdown to HTML
- [ ] Vue component to interface with new Flask route

[2014-11-19 14:54] #20 closed, assigned to nobody

[2014-11-20 09:05] #30 closed, assigned to robinandeer

[2014-11-28 07:33] #1 closed, assigned to moonso

[2014-11-28 07:48] #2 closed, assigned to nobody

[2014-11-28 07:50] #8 closed, assigned to nobody

[2014-11-28 08:43] #24 closed, assigned to MatsDahlberg

[2014-11-28 08:44] #29 closed, assigned to nobody

[2015-01-26 09:27] #35 closed

[2015-01-26 09:27] #34 closed

[2015-01-26 09:28] #23 closed

[2015-01-26 09:28] #32 closed

[2015-01-26 09:28] #26 closed

[2015-02-24 10:39] robinandeer opened #39 "Store gene list id in "default_gene_lists""
It makes more sense to store the ID for the gene lists in ``default_gene_lists``. That way the filters will work really easy :smile:

//ping @moonso

[2015-02-26 09:22] robinandeer opened #40 "load_mongo not working"
Trying to load case 1 on clinical-db. Getting error related to ODM.

I already fixed and issue with calling "split" on a list:

[code]

[code]

[code]

[2015-02-26 13:14] robinandeer commented on #40
This was resolved by deleting the cases before loading the new data. It was probably cased by changes in the ODM.

[2015-02-26 13:14] #40 closed

[2015-03-02 09:54] robinandeer opened #41 "Ensembl gene ids not on gene level?"
Is there a reason why Ensembl gene ids aren't on the gene level in the ODM?

/ping @henrikstranneheim

[2015-03-02 10:26] robinandeer opened #42 "Sanger email format"
Generally how should it look, what should it include?

- [x] What do the clinicians want to display in the old "protein change" list?

[2015-03-02 10:29] robinandeer opened #43 "Gene description from VCF"
@henrikstranneheim wants to put gene description into the variant detail page. I can't find it in the ODM - what's the status?

[2015-03-02 14:43] moonso commented on #41
No I should change this

[2015-03-02 15:11] moonso commented on #41
Fixed.
Added ensembl_gene_id to Gene

[2015-03-02 15:11] #41 closed

[2015-03-02 15:15] moonso commented on #43
@henrikstranneheim  How is the Gene_description field annotated?
If there are multiple genes, is there anyway to see which description belongs to which gene?

[2015-03-02 19:32] henrikstranneheim commented on #43
Kenny should have removed all white space and commas from the original entries.

Overlapping genes will be separated by “,”, which have been added by MIP.

Let me know if you find any discrepancies.

On 02 Mar 2015, at 16:15, Måns Magnusson <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory
SE-17

[2015-03-02 19:52] ingkebil commented on #43
for the Gene_description, I replace the following with underscores ",:;>| "
See [this](https://github.com/Clinical-Genomics/GeneLists/blob/master/scripts/ensembl.py#L43) module for more details.

[2015-03-02 20:02] moonso commented on #43
How do we see which description that belongs to which gene if there are overlapping genes?

[2015-03-02 20:05] henrikstranneheim commented on #43
You are right that info is not there.

@Kenny: We need to update the lists to be HGNC_symbol:Gene_description.

On 02 Mar 2015, at 20:52, Kenny Billiau <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory
SE-171 65 Solna, Sweden

E-mail: henrik.stranneheim@scilifelab.se
Visiting address: Tometeboda

[2015-03-03 06:00] ingkebil commented on #43
@henrikstranneheim fixed. The list is available at its usual location.

[2015-03-03 06:28] robinandeer opened #44 "Make backend API more strict"
I need to go over my code and remove any direct references to the ODM. I also think we should discuss if code like this:

[code]

really belongs as a method in the ODM or fit better as a function call to the backend API?

[2015-03-03 08:18] robinandeer opened #46 "Functional annotation filter not working?"
Doesn't seem to filter when selecting a single func. annotation...

[2015-03-03 11:26] #39 closed

[2015-03-04 13:22] robinandeer opened #48 "List transcripts in Sanger email"
Parse transcripts and pull out:

gene, refseq, strand, exon, cDNA, Amino acid change

[2015-03-04 13:25] robinandeer opened #49 "Update summary box"
- [x] Change label "Matches expected inheritance model" to "Matches OMIM inheritance model"

[2015-03-04 13:27] robinandeer opened #50 "Base Ensembl link on genome build (Ensembl archive)"
Use the genome build from the case ODM

Or for now just assume build 37:
http://grch37.ensembl.org/Homo_sapiens/Transcript/Summary?db=core;t=ENST00000541550

[2015-03-04 13:53] robinandeer opened #51 "Add activity to variant detail page"

[2015-03-05 06:49] #46 closed

[2015-03-05 06:50] #42 closed

[2015-03-05 06:50] #43 closed

[2015-03-05 07:33] #48 closed

[2015-03-05 07:33] #49 closed

[2015-03-05 07:33] #50 closed

[2015-03-05 07:33] #51 closed

[2015-03-05 20:49] robinandeer opened #52 "Check out the "competition""
What can we learn from these impressive projects? How can we possibly work together?
- [ ] https://github.com/chop-dbhi/varify
- [ ] Solvebio: https://www.solvebio.com/variant-explorer/chr7:117199644-117199647:A
- [ ] https://github.com/macarthur-lab/xbrowse
- [ ] https://github.com/robinandeer/puzzle
- [ ] https://github.com/hammerlab/cycledash

[2015-03-12 03:32] dandanxu commented on #52
Hi there! Glad we made it on the list =). Please do check out our variant explorer! We're adding more data modules and a nifty search feature. We're also building some pretty visualizations for summarizing VCFs. Let us know if you'd be interested in working together - everything we make is designed to be modular, to fit into pre-existing pipelines.

- Dandan from SolveBio

[2015-03-13 09:57] robinandeer commented on #52
Hi @dandanxu!

Hehe, of course you made it on the list! From what I've seen so far SolveBio looks very impressive :smiley: Certainly miles away from the usual interfaces in the healthcare sector ^^

I'm trying to find more time to check out SolveBio and I would be very interested if seeing if we could work together, that would be awesome. I guess you are working on a commercial solution, but seein

[2015-03-13 10:24] ohofmann commented on #52
Will be following this interest. Robin, was going to reach out to you anyway as I'm in the process of evaluating CycleDash and your work (collaborating with Guillermo). More soon.

[2015-03-13 10:47] robinandeer commented on #52
Exited to hear that, @ohofmann! We have serious plans to make Scout a lot simpler to install and use by other developers and clinics. Count me in as intrigued.

PS. I dig your avatar :smile: DS.

[2015-03-18 10:25] robinandeer opened #53 "Writing INI files"
Hi @moonso!

I'm trying to create Scout config files on the fly. I can't seem to find a simple way to convert a ``dict`` to a ConfigParser object - do you know of any way?

[2015-03-18 12:03] moonso commented on #53
Hello!

It should be easy, try this:
[code]
[code]

[2015-03-18 13:12] robinandeer commented on #53
Tack! This seems to work :+1:

I forgot you had mentioned something about ``configobj``, hehe

[2015-03-18 13:12] #53 closed

[2015-03-21 16:02] robinandeer opened #54 "Scout depends on ped-parser==1.2.4"
As I'm writing the automation script for loading data into Scout I notice that it seems like ``load_mongo_db`` indirectly makes a call to:

[code]

... but this fails since the ``to_json`` method in the current release of ``ped-parser`` requires an argument ``outfile``. I've downgraded ped-parser in the mean time.

[2015-03-24 07:05] robinandeer opened #55 "Plan for a "third-party" API to Scout"
We should probably (during the next refactor) this about how to expose an API to Scout for other services to import. It would be good if we could use the same API internally as well. Mainly to extract data from the database I guess.

This will be in addition to the CLI "scouttools" but I think we should keep it Python native and perhaps just use it in the CLI interface.

Related to: Clinical-Genom

[2015-03-26 12:45] robinandeer opened #56 "Don't fail on missing madeline file"
Hi @moonso,

will you have time to look into this or should I try to fix it?

[code]

[2015-03-26 12:50] moonso commented on #56
I have not looked at it, please go ahead if you have time:)

[2015-03-26 13:36] robinandeer commented on #56
I saw you had already done something to this but I also made it so that pointing to a non-existent file doesn't give an error. Should probably log something in the future though...

[2015-03-26 13:36] #56 closed

[2015-03-26 14:51] robinandeer opened #57 "Reloading data"
Right now when I just rerun the load script for Scout, e.g. the case information will not be updated even if it's changed on the file system.

We need a clear path to reloading a case. Both taking into consideration possible new data as well as persisting comments and events and any other more temporary data.

Does the wipe script already offer this functionality?

[2015-03-30 12:02] robinandeer opened #59 "Rank score for compounds"
I'm getting an error when trying to run wipe and load:

[code]

@moonso: Did you remove the rank score property or what's happening?

[2015-03-30 13:09] #59 closed

[2015-03-30 13:34] robinandeer opened #60 "Nothing annotated in "exon" field for Transcript"
Error in Transcript ODM.
Question: What should I expect in this "exon" field? Does it make sense that it's ``None``? Should I account for that? What does it mean biologically?

[code]

[2015-03-30 14:06] robinandeer commented on #60
All of these variants have the problem:
https://clinical-db.scilifelab.se:8083/cust000/2014-04606fam/clinical?gene_lists=

[2015-04-01 06:09] moonso commented on #57
Ok I will look into reload case

[2015-04-01 07:20] moonso opened #62 "Guidelines for docstrings"
There are slight differences in how we write the docstrings.
Is there any guidleines for how we should write them?
For example:
Should we use 'Arguments', 'Args' or 'Input' when describing the arguments?

[2015-04-01 11:47] #60 closed

[2015-04-01 11:48] robinandeer commented on #62
I've been using the more readable (yet parseable by Sphinx) "Google docstrings":

http://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_google.html

[2015-04-01 12:42] moonso commented on #62
Perfect! I like readable lets try to follow this as much as possible.

[2015-04-01 12:46] #62 closed

[2015-04-04 17:41] robinandeer commented on #57
A new interesting case has come up. I've accidentally run MIP with incorrect institute tag. I noticed this after uploading to Scout. So what is the path to update a case such as that?

I was thinking of just changing MIP output and deleting the case manually from the database. Will that leave variants in the database that aren't tied to any case?

[2015-04-04 20:17] moonso commented on #57
We will need to develop scouttools in such a way that we can do
[code]
And delete the case and its variants. I can fix this soon.
I'm closing this issue and open a new one since #57 is solved.

[2015-04-04 20:17] #57 closed

[2015-04-04 20:19] moonso opened #66 "scouttools delete_case"
We should have a tool for deleting a case and all of its variants, like:
[code]

[2015-04-07 09:18] moonso commented on #54
This is fixed in #65

[2015-04-07 09:18] #54 closed

[2015-04-08 05:26] robinandeer opened #68 "Auto-display default gene lists"
This still doesn't seem to work as expected...

[2015-04-08 05:33] moonso opened #69 "Why refer to case from institute?"
Whe should not need this, the case in itself have all information that is necessary.
So when removing a case we do not need to update institutes, seems like a more mongodb way of doing it.

[2015-04-08 05:43] robinandeer commented on #68
I think I've located the issue to ``get_case.py``. It reads the default gene list(s) from a field "Clinical_db" which I've named "Clinical_db_gene_annotation"...

We should decide if we want to read this type of case-level information from the pedigree file in the future or the standard Scout INI-config. What do you think @moonso?

[code]

I believe the downstream processing should work as long as

[2015-04-08 05:56] moonso commented on #68
Ok, I think we should avoid to stuff things into the ped file as much as possible.
This is perfect for the scout config, right?

[2015-04-08 06:02] robinandeer commented on #68
I do agree!

What do you want to use for key in the config? "default_gene_lists"?

[2015-04-08 06:04] moonso commented on #68
sure thing!

[2015-04-08 06:06] robinandeer commented on #68
Now we just need to figure out how we are going to get it automatically into Scout... I guess I need to start interfacing with LIMS :disappointed:

[2015-04-08 06:07] moonso commented on #69
@robinandeer what do you think?
Would that cause any troubles for you?

[2015-04-08 06:08] moonso commented on #68
Haha we all knew that day would come...

[2015-04-08 06:09] moonso commented on #68
So I change this in the branch that I'm currently working on.

[2015-04-08 06:10] robinandeer commented on #68
Yes, I don't have to make any Scout changes for this anyways.

[2015-04-08 07:13] robinandeer commented on #69
No, not as long as you replace the field with an "institutes" property that asks the question to the database I guess :smiley:

[2015-04-08 08:38] moonso commented on #69
Where in the code do you get all cases for a institute?
Shouldn't this be a method in the mongo adapter?

[2015-04-08 08:48] robinandeer commented on #69
I think we should have a more in depth discussion around this for the refactor of the portable version of Scout.

But right now I just do:

[code]

Perhaps keep it similar to that for now? Even if it isn't ideal.

[2015-04-08 09:25] moonso commented on #69
What do you think of this:
[code]

[2015-04-08 09:33] robinandeer commented on #69
I can't speak for the MongoEngine implementation but the interface looks fine to me!

[2015-04-08 12:40] robinandeer opened #71 "Fixes"
- [x] Mark if case is assigned to anyone. In list of cases.
- [x] "requested research mode" (change text)
- [x] confirm before opening research mode
- [x] consider switching back to list of samples instead of pedigree (unless madeline option)

[2015-04-09 12:23] #71 closed

[2015-04-09 13:00] robinandeer commented on #66
Addressed in #70

[2015-04-09 14:01] #66 closed

[2015-04-10 08:24] robinandeer opened #73 "Error executing root cli function"
Click is raising an exception when running just ``scouttools`` on the command line without any subcommand.

[code]

[2015-04-10 09:49] robinandeer opened #75 "[not an issue] Logging is working great!"
... just look at this which comes from a *wrapper* module that calls into Scout functions.

[code]

Fantastic work @moonso!

[2015-04-10 10:45] moonso commented on #75
:) love logging

[2015-04-10 10:55] moonso commented on #73
Wow I have no idea about this. Maybe both of us can try to investigate it?

[2015-04-10 11:47] #75 closed

[2015-04-10 11:47] robinandeer commented on #73
Sure. We could maybe also report it to Click since they should provide a better error message when this happens.

[2015-04-10 12:24] moonso commented on #73
I can not reproduce this error locally

[2015-04-10 12:25] robinandeer commented on #73
How do you install Scout?

I do: ``pip install --editable .``

[2015-04-10 16:08] moonso commented on #73
[code]

[2015-04-13 05:20] robinandeer opened #76 "Rank score treshold for WGS samples"
How many variants from the clinical list is relevant to load?

When setting the rank score threshold to 0 I'm still loading > 38,000 variants and this is taking considerably longer than a normal WES case.

[2015-04-13 07:01] moonso commented on #76
Hmm yes this is a problem, I can only imagine how many that would go into research...
We need to discuss the treshold with @henrikstranneheim , meanwhile we can set it higher.
Maybe 7?

[2015-04-13 07:26] robinandeer commented on #76
Yes, I will try to build this into the automatic loader. The final variant number was around 54,000.

[2015-04-20 07:28] robinandeer opened #77 "Clarify: uploading the same case twice"
I just noticed an issue when you upload a case twice. The problem is I've used only the display name to get the case from the database and this is not guaranteed to be unique of course...

Let's see what how we solve this in light of the validation :confused:

[2015-04-20 08:29] robinandeer opened #78 "delete case fails on auth..."
I recognize this error from before... I don't know if you need to connect with MongoEngine in a special way to get admin access. I'm pretty sure I'm authenticating as an admin user.

[code]

I don't know what you think about the solution to just handle a non-existent database using "try/catch"? I think it's a little strange that deleting a case should require a superuser/admin - proper authenticat

[2015-04-20 13:09] moonso commented on #78
This was a problem with permissions right?

[2015-04-20 13:27] robinandeer commented on #78
Yep. It's when the script tries to access the list of all databases on the database server that you get the permission error.

[2015-04-27 07:09] robinandeer opened #79 "Previous variant fails"
For some reason two variants are returned in the query the is supposed to fetch the "previous variant".

So this query for example returns two documents:

[code]

This doesn't make any sense of course - do you know what could've happened? Is it perhaps due to a reload of updated variants?

EDIT: both variants have the same "variant_type"

[2015-04-27 07:20] robinandeer commented on #79
Does the load mongo function delete old variants from the database before reloading?

[2015-04-27 07:26] robinandeer commented on #79
For reference:

[code]

[2015-04-27 08:47] moonso commented on #79
Ok, I'm on parental leave today but will have a look asap

[2015-04-27 08:59] robinandeer commented on #79
Super - but take you time - I can solve it manually for now :smiley:

[2015-04-27 09:13] robinandeer commented on #79
No, actually I don't - perhaps we should add another "created_at" field to each variant document?

[2015-04-27 09:17] moonso commented on #79
Exactly what I was thinking:)

[2015-04-28 08:00] robinandeer opened #80 "Display absolute dates for latest upload in cases list"
This is easier to interpret

[2015-04-28 08:17] moonso commented on #79
Ok so we will allways wipe the variants when we upload a case

[2015-04-28 08:23] robinandeer opened #81 "Persist variants query in variant view"
- [ ] Communicate to users

EDIT: updated goals for "feature"

[2015-04-29 08:11] robinandeer opened #82 "Handle incorrect OMIM phenotype entries"
We've had a few issues with weird OMIM phenotype entries lately. The same line is affected in ``get_genes.py``. See below.

It might be OK to quit the import but we should be defensive and log a more informative error/exception.

It might also be worth discussing weather we should try to do a rollback and remove already uploaded if the upload fails for some reason?

[code]

[2015-04-30 08:54] moonso commented on #82
Yes you are right about the rollback..
Hmm maybe we should accept this and just log warnings?

[2015-04-30 09:07] robinandeer commented on #82
Maybe, but it's more of academic reasons since @ingkebil has implemented a fix to make sure it doesn't happen in the gene lists anymore

I did notice a noticeable slowdown of the loading when I put this block in there though...

[2015-05-04 19:03] moonso commented on #73
Is this still a problem?

[2015-05-04 19:07] robinandeer commented on #73
I'm not sure but let's not worry about it now and get back to it if we notice it again!

[2015-05-04 19:07] #73 closed

[2015-05-06 07:07] #68 closed

[2015-05-06 07:08] moonso commented on #55
This will happen in the portable version

[2015-05-06 07:09] moonso commented on #44
This is something for the portable version

[2015-05-06 07:11] moonso commented on #6
I've started to do this in the portable version where I think everything should be tested.
To avoid duplication of code as much as possible we can wait with this in Scout

[2015-05-06 07:15] moonso commented on #76
Was 54000 with rank score treshold of 7?

[2015-05-06 07:16] moonso commented on #76
I will create some plots for distribution of rank scores and post them here so that we can choose what treshold that is reasonable

[2015-05-06 07:25] moonso opened #83 "Comments should be moved to own collection"
There seems to be a need for moving the comments to it's own collection.
I will post an API of how these will look here.
We need to discuss if variant comments will disapear when a case is reloaded or how it should be handeled.

[2015-05-06 07:38] moonso opened #84 "Allow search by position"
Is it possible to allow searches by position?
Questions like the following should work:

[code]

[2015-05-06 11:15] robinandeer opened #85 "Which database a gene belongs to should be visible when in variant view"
Show list of all databases a gene/variant belongs to

Reason: All or nothing unless we do something custom, adding complexity

[2015-05-06 11:19] robinandeer opened #86 "Move comment field in variant view"
CMMS:
Variant comments field should be moved higher up in the variant view – beside Summary and Conservation fields.

[2015-05-06 11:21] robinandeer opened #87 "Compounds field should be moved above the fields Genes, Transcripts, Proteins"

[2015-05-06 11:23] robinandeer opened #88 "Same or more detail on variant level frequencies (decimals)"
Now there is more detail on the variants list than in the variant detail page.

[2015-05-06 12:08] robinandeer opened #89 "Some PDF reports not linked correctly"
[code]

[2015-05-06 12:11] robinandeer opened #90 "Re-upload of case has created conflict in the database"
Perhaps we should add a check in the ODM to make sure the rank for variants are unique?

[code]

[2015-05-06 12:13] robinandeer opened #91 "Unknown error when deleting an activity"
[code]

[2015-05-06 12:14] robinandeer commented on #89
From CMMS:

[2015-05-06 13:17] robinandeer opened #93 "Case status"
- Show the status in the list of cases
- Should be able to set the status by anyone
- Archived means the case should be removed
- Group the cases in the list based on status with inactive on top, then active, etc.

[2015-05-06 13:26] dnil opened #94 "IGV view would be lovely"
Title says it all. ;-)

[2015-05-06 13:30] moonso opened #95 "Update Clinical filter"
What should be included in the clinical filter?

[2015-05-06 13:37] moonso opened #96 "Add link to CLING. FIXED"

[2015-05-06 13:43] moonso opened #97 "Show Change instead of Amino Acid in transcript overview"
Show cdna if no amino acid change

[2015-05-06 13:45] moonso opened #98 "Show penetrance if shown"

[2015-05-06 13:47] moonso opened #99 "Create a Scout mailing list"
Send mails for planned downtime

[2015-05-06 13:59] dnil opened #100 "HGVS naming"
At low priority, returning normalized variant names might be interesting. See e.g. https://mutalyzer.nl

[2015-05-06 14:06] dnil opened #101 "Variant Rank Scoring scheme customizations"
E.g. we would be interested in prioritizing frameshift indels higher than the current model - which is otherwise wonderful.

[2015-05-06 17:24] robinandeer commented on #88
Use the same format and number of decimals as in the variants list.

[2015-05-06 18:26] vwirta commented on #99
This could also be used when we notice that the service is down are unable to bring it back online in short time.

[2015-05-07 12:19] robinandeer commented on #99
I've been looking for a reason to build a Twitter bot, hehe

[2015-05-07 12:20] robinandeer commented on #95
Suggestion from CMMS to include splice donor and acceptor sites

[2015-05-07 12:28] ingkebil commented on #99
Ah, twitter bot! Somehow that idea makes me happy :+1:

[2015-05-08 08:04] robinandeer opened #102 "Reintroduce gene inheritance model"
- [x] Add gene level inheritance model (CMMS gene) @ingkebil
- [ ] OMIM phenotype (rename) @robinandeer
- [x] Pick this new annotation up and populate database @moonso

@vwirta: can we change this in Scout and MIP (very minor changes) and call it bugs that don't require a re-validation?

[2015-05-08 08:16] robinandeer opened #103 "Enable global (institute level) and case level variant comments"
@moonso: What do we need to include in the new comment document model?

- [x] Implement two buttons (global/case) when writing comments
- [x] Mark global comments specifically
- [x] Mark old comments if the upload date is newer than comment date

[2015-05-10 18:38] robinandeer opened #104 "Add link to SNPedia"
This seems like a very nice resource to add a link out to from the variant page!

Do you think the clinicians you use it?
ping: @moonso @henrikstranneheim

Example:
http://snpedia.com/index.php/Rs1234

[2015-05-10 19:42] ingkebil commented on #102
Fixed the GeneLists.
Just holler when I can update them in _references_.

[2015-05-11 08:56] henrikstranneheim commented on #104
We can always add it and see what they think.

On 10 May 2015, at 20:38, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se
Visiting address:
Science for Life Laboratories - SciLifeLab
Gamma building
Tomtebodavägen 23A
Delivery address:
Scien

[2015-05-18 08:49] dnil commented on #100
I note that the mutalyzer site has a http+JSON interface: https://mutalyzer.nl/webservices
That might make it more interesting.

[2015-05-18 09:54] robinandeer opened #105 "Consider adding coverage reports as PDF blobs to database"
This would make it more portable and robust.

[2015-05-19 09:03] moonso commented on #83
This is now prepared.
Comments look like:
[code]

[2015-05-19 09:03] #83 closed

[2015-05-19 09:04] moonso commented on #79
We know the issue and the variants are wiped in #92

[2015-05-19 09:04] #79 closed

[2015-05-19 09:07] moonso commented on #81
Do you have an idea for how to solve this one?

[2015-05-19 09:12] moonso commented on #82
Is there a decision on this one? Should scout upload fail?

[2015-05-19 09:14] moonso commented on #86
There was an agreement on that comments should be displayed in the top of the variant view.

[2015-05-19 09:16] moonso opened #106 "Alert in variant list if there are comments for a variant"
We should add a small symbol in the variant list that indicates that a variant has comments.

[2015-05-19 09:17] moonso commented on #87
This was also decided on meeting 13/5 so I remove "under discussion" tag

[2015-05-19 09:18] moonso commented on #89
Where is the problem? Backend?

[2015-05-19 09:19] moonso commented on #90
This is caused by the same problem as #79

[2015-05-19 09:19] #90 closed

[2015-05-19 09:21] moonso commented on #95
Was this concluded?

[2015-05-19 09:25] moonso commented on #101
I will define a API for how different institutes can modify there rank score models

[2015-05-19 09:26] moonso commented on #104
Yes I think we should add it!

[2015-05-19 09:28] moonso commented on #105
Should we do this now?
This relates to #89 i guess...

[2015-05-19 09:33] moonso commented on #76
We should consider to set a count treshold instead..

[2015-05-19 09:34] #77 closed

[2015-05-19 10:39] nicolelesko commented on #95
Looks like nobody else is interested in commenting.  Maybe if you implement it you will get some reaction!  All of the CMMS users are in favour.

[2015-05-19 11:10] moonso opened #107 "Add detailed variant frequencies"
We should include frequencies for different populations on variant level when it exists.
Also there has been a discussion to use the highest frequency among all populations when scoring since if the varaint is common in any population it should not be disease causing.

Input from clinics?

[2015-05-19 13:43] nicolelesko opened #108 "Coverage report for family 156"
Can we get a coverage report for this family?  For some reason it is not working.

[2015-05-19 14:51] dnil commented on #107
Agree.
Likely not disease causing for a high-penetrant rare monogenic. Although different genetic backgrounds could add complication, this is common practice, and the preferred mode in the ACMG guidelines: e.g. BS1 - strong benign support - is tagged when >5% is observed any subpopulation.

[2015-05-19 14:57] dnil commented on #95
I would guess no comments due to agreement? To me, these are of the highest importance among splice variants, and easiest to interpret. This seems the correct setting for a quick filter, with splice site predictors not being exactly what they should be.

Before actually going as far as answering out a sample as without abnormal finding, one may do well in checking also a few more nucleotides into

[2015-05-20 07:39] 4WGH opened #110 "fam41"
I can not access to family 41. I get a server error message ;)

Michela

[2015-05-20 20:08] robinandeer commented on #81
Well, I'll think about it a little and decide if it's possible to include in the next release

[2015-05-20 20:14] robinandeer commented on #82
For this particular issue I think we can just exclude the problematic annotations

For other, unexpected, issues I think it would be nice to develop a rollback feature :+1:

[2015-05-20 20:18] robinandeer commented on #106
Do you need to implement something in the adapter for this?
Can I just run ``.count`` on the comment query?

[2015-05-20 20:20] robinandeer commented on #89
I'm not quite sure so I should look into this and get back to you...

[2015-05-20 20:24] robinandeer commented on #105
I think the files are small enough so it should work
It will solve problems related to #89, yes
Look into it if you have time!

[2015-05-20 20:24] robinandeer commented on #76
I don't mind either way :smile:

[2015-05-20 20:25] robinandeer commented on #77
I've fixed this but I should also start using the adapter more explicitly

[2015-05-20 20:28] robinandeer commented on #110
This has now been fixed in the latest hotfix - please try again @4WGH!

[2015-05-20 20:28] #110 closed

[2015-05-21 05:55] 4WGH opened #112 "fam 41- incorrect sample number"
now I can access  to fam 4, but the sample IDs in the "GT call" window are incorrect. The pedegree fig is also at some extend incorrect even if the 2 sample ID are correct.

Michela

[2015-05-21 06:36] robinandeer commented on #97
Does this mean I should sometimes show cDNA and other times Amino acid change?

[2015-05-21 06:58] moonso commented on #82
Ok let's handle it that way for now.

[2015-05-21 07:01] moonso commented on #106
Well I was thinking about it.
One way could be that the adapter add events to the variants/cases. In that way it will almost look like it did before so yaou can do:
[code]

[2015-05-21 07:03] moonso commented on #89
Ok

[2015-05-21 07:12] moonso commented on #105
Do you have any idea how this should be done.
It is not possible to just read a PDF right?

[2015-05-21 07:15] moonso commented on #112
Ok is it family 4 or 41?
We eill look into this.

[2015-05-21 07:17] moonso commented on #97
Yes, everytime ther is no amino acid change (when outside exons) we should show cDNA change.
So the name of the column should be "Change" or something..

[2015-05-21 07:29] 4WGH commented on #112
41,
MichelaMichela Barbaro, M.Sc, PhDSjukhuskemistCentrum f�r Medf�dda Metabola Sjukdomar (CMMS)L7:05Karolinska Universitetssjukhuset Solna17176 Stockholm-----M�ns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Fr�n: M�ns Magnusson <notifications@github.com>Datum: 2015-05-21 09.15Kopia: 4WGH <michela.barbaro@karolinska.se>�rende: Re: [sco

[2015-05-21 07:35] dnil opened #113 "Odd amino acid level variants"
2015-03740fam

SGCA stopgain c.675C>T(p.%3D)

Verkar vara en stopgain i ett NMD transkript; synonymous i alla användbara transkript. Vore bättre klassad i översikten som synonymous, vilket också är allt man ser i "transcript view". Men, hur eller hur så blev det lite fel på hur (p.=) visas. Gäller åtminstone Safari.

[2015-05-21 07:49] robinandeer commented on #97
One more question - should this be on variant or transcript level?
Like determine if the variant is exonic in some transcript or *per* transcript?
Should I use the "biotype" if I do it per transcript?

[2015-05-21 08:02] robinandeer commented on #80
What level of detail is needed? Just the date or some kind of time included?

[2015-05-21 08:10] henrikstranneheim commented on #97
On transcript level, but I only for RefSeq transcripts (@Måns: Correct me if I am wrong).

How about calling the column “HGVS Description”. It is after all what we are displaying, be it on cDNA or protein level.

On 21 May 2015, at 09:49, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Labor

[2015-05-21 08:15] henrikstranneheim commented on #113
This is because “=“ is not allowed in the vcf except for key value pairs. VEP recodes the “=" as the corresponding html symbol “%3D“. Scout was supposed to translate this back to “=“. @Robin: do you ono why this particular case was missed?

On 21 May 2015, at 09:35, Daniel Nilsson <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska In

[2015-05-21 08:15] henrikstranneheim commented on #80
Date should be fine.

On 21 May 2015, at 10:02, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se
Visiting address:
Science for Life Laboratories - SciLifeLab
Gamma building
Tomtebodavägen 23A
Delivery address:
Science for Life Laboratories

[2015-05-21 08:40] robinandeer commented on #113
That is some kind of coding (hex?) that I don't know is part of HTML...

Equal sign in HTML looks like: ``&#61;``

I'll look into how this can be handled in Python

[2015-05-21 08:49] robinandeer commented on #113
@henrikstranneheim: can you point me to the relevant VEP documentation?

[2015-05-21 08:52] robinandeer commented on #105
Maybe just read in the content as binary and store in ``BinaryField``?

https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/fields.py#L1224

[2015-05-21 08:54] robinandeer commented on #106
OK! I'll implement this then :+1:

[2015-05-21 08:56] henrikstranneheim commented on #113
http://dev.ensembl.narkive.com/NJ3n0U5g/ensembl-dev-invalid-vcf-output

On 21 May 2015, at 10:49, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se
Visiting address:
Science for Life Laboratories - SciLifeLab
Gamma building
Tomtebodavägen 23

[2015-05-21 09:07] ingkebil commented on #113
For reference: %3D is URL encoding,  not HTML encoding. http://www.w3schools.com/tags/ref_urlencode.asp

[2015-05-21 10:00] henrikstranneheim commented on #113
True that!

On 21 May 2015, at 11:07, Kenny Billiau <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se
Visiting address:
Science for Life Laboratories - SciLifeLab
Gamma building
Tomtebodavägen 23A
Delivery address:
Science for Life Laboratories - SciLife

[2015-05-21 10:41] moonso commented on #97
@henrikstranneheim sounds right

[2015-05-21 11:09] robinandeer commented on #112
We will reload cases to resolve other issue and make sure that the correct ids are updated for this case as well

[2015-05-21 11:10] robinandeer commented on #108
We are planning to reload a bunch of cases and this should make the coverage report available again

[2015-05-21 11:31] robinandeer commented on #103
Events for e.g. manual rank will represent manual annotations for "old" analyses when a case is reloaded.

[2015-05-21 11:40] robinandeer commented on #96
Just link to ClinVar page

@henrikstranneheim: we need the CLINVAR id for the variation to "deep-link", possible?

[2015-05-21 11:44] #91 closed

[2015-05-21 11:47] robinandeer commented on #78
Just skip the check whether the given database exists on the server

[2015-05-21 13:50] robinandeer commented on #108
Now the coverage report is available: https://clinical-db.scilifelab.se:8083/remote/static/home/scout/analysis-data/cust003/156/156.coverage.pdf

[2015-05-21 13:50] #108 closed

[2015-05-22 07:50] moonso commented on #98
Show in summary IF it exists.

[2015-05-22 07:54] moonso commented on #98
Vcf key is ```Reduced_penetrance``` and value is a comma separated list with HGNC gene names

[2015-05-22 08:03] moonso commented on #107
Ok so this is a MIP issue for now.
@henrikstranneheim can you annotate the allele frequencies from different populations when there are such information?

[2015-05-22 08:38] moonso commented on #76
We have agreed to load 5000 variants to start with.
Users can request for more whenever they like

[2015-05-22 08:40] #69 closed

[2015-05-22 08:57] henrikstranneheim commented on #96
One should probably be able to use: http://www.ncbi.nlm.nih.gov/clinvar/RCV000064926.2/

Using this key in the vcf:
CLNACC=RCV000064926.2

I wil add the CLNACC to the annotations collected by MIP from CLINVAR.

On 21 May 2015, at 13:40, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laborat

[2015-05-22 08:59] nicolelesko opened #116 "Fel ID för familj 15047"

[2015-05-22 12:48] robinandeer commented on #81
This isn't usually handled in these kinds of applications and will add a lot of complexity compared to the usefulness.

We'll communicate to the users what the actual functionality is and still keep the links to quickly navigate in the whole list of variants.

To move between filtered variants, users need to use the browser back button to go back and forth from the variants list.

[2015-05-22 14:30] #93 closed

[2015-05-25 07:21] robinandeer opened #119 "Display name"
I haven't been entirely clear but the display name column in the ped files have been named both as ``display_name`` and ``Display_name``. Only the former is supported in Scout but both are supported in the upload script...

We should settle for something at least - I'm sorry :disappointed:

Affected line(s)?
https://github.com/Clinical-Genomics/scout/blob/master/scout/ext/backend/utils/get_case.py

[2015-05-25 08:30] moonso commented on #119
I think we should use ```display_name``` but that is just me:)

[2015-05-25 08:54] robinandeer commented on #119
Let's use that then - it's fine with me

[2015-05-25 11:58] #119 closed

[2015-05-25 12:00] robinandeer commented on #116
We reloaded many of the samples recently and this is now one of the fixes

https://clinical-db.scilifelab.se:8083/cust003/15047

[2015-05-25 12:00] #116 closed

[2015-05-26 10:09] 4WGH commented on #112
Hi, we have noticed that several families have the wrong ID number. It seams that it is a general bug? Do you know when this issue will be solved and how would we know that the family is reloaded?
Michela

[2015-05-26 10:36] robinandeer commented on #112
I hope that a number of these issues were resolved as of yesterday - I will update and fix the last few cases with incorrect ids today :smiley:

[2015-05-26 10:44] 4WGH commented on #112
Great! thankS!
MichelaMichela Barbaro, M.Sc, PhDSjukhuskemistCentrum f�r Medf�dda Metabola Sjukdomar (CMMS)L7:05Karolinska Universitetssjukhuset Solna17176 Stockholm-----Robin Andeer <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Fr�n: Robin Andeer <notifications@github.com>Datum: 2015-05-26 12.36Kopia: 4WGH <michela.barbaro@karolinska.se>�rende: R

[2015-05-26 11:22] robinandeer commented on #112
I've not fixed all the wrong ids - please let me know if any problems persist!

[2015-05-26 11:22] #112 closed

[2015-05-26 19:25] 4WGH opened #120 "problem with the search function"
Hi!
 I search for fam 218 but I get a list with fam 15049 and 15023 ????
look at the print screen ;)

![scout](https://cloud.githubusercontent.com/assets/12525201/7821248/b876a166-03ed-11e5-8c0b-c16c7bb436f7.gif)

[2015-05-28 07:13] robinandeer commented on #103
I forgot to reference this but it is taken care of in PR #121

[2015-05-29 05:11] robinandeer opened #122 "Describe deployment process"
Just realized that I'm the only one who knows how to deploy Scout... We should describe this somewhere and preferably script it somehow maybe using fab or similar tools

[2015-05-29 06:11] robinandeer opened #123 "Only show prev/next arrows in research list"
This will cause the least amount of confusion

We will bring this up in a meeting in the near future for discussion

[2015-05-29 06:16] robinandeer opened #124 "Distinguish clearly between research/clinical list"
A few last minute updates before the release

- [x] write "Clinical variants" in breadcrumbs
- [x] maintain default gene lists when clicking "variants" in breadcrumbs

[2015-05-29 07:10] moonso commented on #123
Sounds like a good solution

[2015-05-29 11:38] moonso commented on #122
Sound like a good idea!

[2015-06-05 12:05] nicolelesko opened #125 "No variants in family 15014"
Cannot get any variants to upload in this family (clinical or research).

[2015-06-07 16:22] robinandeer opened #126 "Phenomizer/HPO documentation"
From Per Marits:
Jag vore tacksam för en kort instruktion hur jag lägger in HPO-termer i "phenomizer"

[2015-06-08 08:30] henrikstranneheim commented on #126
I know that some at CMMS also would like a walk-through.

On 07 Jun 2015, at 18:22, Robin Andeer <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se
Visiting address:
Science for Life Laboratories - SciLifeLab
Gamma building
Tomtebodavägen 23A
Delivery add

[2015-06-08 12:33] nicolelesko opened #127 "Family 15045"
It is not possible to filter for all epilepsy genes in this family.

[2015-06-09 11:58] 4WGH opened #128 "variant inheritance model not correct. (see file)"
the variant is heterozygous, but the variant inheritance model is indicated as homo_AR

![fam41](https://cloud.githubusercontent.com/assets/12525201/8057213/8470fb9c-0eaf-11e5-8e83-72efe3cc955b.gif)

[2015-06-11 06:09] moonso commented on #126
Hello,

at the case page in Scout there is a box:

![skarmavbild 2015-06-11 kl 07 37 07](https://cloud.githubusercontent.com/assets/405278/8100502/b59f9d0a-100c-11e5-86bb-c3caf9679384.png)

Here one can add and remove phenotypic terms in hpo format, these looks like **HP:0010704**.
[Phenomizer](http://compbio.charite.de/phenomizer/) is a tool for generating HPO terms based on text descriptions of

[2015-06-11 06:11] moonso commented on #126
If this little guide is helpful we will move it t the documentation.

[2015-06-12 06:15] robinandeer opened #129 "Pathogenic transcript"
Annotated in the gene list

Suggested to mark this transcript red in the table

[2015-06-12 07:35] 4WGH opened #130 "ensBL transript ENST and SeqREf transcrit wrongly associated ?"
hi for this variant
https://clinical-db.scilifelab.se:8083/cust003/15047/variants/ba25f792bab229442b25ea240215ac16
the ENsemble transript ENST00000401675 correspond to NM_001301339 not to NM_213720.
At least for what I cans see from USCS. while trying to sort it out why the chagnes reported in the Sanger order do not fit in the reference transcript NM_213720.

this affect variant calling as NM_213

[2015-06-13 08:21] robinandeer commented on #6
Testing in Flask:
https://realpython.com/blog/python/the-minimum-viable-test-suite/

[2015-06-18 14:02] #76 closed

[2015-06-18 14:02] #78 closed

[2015-06-18 14:02] #80 closed

[2015-06-18 14:02] #85 closed

[2015-06-18 14:02] #86 closed

[2015-06-18 14:02] #87 closed

[2015-06-18 14:02] #88 closed

[2015-06-18 14:02] #95 closed

[2015-06-18 14:02] #97 closed

[2015-06-18 14:02] #104 closed

[2015-06-18 14:02] #105 closed

[2015-06-18 14:02] #106 closed

[2015-06-18 14:02] #113 closed

[2015-06-18 14:02] #123 closed

[2015-06-18 14:02] #124 closed

[2015-06-22 09:18] 4WGH opened #131 "I see no familes at all in Scout"
this is what I see.
I had to log in again while working on it. and from then I do not see anythiong.
I've tryied to lot out and log in again , But I'm still logged in......

![michela](https://cloud.githubusercontent.com/assets/12525201/8278986/5def2d1a-18d0-11e5-9b9b-009c92c23486.gif)

[2015-06-22 12:43] robinandeer commented on #131
This was the case for a short while. Perhaps if you try reloading the page or closing down the browser, then reopen it.

It has to do with cached pages so it will be resolved either way just given time

[2015-06-22 13:05] 4WGH commented on #131
Hi Robin.
 
I've closed the browser, restardted PC. still can not see anything.
I try to logout, I click on sign in, chosse the clinicalgenomics e-mail, and I get to SCout , not families, no request to dogot again my password.
 
:(
 
Any other suggestion?
Seams that Nicole also has still the same problem, just chekced with her
 
 
Michela -----Robin Andeer <notifications@github.com> skrev: -----

[2015-06-22 14:33] robinandeer commented on #131
This is strange. If it's the problem I think it is then you could try following this guide:
https://support.mozilla.org/en-US/kb/how-clear-firefox-cache#w_clear-the-cache

I will look into how I can make it so you don't have to worry about these things in the future!

[2015-06-22 15:05] 4WGH commented on #131
it work!!!
 
thank!
Michela
 
 
 
Michela Barbaro, M.Sc, PhD
Sjukhuskemist
Centrum för Medfödda Metabola Sjukdomar (CMMS)
L7:05
Karolinska Universitetssjukhuset Solna
17176 Stockholm
-----Robin Andeer <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Robin Andeer <notifications@github.com>Datum: 2015-06-22 16:33Kopia: 4WGH <michela.barbaro@karol

[2015-06-22 19:53] #131 closed

[2015-06-23 09:50] dnil opened #132 "See actual genes on GeneList?"
Is there a way for us to view the actual genes on the GeneLists, without e.g. asking Kenny?
Links from the gene list version table on each case might be a nice place, but just read access to a repo would do fine!

Cheers!

[2015-06-25 06:33] robinandeer opened #133 "Drop GitFlow?"
We've had some issue with GitFlow with overwritten commits etc. This seems to be a common problem with this system. Perhaps we should discuss this :-)

Something simpler in any case!

References:
- http://endoflineblog.com/gitflow-considered-harmful
- https://about.gitlab.com/2014/09/29/gitlab-flow/

[2015-06-29 20:45] Bianca-T opened #134 "Variants with wrong ExAC frequencies"
Hi,

I found cases of wrongly assigned ExAC frequencies. See the screeshot below for two examples.
This will affect filtering. Moreover it would be simpler to have "N/A" or "none" for variants that are not reported in ExAC in order to avoid clicking to the ExAC link.

**Example 1:**
![image](https://cloud.githubusercontent.com/assets/5881356/8417918/f27fed2c-1eaf-11e5-917a-e94619c15ac7.png)
![imag

[2015-06-29 21:43] Bianca-T opened #135 "Meaning of variants "not loaded""
Hi,

What is the meaning of variants "not loaded" among list of variants tagged as AR_comp?
See screenshot below for clarity.

Thanks,
Bianca

![image](https://cloud.githubusercontent.com/assets/5881356/8419207/4dd7a248-1eb8-11e5-9538-c79046fc2724.png)

[2015-06-30 05:18] robinandeer commented on #135
We only load the 5000 top ranked variants by default. If a compound pair is specified as "Not loaded" it means that the rank score has placed it below this cutoff and is likely not of interest. We can possibly load more variants upon request.

ps. thanks for uploading the screenshot! :smiley:  ds.

[2015-06-30 05:18] #135 closed

[2015-06-30 05:32] robinandeer commented on #134
Hi @Bianca-T!

You are right in that the frequencies differ in these cases. The only reason I can see is that the website is using a more up-to-date version of their database which would explain some differences.

We need to further investigate why we aren't detecting variants that haven't been annotated by ExAC though. I will defer this to @moonso for now (freq = 0.00000 in database)

Thanks agai

[2015-06-30 05:34] robinandeer commented on #132
Thanks! This is a feature worth discussing
We will likely upload the list of genes during the Scout upload but this will take some time to implement

[2015-06-30 05:35] #31 closed

[2015-06-30 05:41] robinandeer commented on #127
We have been experiencing significant problems with the WGS analysis. This is most likely related and should not be a problem once we get the pipeline fully operational

[2015-06-30 05:41] #127 closed

[2015-06-30 05:43] robinandeer commented on #128
This has been identified as a bug which is related to the issues we've been experiencing in dealing with WGS data. It should be fixed as soon as we get the analysis results back up again

[2015-06-30 05:43] #128 closed

[2015-06-30 05:45] robinandeer commented on #130
I'm not quite sure how this connection is made in the analysis pipeline
@henrikstranneheim: care to weigh in?

[2015-07-10 10:58] 4WGH opened #136 "Sanger link to variant is not working. FIXED"
Hi,
in the activity window if appear the following information

Nicole Lesko ordered sanger sequencing for e12902b2d8b26c80678471c63051f518 2 months ago
where "e12902b2d8b26c80678471c63051f5182" looks like a link that would take us to the variant for which Sanger has been ordered, but if I click on it nothing happen.
Is this a bug? or is not supposed to be a link?
thanks for help,
Michela

[2015-07-13 14:54] 4WGH commented on #130
Additional info: We performed Sanger and none of the 2 variants are present.

[2015-07-16 13:08] Bianca-T commented on #89
Hi,

I also get the following screen when clicking on coverage report for two of my families (A1101 and A1132).

![screen shot 2015-07-16 at 15 06 30](https://cloud.githubusercontent.com/assets/5881356/8723224/500e14c2-2bcc-11e5-958b-d09a1834edd8.png)

[2015-07-24 07:22] henrikstranneheim opened #137 "Show current Scout version to users"

[2015-07-24 09:00] henrikstranneheim commented on #130
In Ensemble GRCh37:
ENST00000401675—> NM_213720

In Ensemble GRCh38:
ENST00000401675—> NM_001301339

We are still using GRCh37 for a number of reasons, but I am looking into switching. However, there are still a lot of data and references that need liftover (and testing) before the change can be done.

[2015-08-06 04:44] robinandeer opened #138 "Phenolyzer"
Perhaps this might be something to look into

http://www.nature.com/nmeth/journal/vaop/ncurrent/full/nmeth.3484.html

[2015-08-19 05:58] robinandeer opened #139 "Missing dependencies"
Flask-Scout
dateutil (conda)

[2015-08-19 06:33] robinandeer opened #140 "Incompatible with latest mongoegine"
MongoEngine 0.10 removes ``get_or_create`` so we should update for this :smiley:

[2015-08-19 08:09] moonso commented on #140
Ok, do you have a link to the new release?

[2015-08-19 08:26] robinandeer commented on #140
Sure, this is the docs reference:
http://docs.mongoengine.org/guide/querying.html#retrieving-unique-results

[2015-08-20 09:04] b4ckm4n opened #141 "Problem sharing between clinics"
When sharing between clinics only the owner can open the case, the other collaborators can not.

All the best
/Daniel

[2015-08-20 13:49] #141 closed

[2015-08-28 11:24] dnil commented on #94
[macarthur-lab/igv_plotter] (https://github.com/macarthur-lab/igv_plotter)

igv_plotter - python interface to IGV that simplifies creating screenshots of BAMs, VCFs, BEDs, etc for one-off spot checking or automated / scripted image collection

What do you think?

[2015-08-28 11:27] moonso commented on #94
Sounds lovely, thanks!!

[2015-08-28 11:28] moonso commented on #94
We will begin to get the dynamic coverage part done first.
Then we will try to fight the IGV beast...

[2015-08-28 15:03] dnil commented on #94
Looks rather straight-forward as long as the bam files are available to the web server for rendering. Should be easier to make them accessible there for the package to render them as html, compared to streaming them to an IGV instance on the users machine. Good luck with the beast slaying! :-)

[2015-08-28 15:05] dnil commented on #94
And cheers to Vasilios Z for pinging me on the IGV_plotter package!

[2015-09-07 10:38] henrikstranneheim opened #142 "Update SO-terms"
As of VEP 81 the SO-terms have changed:

Additions:
start_lost
protein_altering_variant

[2015-09-07 12:50] robinandeer opened #143 "Avoid overwrite of coverage report with "None""
When loading research list the coverage report is lost

[2015-09-07 13:00] #143 closed

[2015-09-10 11:06] robinandeer opened #144 "Taking over a case (btw customers)"
The difference between sharing and taking over a case:

- [ ] if someone has been assigned this should be reset

[2015-09-10 12:49] robinandeer opened #145 "Show who is assigned in the case overview. FIXED"

[2015-09-10 12:57] robinandeer opened #146 "New view for archived cases. FIXED"
Allow users to reopen cases

[2015-09-14 09:03] dnil opened #147 "Clincal exome report export - Feature request"
After going through a case in scout, we typically sit down and write up a short report on the findings, much like the current comments and log. It would save time if I could get a "report" with the top variants (down to some user defined rank threshold) on a long list with the variant comments displayed; e g a pdf or html page. That would also increase my interest in diligently commenting all vari

[2015-09-14 11:59] dnil commented on #147
E.g. { Gene, Transcript, HGVS } (from "transcript overview"), Frequencies. Chr, Genotype call, Omim Phenotypes, {Rank-score, CADD score} (from "Summary" ), Comments for a very good prototype. For the pretty-pretty version, start with basically a dump of the case page, and merge with coverage report.
But let's run that by some of the others as well to see what they think would be most useful!

[2015-09-16 08:18] robinandeer commented on #137
this is shown on the index page (not logged in)

[2015-09-16 08:18] #137 closed

[2015-09-22 06:27] henrikstranneheim opened #148 "CILNSIG field not working. FIXED"
Scouts CLINSIG field does not report what is actually found in the raw vcf.

1       155261709       rs116100695     G       A       3842.06 PASS    1000GAF=0.00159744;AC=1;AF=0.500;AN=2;BaseQRankSum=6.74;CADD=20.9;CLNSIG=5

Shows in Scout as 1: not provided for family 15095.

[2015-09-22 11:29] henrikstranneheim commented on #148
The entry should also be renamed in Scout, for example to "Clinvar" or "Clinvar_CLNSIG"

[2015-09-23 10:53] guillermo-carrasco opened #149 "Scout for general use?"
Hi!

Quick question: How usable is Scout outside clinical genomics? Last time we talked about this I recall that you (@robinandeer) told me that it was still quite tight to MIP output.

If that's still the case, is it in your roadmap to generalize it? Maybe I could help :)

Thanks!

[2015-09-23 10:57] moonso commented on #149
Hello!
Yes it is dependent on our pipeline but i have started to make a "portable" version.
It would be fantastic if you would like to help us on this, we should meet.

[2015-09-23 13:19] guillermo-carrasco commented on #149
Hi Måns!

Is there any possibility to see scout in action? Any test data/docker container/vagrant vm we can use to have a quick look at Scout? We can meet and talk about it, but this way other people in my team could have a quick look to scout.

Tack tack!

[2015-09-23 14:10] moonso commented on #149
I guess we can make a user so you can access some non sensitive data.
What do you think @robinandeer ?

[2015-09-23 14:51] robinandeer commented on #149
Our servers are quite restrictive when it comes to access from external IP-addresses. I think putting some finishing touches on a Vagrant environment would be ideal

That wouldn't let you load your own data but you'll be able to click around in the interface at least

I'll get back to you on that

Would you be specifically interested in a Docker setup or are just throwing that in bc of the buzz-fa

[2015-09-23 15:27] guillermo-carrasco commented on #149
heh, vagrant/Docker, anything would work :)

I'd really appreciate this, thanks a lot Robin!

[2015-09-23 17:36] robinandeer commented on #149
Wow, we really need to clean up here...

Anyways, if you have time I've made some modifications that you could help us test out. @moonso: you are free to try it out as well

1.  Checkout the branch "demo-setup"
2. Make sure you've installed Ansible and Vagrant
3. Run:

[code]

This should hopefully do the trick :persevere:

[2015-09-23 19:16] moonso commented on #149
[code]
?

[2015-09-24 05:18] robinandeer commented on #149
You seem to have installed Ansible globally so you'd need to run the command as `sudo` to get around the permissions error.

[2015-09-24 06:44] guillermo-carrasco commented on #149
Thanks a lot Robin for this. I'm having troubles provisioning the VM. I got this message at the first try:

[code]

Then I installed npm in the VM and I'm getting a long error trace now:

[code]

I thought I'd let you know before I keep trying, thanks again!

[2015-09-24 07:36] robinandeer commented on #149
I'm an idiot, I left some lines commented out in the commit
pull and try again

[2015-09-24 08:36] robinandeer commented on #149
I've updated the README with FULL instructions!
I forgot one of the Ansible Galaxy installs.

[2015-09-24 09:05] guillermo-carrasco commented on #149
Thanks again!

It seemed to install now, though lots of warnings in the shell provisioning step. [Check here](https://gist.github.com/guillermo-carrasco/d7509b4da1583cc89d32).

Awesome though! I can navigate the interface, yay!

![screen shot 2015-09-24 at 11 04 19](https://cloud.githubusercontent.com/assets/1574147/10069362/1ae14014-62ac-11e5-89ee-4022a468c429.png)

[2015-09-24 12:39] dnil commented on #149
Awsome!

I just had to try that. I’m not quite there yet - still getting npm related errors during “vagrant up”:

npm WARN peerDependencies The peer dependency insert-css@^0.2.0 included from vue-loader will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm WAR

[2015-09-24 13:08] dnil commented on #149
Ok, it's actually in quite decent shape anyway! After a `npm install -g coffee-script` on the virtual machine, I could
`vagrant@precise64:~/miniconda$ source bin/activate prod`
 `python manage.py -c "$(pwd)/instance/scout.cfg" vagrant`
getting to a state where I would need that GOOGLE_CONSUMER_KEY!

[2015-09-24 14:08] robinandeer commented on #149
Hi @dnil!

I'll have to look into that error..
When you run the server you should run with the login stuff disabled - use the config you find here: https://github.com/Clinical-Genomics/scout/blob/demo-setup/provision/roles/scout-dev/files/demo.cfg

It's copied during provisioning so you could try if this command works better already:
`python /vagrant/manage.py -c /home/vagrant/demo.cfg vagrant`

[2015-09-24 14:26] dnil commented on #149
Thanks, that indeed gets me around the login part, but it seems I’m missing a few style related things, and no demo case to be found. I’m guessing the provisioning stopped after choking at that npm coffee-script point and never got to some later things?

[2015-09-24 14:46] dnil commented on #149
Running the /vagrant/provision/post-setup.sh cleared things up a bit and got a case loaded.
Still, missing a lot of style on the pages. Seems the gulp builds are not going well.
gulp --gulpfile /vagrant/Gulpfile.js build
module.js:338
    throw err;
          ^
Error: Cannot find module 'gulp-sass’

[2015-09-24 15:15] dnil commented on #149
Ok, must be a gulp issue.

npm installing the gulp extras got me further.
several have an optional dependency fsevents failing, and gulp-webpack having been rebranded webpack-stream. Should be ok anyway. I’m now stuck with some vue error.

gulp --gulpfile /vagrant/Gulpfile.js build
...
ERROR in ./assets/coffee/app.vue
Module build failed: TypeError: undefined is not a function
  at Object.Vue (/va

[2015-09-25 07:04] robinandeer commented on #149
`npm` is usually very good at resolving these issues but I will do a drive and update our dependencies to more recent versions and then this problem should go away :)

[2015-09-25 10:35] henrikstranneheim opened #150 "Dispay rank model version in case view. FIXED"

[2015-09-25 11:16] henrikstranneheim opened #151 "Display analysisType in case view (i.e. WES or WGS). FIXED"

[2015-09-25 15:37] 4WGH opened #152 "comment to variant missing? FIXED"
Hi;
I can see a dot indicating that ther eis a comment for a variant, but once I click to go inside the variant there is not comment ( I know that there should be..., as I written it in fam 15089)
Look at the 2 screen shots
![skarmklipp1](https://cloud.githubusercontent.com/assets/12525201/10104846/ff68e944-63ab-11e5-9aa9-07b1af051651.PNG)
![Uploading Skärmklipp2.PNG…]()

michela

[2015-09-30 10:52] henrikstranneheim opened #153 "Show rank model results for each variant in new view"

[2015-09-30 11:52] nicolelesko opened #154 "Clinical filter suddenly changed"
The clinical filter does not keep missense variants as it should.  Not sure if there are other variants included or excluded.

[2015-10-01 07:43] henrikstranneheim commented on #142
Solved now?

[2015-10-01 07:44] moonso commented on #142
YES

[2015-10-01 07:44] #142 closed

[2015-10-01 08:22] robinandeer commented on #154
Hi @nicolelesko, thank you for the bug report

We are on top of this - it should be fixed very soon

[2015-10-01 09:26] #154 closed

[2015-10-01 09:29] robinandeer commented on #154
Scout has been updated to fix this issue and you can also load more variants

@henrikstranneheim: can you review this update?

[2015-10-01 09:53] henrikstranneheim commented on #154
Clinical filter bug seems fixed.

Filter bug:

- You can now load more variants with retained filtering options. So this seems ok

- Related to this: I noticed that the first 50 are removed from the view as the next 50 are displayed and there seems to be no way of going back, except using the browsers navigation button. this is perfectly fine for this hot fix , but maybe we should discuss if you w

[2015-10-01 18:55] vwirta commented on #134
Kicki from Klinisk Genetik reports on a similar observation for F0001505 , variant RAI1. Scout = 0, ExAC = 0.42

[RAI1 variant.pdf | uploaded via ZenHub](https://files.zenhub.io/560d818ae04cf77449953905)

[2015-10-01 18:59] vwirta commented on #126
Please move to documentation!

[2015-10-02 09:33] moonso commented on #134
I think this is a problem that has to do with indels. When we search for a match we check if the alternative allele for a variant is the same as the alternative allele in the database.
It could be a problem with how these alleles are represented in the vcf format.
We are trying to solve this.

Thank you for spotting the problem!

[2015-10-02 09:42] dnil commented on #134
All are indels, and most are non-PASS variants in ExAC. Dunno how you handle the latter on lookups?

[2015-10-06 11:42] dnil commented on #134
One more from the choir:

19-10270746-GA-G Scout-ExAC: 0, ExAC site, through linkout: 0.63, up to 0.79 in subpop.
Multiallelic site in addition to indel, if that may be a clue.

// Daniel

[2015-10-07 13:19] moonso opened #157 "Always show affected patient in the top FIXED"
In every case where cases are listed (gt calls etc), allways show affected patient in the top.

[2015-10-07 13:21] moonso opened #158 "Clearly mark when case has been rerun. FIXED"

[2015-10-07 13:22] moonso opened #159 "Enhanced search function. FIXED"
- search on individual
- switch to server based search
- group cases based on status

[2015-10-07 13:24] moonso opened #160 "Sanger link not working"
- Link from activities not working

[2015-10-07 13:26] moonso opened #161 "Highlight causative transcript(s) FIXED"
These should be highlighted on variant level

[2015-10-07 13:29] #160 closed

[2015-10-07 13:31] robinandeer commented on #136
Link points to the case instead of the variant

[2015-10-07 13:32] dnil commented on #161
canonical transcript would be a great fallback for genes where this is not available.

[2015-10-07 13:38] moonso opened #162 "Store genelists in own collection. FIXED"
- One genelist for each version

[2015-10-07 13:39] #6 closed

[2015-10-07 13:39] #11 closed

[2015-10-07 13:39] #44 closed

[2015-10-07 13:40] #55 closed

[2015-10-07 13:41] #81 closed

[2015-10-07 13:41] #82 closed

[2015-10-07 13:42] #89 closed

[2015-10-07 13:45] #103 closed

[2015-10-07 13:45] #120 closed

[2015-10-07 13:47] moonso commented on #125
This case have variants now

[2015-10-07 13:47] #125 closed

[2015-10-07 13:48] #129 closed

[2015-10-07 13:48] moonso commented on #129
Duplicate

[2015-10-07 13:49] moonso commented on #130
Is this still an issue @henrikstranneheim ?

[2015-10-07 13:50] #133 closed

[2015-10-08 13:46] 1ctw opened #163 "Wrong ID in family 14048"
Family 14048 has wrong ID, see dump.
![14048](https://cloud.githubusercontent.com/assets/15033593/10368027/a6c219c8-6dd3-11e5-94e5-4bf190ba9900.GIF)
/Helene

[2015-10-08 14:27] moonso commented on #163
Wrong in ped file, can you fix @emmser ?

[2015-10-13 06:44] henrikstranneheim commented on #130
No

[2015-10-13 06:44] #130 closed

[2015-10-14 08:32] robinandeer opened #164 "Coverage report using Sambamba"
- [x] automated after MIP
- [x] update chanjo report
- [x] update text in report

[2015-10-14 19:14] moonso commented on #161
@dnil , @henrikstranneheim How do we get the canonical transcript?

[2015-10-14 22:03] dnil commented on #161
Hgnc (genenames.org) have a single curated transcript which is the de facto standard transcript for setting up single gene tests, with the refSeq mildly preferred over ensembl - and a REST to retrieve them (http://www.genenames.org/help/rest-web-service-help). They don't make explicit claims about disease causation - this is about standardized nomenclature.
Still, for the genes I checked, they did

[2015-10-15 04:24] henrikstranneheim commented on #161
My suggestion would be to include the canonical transcript from HGNC or Ensembl when building the clinical master list, using the same rules we have for phenotypic model.

We should include Kenny in this discussion.

On 15 Oct 2015, at 00:03, Daniel Nilsson <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life

[2015-10-15 06:40] ingkebil commented on #161
Hi,

Sounds like something that'd be rather easy to include in the gene list.
In a Gene list we have a field called Ensemble_transcript_ID which could be
used for this if we go for ensembl transcripts. Now this is annually
curated field only filled in from cmms as far as know.

I already query genenames.org to fetch HGNC aliases to enable me to query
ensembl more easily, so it wouldn't be such a p

[2015-10-15 07:04] henrikstranneheim commented on #161
This info should go under “Disease_associated_transcript” and follow the same rules with cmms precedence for manually curated genes.

The HGNC website seems to be temporarily down. Is the HGNC transcript in refSeq format? If so let’s use that one.

/H

On 15 Oct 2015, at 08:40, Kenny Billiau <notifications@github.com> wrote:

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Ka

[2015-10-15 07:33] dnil commented on #161
HGNC have several - based on genbank, with best match in refSeq and ENSembl. Agree on refSeq,
and that any locally curated gets precedence!

Interesting with the morbidmap transcript - I couldn’t find any docs though?

[2015-10-19 09:55] moonso opened #165 "A new case box with HPO terms. FIXED"
We should keep a list of HPO terms that shows the phenotype text.
These should show up in the filter column to generate gene lists from the variant view

- [x] Change link from phenomizer to HPO
- [x] Input box for OMIM or HPO id
- [x] Handle OMIM to HPO id conversion

[2015-10-20 06:37] robinandeer opened #166 "Sort cases on updated date"

[2015-10-20 08:42] moonso opened #167 "Store pathogenic variants in own collection"
Pathogenic variants should be added when case is solved and closed

[2015-10-20 08:57] emmser commented on #163
Fixed ped

[2015-10-20 08:57] #163 closed

[2015-10-20 09:12] henrikstranneheim commented on #134
The new production code uses VT to decompose multiallelic sites, so this should take care of this issue. It would be nice to rerun one of these samples using the new production code and make sure that the issue is resolved.

[2015-10-20 18:49] henrikstranneheim opened #168 "Allow multiple causative variants per case FIXED"
e.g. Ar_comp

[2015-10-21 06:24] moonso commented on #132
This will be fixed in #162

[2015-10-21 06:24] #132 closed

[2015-10-21 06:25] moonso commented on #162
We will use this collection to display the gene lists in scout

[2015-10-21 06:26] moonso commented on #134
@emmser can you rerun one if the above cases so we can have a look if the issue is solved?

[2015-10-21 06:30] moonso commented on #165
We can get the phenotype text from the new tool provided by HPO

[2015-10-21 06:42] robinandeer opened #169 "Update to latest Vue.js"
And the rest of the Node.js deps in gulp

[2015-10-21 06:51] moonso commented on #158
- [ ] Write a function in the case model ```is_rerun```
- [ ] Add a badge on case and cases

[2015-10-21 06:52] moonso commented on #162
@robinandeer Add a link on the gene lists that shows all genes

[2015-10-21 06:57] moonso commented on #164
- [] Needs a list of all genes of a panel (this will be fixed by #162 )
- [] Need names on the panels to include in coverage report

[2015-10-21 06:58] moonso commented on #157
Ensure that the individuals are sorted in the correct order in the database

[2015-10-21 07:00] moonso commented on #151
- [ ] Add a new field to case model ```analysis_type```
- [ ] A badge to case and cases

[2015-10-21 07:07] moonso opened #170 "Add path to qc_sample_info in database"
Add a field on case level

[2015-10-21 07:08] moonso commented on #96
Add the CLINSIG information on variant level

[2015-10-21 08:16] 4WGH opened #171 "discordant genotype call vs reads ?"
the Genotype call is 0/1 = heteroz. but the reads for the reference are 0. something odd?
![skarmklipp_151021](https://cloud.githubusercontent.com/assets/12525201/10631219/afc8059c-77dc-11e5-9909-eb158d632ff5.PNG)

[2015-10-21 08:18] moonso commented on #171
@henrikstranneheim this is a GATK issue, what do you think?

[2015-10-21 08:25] moonso opened #172 "Database with ensemble to refseq"
We should have a database with enseble_id -> refseq_id instead of annotating the same thing in multiple lines of the vcf file.
What do you think @ingkebil ?

It could be a sqlite database with

[code]

[2015-10-21 08:26] moonso commented on #172
We can think of other things to include here like omim inheritance etc, guess you know best @ingkebil

[2015-10-21 08:30] moonso commented on #172
It would be beautiful to have this in a stand alone package to use with other tools such as puzzle

[2015-10-21 08:35] #166 closed

[2015-10-21 10:37] #98 closed

[2015-10-21 10:51] robinandeer commented on #169
let's postpone this update :P

[2015-10-21 11:02] robinandeer commented on #96
accesion not provided in the model @moonso

[2015-10-21 11:05] robinandeer commented on #96
pushed a branch "add-clnsig-link" which adds the link if accession is provided

[2015-10-21 11:09] moonso commented on #96
It is still a bit unclear how this should be handeled

[2015-10-21 11:12] #139 closed

[2015-10-21 11:13] robinandeer commented on #96
Oki, I will keep that branch atomic then :+1:

[2015-10-21 11:23] robinandeer commented on #152
I can't find the same variant

But for this one it works:
https://clinical-db.scilifelab.se:8083/cust003/15015/variants/d44549baf5fe8241c50dcb78485d7489

and originally:
https://clinical-db.scilifelab.se:8083/cust003/41/variants/f8ab5a3dc18b745c5dc54627c032b0d6

[2015-10-21 11:25] robinandeer commented on #152
OK, the problem is in the "has_comments" method... It should look for either global comments or comments for the family

[2015-10-21 11:28] robinandeer commented on #152
We will only show the indicator if there are global comments for the variant

[2015-10-21 12:41] 4WGH commented on #152
ok!
thanks,
Michela
 
 
-----Robin Andeer <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Robin Andeer <notifications@github.com>Datum: 2015-10-21 13:29Kopia: 4WGH <michela.barbaro@karolinska.se>Ärende: Re: [scout] comment to variant missing? (#152)
We will only show the indicator if there are global comments for the variant
—Reply to this ema

[2015-10-21 12:45] moonso commented on #149
We are moving in the other direction now, scout for specific use :smile_cat:
But the general scout will be :tada: [puzzle](https://github.com/robinandeer/puzzle),
please try it!

[2015-10-21 12:45] #149 closed

[2015-10-21 12:53] robinandeer commented on #145
fixed in cases-improvements branch

[2015-10-21 13:01] moonso commented on #100
Sorry @dnil but I have a hard time to understand what you mean here, could you explain some more and give some examples?

[2015-10-21 13:02] moonso commented on #101
The technical part of this is done, we will just update the documentation.

[2015-10-21 13:04] moonso commented on #102
Could anyone, @robinandeer  or @ingkebil , be a little more specific here?
What needs to be done?

[2015-10-21 13:04] moonso commented on #107
ping @henrikstranneheim

[2015-10-21 13:06] moonso commented on #122
Is this issue still alive?
Is the information in README enough or should we update documentation @robinandeer ?

[2015-10-21 13:08] moonso commented on #136
Fixed

[2015-10-21 13:14] moonso opened #178 "Create User from mongo adapter"
Could you specify how it should look?

The model looks like:
[code]

[2015-10-21 13:16] moonso commented on #151
@henrikstranneheim is the analysistype specified in qc_sample_info?
If not, can you add it.
Alternatives should be ```wgs, wes, mixed or unknown```

[2015-10-21 13:27] 4WGH commented on #136
great! thanks!
Michela
 
 -----Måns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Måns Magnusson <notifications@github.com>Datum: 2015-10-21 15:09Kopia: 4WGH <michela.barbaro@karolinska.se>Ärende: Re: [scout] Sanger link to variant is not working (#136)
Fixed
—Reply to this email directly or view it on GitHub.

[2015-10-21 13:40] guillermo-carrasco commented on #149
:bow:

[2015-10-21 13:56] robinandeer commented on #159
This was super easy to implement ^^
I updated the adapter - please take a look!

[2015-10-21 14:33] henrikstranneheim commented on #107
Yeah, I will have to see if I have time for that one.

Skickat från min iPad

[2015-10-21 14:37] henrikstranneheim commented on #151
It is as 'analysisType'. However you will have to recode it as entries are: genomes and exomes.
Theses are not easy to change and would require a rerun of all samples.
It can never be unknown and mixed are always processed as genomes.

Skickat från min iPad

[2015-10-21 15:02] dnil commented on #100
I've seen some indel variants that were not correct according to hgvs. Note difference btw their transcript oriented and common VCF reference norm. Will try to dig up a couple of examples!

[2015-10-21 16:37] robinandeer commented on #170
I don't think we need this for anything that Scout is involved in tho

[2015-10-21 16:39] robinandeer commented on #102
I'm not sure if @henrikstranneheim is picking this up and annotating it in the VCF?

[2015-10-21 16:40] robinandeer commented on #122
We need to describe how to deploy generally and then how we deploy specifically at Clinical

[2015-10-21 16:41] robinandeer commented on #140
I'm holding off until the adapter is updated with methods to get and create user models

[2015-10-21 16:47] robinandeer commented on #178
- [ ] One method to get the user by email
- [ ] Create user by passing in email, name, location, institutes
- [ ] update accessed date for a user

[code]

Or something like that

[2015-10-21 16:57] moonso commented on #100
Do you think it will be solved when we split and normalize all variants with VT?
If you find any examples we can compare old and new VCF:s

[2015-10-21 16:59] vwirta commented on #170
We want to create trending tools for qc data (duplicates, reads, qc etc) somehow. Storing path to qc might make this easier in the future

Sent from my iPhone

[2015-10-21 17:20] dnil commented on #100
No, I doubt that? Not sure what vt to does, but my guess is standard left or right with regard to reference genome orientation. Hgvs indel norm will depend on the transcript orientation, and look like it alternates btw left and right align depending on gene strandedness. Will get you a couple after the kids are asleep!

Skickat från min iPhone

[2015-10-21 18:59] henrikstranneheim commented on #170
It should at least be in moneypenny.

Skickat från min iPhone

[2015-10-21 19:15] dnil commented on #100
Ok, have a look at 14:105173862 (INF2) ACCCCACCCCCAC → ACCCCAC
In scout, it gets as cDNA "HGVS description":
NM_022489:c.1259_1270delCCCCACCCCCACinsCCCCAC p.Pro424_Pro425del
But, according to HGVS nomenclature, it should be (check with e.g. [Mutalyzer](https://mutalyzer.nl/name-checker?description=NM_022489%3Ac.1259_1270delCCCCACCCCCACinsCCCCAC)) NM_022489(INF2_v001):c.1280_1285del p.(Pro427_Pro42

[2015-10-21 19:20] dnil commented on #100
I'd predict this happens for indels on all + strand genes. Checked a couple of - strand indels, and they seem to check out ok, thanks to the VCF leftAlign norm being by chromosome pos and HGVS rightAlign by transcript. HGVS nomenclature would be what we answer out on reports, and what we use to communicate with other labs about variants, so nifty to have at some point.

[2015-10-22 04:48] emmser commented on #134
Reruns shall be ordered through SupportSystem and logged i tickets.

[2015-10-22 07:33] henrikstranneheim commented on #102
Sure is. However, it is recorded as ""Genetic_disease_model" to separate it from the variant inheritance model.

[2015-10-22 08:47] henrikstranneheim opened #179 "New filtering list for research variants only"
Add MitoCarta gene list as a filtering option for research variants only.

FYI: MitoCarta gene list will be submitted by CMMS to Clinical genomics.

[2015-10-22 19:44] henrikstranneheim commented on #96
Let's only display patogenic clinvar variants (CLNSIG=5) and their corresponding accession. NOTE: there can be multiple patogenic annotations per variant.

[2015-10-23 14:16] robinandeer opened #182 "gene.iobio"
New tool that looks like an IGV browser with some builtin stuff for inherited disease
http://gene.iobio.io/?rel0=proband&rel1=mother&rel2=father

ping @henrikstranneheim, @moonso

[2015-10-24 10:34] moonso commented on #182
It is beautiful, but I can not find a good way to look at the aligned reads?

[2015-10-24 14:42] Bianca-T opened #183 "Problems with VPN connection"
Hi,

I am trying to connect to Scout from outside KI, using VPN connection.
I am properly logged in into the clinicalgenomics.se google account, but I end up this way each time I try to access the database:
![screen shot 2015-10-24 at 16 39 32](https://cloud.githubusercontent.com/assets/5881356/10710979/2594bcbe-7a6e-11e5-86e3-1ff4114b65a8.png)

Do you have any suggestions on how I can fix this pr

[2015-10-24 14:46] vwirta commented on #183
I’ve had similar problems and it helped with changing to a different browser.
Try Firefox

VW

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2015-10-24 14:50] Bianca-T commented on #183
Thanks, It worked with Safari.

[2015-10-24 14:50] #183 closed

[2015-10-24 17:50] henrikstranneheim commented on #182
This is lovely for vetting a gene or region instead of variants. It would make a fantastic complement when wanting to analyse a complete gene. It would be great to integrate this into Scout/puzzle. However, It is not a really a replacement to IGV.

[2015-10-28 22:45] vwirta opened #184 "List of cases does not show up in Scout"
No list of cases is generated when logging into Scout. Reported by Giedre (cust002) to VW by e-mail, same error repeated by VW. Direct links to cases seem to work, at least for most cases

[2015-10-29 09:21] vwirta commented on #184
Dear Valtteri,

2015-10718 F0003626

It is really strange. I asked Kicki Lagerstedt and she does not have ny problem. The case above was left as history in my Firefox and I could open it and look at the variants. As soon as I want to see the list of all the cases the window is just empty.

Thanks a lot,

Giedre

[2015-10-29 09:26] robinandeer commented on #184
It must be web browser specific so I will need to see what's going on to tell anything,

we are moving away from that however and rendering more on the server so that we avoid problems like this

[2015-10-29 09:57] vwirta commented on #184
The problem is both in Chrome and Firefox.
Worked nicely yesterday morning, but not since then.

Problem both here at my end and also Giedre is observing the same problem.

VW

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2015-10-29 10:07] dnil commented on #184
Helena and I second that - we also don’t see the case list today, but if you know your case numbers it’s possible to get to them.

// Daniel

[2015-10-29 10:10] dnil commented on #184
Ok, on an update it seems to be working for me in Firefox now, though not for Helena, also w Firefox!

Thank you!

// Daniel

[2015-10-29 12:08] #184 closed

[2015-10-29 12:10] robinandeer commented on #184
Please confirm if the recent fix has resolved the issue!

[2015-10-29 12:23] dnil commented on #184
Works for me!

// Daniel

[2015-10-29 13:55] vwirta commented on #184
Same here!
Thanks Robin, Kenny et al.

VW

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2015-11-02 10:35] vwirta commented on #179
Provide at least initially as diagnostic gene list.

[2015-11-02 10:42] robinandeer commented on #168
On first causative variant: mark solved
Still allow users to add more variants to list of causative variants

[2015-11-02 10:54] vwirta commented on #164
Gene level as well, all individuals in case.

[2015-11-02 11:05] vwirta commented on #148
Show if 5 exists.

[2015-11-02 11:10] vwirta commented on #134
Do reruns of cases listed above - check if changes implemented have corrected / solved the issue.
Send e-mail to clinics of cases that have been rerun.

@b4ckm4n

[2015-11-03 08:33] henrikstranneheim opened #187 "Pinning a variant are not logged in the activity field"
Should it not be logged?

[2015-11-03 09:37] moonso commented on #157
@robinandeer it says that this is fixed in master, if that is correct can you close?

[2015-11-03 10:03] moonso commented on #170
I agree @robinandeer we should parse this file in an earlier stage and add the relevant information to ```scout_config.ini``` like we have done before

[2015-11-03 12:43] robinandeer commented on #157
I guess I didn't have to do anything special now so; yes :)

[2015-11-04 07:37] robinandeer commented on #150
Branch: rank-model-version

[2015-11-04 07:44] #170 closed

[2015-11-04 10:33] moonso commented on #165
The conversion is done with [phizz](https://github.com/moonso/phizz)
@robinandeer you just have to upload the code for querying, it should be clear by looking at the README

[2015-11-04 12:12] moonso commented on #134
Hello again!
We have investigated this and in our new analysis this will be solved. When the multi allelic calls are splitted and truncated we annotate the ExAC frequency.
For @Bianca-T case we can see this line in the ExAC file:

[code]
As you can see ```AF=0.38``` and this is what the new analysis of your case is annotated with, maybe it is not uploaded to scout yet but @emmser or @b4ckm4n will

[2015-11-04 12:12] #134 closed

[2015-11-04 13:11] robinandeer opened #193 "Filter cases based on who is assigned"
In search function for cases
- [x] show only unassigned cases

[2015-11-04 13:15] robinandeer opened #194 "Show gene names for causative variants FIXED"
Show also coordinates ;)

[2015-11-04 13:34] robinandeer opened #195 "Mark affected ind with red background FIXED"

[2015-11-04 13:52] robinandeer opened #196 "Show <0.001 for ExAC + 1000G freq in list and variant view FIXED"

[2015-11-05 12:07] henrikstranneheim commented on #171
There seems to be both an indel and a snv called over the same position, but splitted into two lines in the vcf. Looks like individual 15014-1-6X carries both these alternative alleles, hence the 0/1, but no reference alleles reads. It is a bit odd that GATK splittet this into 2 lines (vt has not processed this sample). @moonso Do you have an idea?

Looks like something is there but you might have

[2015-11-05 12:07] henrikstranneheim commented on #171
BTW: IGV from Scout would be lovely here....

[2015-11-05 12:29] dnil commented on #171
:+1:

My two satoshi on the pileup would be that there is no SNP? Seems all the support comes from the edge of reads, that had they been longer could have fit well in the repeat on the other side of the del? The slightly further extending ones with ,,g,,t,,,,, certainly do have support for this, and the remaining do not speak against it in any way.

[2015-11-06 09:45] moonso commented on #148
We will now search through the clnsig annotations and see if we can find 5.
If we find 5 we show this otherwise we show nothing

[2015-11-06 09:47] henrikstranneheim commented on #148
Remember that the CLNSIG is a list of values, i.e. CLNSIG=5|c|y|5 and the accessions follow the same pattern. We want to show all 5:s and IDs.

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se <mailto:henstr18@kth.se>
Visiting address:
Science for Life Laboratory - SciLifeLab
Gamma build

[2015-11-06 09:55] moonso commented on #148
What ids:?

[2015-11-06 10:04] henrikstranneheim commented on #148
Sorry! Accessions i.e “##INFO=<ID=SnpSift_CLNACC,Number=.,Type=String,Description="Variant Accession and Versions”>"
CLNSIG=3|0
SnpSift_CLNACC=RCV000152385.1|RCV000172372.2

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se <mailto:henstr18@kth.se>
Visiting address:
Science for Life Labor

[2015-11-06 10:29] robinandeer commented on #179
Should the clinical panels be available for the research variants?

Will the research panels be annotated in MIP?

[2015-11-06 10:51] henrikstranneheim commented on #179
I don’t think so as they have already been vettet in the clinical setting.

As far as I know it is only as a filtering step in Scout i.e filter variants on HGNC_symbol that for instance Mitocarta will be used and no other annotation. Since Scout will be aware of all gene lists/panels my initial thought would be that Scout could fetch these HGNC_symbol and include them in the filtering, but that is

[2015-11-06 14:28] robinandeer commented on #94
https://github.com/igvteam/igv.js/blob/master/examples/api.html

[2015-11-10 07:59] robinandeer opened #203 "Add version of gene panels as default in report FIXED"

[2015-11-16 07:29] nicolelesko opened #205 "15067"
Cannot perform a HPO search in this family.  Research list of variants is open, does this have anything to do with the problem?

[2015-11-16 09:14] robinandeer opened #206 "Analyzed_at date should be used for sorting cases + in list"
@moonso: is this date not populated in the database?

- [ ] add to interface
- [ ] return cases sorted by this date from adapter @moonso

[2015-11-16 10:13] robinandeer commented on #205
Hi,

we are gonna improve this soon but the error comes from the HPO id that is annotated for that case: `HPO:0003198 `

It should say `HP:0003198` (lose the "O") - apparently we aren't doing any sanity checks there :P

Delete the old entry and add the correct ID and it should work!

[2015-11-16 10:13] #205 closed

[2015-11-16 11:49] robinandeer commented on #206
updated date should reflect the analysis date already

[2015-11-16 11:49] #206 closed

[2015-11-17 11:50] nicolelesko opened #207 "ExAC shows 0 but the frequency is 0.2797"
For this variant ExAC shows 0
https://clinical-db.scilifelab.se:8083/cust003/15091/variants/c76a40cee5078fb65eebaf73476800ff

[2015-11-17 12:26] moonso commented on #207
Thanks Nicole,
I'll have a look into this

[2015-11-17 12:45] moonso commented on #207
@henrikstranneheim
Ok so in ExAC.r0.1.sites.vep.vcf.gz the line looks like:

```7	147335933	.	CTT	CTTT,CT,CTTTT,C	1701754.22	PASS    AF=0.133,0.077```

in ExAC.r0.3.sites.vep.vcf.gz it looks like:

```7	147335933	.	C	CT	1.70175e+06	PASS    AF=0.13```

How was this annotated, with what file and when?

[2015-11-17 13:16] 4WGH opened #208 "bug on date of upload?"
Hi!
I've noticed that the last 3 days these familes have been uploaded every day.
= yesterday there was 2015-11-16, the day before 2015-11-15, today 2015-11-17 but we are not aware we asked for a new upload.
what is happening?
[uploads_issue.pptx](https://github.com/Clinical-Genomics/scout/files/36678/uploads_issue.pptx)

Michela

[2015-11-17 13:16] 4WGH opened #209 "database versioning"

[2015-11-17 13:20] moonso commented on #209
This will come in the new update, see #150

[2015-11-17 13:20] #209 closed

[2015-11-17 13:21] moonso commented on #208
@b4ckm4n , @emmser , @robinandeer ?

[2015-11-17 13:22] 4WGH commented on #209
?

[2015-11-17 13:27] 4WGH opened #210 "database version not consequential"
we have noticed the following in-congruence on the database version reported in scout.
family 15080, uploaded 2015-08-30 version 6.2
familiy 15102, uploaded 2015-09-23 version 6.3
family 15044 uploaded 2015-11-12 8or 17) version 6.2

This could be connected to the previous issued with upload date.
Kenny looked into this and the versions do not correspond correctly...
The version used todat is 6.5

[2015-11-17 13:29] robinandeer commented on #208
@moonso: we have identified this issue as having to do with cases that were initially uploaded under "cust000" and thereafter moved manually "cust003". When the script finds the analysis again the code identifies it as a new case and processed with the re-upload - do you perhaps we should implement something covering this case?

@4WGH: this is an unfortunate issue but the analysis data is the same

[2015-11-17 13:32] ingkebil commented on #209
just to elaborate: it is strange that the database version goes from 6.2 to 6.3 and back to 6.2 even though the upload dates only go up?

Also, I have checked the version of the gene list in production at the upload date and that doesn't seem to correspond with the upload dates either:
Oct 21 6.4
Jun 5 6.3
May 18 6.2

[2015-11-17 13:34] robinandeer commented on #210
Sorry about that, this is indeed related to #208! The upload date is not directly related to the database version. As I tried to explain in the other issue, the data for these falsely re-uploaded cases is based on old data - they have not actually been rerun.

[2015-11-17 13:41] robinandeer commented on #209
See #210

[2015-11-17 14:19] 4WGH commented on #209
As long as we have this issue going on it may be good if Kenny tell me when a new version is used so I can cross check the data fit. (new family should have the newest version)? or is it OTT?

[2015-11-17 17:09] henrikstranneheim commented on #207
1. Exac seems to update their website before releasing new flat files so sometimes we go out of sync (As in this case, explaning AF=0.13 (flat file) and AF=0.27).
2. If the variant is not present in 1000G, there was a bug in MIP overwriting the exac frequency as 0 instead of 0.13. This has been fixed some versions ago by introducing "snpSiftAnnotationOutInfoKey" flag. However, this bug of course r

[2015-11-17 17:09] #207 closed

[2015-11-18 14:56] robinandeer opened #212 "Convert sample/group ids in report FIXED"
Through query args in chanjo report v2.3.0
`alt_[sample_id]=[display_name]`

[2015-12-01 08:16] moonso opened #215 "Show display name of institutes"
We have this functionality so we should use it

[2015-12-03 15:07] 4WGH opened #217 "variant comments"
https://clinical-db.scilifelab.se:8083/cust003/15126/clinical?gene_lists=IEM&gene_lists=EP

fam 15126 I can see a blue dot near the CEP89 gen but no comment inside.

can not remember if it should be like that or if it is a bug.

[2015-12-03 19:54] moonso commented on #99
@emmser did you fix this today?

[2015-12-03 19:56] moonso commented on #217
Hello! This is the same as #152 , right?
In that case it will be fixed when we update scout

[2015-12-03 20:30] ingkebil commented on #99
Aha, I did. Well, SoS did, and then I sent an email from that solution. We have now an account on chipmonkey.

[2015-12-03 20:30] #99 closed

[2015-12-03 20:59] moonso commented on #99
:+1:

[2015-12-04 13:47] moonso opened #218 "Add list type to gene lists in scout_config"
@ingkebil @robinandeer  this should be done by mip2scout

[2015-12-04 13:49] moonso commented on #218
```type``` can be ```'research'``` or  ```'clinical'```

[2015-12-04 17:17] robinandeer commented on #218
I agree! Do you know if we can pick this up from QC sample info?

Can't use my computer unless I buy a charger but...

[2015-12-05 11:12] moonso commented on #218
Not sure, we should ask @henrikstranneheim

[2015-12-07 06:55] moonso opened #219 "Add option to use config file for the scout database"
This file could look like:

[code]

[2015-12-07 06:59] henrikstranneheim commented on #218
Research lists are under the key "RangeFile" and clinical lists are under the key "SelectFile" in qc_sampleInfo.

[2015-12-08 10:09] moonso commented on #161
- [ ] Add ``ìs_canonical``` to transcript model
- [ ] Display the transcript in color if it is canonical

[2015-12-08 19:56] vwirta opened #220 "sorting of genelist"
sort genelist in alpabetical order to make it more easy to find gene of interest, or add option to sort in different ways

[2015-12-08 19:59] moonso commented on #220
There are several problems with the gene lists right now. The problem is solved but not merged.
We can check how hard it would be to sort the gene panels on name.

[2015-12-08 20:11] vwirta commented on #220
I meant sorting the content of the genelist, not the list of genelists

Sent from my iPhone

[2015-12-08 20:13] moonso commented on #220
Ok :+1:

[2015-12-09 12:32] emmser opened #221 "Scout links to the wrong place when pressing different 'buttons'"
Scout often links back to the institution side when I'm trying to go somewhere else. It is solved by going backwards in the browser and then try again.

[2015-12-10 15:49] ingkebil opened #222 "KNOWN ISSUES with new version of Scout"
- [x] 1. In the gene list overview: too many gene lists are loaded here. This does not affect the analysis and is only a problem with the overview. @moonso
- [x] 2. Coverage report does not render. @robinandeer
- [x] 3. Genes in gene list are not sorted #220
- [x] 4. Scout often links back to the institution side when trying to go somewhere else #221

[2015-12-16 12:14] henrikstranneheim opened #223 "Search "Found cases" DONE"
Text "Found X cases" after searching should be written as "Found X case(s)" to better reflect that there can be 1 case or multiple.

[2015-12-16 12:16] henrikstranneheim opened #224 "Filtering genetic models DONE"
You cannot see the entire string when choosing the Genetic Models in the filtering view, which I think in fact is the Inheritance model that is filtered so this is a misnomer.

[2015-12-16 12:17] henrikstranneheim commented on #148
CLNSIG field is still showing the wrong annotation and display name

[2015-12-16 12:23] henrikstranneheim opened #225 "Alignment view"
Would be great to get the vcffile track in the alignment view as well and a coverage track

[2015-12-23 21:48] vwirta opened #227 "Link to 'Clinical variants' does not limit results to expected gene list"
When clicking the 'Clinical variants' link from the list of cases page, the linked page does not have the predefined gene list selected.

[2015-12-28 09:25] robinandeer commented on #222
2. This was an issue in the "chanjo-report" package which has been fixed and we are now depending on the new version of that package.

[2015-12-28 09:26] robinandeer commented on #221
What do you mean by _often_ specifically? Can you provide an example of when this happens?

[2015-12-28 09:40] robinandeer commented on #224
Why are they so long strings!? hahahah

[2015-12-28 12:57] robinandeer commented on #219
Already fixed

[2015-12-28 12:57] #219 closed

[2015-12-28 13:02] robinandeer commented on #227
Can you give us an example (link) on when this happens. We could not replicate this

[2015-12-28 13:45] robinandeer commented on #225
VCF file must be loaded as a whole for each variant so we need to think about how we do this

[2015-12-28 14:23] robinandeer commented on #215
In the institutes list

[2015-12-28 14:35] #164 closed

[2015-12-28 14:39] robinandeer commented on #94
We are using pileup.js right now and are awaiting feedback if IGV is a needed feature

[2015-12-28 14:39] #94 closed

[2015-12-28 21:58] vwirta commented on #227
Is the new Scout still online? Unable to login to try replicate

[2015-12-28 21:58] vwirta commented on #227
too quick to close :)

[2015-12-28 22:02] vwirta commented on #221
I've witnessed this at several occasions (ca 5 times) during the weeks before Christmas. Always Emma's computer and Emma's profile.

[2015-12-29 07:34] robinandeer commented on #227
Sorry, it's up again @vwirta :smiley:

[2015-12-29 08:23] robinandeer commented on #218
Added here: 7e70c8e3b93fc5d6bc67af20d1a02952d8574447

[2015-12-29 08:25] #218 closed

[2015-12-29 08:31] robinandeer commented on #215
This is actually what I do use but I suppose we never differentiate between "internal_id" and "display_name" but we kinda of could I guess...

[2015-12-29 08:31] #215 closed

[2015-12-29 11:46] henrikstranneheim commented on #102
I'm not sure what you want me to do Robin. All the info is in the vcf taken from the clinical list populated by Kenny. This info should go below variant in the table "Inheritance model" using the display name "Disorder"

[2016-01-04 12:13] moonso commented on #161
We will start to annotate this when we move to external database for region annotations

[2016-01-04 12:53] #136 closed

[2016-01-04 12:53] #144 closed

[2016-01-04 12:53] #146 closed

[2016-01-04 12:53] #148 closed

[2016-01-04 12:53] #150 closed

[2016-01-04 12:53] #152 closed

[2016-01-04 12:53] #157 closed

[2016-01-04 12:53] #158 closed

[2016-01-04 12:53] #159 closed

[2016-01-04 12:53] #168 closed

[2016-01-04 12:53] #194 closed

[2016-01-04 12:53] #195 closed

[2016-01-04 12:53] #196 closed

[2016-01-04 12:53] #203 closed

[2016-01-04 12:53] #212 closed

[2016-01-04 12:53] #223 closed

[2016-01-04 12:53] #187 closed

[2016-01-04 12:53] #193 closed

[2016-01-04 12:53] #220 closed

[2016-01-04 12:53] #224 closed

[2016-01-04 13:02] robinandeer commented on #221
It seems to be limited to about two weeks before christmas. We will deal with the issue if it appears again

[2016-01-04 13:02] #165 closed

[2016-01-04 13:02] #162 closed

[2016-01-04 13:02] #96 closed

[2016-01-04 13:02] #145 closed

[2016-01-04 13:02] #151 closed

[2016-01-08 09:22] 4WGH opened #229 "NEw SCOUT: not possible to choose a gen list in the filter function."

[2016-01-08 09:29] 4WGH opened #230 "New Scout: Sanger ordering"
I did a test to order Sanger.
The link now work and send back to the variant: Great!
But I've not received the e-mail with the order. I do not know it if is because we are testing or a bug. So I let you know :)

[2016-01-08 11:50] robinandeer commented on #230
Great :smiley:

It's set up so that I receive the email for the testing version

However, you should receive a confirmation email to your "@clinicalgenomics.se" email that you use to login to Scout

[2016-01-08 11:50] #230 closed

[2016-01-08 11:53] robinandeer commented on #229
Hi,

can you give some more details regarding this issue? Perhaps you have a URL that isn't working as expected?

For me it works to filter by gene panel :)

FYI: there are multiple version of the gene lists for some of the cases. This issue is already known and fixed but it might look weird in Scout right now as well as in the coverage report.

[2016-01-08 11:55] robinandeer commented on #227
I still can't replicate this. Perhaps it was related to when some links randomly took the user back to the index page?

[2016-01-08 14:01] dnil opened #232 "Annotation and gene track in pileup.js out of sync?"
It seems pileup.js displays another gene track than the one used for annotation (VEP)?

See e.g. https://clinical-db.scilifelab.se:8081/cust002/F0001933-miptest/variants/25b618863290fec5576faf2b2da175b8
Annotated as a TTN intronic variant; appears exonic/3pUTR in SESTD1.

[2016-01-08 14:07] dnil opened #233 "1000G or ExAC f=0.01 in clinical filter?"
Any particular reason to have only 1000G AF<=0.01 in the clinical filter preset?
More generally, is the clinical filter open to per-clinic modification?

[2016-01-08 14:42] dnil opened #234 "Long scrollable list views loose top/bottom fields in safari"
I'm having trouble navigating to the top/bottom of long lists, as in Transcripts or Proteins, in Safari. Seems to be working fine in Firefox. Might be a Safari-feature more than a Scout one; but perhaps there is some magic attribute to be set to amend it?

E.g.
https://clinical-db.scilifelab.se:8081/cust002/F0001933-miptest/variants/9f779c6ac88f21591ca4c3214006cfc6

[2016-01-08 15:31] robinandeer opened #235 "Fire the "open_research" event?"
Who is responsible to firing the "open_research" event?
When do we do it?

[2016-01-08 15:50] robinandeer opened #236 "Loading gene panels"
The gene panels get loaded multiple times when you reload cases and the model doesn't seem to define any restrictions on unique fields.

How can a gene panel be uniquely identified? "panel_name" and "version"? We should also check the database if a gene panel already exists before loading it all over again :)

[2016-01-08 18:26] moonso commented on #235
It should be done from the adapter I guess.
But the upload has to be done manually of course.

[2016-01-08 18:27] moonso commented on #236
Hmm ok I'll have a look into this one

[2016-01-09 10:31] vwirta commented on #227
This seems to work for some cases as expected, but not for all.
Going from here: https://clinical-db.scilifelab.se:8081/cust003
to case 15053 'clinical variants' lists all variants without a predefined gene list. This was the only example I could find right now.

Going to case 15035-miptest works as expected.

Something how MIP was run?

[2016-01-09 10:56] robinandeer commented on #232
Good catch! We are working on creating our own BED file with correct gene coordinates

(We were using the demo-version from the `pilup.js` guys)

[2016-01-11 05:30] emmser commented on #235
I get the emails from old scout as a ticket right now, and opens the research variants manually with pymip

[2016-01-11 07:21] henrikstranneheim opened #237 "customized coverage report"
The completeness cut-off can only be set for the certain levels e.g. 10, 20 etc. depending on the raw data. This is not evident from the input field. Maybe a list of options would help.

[2016-01-11 07:33] henrikstranneheim opened #238 "customized coverage report - sampleID"
Submitting only 1 sample does not seem to alter the report in any way

[2016-01-11 07:34] henrikstranneheim opened #239 "customized coverage report - submit"
There is a text field saying "submit" above the update button that does not seem to logical.

[2016-01-11 07:36] henrikstranneheim opened #240 "customized coverage report - gene panel"
Changing the gene panel does not alter the number of transcript in the results. Hence, it does not seem to affect anything in the report.

[2016-01-11 07:37] henrikstranneheim opened #241 "customized coverage report - show genes"
What does this do. I cannot notice any difference?

[2016-01-11 07:40] henrikstranneheim opened #242 "Capital letters for wes and wgs"

[2016-01-11 10:18] robinandeer opened #243 "New madeline features"
It seems there's been some progress in Madeline 2 recently:
https://madeline.med.umich.edu/madeline/

Is there anything here that we want to check out?
We should at least typ if the "collapsed" output option is of interest

[2016-01-11 12:00] robinandeer commented on #236
I will use CCDS as base

[2016-01-11 12:29] robinandeer commented on #238
This is bc you can currently only search by either sample or group/family.
I can strip away the group id if there are any sample ids present in the query

[2016-01-11 12:39] robinandeer commented on #217
Yep!

[2016-01-11 12:39] #217 closed

[2016-01-11 12:51] robinandeer commented on #238
updated in chanjo-report (unreleased)

[2016-01-11 12:53] robinandeer commented on #240
This is only for display as the list of genes is behind the logic of the "gene panel" - I will clarify this in the report form

[2016-01-11 12:56] robinandeer commented on #241
It shows the gene ids related to the transcript that lack 100% completeness
There was a bug however that disabled this functionality

[2016-01-11 13:20] robinandeer commented on #237
Updated in chanjo-report 2.5.0 (unreleased)

[2016-01-11 13:35] robinandeer commented on #234
Good catch @dnil!

I made a mistake in the CSS but hadn't noticed :P

[2016-01-11 13:40] robinandeer commented on #233
I think we should discuss/have discussed this at some point

I'll defer to @henrikstranneheim to justify why this specific limit was picked

But lets talk about what we can do for customizations further ahead

[2016-01-11 17:16] robinandeer commented on #232
This is now addressed with a CCDS based gene track - please try it out!

[2016-01-11 17:22] robinandeer commented on #232
@henrikstranneheim: interesting case here
ALG1 is annotated in CCDS between 5121849 to 5134881 whereas in MIP a [variant](https://clinical-db.scilifelab.se:8081/cust000/A1140-miptest/variants/717be7e5519237b1ff04cbdcc361424a) on position 16:5112636 is annotated as ALG1 intronic. Which source does this annotation?

[2016-01-11 20:52] 4WGH commented on #229
![new](https://cloud.githubusercontent.com/assets/12525201/12246218/860c4e86-b8ad-11e5-9240-ff3218d3f066.PNG)
this is what I see in the new scout once I try to choose a list
![old](https://cloud.githubusercontent.com/assets/12525201/12246229/9894daa0-b8ad-11e5-9768-abdf5b55b94c.PNG)
this is what I see in the on going one.

[2016-01-11 22:48] henrikstranneheim commented on #232
VEP. Do you have the correct version of CCSS - b37?

Skickat från min iPhone

[2016-01-12 07:35] robinandeer commented on #232
CCDS 15, based on GRCh37.p13

[2016-01-12 08:29] henrikstranneheim commented on #232
Ok, let's dig into this tomorrow.

[2016-01-12 10:04] robinandeer commented on #232
Absolutely,

for the discussion:

There's only one [CCDS transcript](http://feb2014.archive.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000033011;r=16:5083703-5137380) in ALG1. If I simply use those coordinates, then some genes that VEP annotates will not show up in the genome browser.

So do we stick to CCDS or include more liberally just the longest transcript so that we get closer to

[2016-01-13 10:31] robinandeer commented on #229
Oki thanks!

I think it has something to with this case specifically, the other cases seem to work fine so when we do the proper upload I would expect this to be resolved :)

[2016-01-13 13:18] robinandeer commented on #232
We collapsed all exons in each gene and now they show up as expected ^^

[2016-01-13 13:18] #232 closed

[2016-01-13 13:54] #234 closed

[2016-01-13 13:54] #242 closed

[2016-01-13 14:03] #241 closed

[2016-01-13 14:04] #240 closed

[2016-01-13 14:04] #239 closed

[2016-01-13 14:04] #238 closed

[2016-01-13 14:05] #237 closed

[2016-01-13 14:05] #236 closed

[2016-01-13 14:06] #179 closed

[2016-01-15 12:12] henrikstranneheim opened #244 "Upload all variants belonging to contig or gene on demand - independent of RankScore"

[2016-01-21 08:35] #171 closed

[2016-01-27 11:37] 4WGH opened #245 "suggeston: show how many genes are included in the panel"

[2016-01-27 11:38] moonso commented on #245
Sure, good idea

[2016-01-27 11:39] 4WGH commented on #245
it is nice to see how many genes are included totally.
not a issue but only a suggestion. it can help to cross check we are using the right list.

![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/12612414/ce4b115e-c4f2-11e5-9f4c-0e7e39c9b083.PNG)

[2016-01-27 11:43] moonso commented on #245
We will add this to the Februari update

[2016-01-28 09:22] henrikstranneheim commented on #233
1000G AF<=0.01 serves as a rough filter, but you can choose basically any annoation MIP delivers to Scout.
Customizations per institute would be great

[2016-01-28 10:07] henrikstranneheim commented on #107
I think we should support two frequencies from EXAC and 1000G: a MAX_AF (MIP will add this to the vcf references for both 1000G and EXAC) and the usual AF.
If you want to look into more detail one can follow the EXAC link in Scout for subpopulations and the 1000G browser for instance: http://browser.1000genomes.org/Homo_sapiens/Variation/Population?db=core;r=1:128213-129213;source=dbSNP;v=rs545245

[2016-01-28 11:48] henrikstranneheim opened #246 "Add local frequency database"

[2016-01-28 11:49] henrikstranneheim opened #247 "Expand coverage for genes and transcripts from gene lists"

[2016-02-01 11:47] #222 closed

[2016-02-01 11:48] #221 closed

[2016-02-01 12:59] robinandeer opened #248 "Handle Unicode when saving to database"
Catch this or solve somehow :)

[code]

[2016-02-02 09:40] nicolelesko opened #249 "Clinical filter not working"
Clinical filter seems to be removing variants which shouldn't be removed.  Can you check it is correct?

[2016-02-03 10:38] henrikstranneheim opened #250 "Add link to SO browser in transcripts table and header with sprocket"
It would be great to have a link to the Sequence Ontology browser from each annotation in the Mutation Type coulmn in the  Transcripts table.
http://www.sequenceontology.org/browser/current_svn/term/SO:0001619

[2016-02-05 15:30] robinandeer opened #251 "Add index to "updated_at" case field"
runs into memory issues

[2016-02-10 12:20] robinandeer commented on #249
@nicolelesko: could you provide more details? Which family did you notice this in? Do you have a specific example of variants that are incorrectly filtered out?

[2016-02-10 12:27] robinandeer opened #252 "Show sanger status for pinned variants"
!

[2016-02-10 13:11] robinandeer opened #253 "Change polyphen link"
http://genetics.bwh.harvard.edu/pph2/

[2016-02-15 11:10] 4WGH opened #254 "case sensitive gene filter"
to filter for a gene HGNC symbol has become again case sensitive.
tested on fam 15092 .

[2016-02-15 12:33] henrikstranneheim opened #255 "Display consensus variant caller support for a given variant FIXED"
denoted by the 'set=' INFO flag

[2016-02-16 13:58] 4WGH commented on #249
A practical ex. take fam 16011. if you select clinical filter the variants on MTFMT disappear. there is not reason for that.

[2016-02-16 15:46] robinandeer opened #256 "Position for variants and amino acid change"
Issue from Jakob Nilsson (cust004). If this something for MIP or Scout?
ping @henrikstranneheim @moonso

[2016-02-17 07:56] henrikstranneheim commented on #256
@robinandeer
The cDNA position and protein positional change is always related to a particular transcript and protein isoform. This is also evident from the "transcrtipt overview" which list both gene and transcript in addition to the amino acid or cDNA change. The purpose of "transcript overview" is to provide a quick summary of the "likely" most important changes for refSeq transcripts. We can l

[2016-02-17 12:27] dnil commented on #256
See also https://github.com/Clinical-Genomics/scout/issues/161 - "highlight causative transcripts" for a discussion on adding canonical transcript markup. That said, it is probably still a Very Good Idea to keep a lookout for damaging variants in real, expressed alternative transcripts, that are not marked e.g. NMD, even though they may not be the one that everyone is using for reference. We had t

[2016-02-19 08:20] nicolelesko opened #257 "HPO search not working"
The HPO search function is not working in family 15138.

[2016-02-19 08:51] 4WGH commented on #257
same in fam 16007

[2016-02-19 08:59] moonso commented on #257
In what way does it fail?

[2016-02-19 09:02] 4WGH opened #258 "WGS and WES in the same family"
How are handled the labelling in cases where in a fam there is a mix of WES and WGS data?

[2016-02-19 09:05] 4WGH commented on #257
when I click on ADD the HP:XXX number I typed in just diseappear.
the problem started this morning. It has been working for a whyle then stopped. Within the same family.
 
 
Michela -----Måns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Måns Magnusson <notifications@github.com>Datum: 2016-02-19 09:58Kopia: MichelaBarbaro <michela.

[2016-02-19 09:17] 4WGH commented on #256
to highlight the "causative" or the official "RefSeq" transcript it is still a wish we have too. This info could be taken from HGNC webpage. without need of HGMD :)
If I remember well Kenny though he could retrieve this information

[2016-02-19 10:18] 4WGH opened #259 "can not collect covarage report"
i get this problem from fam 15066 when I try to get the coverage report ....

"Säker anslutning misslyckades

Anslutningen till servern bröts under hämtningen av sidan.

    Sidan du försöker se kan inte visas eftersom autenticiteten för mottagen data inte kan verifieras.
    Kontakta webbplatsens ägare och informera dem om detta problem "

[2016-02-19 11:45] moonso commented on #258
They will be labeled as WGS.
Is that fine with you?

[2016-02-19 11:46] moonso commented on #257
Ok I'm investigating this one

[2016-02-19 11:47] moonso commented on #259
@robinandeer , will you have a look?

[2016-02-19 12:20] 4WGH commented on #259
now it works!!!
 
Michela
 
Michela Barbaro, M.Sc, PhD
Sjukhuskemist
Centrum för Medfödda Metabola Sjukdomar (CMMS)
L7:05
Karolinska Universitetssjukhuset Solna
17176 Stockholm
-----Måns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Måns Magnusson <notifications@github.com>Datum: 2016-02-19 12:47Kopia: MichelaBarbaro <michela.barba

[2016-02-19 12:23] moonso commented on #259
:+1:

[2016-02-19 12:23] #259 closed

[2016-02-19 12:26] 4WGH commented on #258
my personal opinion is that it would be a bit confusiong.
We try have a meeting here
 
Michela Barbaro, M.Sc, PhD
Sjukhuskemist
Centrum för Medfödda Metabola Sjukdomar (CMMS)
L7:05
Karolinska Universitetssjukhuset Solna
17176 Stockholm
-----Måns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Måns Magnusson <notifications@github.com>

[2016-02-19 12:28] moonso commented on #258
Ok, would it be better to have a MIXED label?

[2016-02-19 12:29] ingkebil commented on #259
Some server updates couldn't wait and this morning the server got rebooted. That might have been the problem. Sorry about the inconvenience.

[2016-02-19 13:31] moonso commented on #257
They have updated Phenomizer, the software we use to build gene lists from hpo terms. The problem is that they now require username and password...
We are trying to find a solution to this.

[2016-02-19 20:36] 4WGH commented on #258
it would be helpfull !
 
Michela-----Måns Magnusson <notifications@github.com> skrev: -----

Till: Clinical-Genomics/scout <scout@noreply.github.com>Från: Måns Magnusson <notifications@github.com>Datum: 2016-02-19 13:28Kopia: MichelaBarbaro <michela.barbaro@karolinska.se>Ärende: Re: [scout] WGS and WES in the same family (#258)
Ok, would it be better to have a MIXED label?
—Reply to this email dir

[2016-02-20 18:25] vwirta commented on #249
@robinandeer can selecting 'Mark checked' add a line into the Activity log?

[2016-02-20 18:54] vwirta commented on #227
This seems to work as expected in the new version of Scout. Closing.

[2016-02-20 18:54] #227 closed

[2016-02-20 18:55] vwirta commented on #208
@robinandeer did you do changes to this on Friday?

[2016-02-22 07:45] robinandeer commented on #249
@vwirta: it should create an event - is there a case where it doesn't?

[2016-02-22 07:47] robinandeer commented on #208
This shouldn't be an issue anymore, we fixed it by editing the files on the filesystem

[2016-02-22 07:47] #208 closed

[2016-02-22 08:56] nicolelesko commented on #258
Mixed would be a good label for CMMS.
Nicole

[2016-02-22 13:19] robinandeer commented on #84
Just one position/range or multiple?

[2016-02-22 14:18] robinandeer commented on #84
Interface part done :)

[2016-02-22 14:19] robinandeer commented on #101
Have we done this or is this a 1.3 feature?

[2016-02-22 14:32] vwirta commented on #249
@robinandeer I am not sure if there is an event in for example cust003 15102? Is it the 'Updated the status' comment? Can it be made more explicit?

[2016-02-22 14:40] robinandeer commented on #107
I will guess what the model will look like and update the interface

[2016-02-22 14:43] robinandeer commented on #249
Yeah, I reused an event-type we already had but I can look into it

[2016-02-22 15:06] robinandeer commented on #122
Maybe just keep this in AMSystems :P

[2016-02-22 15:06] #122 closed

[2016-02-22 15:57] robinandeer commented on #147
We should definitely discuss this more before setting a timeline for the completion
Intersting idea :)

[2016-02-22 15:58] robinandeer commented on #167
Tell me if we should show this somehow, or is this only for internal purposes?

[2016-02-22 15:59] robinandeer commented on #169
why...

[2016-02-22 15:59] #169 closed

[2016-02-22 16:01] robinandeer commented on #178
I stopped user "get_or_create" in PR #263 but this is the next step, let's do it in the same PR

[2016-02-22 16:02] #210 closed

[2016-02-22 16:04] robinandeer commented on #225
Let's sit down together with this @moonso or perhaps @guillermo-carrasco would like to join as this would be used in https://github.com/robinandeer/puzzle as well :)

[2016-02-22 16:04] #229 closed

[2016-02-22 16:06] robinandeer commented on #233
Is this a request we should implement now? I remember discussing this but would you like to set it on a per user/institute/case level?

We could tie it to Scout to begin with

[2016-02-22 16:24] #248 closed

[2016-02-22 21:25] #245 closed

[2016-02-22 21:27] #252 closed

[2016-02-22 21:30] moonso commented on #84
:+1:

[2016-02-22 21:31] moonso commented on #101
It's more or less done, we can include it in 1.3

[2016-02-23 10:14] robinandeer commented on #249
Now there's a separate event logged for updating the checked-status of a case in branch "new-event-checked"

[2016-02-23 10:14] #249 closed

[2016-02-24 08:16] robinandeer commented on #258
- [ ] We will annotate this with a column in the PED file
- [ ] MIP will add a new field in QC sample info "SequencingType"

[2016-02-24 08:21] robinandeer commented on #257
- [ ] update to v0.5
- [ ] put auth in config

[2016-02-24 08:33] #235 closed

[2016-02-24 09:08] robinandeer commented on #178
Done

[2016-02-24 10:22] #178 closed

[2016-02-24 10:22] #140 closed

[2016-02-25 09:24] robinandeer commented on #247
This is my first draft:

![screen shot 2016-02-25 at 10 23 11](https://cloud.githubusercontent.com/assets/1220232/13315232/d6a26014-dba9-11e5-8cd3-99f6884b3c09.png)

/ping @moonso @henrikstranneheim

[2016-02-25 12:44] moonso commented on #247
SuperRobin :sheep: !!

[2016-02-25 13:24] nicolelesko commented on #257
HPO search not working in family 133.  I can add HP:XXX without any problem and the correct term and number comes up along with a list of genes connected to the term.  However, when I do a search in the clinical variants I get an error page.  This family has the research list open, can this have anything to do with it?

[2016-02-25 13:48] robinandeer commented on #247
Yay, thank ü :cactus:

I'll integrate and PR in Scout next

[2016-02-25 13:52] ingkebil commented on #247
how comes the completeness at 10x shows up at 100% for all exons except one?

[2016-02-25 13:53] ingkebil commented on #247
Otherwise looks really slick! :)

[2016-02-25 14:01] robinandeer commented on #247
Looks like the fifth exon isn't covered at all for that gene

[2016-02-26 07:29] robinandeer commented on #257
For this particular case, the number of genes that phenomizer comes up with is too many for us to handle the normal way. We will implement a solution that works with any number of genes

[2016-02-26 07:40] #107 closed

[2016-02-26 07:44] #247 closed

[2016-02-27 09:28] dnil commented on #161
Ah, I just noticed that VEP annotates its take (ENSEMBL?) on canonical transcript with flag --canonical.S If this holds out as appropriate transcripts, it seems more appropriate to call it at the variant annotation step than leave it for gene lists.

[2016-02-27 09:46] moonso commented on #161
Agree! That sounds like a nice solution. What do you think @henrikstranneheim ?

[2016-02-29 09:47] moonso commented on #102
Is there any file on rasta with an example of `Genetic_disease_model`?
I've tried to look at some but could not find it...
@henrikstranneheim @emmser

[2016-02-29 09:51] ingkebil commented on #102
Check out cust003-CMMS.txt, and clinical master list. All CMMS related lists have a chance of having `Genetic_disease_model` filled in.

[2016-02-29 09:53] moonso commented on #102
Yes I understand that they are annotated in the gene list files. But it should be annotated in the VCF according to @henrikstranneheim comment above.

[2016-02-29 10:19] robinandeer commented on #257
I've merged the fix into the prod branch ;)

[2016-02-29 10:19] #257 closed

[2016-02-29 10:23] #251 closed

[2016-02-29 10:24] #102 closed

[2016-02-29 10:34] henrikstranneheim commented on #161
I agree. It is good to include it in a process that is already set up for simplicity. I have added the flag to the default VEP features. VEP annotates the canonical transcript with a "YES".

[2016-03-01 09:20] 4WGH opened #271 "HPO not working again"
I can not add more then 1 term, see screen shot.
When I click on ADD (that look quite odd) the term disappears.

The HPO search at CMMS is very important. We wish high prio if possible .
Thanks
Michela
[HPO_160301.pptx](https://github.com/Clinical-Genomics/scout/files/152455/HPO_160301.pptx)

[2016-03-01 09:40] #253 closed

[2016-03-01 09:40] #254 closed

[2016-03-01 12:30] 4WGH commented on #271
in fam 16004 there is a HPO temr. Once I try to filter for the HPO generated gene list I get a message of "serve error, inner peace :) "

:(

[2016-03-01 12:35] robinandeer commented on #271
I've noticed this, I believe it's an easy fix - will push it out today!

[2016-03-01 12:51] robinandeer commented on #271
@4WGH: This HPO term `HP:0004914` is currently not included in our database, this is why it looks like you can't load more than one term

ping @moonso

[2016-03-01 13:12] robinandeer commented on #271
@4WGH: the fix for the first issue is now live - you can use the HPO list again

As for the second problem we will get back but now you will get a warning about it

[2016-03-02 08:56] #258 closed

[2016-03-02 08:57] robinandeer commented on #246
as far as Scout goes, this is complete :)

[2016-03-02 08:57] #246 closed

[2016-03-02 20:53] 4WGH commented on #254
Still case sensitive , tested today on fam 16016.

[2016-03-03 06:32] robinandeer commented on #254
This fix will be included in the pending update where we upgrade our pipeline

[2016-03-03 07:13] 4WGH commented on #271
fam 16006 there is a HPO gene list, I do the HPO filter no variants come up.
If I search for variant in the PAH gene (included in the HPO gene list) I get a variant....
another type of HPO filter problem?

[2016-03-03 07:34] robinandeer commented on #271
There was indeed an error introduced which is now resolved in the production scout

Thank you a lot @4WGH!

[2016-03-03 07:37] #271 closed

[2016-03-03 07:50] 4WGH commented on #271
thank you for the swift replay !

[2016-03-03 13:52] 1ctw opened #272 "View alignment not working"
When clicking '"View alignment" there is nothing of value shown. Seem to happen in all cases on all variants.

[2016-03-03 17:37] vwirta commented on #272
Same for me.

[2016-03-04 07:46] robinandeer commented on #272
Some reference folders had been moved around but I've updated the links in the code so now it's working again - thanks :+1:

[2016-03-04 07:46] #272 closed

[2016-03-09 10:07] 4WGH opened #274 "same transcript with 2 different HGVS description"
something odd here. same transcript XM_5265956  the variant p.Asp415His (first line) can not have cDNA description c.*1362G>C (second line) in the Transcript overview window.
see screen view

![16025_transcript](https://cloud.githubusercontent.com/assets/12525201/13631801/c6957a52-e5e6-11e5-883c-1e8f1d3f74e6.PNG)

[2016-03-09 10:15] henrikstranneheim commented on #274
If you look at the transcript table you will see that there are 2 ensemble transcripts associated with the XM transcript. Hence, there can be 2 different HGVS annotations since it is based on the ENST and not the RefSeq transcript.

[2016-03-09 10:15] #274 closed

[2016-03-16 14:19] henrikstranneheim opened #275 "Reload research variants for family 26"

[2016-03-16 16:50] 4WGH opened #276 "suggestion: gene list in alphabetical order?"
in the "Clinical gene panels" window, maybe the panels can be ordered in alphabetical order, to make it easier to find them.
Just a suggestion

[2016-03-22 07:19] henrikstranneheim commented on #275
I will make a ticket of this instead

[2016-03-22 07:19] #275 closed

[2016-03-22 07:22] henrikstranneheim opened #277 "Cannot load coverage report for case 26 or 16024"
A general problem?

[2016-03-22 07:26] henrikstranneheim commented on #277
I am using chrome and I get "No data recieved"

[2016-03-23 13:28] robinandeer commented on #277
after the update I get it to work

[2016-03-23 13:28] #277 closed

[2016-03-23 13:28] robinandeer commented on #276
We can do this, sure :)

[2016-03-30 14:12] Bianca-T opened #278 "Variants with no supporting reads"
Hi,

I get variants like the one below in my list.

Best,
Bianca

![screen shot 2016-03-30 at 16 09 56](https://cloud.githubusercontent.com/assets/5881356/14144935/277b82b0-f692-11e5-9e8d-64afb1d95619.png)

[2016-03-31 05:58] emmser commented on #278
@henrikstranneheim Can you take a look at this?

[2016-03-31 09:44] moonso commented on #278
Hi,

I don't think there is a problem with this variant. The allele depth only shows high quality reads so there are probably reads that support the call.
You can see that the genotype quality is fairly low. In a case like this it is up to the user to say that the variant is uninteresting.
Or do you think we should handle it in a different way @Bianca-T ?

[2016-03-31 10:16] Bianca-T commented on #278
Hi Måns,

Is genotype quality taken into account in the ranking?

[2016-03-31 10:22] moonso commented on #278
I don't remember if it's done yet, maybe @henrikstranneheim can check?
But it is no problem to add that

[2016-03-31 12:51] 29vd commented on #278
Hi

We have experienced the same with indels recently
[Till SciLife 160331.docx](https://github.com/Clinical-Genomics/scout/files/197634/Till.SciLife.160331.docx)

[2016-04-01 09:14] henrikstranneheim commented on #278
@Bianca-T The reason you do not see any AD reads is that this variant is only called with samtools (MIP combines 3 callers: GATK, Freebayes and Samtools). Samtools uses another annotation DP4 to record the same information as the AD field. However, Scout does not read the DP4 field and hence will show AD=0,0 (we will have to think about the best way to fix that). Your variant has 9 high-quality no

[2016-04-04 06:44] Bianca-T commented on #278
Have you considered a field in scout (maybe under the GT call section) mentioning how many callers support the called variant?

[2016-04-04 06:55] henrikstranneheim commented on #278
Here:
#255

[2016-04-05 07:01] #101 closed

[2016-04-07 07:29] henrikstranneheim opened #280 "Add gene intolerance predictions"
- [ ] LofTool - MIP calculates via VEP plugin | LoFtool |
- [ ] LoF - MIP calculates via VEP plugin | LoF |
- [x] Constraint LoF Score from Exac. As in Puzzle

[2016-04-07 07:41] henrikstranneheim opened #281 "Add external link to gene expression atlas"
Queries using ensembl gene ID such as:
https://www.ebi.ac.uk/gxa/genes/ENSG00000004059?bs={%22homo+sapiens%22%3A{%22CELL_LINE%22%3Atrue%2C%22ORGANISM_PART%22%3Atrue}}&ds={%22species%22%3A{%22homo+sapiens%22%3Atrue}}#baseline

[2016-04-12 20:20] ingkebil opened #282 "different inheritance patterns in the pipelines"
I got an email from Giedre about following improvement:

I also wonder if it would be possible to have different inheritance patterns in the pipelines
<img width="1275" alt="screen shot 2016-04-12 at 11 18 54" src="https://cloud.githubusercontent.com/assets/239608/14474334/bc924c84-00fc-11e6-97eb-8110d68de531.png">

, so the customer can change it and rerun the data as it is at the Broad Institute

[2016-04-18 06:45] henrikstranneheim commented on #282
A variant in the analysis is always annotated with the classical mendelian inheritance models. From Scout you can filter on these models and it will show you the variants following one or more models depending on your filtering settings, i.e. you can do a dynamic search from Scout on this annotation and no reanalysis (pipeline-wise is needed).

[2016-04-18 06:45] #282 closed

[2016-04-18 11:33] robinandeer opened #283 "0 shown for AD when the field doesn't exist"
The models get's filled with 0 reads here:
https://github.com/Clinical-Genomics/scout/blob/master/scout/ext/backend/utils/get_genotype.py#L42

Is this part of the VCF parser? Do you @moonso have an idea why it's so?

[2016-04-26 08:25] 4WGH opened #284 "coverage report -server error"
I get a server error message when  itry to collect a coverage report. tried for fam 16019, 16020, 15061.
Michela

[2016-04-27 12:54] robinandeer commented on #284
I've confirmed that all the reports work now - please try again

This is a really annoying problem that we are aware of and which should've been solved by some of the updates we've already implemented but we will continue to investigate!

[2016-04-27 12:54] #284 closed

[2016-05-11 12:03] robinandeer opened #285 "Show "no variants" instead of "Load more""

[2016-05-25 09:26] robinandeer commented on #285
DONE!

[2016-05-25 10:24] ingkebil commented on #285
:+1:

[2016-05-25 11:32] henrikstranneheim opened #286 "Prioritize cases"
Feature to mark cases as prioritized which will put them at the top of the list in the case overview.

[2016-05-25 12:43] robinandeer commented on #281
DONE! 💯

[2016-05-25 13:53] robinandeer commented on #276
DONE°!

[2016-05-26 06:27] robinandeer commented on #250
@moonso I'm guessing this id is not in the model yet - is it in the VCF?

ping @henrikstranneheim

[2016-05-26 07:20] robinandeer commented on #233
DONE!

[2016-06-01 06:44] henrikstranneheim opened #288 "Check and flag novel variants if identical to previously seen causative variant"
Identical equals back-end variant ID (chr_start_stop_ref_alt). It would be great to get a link to the causative variant on the family page

[2016-06-01 10:59] henrikstranneheim opened #289 "Attach HPO-terms to sampleIDs and/or caseID - not just caseID"
Would also be nice to be able to copy HPO-terms assigned to one sampleID to other sampleID within same case

[2016-06-01 11:01] henrikstranneheim opened #290 "Choose which HPO-terms that should be included in the gene search"
This would avoid copying to and fro from the synopsis

[2016-06-01 11:05] henrikstranneheim opened #291 "Partial causative feature and associated HPO-terms"
Sometimes a variant only explains part of the phenotype.
A feature that marks variant(s) as partial causative and the option to attach HPO-terms that explain which symptoms that the partial causative variants contribute to would be a great addition. Especially when sharing data.

[2016-06-01 11:21] henrikstranneheim opened #292 "Add local observation count to variant list page frequency pop-up"

[2016-06-08 11:29] moonso commented on #283
Just add requirement vcf_parser >= 1.5.6

[2016-06-08 11:33] moonso commented on #278
Fixed in #283

[2016-06-08 11:33] #278 closed

[2016-06-08 11:39] moonso commented on #250
We need to get a translation table like:
[code]

[2016-06-08 11:45] moonso commented on #255
@henrikstranneheim we need documentation on how to handle the different cases.
A quick look gives these different annotations:
[code]
I guess there are more alternatives, we need to know what to expect and how to display it...

[2016-06-08 11:47] moonso commented on #233
Needs to be documented

[2016-06-08 11:50] moonso commented on #161
We will pick `CANONICAL` from VEP annotation to begin with

[2016-06-08 12:02] moonso commented on #153
Not sure if this will be ready for the release

[2016-06-08 12:51] moonso commented on #255
Ok @robinandeer I will add to the model `variant` three new fields like:
[code]
where

[code]

These should be displayed close to the GT call (maybe in the header) with colour labels.
What do you think?

I'll ping you when my part of the branch is ready 🐉 🐴

[2016-06-08 13:28] moonso commented on #255
@robinandeer I'm not done but you can do your magic in #294

[2016-06-14 07:01] henrikstranneheim opened #296 "Add clinical significance as an filtering option"
- [ ] CLNSIG
- [ ] CLNREVSTAT
- [ ] Scout causal variants
`## INFO=<ID=CLNREVSTAT,Number=.,Type=String,Description="no_assertion - No assertion provided, no_criteria - No assertion criteria provided, single - Criteria provided single submitter, mult - Criteria provided multiple submitters no conflicts, conf - Criteria provided conflicting interpretations, exp - Reviewed by expert panel, guideline

[2016-06-14 10:38] dnil opened #297 "Suggestion - CADD score filter option"
A couple of the clinicians ventured that they would love the option to filter on CADD score: removing variants where score is low but known.
Shouldn't be too hard?

[2016-06-16 12:19] 4WGH opened #298 "suggesion: error message if we try to look for a gene that is not present"
Can we get an error message, insted of not vairant uploaded, if we type a gen symbol that is not in any Scout list?
This to distinguish between no vatiants in the gene, and typing error or version naming error?

Issue discussed with Robin at the SCout workshop :)

[2016-06-17 08:21] henrikstranneheim opened #299 "alias institute to make it more human readable"

[2016-06-20 09:19] robinandeer commented on #255
hehe

just one problem: the default now appears on old variants so it looks like no caller is used..

[2016-06-20 11:43] robinandeer commented on #280
Won't include this in the update 😛

[2016-06-20 11:46] robinandeer commented on #250
Do you have this in phenomizer? Otherwise skipping 😛

[2016-06-20 11:46] robinandeer commented on #161
DONE

[2016-06-20 11:52] henrikstranneheim commented on #161
Kind reminder to not forget this:
This info should go under “Disease_associated_transcript” and follow the same rules with cmms precedence for manually curated genes and then fall back on CANONICAL.

[2016-06-20 11:56] robinandeer commented on #161
@moonso: is that accessible from the model?

[2016-06-20 12:19] robinandeer commented on #297
Should we include this in the release @moonso?

[2016-06-20 12:28] robinandeer commented on #298
We need to discuss how to do this @moonso

Perhaps only do it if there are 0 variants returned from a query.. But that doesn't always answer the question. We really need a list of genes to compare with

[2016-06-20 12:28] robinandeer commented on #298
We could use flasks `flash` system and just log some messages? :)

[2016-06-22 12:08] robinandeer commented on #297
DONE! #300

[2016-06-22 12:08] #297 closed

[2016-06-27 12:05] dnil opened #304 "CADD score filter monday-issue!"
Thank you kindly for the quick inclusion of CADD score filtering! Will make a couple of our doctors very happy.

One major caveat though: the current version seems to filter out unknown CADD scores as well (similar to the unknown frequency bug)! Not intended usage..

[2016-06-27 14:09] 4WGH opened #305 "disease causative transcript not working"
Hi I can see the Disease associated transcripts window but no transcript coming up,although annotated in bdCMMS database. Looking into this I've noticed that we have annotated the transcript including the version
exemple. for PGM1 in dbCMMS is "NM_002633.2" while scout use only "NM_002633"

could this be the reason?

Michela

![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/163821

[2016-06-27 14:20] 4WGH opened #306 "local variant: homozygote and hemizygote"
homozygote and hemizygote are not discriminated for genes on the X chromosomes.

Any plan about this?

[2016-06-29 07:56] moonso commented on #306
Not sure how to handle this, what did you have in mind?

[2016-06-29 07:57] moonso commented on #305
We will look into this

[2016-06-29 08:00] dnil commented on #305
Is it a freshly (re)run case?

// Daniel

Skickat från min iPhone

[2016-06-29 08:18] 4WGH commented on #305
It was a old case. But in the case updated yeasterday it is working in some but not in other.
I attach the exemple of the not working one.
![16072_dnajc5](https://cloud.githubusercontent.com/assets/12525201/16445411/d938f1da-3de2-11e6-860a-ec78d0caa501.PNG)

[2016-06-29 08:43] 4WGH commented on #306
ExAc discriminates between homozygotes (female carriers) and hemizygotes (male carriers). this info could be interesting in some cases.

[2016-06-30 13:20] Annwre opened #307 "Cannot open individual reserach variants in 4 cases although it has been uploaded"
Fam 115, 15056, 15067 and 15075 WGS data has been uploaded according to email from clinical genomics, and although the research variant list can be opened, I cant access the individual variants to look at them. When I try to open a variant I get the massage that there is a server problem. Thanks for some help with this,
Kind regards
Anna Wredenberg
CMMS

[2016-07-21 07:10] emmser opened #308 "Alignment viewer can't find .bai file"
The alignment views looks for a file named to for example ADM1651A5_lanes_5555_sorted_md_rreal_brecal.bai but can't find it . The bai-file is actually named ADM1651A5_lanes_5555_sorted_md_rreal_brecal.bam.bai after analysis

[2016-08-01 08:46] 1ctw opened #309 "Information missing in "Kvalitetsrapport""
I många kvalitetsrapporter saknas information under "Täckning av transkript vid:10x".  Misstänker att dessa prover har 100% täckning men istället för att det står 100% blir det helt tomt.  Det borde i så fall också stå i nästa kolumn t.ex. Ofullständigt täckta transkript 0/3167 osv.
Exempel 16077-I-2A

[2016-08-11 15:01] martiliasf opened #310 "Installation fail"
Tried to install following the instructions in the Readme. I'm on Ubuntu 16.

Collecting loqusdb>=0.1.2 (from scout-browser==1.5.1)
  Downloading loqusdb-0.2.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-h8ja2q/loqusdb/setup.py", line 55, in <module>
        install_requ

[2016-08-19 16:44] robinandeer commented on #309
Hej,

jag har hittat ett fix för detta men det kräver en liten uppdatering så jag hoppas göra klart det i början av nästa vecka :)

[2016-08-23 05:48] henrikstranneheim opened #312 "Duplicated links for OMIM Phenotypes and transcript overview"
https://clinical-db.scilifelab.se:8083/cust003/25/variants/4f848612a5bf9d54cd54be847cbd6101

[2016-08-24 07:37] henrikstranneheim opened #313 "Unable to load alignments for case 85"

[2016-08-24 07:44] henrikstranneheim commented on #307
I can access the research variants for these cases 115, 15056, 15067. 15075 has not been opened yet. @robinandeer Maybe the problem has been solved?

[2016-08-24 08:45] robinandeer commented on #307
Most likely the case, I'm sorry for not getting back to this

I'll close it now as solve - please return if the issue reappears

[2016-08-24 08:45] #307 closed

[2016-08-24 08:49] robinandeer commented on #313
Reference in QC sample info is to an alignment file that doesn't exist...

[2016-08-24 09:26] robinandeer commented on #313
reloaded case - now the alignment works!

[2016-08-24 09:26] #313 closed

[2016-08-24 13:28] robinandeer commented on #309
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;CXnyOgbg&#x2F;2-update-chanjo-report-with-notice-if-100-of-transcripts-are-covered"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> update chanjo-report with notice if 100% of transcripts are covered</a>

[2016-08-29 13:36] robinandeer commented on #309
Okey, nu är Scout uppdaterat med så att har ett prov alla transkript täckta visas det som 100%

Testa gärna och rapportera eventuella fel

[2016-08-29 13:36] #309 closed

[2016-08-30 06:16] vwirta commented on #309
Verkar funka.
Good job!

VW

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2016-08-31 12:12] moonso commented on #310
Hi @martiliasf ,

scout is a tool that we use inhouse and it is tightly connected to what we do, we don't really try to make it installable to anyone.
We have made a lightversion of scout called [puzzle](https://github.com/robinandeer/puzzle) where support problems like this.
Hope you will find it usable.

Regards,

Måns

[2016-08-31 12:12] #310 closed

[2016-08-31 12:15] moonso commented on #304
Is this not a philosophical question?
If the variant have not cadd score, probably due to beeing a structural variant, it does not have a higher cadd score that the treshold..
I don't really care which way to see it but we should all agree on how the filter should work.

[2016-09-01 11:34] dnil commented on #304
;-) Well, I do see your point in general, but in this context I'd argue there can be little doubt. We wish to filter out/hide variants that have some kind of evidence of being benign. A NA value in a filter should not cause the variant to be dropped. It simply says CADD has no opinion, and another method of ascertainment should be applied.

Compare to the frequency issue: we wish to filter out var

[2016-09-06 07:28] moonso commented on #296
Could you elaborate a bit @henrikstranneheim ?

[2016-09-06 07:29] moonso commented on #291
Ok this might be possible but it takes some thinking. How urgent is this one?

[2016-09-06 07:36] moonso commented on #304
Hi,

I think there is a significant difference between CADD and frequencies.
A non existing frequency have a meaning, namely that the variant most probably have a very low frequency which most of the time means that it is very interesting to us.
A non existing CADD score most probably mean that the variant is a SV since it should be calculated for all possible SNV:s in the entire genome.
The probl

[2016-09-06 07:38] moonso commented on #290
Fixed by https://github.com/Clinical-Genomics/scout/commit/fdc9d5a8c3bac736152a0fcde28ad94e188ee28b

[2016-09-06 07:38] #290 closed

[2016-09-06 07:38] dnil commented on #291
Ooh, epistemologically complex! :) Some disease symtoms and some mutations are given. Defining an exclusive causality is not easy. After all, there were more genetic variants (and more phenotypic characteristics). Practically depends a bit on how it will be used in the db. Often one would not mind seeing additional phenotype for a mutation. But may be overwhelmed if mutations from all over are bro

[2016-09-06 07:43] dnil commented on #304
Still see your point, and think an option named "CADD filter" should not be used to remove all novel indels, as if CADD had called all of them benign? A separate filter on in-frame deletion, low quality calls or such would be more transparent.

Discussion sounds good. See you!

[2016-09-06 07:55] moonso commented on #280
Ok first two annotated in vcf?
Third one i think we use phizz for

[2016-09-06 08:02] moonso commented on #167
I'm not completely sure if we will store them in their own collection but they will be accessible.
Is there anything more we want to do with them except exporting?

[2016-09-06 08:26] henrikstranneheim commented on #280
Yes, the first 2 are in the VEP CSQ field.

[2016-09-06 08:28] henrikstranneheim commented on #167
They should be accessible for the aggregate data layer and as you said exportable for downstream analysis.

[2016-09-06 08:37] henrikstranneheim commented on #291
This is not something that will be used for every case. However, the earlier it is introduced (and used) the better the resolution of querying for causal variants and associated phenotypes when looking at aggregated data. I would like to include it in the scheduled update unless the workload is heavy, but that I leave to you to decide.

[2016-09-06 08:51] henrikstranneheim commented on #296
- It would be great to be able to filter on known pathogenic variants .i.e clinvars CLNSIG (scale of 1-5 i think).

- However, each CLNSIG also comes with a review status (CLNREVSTAT) telling something about the evidence for the CLNSIG actually being correct. That is also something that might be intresting to have as a filtering option. CLNREVSTAT should perhaps also be seen in the summary table f

[2016-09-07 15:46] henrikstranneheim opened #314 "Family link locusDB"
Clinical view:
- Show family link for cases within institute

Research view
- Do not show family link at all

[2016-09-09 12:49] ingkebil opened #315 "HGNC alias"
When updating a gene lists, I now silently update an HGNC_symbol to the latest version. I do however append the previously used symbol to a column called 'Alias'. All symbols there are separated by a comma.

@henrikstranneheim : Am I using the right separator in the gene list?
@robinandeer : it would be nice to give a clinician the opportunity to search on alias as well as official HGNC symbol.

[2016-09-09 13:16] robinandeer commented on #315
we can discuss how that would work. Maybe we only need to load it once into Scout database. Otherwise we'd like to keep the loading of every case as simple as possible.

[2016-09-12 07:18] henrikstranneheim commented on #315
Comma sounds correct!

[2016-09-12 07:21] henrikstranneheim commented on #304
I have fogotten to mention that MIP uses a reference which only contains CADD >= 10. So not all snvs are annotated with a CADD score.

[2016-09-12 07:31] henrikstranneheim opened #316 "Display SPIDEX annotation"
##INFO=\<ID=SPIDEX,Number=1,Type=Float,Description="Z score from the spidex database.">

[2016-09-12 07:41] dnil commented on #304
Right, that is common practice. Since variants are ranked with multiple information sources anyway, I still think it makes little sense to loose potentially high impact novel indels for the luxury of looking at a clean CADD-filtered list.

[2016-09-12 07:55] henrikstranneheim opened #317 "Feature to mark sanger validation as true/false positive"

[2016-09-12 08:00] henrikstranneheim opened #318 "Add diagnosis field on case view"
- OMIM gene number
- OMIM phenotype number

[2016-09-12 08:03] #255 closed

[2016-09-12 08:05] #161 closed

[2016-09-12 08:05] henrikstranneheim opened #319 "Highlight canonical/disease causing transcript DONE"

[2016-09-12 08:06] #126 closed

[2016-09-12 08:14] henrikstranneheim commented on #153
added genmod score "--rank_results" to MIP analysis

[2016-09-12 08:25] #308 closed

[2016-09-12 08:28] henrikstranneheim commented on #304
We are looking into 2 options:

1. Possibility of including NA data
2. Only inlcude true data

[2016-09-12 10:25] henrikstranneheim opened #320 "Aggregate view"
Per institute

_Basic statistics_
- [x] Nr of cases
- [x] Nr of inactive cases
- [x] Nr of active cases
- [x] Nr of solved cases
- [x] Nr of archived cases
- [x] Nr of WES
- [x] Nr of WGS
- [x] Nr individuals

_Case Overview_
Number of cases with:
- [x] HPO-terms
- [x] casuative variant(s)
- [x] Sanger Order/confirmed
- [x] Pinned variants
- [x] Cases with cohort

[2016-09-14 13:47] robinandeer commented on #317
- [ ] Order sanger - add to suspect if not there
- [ ] Allow settings true/false pos for suspects on case page

[2016-09-14 13:47] moonso commented on #317
This will be handled on the case page but shown both on case page and variant page.
We will add a event when a user mark that a variant have been validated True or False by Sanger

[2016-09-14 14:33] moonso commented on #315
I will solve this in [phizz](https://github.com/moonso/phizz), there will be a table like
alias| hgnc_id
---- | --------
alias1 | hgncid_1
alias2 | hgncid_1

[2016-09-14 15:04] moonso commented on #288
Think it will look something like this:
##Case Page
**Variants in genes with previously marked causative variants**
variant_id_1
variant_id_2

##Variant Page
Should be a Red light warning if the variant have been previously marked causative

[2016-09-14 15:06] #317 closed

[2016-09-14 15:10] #316 closed

[2016-09-14 15:26] #299 closed

[2016-09-14 15:27] moonso commented on #314
We need to wait for the discussion of reruns

[2016-09-14 17:23] vwirta commented on #317
Possible to add a comment field for False? Would be good to get a summary of the deviating results.

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2016-09-15 05:33] henrikstranneheim commented on #317
I think that should be handled at the variants comments field.

[2016-09-19 06:46] moonso commented on #315
Changed my mind, we should do like @robinandeer suggests for now. phizz are under complete rework and will take some time to finish

[2016-09-19 07:34] moonso commented on #305
Hi,

the gene list that was used does not have a disease associated transcript.
It might be that your version is not in production yet.

Måns

[2016-09-19 07:34] #305 closed

[2016-09-19 07:41] ingkebil commented on #305
My bad! I'm fixing this now and I'll be pushing it into production this afternoon.

[2016-09-19 08:07] moonso commented on #306
This will not be fixed until we update and rerun all samples in loqusdb, since we are not sure when that will happend we need to remove the issue from milestone 1.6 for now.

[2016-09-19 08:26] #319 closed

[2016-09-20 09:22] ingkebil commented on #305
This has been fixed in the gene list now.

[2016-09-23 07:51] NicoleCMMS opened #324 "HPO not working"
I can import HPO terms but the search for gene lists is not working.

[2016-09-26 06:42] 4WGH opened #325 "polyphen 2 not true"
Hi,
If I remember well polyphen2 prediction should give bakc the wort possible prediction. in this case we have a "benign" prediction in Scout but a "probably damaging" when I run polyphen2 myself.

See 2 files in attachment
![polyphen](https://cloud.githubusercontent.com/assets/12525201/18824817/1804137c-83c5-11e6-9c4e-781aad9e526b.PNG)
![skarmklipp](https://cloud.githubusercontent.com/assets/125

[2016-09-26 06:45] 4WGH commented on #298
how it is going with this issue? this is connected to the problem with alias :) and HGNC symbol changing with time

[2016-09-26 06:51] robinandeer commented on #298
Indeed, a good start would be to have a list of HGNC ids to compare with but like you say these will change over time so we need to keep track of which ids are relevant for each upload in Scout to be sure we are reporting the correct error. It's a more difficult issue than it seems on the outset but we are looking into solutions that would ship with the next update.

One thing that might work is t

[2016-09-26 06:53] robinandeer commented on #324
I got an error from the service we are using "Phenomizer" that the request timed out. It seems like their service is down at the moment so we can't really do much about that then hope it will be up again soon.

I can send an email to see if they have any idea when the service will be up again.

[2016-09-26 06:55] moonso commented on #298
Hi,

i'm working on a solution for this and it should be a part of the next release.

[2016-09-26 07:02] henrikstranneheim commented on #325
The entry comes from VEP using PolyPhen2 v.2.2.2. VEP does not report the subpatch. In the raw data the actual R395G is all encoded benign. Only reason I can see that this would happen is if the subpatch differs between the webtool and VEP.

Sift says deleterious and so does CADD so there is good cause to believe this is damaging to the protein and also for polyPhen to update it's prediction, ;)!

[2016-09-26 07:02] #325 closed

[2016-09-26 07:49] robinandeer commented on #324
quick response, service now working again - thanks @drseb!

[2016-09-26 07:49] #324 closed

[2016-09-26 14:07] stolpeo opened #326 "vagrant error"
Hello,

I tried to install the latest version of scout. I get an error setting up vagrant, see below:

[code]

When I grep for 'keyserver' get this entry:

[code]

I'm a bit puzzled what is going wrong, the entry seems OK to me but I don't know why it thinks keyserver is a key.

Please tell me if this issue should rather go to ansible.

[2016-09-27 05:06] smiller171 commented on #326
The issue is with an external role here: https://github.com/andperez/Stouts.mongodb

[2016-09-27 05:18] smiller171 commented on #326
can you check your ansible version?

[2016-09-27 07:48] moonso commented on #326
Hi,

we know that it is very difficult to set up scout in another environment than our local one.
Because of that we have developed [puzzle](https://github.com/robinandeer/puzzle).

It is a lightweight version of scout.
Good luck!

Måns

[2016-09-27 08:12] stolpeo commented on #326
Hello, thanks for your replies. My ansible version:

[code]

I will have a look at puzzle. Does it lose a lot of functionality compared to scout?

[2016-09-27 14:38] smiller171 commented on #326
@stolpeo Your problem is that you are running an extremely old version of Ansible that did not support the `keyserver` parameter in the `apt_key` module. Update Ansible and you should be fine.

This issue should be closed.

[2016-09-28 11:00] moonso commented on #298
We keep this discussion to #315

[2016-09-28 11:00] #298 closed

[2016-09-28 12:44] robinandeer commented on #318
Solved in master!

[2016-09-28 12:44] #318 closed

[2016-09-28 12:56] #315 closed

[2016-09-28 13:33] #312 closed

[2016-09-28 15:58] robinandeer commented on #304
implemented!

[2016-09-30 12:53] moonso commented on #288
We will solve this in #328

[2016-09-30 12:56] moonso opened #329 "Adapt loading to position sorted VCFs"

[2016-10-03 07:17] #288 closed

[2016-10-03 08:34] #329 closed

[2016-10-04 11:18] 4WGH commented on #325
Hi, I had one more case where the prediction do not fit. Should we consider to update ...VEP or whatever can be updated if possible?

[2016-10-04 11:23] 4WGH opened #333 "prediction effect for in frame ins/del"
could this be implemented in SCout?  See publication link
This would complement the severity prediciton when  SIFT and polyphen can not

http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0077940

[2016-10-06 06:58] henrikstranneheim opened #334 "Cannot load alignment view case 16047"

[2016-10-10 12:03] henrikstranneheim opened #335 "CLNSIG not correctly displayed"
case 16098: 9_133370368_G_T_clinical in gene ASS1 should have pathogenic entry (CLNSIG=5) according to clinvar and annotated vcf file. However, Scout shows 1: not provided.

[2016-10-12 06:32] 4WGH opened #337 "HPO term non working properly!!!"
Hi in fam 16079 we added 3 HPO terms. The gene list generated contains more genes then expected. If I export in eXcell the genes from the HPo web site I get totally 34 unique genes. in the HPO generated list in Scout there are mone then 100! There are genes that do not fit at all with the HPo term introduced (this is how we noticed )
Could you please look into this quite fast? not good to look int

[2016-10-13 07:31] moonso commented on #337
Hi,

When you are adding 3 HPO terms the tool that we use, [phenomizer](http://compbio.charite.de/phenomizer/), will match those with all known phenotypes, that is MIM phenotypes.
And then we will pick all genes that all those phenotypes are associated with.
If you only add 3 HPO terms it will be quiet hard for phenomizer to fin a relevant phenotype so it will probably find to many phenotypes. Thi

[2016-10-13 07:35] moonso opened #338 "Allow Scout to run without some complex dependencies"
One should be able to install Scout without dependencies like loqusdb and chanjo-report.
In that way it will be easier to use Travis and easier for people to install their own instance of Scout.

[2016-10-13 07:36] moonso opened #339 "Trigger Event when a Case is updated DONE"
This should be shown in the activity feed

[2016-10-13 11:14] robinandeer commented on #339
what do you want me to implement?

[2016-10-13 11:15] moonso commented on #339
Haha not sure

[2016-10-13 11:42] vwirta commented on #339
i think this refers to reruns?
right now events feed does not show reruns

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2016-10-14 07:33] NicoleCMMS opened #340 "All variants in a particular gene"
Is it possible for us to get all variants in the gene MED17 loaded into Scout for the family 115?

[2016-10-14 10:10] henrikstranneheim opened #341 "Ordered Sanger disappears after reanalysis"
It would be great if the Sanger info is persistent

[2016-10-17 13:54] robinandeer opened #342 "setup error"
Verkar saknas en fil:

[code]

[2016-10-18 13:32] robinandeer commented on #342
solved 🎉  🌮

[2016-10-18 13:32] #342 closed

[2016-10-19 08:02] robinandeer opened #347 "make sure pending sanger status works..."
seems like it's pending from the beginning

[2016-10-19 08:11] robinandeer opened #348 "add region and function to overview of SV"
- [x] show "inf" instead of "100000000000" for BND
- [x] truncate genes if many

[2016-10-19 10:16] 4WGH commented on #337
summary from today meeting:
There will be 2 possibilities:
1. A gene list from HPO-term
2. A gene list created by HPO-phenomizer.
There will be the possibility to export (as pdf?) the analized gene list for documentation on the LIMS  of the final user.

[2016-10-19 11:21] henrikstranneheim opened #349 "Add consanguinous score F-score"
Collect from qcmetrics:
InbreedingFactor:
        Sample_InbreedingFactor:
          - ADM1059A1:-0.2015
          - ADM1059A2:0.01709
          - ADM1059A3:-0.1969

Values above 0.05 indicate consanguinity.

[2016-10-20 11:16] henrikstranneheim opened #350 "Cannot get gene list from clinical gene panels for case 15121"

[2016-10-20 11:17] henrikstranneheim opened #351 "Cannot view coverage from variant page for case 15121, Gene: SLC12A1"

[2016-10-21 13:19] 4WGH opened #353 "wrong coloring for disease associated transcript fam 16127"
see image.
2 trascript are colored with pink background . Not the right disease associated trasncript ...
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/19599567/a97d85b4-97a1-11e6-96f5-3b0f799ac15c.PNG)

[2016-10-24 14:12] #347 closed

[2016-10-24 14:12] #348 closed

[2016-10-25 07:53] #138 closed

[2016-10-25 08:00] robinandeer commented on #326
thanks for testing it out!

I've actually moved away largely from setting up dev envs with Vagrant so we will be removing the old and non-up-to-date Vagranfile from the repo

we are working on making Scout easier to install and test out tho so keep an eye out and we'll update the README with clearer instructions to do so soon!

[2016-10-25 08:00] #326 closed

[2016-10-25 08:01] robinandeer commented on #339
we are adding this in the update!

[2016-10-25 08:01] robinandeer commented on #340
@moonso?

[2016-10-25 08:02] moonso commented on #340
Yes this will be possible in the new update

[2016-10-27 10:44] henrikstranneheim opened #358 "Cannot access research variant page for case 6 - CMMS"
Generates Inner Peace error message

[2016-10-28 12:45] robinandeer opened #361 "Store rerun flag in Scout when requested"
- [x] store flag on case level
- [x] remove when new case is uploaded
- [x] add CLI command to return case ids that are marked for a rerun

[2016-10-28 12:47] robinandeer opened #362 "Add CLI command to return case information: analysis date"
Perhaps we can generalize it a bit to make it possible to return some different types of information

[2016-10-28 13:48] #153 closed

[2016-11-01 10:29] 4WGH opened #367 "extra , in expected inheritance column"
happening on the newlly uploaded case 16130. probablt a bug?
See pic
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/19887031/67b8285e-a026-11e6-89d5-6945a0ac725d.PNG)

[2016-11-01 10:33] moonso commented on #367
Hi,

we also noted this earlier today. There is a problem with the latest version of the gene list file.
We will handle this as soon as possible, the only thing that will be affected for now is when scout will try to compare the expected inheritance to the observed inheritance on the variant level.

This is something to adress at the meeting tomorrow.

Måns

[2016-11-01 10:36] #353 closed

[2016-11-01 10:40] 4WGH opened #368 "disease associated transcript not appearing in Scout - CMMS"
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/19887304/eb836f62-a027-11e6-95d6-8fe8de5889db.PNG)

there is in the gene panel file provided.

[2016-11-01 14:36] ingkebil commented on #367
Hi,

I've updated the CML to remove the prepended inheritance model,

wkr,
Kenny

[2016-11-01 19:50] henrikstranneheim commented on #358
Research variants was not loaded. They are now!

[2016-11-01 19:50] #358 closed

[2016-11-07 09:43] robinandeer commented on #367
this is not affecting any filtering and we are rerunning the cases in time

[2016-11-07 09:43] #367 closed

[2016-11-08 19:21] vwirta commented on #340
is this upload of variants for a specific gene (or list of), or is this for all variants in the exome/genome? @moonso

[2016-11-10 12:08] robinandeer commented on #362
done in #366

[2016-11-10 12:08] #362 closed

[2016-11-10 12:09] robinandeer commented on #296
done in #332

[2016-11-10 12:09] #296 closed

[2016-11-10 12:12] robinandeer commented on #361
when updating a case, the existing one is deleted so any rerun flag will be reset

[2016-11-10 12:12] #361 closed

[2016-11-10 12:47] moonso commented on #368
Not sure why this does not work, we have reworked this in the new scout so it will not be any problem.

[2016-11-10 12:48] moonso commented on #351
Do you know anything about this @robinandeer ?

[2016-11-10 12:58] moonso commented on #280
Constraint LoF score from Exac are included in the gene info that is stored in Scout so it will be shown on the variant page

[2016-11-10 13:01] moonso commented on #280
The others I can not see in the VEP output that we have, @henrikstranneheim this is how VEP looks now:`##INFO=<ID=CSQ,Number=.,Type=String,Description="Consequence annotations from Ensembl VEP. Format: Allele|Consequence|IMPACT|SYMBOL|Gene|Feature_type|Feature|BIOTYPE|EXON|INTRON|HGVSc|HGVSp|cDNA_position|CDS_position|Protein_position|Amino_acids|Codons|Existing_variation|DISTANCE|STRAND|FLAGS|SYM

[2016-11-10 13:04] henrikstranneheim commented on #280
Here is what you will have:

##INFO=<ID=CSQ,Number=.,Type=String,Description="Consequence annotations from Ensembl VEP. Format: Allele|Consequence|IMPACT|SYMBOL|Gene|Feature_type|Feature|BIOTYPE|EXON|INTRON|HGVSc|HGVSp|cDNA_position|CDS_position|Protein_position|Amino_acids|Codons|Existing_variation|DISTANCE|STRAND|FLAGS|SYMBOL_SOURCE|HGNC_ID|CANONICAL|TSL|APPRIS|CCDS|ENSP|SWISSPROT|TREMBL|UNIPARC

[2016-11-10 13:06] moonso commented on #280
Ok and what data types does `LoF` and `LoFtool` have? These are the two that you want to use right?

[2016-11-10 13:11] henrikstranneheim commented on #280
Actually VEP gets these from Exac, Scout can relay from gene info and ignore the VEP entries. They are used in the ranking.

[2016-11-10 13:46] moonso commented on #280
Ok I'll close this then

[2016-11-10 13:46] #280 closed

[2016-11-11 09:46] robinandeer opened #372 "Update existing case instead of deleting"
change the behavior of "update_case" method

[2016-11-14 10:02] moonso commented on #172
This is solved by including the data in scout

[2016-11-14 10:02] #172 closed

[2016-11-14 10:04] moonso commented on #182
We know about this, no need for issue

[2016-11-14 10:04] #182 closed

[2016-11-14 10:21] moonso commented on #244
Duplicated in #340

[2016-11-14 10:21] #244 closed

[2016-11-14 10:22] moonso commented on #250
We decided to skip this one, to much work for little result

[2016-11-14 10:22] #250 closed

[2016-11-14 10:26] moonso commented on #333
Think that this is a question for @henrikstranneheim if it should be included in MIP

[2016-11-14 10:29] moonso commented on #351
Just tested this and it worked, had to be a temporary problem...

![skarmavbild 2016-11-14 kl 11 28 10](https://cloud.githubusercontent.com/assets/405278/20261315/85a10bec-aa5d-11e6-8909-919f2a1d2ed4.png)

[2016-11-14 10:29] #351 closed

[2016-11-14 10:31] moonso commented on #350
Same like #351 , works now

[2016-11-14 10:31] #350 closed

[2016-11-14 10:31] moonso commented on #349
Is this in place?
How should we handle the results?
Where and what should we show?

[2016-11-14 10:33] moonso commented on #341
This could be tricky but I agree that it should be solved.
It is related to #372 , if we get that to work this might not be a problem 🍶

[2016-11-14 10:36] moonso commented on #100
We will try to solve this @henrikstranneheim had a solution right?

[2016-11-14 10:36] moonso commented on #256
Duplicated in #100

[2016-11-14 10:36] #256 closed

[2016-11-14 10:37] moonso commented on #292
What do you think about this one @robinandeer ?

[2016-11-14 10:40] moonso commented on #334
Is this still a problem?

[2016-11-24 13:28] 4WGH opened #373 "coverage report"
maybe it could be meaningful to show/choose a 30X and 60X coverage as this is what we select in the order.

and the transcript identifier could be a NM or ENS number instead of CCDS as this is not appearing in Scout.

[2016-11-24 13:40] dnil opened #374 "compound partner level filter"
Hi,

sitting with the clinical genetics folks discussing scout and returned to an old issue - couldn't find it here though. We would very much like to be able to filter (or adjust rank) for strong compound pairs. We would like to be able to screen for variants where *both* fulfill criteria such as rare, nonsense or known pathogenic etc. See also https://github.com/moonso/genmod/issues/41
Either so

[2016-11-24 15:46] 4WGH opened #375 "penetrance information not appearing"
connected to the bug #368?

see example, for gene DEPDC5 in fam 16143.
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/20604198/850ebc3c-b265-11e6-8649-48636ce75ce8.PNG)

[2016-11-27 14:20] henrikstranneheim opened #376 "Complete coverage indicator"
Add complete coverage indicator in summary on variant page.

[2016-11-30 10:04] henrikstranneheim opened #377 "Add mosaicism tag button"

[2016-11-30 10:06] henrikstranneheim opened #378 "Show in pedigree table WES/WGS per sample"
Only relevant for mixed cases

[2016-11-30 14:09] moonso opened #379 "reset rerun request flag on new upload of case"

[2016-12-02 10:30] 4WGH opened #381 "future idea: for re-runs"
when a re-run is uploaded all comments get a "OLD" label which is very good!
However it is not possible to see what is the difference between the previous run and the new.
it could be a new version of database, or a new assigment of affected or unaffected. it could be good  to know what has been changed.
Just an idea..... for future development  :)

[2016-12-02 13:51] henrikstranneheim commented on #377
Actually we need 2 buttons:

- Suspected mosaicism
- Validate/not_validated mosaicism

[2016-12-06 13:03] RosRom85 opened #382 "ExAC frequency"
Hi!

I have a question about ExAC frequency in Scout. I found a mutation in UNC93B1 (p.Val498Met) in PID132, which was completely fitting the phenotype, rare, coding region and I considered the case solved.
Today I was searching literature to get more info about the mutation. I figured out that the population frequency for ExAC is in Scout 0.005 and on the ExAC website is 0.04, very difference as

[2016-12-12 12:26] 4WGH opened #385 "specific gene coverage not coming up"
Hi. I can not get the coverage for the OPLAH gene in fam 16149. The coverage for GSS gene is working.
A bug?

I click on the gene name in the panel list to get the coverage.

Thank for help,
Michela

[2016-12-14 13:14] moonso opened #389 "Always create a default user"
This is necessary to create some events etc..

[2016-12-14 13:50] moonso commented on #381
Hi,

could you provide a list of things that you would like to see?
Then we can discuss which of these that we can display.

[2016-12-14 14:14] #372 closed

[2016-12-14 14:14] #379 closed

[2016-12-14 14:14] moonso commented on #377
Button on what?

[2016-12-14 14:17] moonso commented on #382
It is usually because ExAC updates there own database faster than we.
So we download a version of ExAC and annotate the variants, after a while they might have updated but you will still see the older annotation in scout.
What you can do is to follow the link to ExACs homepage to see the most accurate annotation.

[2016-12-14 14:17] #382 closed

[2016-12-14 14:20] moonso commented on #378
This is more or less fixed in the backend, so only @robinandeer part left

[2016-12-14 14:20] moonso commented on #376
I this possible @robinandeer ?

[2016-12-14 16:12] 4WGH commented on #381
The reason for this it to make us able to see what the differences are between the different runs.
what I can immediately think about is :
 
1. database/panel version
2. if the assigment affected, not affected, or missing has been changed.
 
these 2 are the 2 major reason we ask for a re-run.
 
Maybe the rank score system could also appear.
 
 
 
 
 
 
Michela -----Måns Magnusson <notifications@gi

[2016-12-19 12:17] moonso commented on #341
Closed by https://github.com/Clinical-Genomics/scout/commit/de767648e838554277d16ea8c3503cab601a418d

[2016-12-19 12:17] #341 closed

[2016-12-19 12:19] moonso commented on #340
Closed by https://github.com/Clinical-Genomics/scout/commit/fdc82292cd25edb40d6e6945469f76f183942b49

[2016-12-19 12:19] #340 closed

[2016-12-19 12:19] moonso commented on #340
This is now possible in the new version of scout

[2016-12-19 12:21] moonso commented on #306
Fixed in new version of loqusdb

[2016-12-19 12:21] #306 closed

[2016-12-19 12:23] #84 closed

[2016-12-19 13:24] robinandeer commented on #334
no it shouldn’t be, always related to how files are linked to the file system I think

Robin Andeer
robin.andeer@gmail.com

On 19 Dec 2016, 13:22 +0100, Måns Magnusson <notifications@github.com>, wrote:

[2016-12-19 13:34] henrikstranneheim commented on #334
Maybe one should look into relinking the BAMs because I still cannot get an alignment view or is this because the case is solved and BAMS removed?

Anyhow it seems that we can close this if BAMs are removed due to solved status.

/H

Henrik Stranneheim Ph.D. Senior Bioinformatician
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranne

[2016-12-22 08:51] dnil opened #393 "HPO gene list generation not working (today?)"
Can't generate gene lists right now (tested on case F0009225).

[2017-01-09 09:13] robinandeer commented on #393
the API access was revoked, we are waiting for updated credentials
It will work in the new Scout instance, updated today!

[2017-01-09 09:13] #393 closed

[2017-01-11 09:35] robinandeer opened #395 "Dynamically link to Ensembl hg38"
Use information on case level to customize links based on genome build

- [x] ensembl transcript links
- [x] ensembl gene links
- [x] beacon link
- [x] ucsc link

[2017-01-13 07:31] henrikstranneheim opened #396 "SV and SNV compounds are not linked to gene but variant coordinate overlap"
Compounds should be defined by the gene not variant coordinate overlap.

[2017-01-15 19:08] 4WGH opened #398 "link to the family overview not working"
If I click on the fam number 16153 I get a SErver error message, inner peace.
the link to clinicarl variabt works fine.

[2017-01-15 19:10] 4WGH opened #399 "OMIM phenotype link"
Before when clicking on the OMIM phenotype link the page opened on a new sheet. It was more functional. not it open on the actua SCout sheet (=more going back needed)

[2017-01-16 07:37] henrikstranneheim commented on #398
Fixed

[2017-01-16 07:37] #398 closed

[2017-01-17 11:06] 4WGH opened #400 "too many OMIM link to a gene/phenotype"
Hi,
looking into fam 16153 variant on PIGA gene
There are several OMIM phenotype. once I click on them the link is to other gene then PIGA....
Could you check?

![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/22018064/425ae9b6-dcad-11e6-95c6-a3016cf91ad5.PNG)

[2017-01-18 14:58] henrikstranneheim opened #401 "Mispelled canonical with 2 ns in transcript table overview"

[2017-01-18 14:59] henrikstranneheim opened #402 "Re introduce inh. modell in each entry in table OMIM phenotypes"
Bring back dynamic parsing from OMIM for generating each phenotypes inh. modell.

[2017-01-18 15:00] henrikstranneheim opened #403 "Sort genes in alphabetical order in gene panel view"

[2017-01-18 15:01] henrikstranneheim opened #404 "Expected inh. is X on autosomal chr due to multiple links OMIM data?"

[2017-01-18 15:43] dnil opened #405 "Some variant pages won't load (timeout?)"
E.g. https://clinical-db.scilifelab.se:8083/cust002/F0010579/variants/f3e45cdf7c8c7c91988a3a55eb95d879

Tries to connect for a long time, then returns "The connection to the server was reset while the page was loading." as Firefox has it. "server unexpectedly dropped connection" in Safari. Or most eloquently in chrome: "The page isn’t working ... ERR_EMPTY_RESPONSE".

Other variant pages on the sa

[2017-01-18 15:47] dnil commented on #405
Non-OMIM Morbid gene, it appears - but then other dito load anyway..

[2017-01-19 11:43] NicoleCMMS commented on #403
Can this issue be put on prio?  We cannot search coverage of individual genes in our gene panels without being able to localise the gene.  Thanks!

[2017-01-19 12:27] NicoleCMMS commented on #405
Here is a concrete example to check:
Family 16165
WWOX variant (IEM gene)
Rank 156
This variant and all other WWOX variants in this family refuse to load.

[2017-01-19 12:51] 4WGH opened #406 "gen panel verison not updated"
I can see in case 16161 already genes that belong to the updated version of dbCMMs (V10)
EX PDE10A , OCRL and other.
In the case overview is state that version 9 had been used.

Could you cross check with version of database/panel has really been used?
If I look at the date of analysis is 2017-01-12
but the v10 has been submitted 2017-01-16....
This does'nt help me to sort it out :)

Thanks,
Miche

[2017-01-19 14:06] 4WGH opened #407 "inheritance model curated at CMMS"
Hi,
 in our dbCMMS we manually add the inheritance model. This should appear in Scout.
( as for penetrance and mosaicism)

this is particularly relevant for the newly submitted genes that do not have info in OMIM.

Michela

[2017-01-19 16:42] 4WGH opened #408 "same info twice in the transcript overview window - minor bug?"
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/22115738/7f01eeb0-de6e-11e6-8238-fd382bc7768e.PNG)

link to page
https://clinical-db.scilifelab.se:8083/cust003/16168/variants/6073ae04e12b443bd53724d49adf3ec7

[2017-01-19 16:53] 4WGH opened #409 "Gene annotation and func annotation missing on some compound variants"
see 2 ex in 2 fam.

https://clinical-db.scilifelab.se:8083/cust003/16170/variants/44bed9bdaaf7e7a0f138276448ecdbca
https://clinical-db.scilifelab.se:8083/cust003/16168/variants/6073ae04e12b443bd53724d49adf3ec7

 it seams to happen for variants that hits 2 genes at the same time. in the compounds some variant get the annotatino some not. (active variants, not the not uploaded)

minor bug?

[2017-01-20 11:47] henrikstranneheim opened #410 "Order sanger generates "inner peace""

[2017-01-20 13:37] henrikstranneheim opened #411 "Scout meeting 2017-02-01"
- [x] How to filter on genes in Scout. Remove panel for querying of single gene.
- [x] New order portal and StarLims export.
- [x] What would you like to see in the Sanger email? #414
- [x] HPO search (strict or ranked)
- [x] How to simplify gene panel handling in Scout

[2017-01-20 13:46] #406 closed

[2017-01-20 13:54] robinandeer commented on #406
Hej, that's a very good discovery!

I've fixed the issue but the view loads a bit slow which we will investigate how we can improve early next week.

[2017-01-20 14:14] #410 closed

[2017-01-20 15:07] robinandeer commented on #408
This looks very suspicious @moonso 😕

here is the CSQ field from the VCF:

[code]

[2017-01-20 15:15] robinandeer commented on #407
Hi,

We will add the information about inheritance model to next to the OMIM information.

The manual incomplete penetrance is shown under "Incomplete penetrance" > "Manual" in the variant view.

Where would you like to see "mosicism" appear?

@moonso: we don't seem to store the inheritance model in the gene model for the panels, no?

[2017-01-20 15:18] robinandeer commented on #405
Woah... 😵  that variant has 1063 compounds LOL

I think you won't need to inspect all of them haha

[2017-01-20 15:19] #405 closed

[2017-01-20 15:20] dnil commented on #405
Hehe nope - likely not.. Brings to mind issue #374. Thanks!

[2017-01-20 15:28] robinandeer commented on #405
RBFOX1 spans 2.5M bases hahaha - almost everything is intronic tho

[2017-01-20 15:29] robinandeer commented on #404
which variant do you see this in?

[2017-01-20 15:30] robinandeer commented on #403
you can also search using the browser function: ctrl+F or command+F (mac)

but I'll look into this

[2017-01-20 15:36] robinandeer commented on #403
I've solved it!

[2017-01-20 15:36] #403 closed

[2017-01-20 15:38] robinandeer commented on #401
I think we must've removed this.. can't find it :/

[2017-01-20 15:42] #399 closed

[2017-01-20 15:42] robinandeer commented on #399
that was just a miss on our side - thanks! :)

[2017-01-20 15:43] robinandeer commented on #396
this is now fixed since we search for compounds using gene identifier!

[2017-01-20 15:43] #396 closed

[2017-01-20 15:48] henrikstranneheim commented on #401
Hover over the "c" and it should show in the pop-up

[2017-01-20 15:49] henrikstranneheim commented on #396
👍

[2017-01-20 15:51] robinandeer commented on #401
ahh you got that - I've fixed that hehe

[2017-01-20 15:51] #401 closed

[2017-01-22 11:03] 4WGH commented on #407
the mosaicisim can be added in the widonw where the is the information about the penetrance. Just under.
 
 
Our curated inheritance model Was shown in the previous SCout version see attached screen shot
This is important for the new gene not reported in OMIM yet
 
Michela
 
 
Michela Barbaro, M.Sc, PhD
Sjukhuskemist
Centrum för Medfödda Metabola Sjukdomar (CMMS)
L7:05
Karolinska Universitetssjukh

[2017-01-23 09:58] robinandeer opened #412 "Missing CLNSIG annotation"

[2017-01-23 10:17] robinandeer commented on #404
AXIN2

[2017-01-23 12:46] henrikstranneheim opened #413 "hg38_scout_exons.bed export"

[2017-01-23 15:35] 4WGH commented on #381
1. panel version
2. who was assiged as affected, unaffect or not specified (X)
3. MIP?
4. re-run after bug sovling (ex when some variants were missed out.

it would be good if other can help with what can be important to know.

[2017-01-24 07:33] 4WGH opened #414 "info on the Sanger order"
Sanger order is working now but we see much less information than before.
transcript NMxxxx, c.xx, p.xx info where very important for us from a quality ensure point of view.

 Can we have them back?
Thanks,
Michela

[2017-01-25 10:21] #408 closed

[2017-01-25 11:01] henrikstranneheim commented on #378
Fixed!

[2017-01-25 11:01] #378 closed

[2017-01-25 11:33] robinandeer commented on #412
cust002
family: F0010326

[2017-01-25 12:39] henrikstranneheim commented on #412
This a strange one:

The particular variant is missing from the: ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/archive/2016/clinvar_20160502.vcf.gz
which is the clinvar version that has been used with this particular analysis.

However it is present in the hg38 version: ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/archive/2016/clinvar_20160502.vcf.gz

as 11	299504	rs587776916	G	A

However

[2017-01-25 12:39] #412 closed

[2017-01-30 08:44] moonso opened #416 "Add link to MARRVEL"
http://marrvel.org

Currently there is no way to link directly to a variant but I have requested that functionality.

[2017-01-30 08:50] moonso opened #417 "Adjust abbreviation for HPO group"
Huvudgruppen "Abnormal CNS morphology", bra om den kan förkortas (MRI) istället för (CNS)

[2017-01-30 08:58] 4WGH opened #418 "transcripts window should be seledted as first choice?"
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/22416943/c429e39c-e6d1-11e6-9e97-fb098e6e2530.PNG)

this window with the transcripts overview and the nomenclature of the variant at the cDNA is now not visible at once at the variant level. Could we have it selected first? unless we can have the mutation nomenclature at the cDNA level appearing under the "HGVS Description" together

[2017-01-30 09:01] 4WGH opened #420 "REf Seq not apeearing near to the ENSEMBL FIXED"
![skarmklipp](https://cloud.githubusercontent.com/assets/12525201/22417119/dde9de62-e6d2-11e6-93b8-720b80efbbbd.PNG)

Ref Seq not coming up here. Very needed whne designing Sanger and to compare transcripts

Thank for help

MIchela

[2017-01-30 09:11] #417 closed

[2017-01-30 09:11] robinandeer commented on #417
Jag fixade just detta!

[2017-01-30 09:15] robinandeer commented on #420
Hmm.. which case is this relating to? Or just the URL link to the page.

This information is supposed to be filled in dynamically but there might be something going on there...

[2017-01-30 09:20] moonso commented on #417
👍

[2017-01-30 09:30] #418 closed

[2017-01-30 09:39] robinandeer commented on #416
we could actually create a "link" for it, it seems - just need to send/submit the data in a form :)

I can look into it - shouldn't be too hard I hope

[2017-01-30 09:54] #416 closed

[2017-01-30 10:05] robinandeer commented on #414
Hi,

I made a quick-fix to make it work again but we aim to provide an email with all the necessary information of course :)

I was gonna bring up on the Scout meeting exactly what everyone would like to see - but I can start working on these for now

[2017-01-30 10:14] dnil commented on #414
Any chances of attaching a snapshot from the pileup view?

// Daniel

[2017-01-30 12:04] 4WGH opened #421 "show panel at the variant level"
To discuss at SCout meeting?
before we could see at the variant level, to which panel the variant belongs to.
This was good locally as well as good for inter-clinic collaboration.
I would like to have it back if possible.

[2017-01-30 13:29] moonso commented on #413
Why do we need this now?

[2017-01-30 13:38] henrikstranneheim commented on #413
Because we cannot run hg38 in MIP past VEP in the production setting, if we do not have this file.
However, there is no rush with this as it is only the scapis samples that are scheduled so far and they do not need the split into clinical and research.

[2017-01-31 09:03] 4WGH opened #422 "Orphanet link not working properly"
the link goes to the orphanet page but do not show the page for the specific gene it should.

[2017-01-31 09:26] moonso commented on #422
Yes I am aware of that, there is now obvious way to build the URL.
Can you have a look @robinandeer ?

[2017-01-31 10:01] henrikstranneheim opened #423 "Cohort tag"
- [x] Family level
- [x] Multiple tags per case
- [ ] Searchable

[2017-02-01 09:16] moonso commented on #421
We will investigate if it is possible in the new version, we have high hopes!

[2017-02-01 10:01] moonso commented on #400
This is fixed!

[2017-02-01 10:01] #400 closed

[2017-02-01 11:39] robinandeer commented on #411
- [ ] add chromosome and p-position to SV variants view

[2017-02-01 12:55] robinandeer commented on #411
15 mars next meeting

[2017-02-01 14:25] moonso commented on #407
Backend is ready. We need to reload all the old panels

[2017-02-01 14:53] moonso commented on #404
I'm waiting to get login credentials to OMIM and see if we can get better information from the files that they provide

[2017-02-02 12:30] dnil opened #425 "Inner peace for one var?"
Monika reported seeing "Inner peace" for
https://clinical-db.scilifelab.se:8083/cust002/F0011619/variants/473846d77ddf20714dae580454fc8ba1
The rest of the variants for the case are ok.. Thanks!

[2017-02-02 15:42] 4WGH commented on #385
Hi!
I need the coverage for this gene to be able to write the patient answer. Can I have a time extimation for the solving of this bug?
Or do I need to make a ticket?
Thanks
Michela

[2017-02-08 09:55] 1ctw opened #427 "Not able to look at mitochondrial DNA variants"
I am not able to look at mitochondrial DNA variants in any patients in new Scout. I get the "inner peace" message when I click on variants.

[2017-02-08 10:23] henrikstranneheim commented on #427
This has now been fixed.

[2017-02-08 10:23] #427 closed

[2017-02-08 11:35] moonso commented on #425
Works now!

[2017-02-08 11:35] #425 closed

[2017-02-09 07:58] robinandeer opened #430 "missing HGNC id"
I found a gene in NMD panel which has been added without having an exiting entry in our internal gene database!

When you export the panel Scout produces an error - we should probably check if every HGNC id in a panel exists in our database before loading it, right?

Second question is why this gene is not in our database: http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=HGNC:39080 ☹️

[2017-02-09 15:02] robinandeer commented on #430
not in GRch37

[2017-02-09 15:02] #430 closed

[2017-02-09 16:50] dnil commented on #430
Did you ever find out the ulitmate reason? Not in GRCh37 isn't entirely true - exists in principle at least in .p13, although the unique mappability in our venerable core fasta version appears poor to say the least.
<img width="640" alt="screen shot 2017-02-09 at 14 10 33" src="https://cloud.githubusercontent.com/assets/758570/22793469/37bd6024-eef0-11e6-821a-f2e152987262.png">