[2017-02-09 17:04] moonso commented on #430
We use the gene definitions in ensembl biomart 37 and it is not there so I'm afraid we can not include that gene. I guess they don't upgrade the 37 biomart with new releases of 37...

[2017-02-09 17:05] moonso commented on #421
This should be solved now, right @robinandeer ?

[2017-02-09 17:05] moonso commented on #420
Can we close this @robinandeer ?

[2017-02-09 17:08] moonso commented on #337
Ok so the gene list generated directly from the HPO terms is now ready.
We will then update what is generated by phenomizer soon and hope that all of this will be much more clear

[2017-02-09 17:09] #334 closed

[2017-02-09 17:23] dnil commented on #430
Well said - we look forward to it's return in glory in GRCh38! :+1:

[2017-02-10 11:52] #421 closed

[2017-02-10 11:53] robinandeer commented on #414
no not a this moment

but the Sanger email template is now updated to look like before!

[2017-02-10 11:53] #414 closed

[2017-02-10 11:54] #420 closed

[2017-02-17 07:40] henrikstranneheim commented on #385
Solved by rerunning with new version of Scout.

[2017-02-17 07:40] #385 closed

[2017-02-17 09:57] moonso commented on #423
Just provide a list here with cohort tags

[2017-02-17 10:07] robinandeer commented on #422
http://www.orpha.net/consor/cgi-bin/OC_Exp.php?Lng=GB&Expert=289290

[2017-02-17 11:56] henrikstranneheim opened #438 "OMIM phenotype does not show in Scout"
This variant has no OMIM phenotype according to Scout:
https://clinical-db.scilifelab.se:8083/cust003/16006/variants/67608f8e6eefbfda0e4090d12843a673

OMIM:
https://omim.org/entry/602166?search=AP3B2&highlight=ap3b2
https://omim.org/entry/617276

This disease is quite new dec 2016.

Do we need to update the OMIM files or could there be bug?

[2017-02-17 12:35] moonso commented on #438
This disease is not in our files from HPO but it exists in the omim files

[2017-02-17 14:26] henrikstranneheim opened #439 "Phenomizer gene view"
Add the select button at the top of the page (where the action is) instead of at the bottom.

[2017-02-17 14:28] henrikstranneheim opened #440 "HPO panel generation"
Keep ticks in the boxes for the phenotypes that were used to generate HPO gene panel.

[2017-02-17 14:34] henrikstranneheim opened #441 "Add clinical variant view shortcut button to go to HPO variants"
Now you have to:
1. first generate the HPO panel and then
2. go to clinical variants and
3. then click HPO panels
4. and then HPO gene list. To get to the actual HPO variants.

It would be nice with a button (HPO variants) to go straight to from 1. to 4. and skip 2 and 3. One would also of course have to select clinical/research (snv/indel or SV) view at the same time as well.

[2017-02-17 19:35] moonso commented on #423
- other
- endo
- mito
- ketogenic diet

[2017-02-17 19:37] moonso commented on #438
Ok so we will parse everything that has to do with diseases, inheritance etc from the omim files.
From HPO we will only get the hpo terms and what genes they are associated with

[2017-02-20 10:27] dnil opened #442 "Report versions of MIP, callers & references"
It would be prudent in general to allow access to the version report for a case through scout. If nothing else, versions of MIP, crucial references such as ExAC, OMIM, genome, gene models (i e transcript set) and aligners/callers would be expected. This would probably fit well in the discussion of displaying deltas to reruns in #381.

[2017-02-20 10:44] dnil opened #443 "sv variant view"
It would be good to be able to see

- [x] Size. Only in variants list view now.
- [ ] ISCN variant description (canonical clinical nomenclature - compare HGVS for SNV/MNV)
- [x] OR/AND, if too much for now, coordinates of variant close to type, size, cytogenetic coordinate (chromosomal band), zygosity.
- [x] Link to Decipher - the de facto clinical repository of SVs. Can be deep linked via coordin

[2017-02-21 10:22] stolpeo opened #445 "`/vagrant/package.json` file missing during start"
Hello,

I have problems getting scout running. The problem appears when I try to bring vagrant up:

[code]

Obviously the file `/vagrant/package.json` is missing and I can't find this file in your repository or when I ssh to the machine and look in this place for the file.

BTW, I also had to make a small adjustment to resolve another issue during `vagrant up`:

[code]

[2017-02-22 16:03] 4WGH opened #448 "reduced penetrance information missing"
hi look into fam 17010. gene NPRL3 has incomplete penetrance ( annotate on dbCMMS9
this info is not coming up in Scout. it states no in the manual information window.
![bild](https://cloud.githubusercontent.com/assets/12525201/23219954/c414f82c-f920-11e6-8615-8625658e6b93.png)

[2017-02-22 16:12] 4WGH opened #449 "transcript not appearing"
Hi. fam 17010. gene NPRL3.
we have transcript  NM_001077350 as reference transcript. it is not appearing in the variant.... it should. neither on the transcript overview nor in the transcript sheet where the ENSEMBLE transcript number are listed. the variant is inside an exon, so it is relevant to sort out this issue.
![bild](https://cloud.githubusercontent.com/assets/12525201/23220377/1cc1b0f4-f9

[2017-02-22 17:15] moonso commented on #448
Hello! We are aware of these issues and will try to adress them asap, hopefully this week.

Best,

Måns

[2017-02-23 12:48] robinandeer commented on #448
Look now! We just updated the info on the gene panels :)

[2017-02-23 12:48] #448 closed

[2017-02-23 13:54] moonso commented on #449
Ok so I have done some investigation here and it is a bit surprising.
To begin with we have solved the issue with displaying the information from your gene panel.

What I found out was that one ensembl transcript can map to multiple refseq transcripts, which is the case here. So this is what it looks like in the raw data file:
[code]
So we represent ensembl transcript ENSG00000103148 with NM_00124

[2017-02-23 15:59] 4WGH commented on #449
if more then one RefSEq transcript correspond to one ENS transcritpt it is good to list all of them. So it was in the old version of Scout. No RefSEq transcript should be left out. I do not Think it is good in general to choose to leave out info.
Michela
 
Michela Barbaro, M.Sc, PhD
Sjukhuskemist
Centrum för Medfödda Metabola Sjukdomar (CMMS)
L7:05
Karolinska Universitetssjukhuset Solna
17176 Stoc

[2017-02-24 10:20] moonso commented on #449
Ok I understand. Where should we list all of them?
In all tables? Transcript overview? Gene page?

[2017-02-27 12:10] 1ctw opened #450 "Missing cases?"
Suddenly lots of cases are missing in old scout. For example I am now working to finish cases 16155 and 16156 but they are both missing. It looks like all sample from 2016 are missing?

[2017-02-27 12:14] ingkebil commented on #450
Is this in scout-archive or scout?

[2017-02-27 12:16] 1ctw commented on #450
It is in scout-archive:
https://clinical-db.scilifelab.se:8081/cust003

[2017-02-27 14:02] ingkebil commented on #450
this has now been fixed!

[2017-02-27 14:02] #450 closed

[2017-02-27 14:06] 1ctw commented on #450
Thank you! I also sent a ticket for this problem. Then you can close this too.

[2017-03-02 09:13] 4WGH opened #451 "explanation about SPIDEX info needed"
what does it mean "not reported" for the SPIDEX results in the severity window (see screening shot)
1. analysis not performed?
2. no splicing affected?

we need to look for a possible spicing mutation on a candidate genes so this infor would help us.

![bild](https://cloud.githubusercontent.com/assets/12525201/23500534/c0f39624-ff30-11e6-893a-468d7c683662.png)

[2017-03-02 09:16] henrikstranneheim commented on #451
It means that the SPIDEX algorithm cannot calculate a splicing prediction score. Usually because the variation is too deep into an intron. I.e. for these variants SPIDEX does not add any value to the interpretation.

[2017-03-02 09:16] #451 closed

[2017-03-03 08:12] 1ctw opened #452 "Loading alignment not working"
I need to look at the alignment in some cases, but it seems that it is not working. It says "Loading alignments...use index chunks to speed this up. Nothing is then happening....

[2017-03-09 11:48] 4WGH commented on #449
![bild](https://cloud.githubusercontent.com/assets/12525201/23749032/7fd5b9e2-04c6-11e7-9908-ae77240b0158.png)
here, one after the other in the REfSeq Columns. So it was before :)

[2017-03-09 11:54] moonso commented on #449
👍

[2017-03-09 11:56] 4WGH commented on #407
how is it going with this issue about the manually curated inheritence? sTill missing this info in case 17015 for a gene introduced with the last version of database. see variant on MBOAT7

[2017-03-09 12:47] 4WGH opened #453 "CLIN SIGN"
should it look like this?
![bild](https://cloud.githubusercontent.com/assets/12525201/23750770/ca155474-04ce-11e7-98ec-dafeda561981.png)

how can we improve this? it seams that there are several links connected  to the same variant...

[2017-03-15 15:01] robinandeer commented on #407
@4WGH: this is now fixed in the production Scout version!

https://clinical-db.scilifelab.se:8083/cust003/17015/variants/6963f436a0daf3976ad6bb5b6d17dca1

We realized we have the information about inheritance models for the most recent panels (v10) but they were not displaying properly! We are sorry about the time it's taken to resolve the issue.

[2017-03-15 15:01] #407 closed

[2017-03-16 09:31] moonso commented on #439
Fixed!

[2017-03-16 09:31] #439 closed

[2017-03-16 09:32] moonso commented on #452
Could it be that it is a old case where the bam files has been archived?

[2017-03-16 09:34] moonso commented on #445
Hi, we are currently working hard to make scout easier to install. We'll get back to you as soon as we are ready!

[2017-03-16 09:35] moonso commented on #441
Fixed!

[2017-03-16 09:35] #441 closed

[2017-03-16 09:35] moonso commented on #422
Since we will collect diseases from OMIM only for now on this is not relevant

[2017-03-16 09:35] #422 closed

[2017-03-16 09:36] moonso commented on #413
This is fixed, just tell me when and where you need the export

[2017-03-16 09:36] #413 closed

[2017-03-16 09:37] moonso commented on #404
We are all aware now why this is happening and the solution.
We will use only omim information but there will still be strange cases

[2017-03-16 09:37] #404 closed

[2017-03-16 09:38] moonso commented on #402
This will happen soon

[2017-03-16 09:38] moonso commented on #395
This is possible from now on, only small fixes needs to be done

[2017-03-16 09:39] moonso commented on #389
This is fixed when running `scout init`

[2017-03-16 09:39] #389 closed

[2017-03-16 09:40] moonso commented on #368
This should be fixed now

[2017-03-16 09:40] #368 closed

[2017-03-16 09:41] moonso commented on #375
Should be fixed

[2017-03-16 09:41] #375 closed

[2017-03-16 09:43] moonso commented on #338
- [ ] loqusdb
- [ ] change-report
- [ ] google authentification

[2017-03-16 09:43] moonso commented on #337
Fixed and discussed in the meeting yesterday

[2017-03-16 09:43] #337 closed

[2017-03-16 12:20] moonso commented on #374
Ok so this can be solved after we update the code in scout.
We need to know which are most preferable to filter on.
Combined score is fine, functional and regional should also be fine.
I guess that the frequencies are sort of embedded in the rank_score/combined_score.

What do you think @dnil ?

[2017-03-16 13:09] 1ctw commented on #452
I think that could be the cause in those cases. We have been working on some cases more than 3 months now.

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 16 mars 2017 10:32:46
Till: Clinical-Genomics/scout
Kopia: 1ctw; Author
Ämne: Re: [Clinical-Genomics/scout] Loading alignment not working (#452)

Could it be that it is a old case where the bam file

[2017-03-16 16:56] moonso commented on #452
Ok, so if you really need those you can open a ticket.

[2017-03-16 16:56] #452 closed

[2017-03-17 07:13] henrikstranneheim commented on #453
Scout will display a link for every accession id, so there is nothing wrong with the above entry.

@robinandeer However, it would be nice if we could collapse this to unique fields and then show a pop-up when hovering above a link that displays the accession links for each subcategory. This should avoid the rather cluttered appearance.

[2017-03-17 12:24] dnil commented on #374
Functional and regional is good! I still think freq and perhaps CADD would be wished for. While I agree on them being included in the combined score, it is somehow a little off right now. It doesn't reflect my sense of how causation occurs. E.g. even if one variant is very clearly causative (and perhaps should be the top AD candidate) the second one still normally needs to be causative for disease

[2017-03-17 14:05] dnil commented on #374
..or just "clinical filter" the other variant as well? That's an established threshold.

[2017-03-19 19:58] vwirta opened #454 "Application tag on cases page"
Would it be possible to use a different tag for the focused exomes to separate them from whole exomes? (WES = whole exome sequencing)

[2017-03-19 20:34] moonso commented on #454
Sure that is possible

[2017-03-30 09:20] henrikstranneheim commented on #377
On variant level to enable tagging of mosaicism that we see in the alignment view. This would enable tracking of true/false and suspected mosaicism in the entire dataset. Perhaps one should add them is a separate collection for faster retrieval.

[2017-04-03 10:49] moonso commented on #445
Hi again, we have update installation instructions in README.md. Please try again

[2017-04-03 10:49] #445 closed

[2017-04-03 10:50] #338 closed

[2017-04-03 10:53] moonso commented on #443
Hi @dnil , are there any examples of ISCN descriptions? Can we collect these from the VCF? How should the filter look?

[2017-04-04 11:27] moonso commented on #454
Is it ok to call it FES=Focused Exome Sequencing ?

[2017-04-04 13:56] vwirta commented on #454
Ok for me.

VW

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
Department of Microbiology, Tumor and Cell biology, Karolinska Institutet
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2017-04-05 08:54] robinandeer opened #465 "Dynamic gene panel upload"
on request from Per Marits

Should clearly state which format the file should be in!

[2017-04-06 15:33] dnil commented on #443
Emailed about ISCN; basically @J35P312 and I have an idea for that. Let's see how it pans out - and just shout if you would like to fix it first!

[2017-04-06 17:30] moonso commented on #443
Maybe you could just add a function?
Like:
[code]

SV variant obj should include most information. Might be something for @J35P312 to contribute with 😸

[2017-04-07 11:46] dnil opened #467 "Overlapping SV variant type on variant page"
Would be niffy. As it is, its is kind of hard to guess what is going on w/o clicking the link.

[2017-04-07 12:03] moonso commented on #467
Sure that should be no problems

[2017-04-07 12:48] dnil commented on #467
Actually, I can fix it myself! :)

[2017-04-11 10:03] J35P312 opened #469 "failed to load the example config"
**Hello there!**
I followed the scout user examples, I managed to run the following commands:
scout setup database
scout load panel tests/fixtures/gene_lists/panel_1.txt
scout load case tests/fixtures/643594.config.yaml

Then I copied the example config file and ran scout serve --config ./config.py, which produced the following error:

[code]

the scout demo worked with no errors, so I guess it is

[2017-04-11 10:31] moonso commented on #469
Yes sounds like there are some problems with the config stuff or what do you think @robinandeer

[2017-04-11 10:47] dnil commented on #469
Looks like it would prefer to eat a yaml file rather than a .py file, doesn’t it?

By the way I gave loading a FindSV-vcf a shot. Needs relaxing a few things: I got as far as allowing loading of only SV-variants,
ignoring “.” on QUAL. Next up something is not quite ok with variable genotype calls, but there I think I should update my FindSV installation before proceeding.. :)
Could you point me to

[2017-04-11 10:50] 1ctw opened #470 "lost access to shared cases"
We seem to have lost access to shared cases after the update. When I click on a case I get the following message:

Forbidden
You don't have the permission to access the requested resource. It is either read-protected or not readable by the server.

[2017-04-11 10:59] dnil commented on #469
Sorry, no, thats a py config.. Just ignore.. :)

[2017-04-11 11:15] 1ctw opened #471 "names lost in comments and activity list"
The usernames are lost in the comments and activity list after the update.

[2017-04-11 13:17] robinandeer commented on #471
Hej,

this is known and we have corrected for it - can you point to a case where the issue still persists?

[2017-04-11 13:39] robinandeer commented on #470
Very good catch!

Sorry for missing this I've now updated the access control code and you should have access to shared cases again

[2017-04-11 13:39] #470 closed

[2017-04-11 13:44] 1ctw commented on #471
Hej Robin!

Jag ser det i 15065 men det kanske finns fler som har samma problem

Mvh
Helene

Helene Bruhn
Sjukhuskemist
Centrum för medfödda metabola sjukdomar, L7:05
Karolinska Universitetssjukhuset, Solna
171 76 Stockholm
Tel 08-517 714 51

Helene Bruhn
Doktorand
Avdelningen för Molekylär metabolism
Institutionen för medicinsk biokemi och biofysik (MBB)
Karolinska Institutet

Från: Robin Andeer

[2017-04-12 09:33] 29vd opened #472 "HPO sökning"
Har genererat HPO genlista och när man trycker på genvägsknappen till "Clinical HPO variants" blir det Error

[2017-04-12 12:38] NicoleCMMS opened #473 "Family 17042"
It is not possible to look at the clinical variants in this family.

[2017-04-12 14:21] 4WGH opened #474 "gene annnotation and function annotation non appearing"
Hi
in the vatiant overviw when i scroll over the "compound" in the popping upp window the information for the gene annotation and the func.annotation are not appearing, while of I go insside the single variant pathe they appear. see exemple
[issue.docx](https://github.com/Clinical-Genomics/scout/files/916805/issue.docx)

[2017-04-12 19:53] moonso opened #475 "Link to gene in OMIM table when no phenotypes"
We should add a link to omim in the OMIM table on variant view even if there are no phenotypes

[2017-04-13 05:57] NicoleCMMS opened #476 "Annotation for synonymous not correct"
https://clinical-db.scilifelab.se:8083/cust003/17038/00a0adecf3d0bdb68d60539f1a978685
If you look at the above example you will see that the annotation for a synonymous change instead of being = is now %3D

[2017-04-13 06:13] moonso commented on #476
Ok I see, it is in the hgvs description..

[2017-04-13 09:19] #472 closed

[2017-04-13 09:20] robinandeer commented on #473
We fixed this so it's all good now

[2017-04-13 09:20] #473 closed

[2017-04-18 09:23] Martinengvall opened #477 "17049 Sanger order doesn't work. "Server error""
Se title

[2017-04-18 22:16] 4WGH opened #479 "active state not activated"
See case 17048 an 17049. We had look at them, pinned variants but the state is still "inactive"

[2017-04-19 07:09] 29vd opened #480 "inconsistent position"
c.DNA and protein position is not consistent with genome position in this specific transcript in SOX5
NM_006940 - g.23908582 is according to Scout c.519C>T, p.Gly173=, men är c.558C>T p.Gly186=

[2017-04-19 09:13] robinandeer commented on #479
Hej,

we are just seeing this - will look into it by next week when I'm back to work

[2017-04-19 09:15] robinandeer commented on #477
I did fix an error in the sanger email recently - can you try again? :)

[2017-04-19 09:49] 29vd opened #481 "AKUT!!!!"
"Clinical filter" tar bort varianter som inte har frekvens i 1000G!!!!!!!!!!!!!!!!

[2017-04-19 09:50] dnil commented on #481
Gäller både SV och SNV/MNV vyerna.

// Daniel

[2017-04-19 10:01] robinandeer commented on #481
This looks odd, right Måns?

https://github.com/Clinical-Genomics/scout/blob/master/scout/adapter/mongo/query.py#L77

[2017-04-19 10:05] robinandeer commented on #481
Hej,

skulle ni kunna ge exempel på detta? I en familj t.ex.

När jag testar i en random familj behåller den varianter utan 1000G annotering

[2017-04-19 10:26] 29vd commented on #481
Kolla F0001819 - NMD panel

[2017-04-19 10:42] 29vd commented on #481
F0001819

Helena Malmgren
Klinisk genetik
Karolinska Universitetssjukhuset
S-171 76 Stockholm
________________________________
Från: Robin Andeer [notifications@github.com]
Skickat: den 19 april 2017 12:05
Till: Clinical-Genomics/scout
Kopia: Helena Malmgren; Author
Ämne: Re: [Clinical-Genomics/scout] AKUT!!!! (#481)

Hej,

skulle ni kunna ge exempel på detta? I en familj t.ex.

När jag testar i e

[2017-04-19 12:37] moonso commented on #481
Hi,

I think I found the problem, when you press `clinical_filter` it automatically fills in `0.01` in the frequency column. This is not interpreted as the number 0,01 (notice the dot instead of the comma).
So if you fill in the clinical filter but change `0.01` to `0,01`, that is replacing the dot(.) to comma(,) it works.
Really sorry about this and we will fix it asap, meanwhile you can use the

[2017-04-19 13:14] moonso commented on #480
Ok this is an issue for VEP @henrikstranneheim . We do not calculate these positions, we only collect them from VEP

[2017-04-19 13:15] moonso commented on #477
Closing, please reopen if it does not change

[2017-04-19 13:15] #477 closed

[2017-04-19 13:16] moonso commented on #476
This is a string formatting problem, right @robinandeer ? Something with encoding utf-8...

[2017-04-19 13:17] moonso commented on #471
Hi,

seems to work now so I'm closing this. Please reopen if there are similar problems

[2017-04-19 13:19] ingkebil commented on #476
Looks more liKE URL encoding problem: https://www.w3schools.com/tags/ref_urlencode.asp

[2017-04-19 14:11] 29vd commented on #481
OK TACK.

Helena Malmgren
Klinisk genetik
Karolinska Universitetssjukhuset
S-171 76 Stockholm
________________________________
Från: Måns Magnusson [notifications@github.com]
Skickat: den 19 april 2017 14:37
Till: Clinical-Genomics/scout
Kopia: Helena Malmgren; Author
Ämne: Re: [Clinical-Genomics/scout] AKUT!!!! (#481)

Hi,

I think I found the problem, when you press clinical_filter it automatica

[2017-04-19 19:11] henrikstranneheim commented on #476
Actually, this probably comes from VEP. It is done to not brake the vcf format spec and is done intentionally.

@robin: we used to reverse this back to the original format in Scout. Has this been removed?

Skickat från min iPhone

[2017-04-19 19:13] henrikstranneheim commented on #480
I will take a 👀 tomorrow

Skickat från min iPhone

[2017-04-20 07:23] henrikstranneheim commented on #480
I do not know where this occurs and therefore I cannot investigate.

It would be great if you always could include a link to the page where the issue occurs.

[2017-04-20 09:24] moonso commented on #474
Hi,

could you provide a link or describe what variant I can look at in scout to see this?

[2017-04-20 09:25] moonso commented on #469
Hi @J35P312 , is this still a problem?

[2017-04-20 09:27] moonso commented on #467
Could you rebase the pull request @dnil ? (Sorry for being slow on merging)

[2017-04-20 09:28] moonso commented on #465
Ok so this will be a feature that has been in scout before? That user can upload a file with genes and filter against these?

[2017-04-20 09:29] moonso commented on #454
ok great, I can add support for this in scout but @henrikstranneheim and @robinandeer needs to add it in MIP

[2017-04-20 09:30] moonso commented on #453
I will make a new issue with the suggestion above

[2017-04-20 09:30] #453 closed

[2017-04-20 09:32] moonso opened #483 "Make CLNSIG to a popup instead of displaying full info"
We saw this in #453:

[2017-04-20 09:33] moonso commented on #443
Since most of these are in place I will open a new issue for the ISCN coordinates

[2017-04-20 09:33] #443 closed

[2017-04-20 09:35] moonso opened #484 "Add ISCN coordinates on SVs"
Add a function that takes a variant and returns ISCN coordinates. See #443

[2017-04-20 10:26] dnil commented on #467
No worries - you know how I love rebasing..

[2017-04-20 10:26] #467 closed

[2017-04-20 10:56] moonso commented on #440
Would this be possible @robinandeer ?

[2017-04-20 10:58] moonso commented on #438
This was solved with the update to scout version 3

[2017-04-20 10:58] #438 closed

[2017-04-20 11:01] moonso commented on #409
This should have been fixed in the new version so I'm closing.
Please reopen if the problem occurs again

[2017-04-20 11:01] #409 closed

[2017-04-20 11:01] moonso commented on #402
Fixed in scout version 3!

[2017-04-20 11:01] #402 closed

[2017-04-20 11:04] moonso commented on #377
Hmm I'm really not sure how this could be done, let's discuss on next meeting 26/4

[2017-04-20 11:04] 4WGH commented on #474
have you opened that attached file with the exemple?

issue.docx

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 20 april 2017 11:24:46
Till: Clinical-Genomics/scout
Kopia: MichelaBarbaro; Author
Ämne: Re: [Clinical-Genomics/scout] gene annnotation and function annotation non appearing (#474)

Hi,

could you provide a link or describe what variant I c

[2017-04-20 11:07] moonso opened #485 "Scout meeting 26/4"
Hi all, I will start the agenda here. If there is something that you know now that you would like to discuss please post a comment here. It would also be nice if you can tell that you will participate so that we can get a estimation for the number of people.

## Agenda

- [ ] Mosaicism tag button
- [ ] Partial causative feature and associated HPO-terms
- [ ] Clinical Report, big interest? Structur

[2017-04-20 11:10] moonso commented on #374
Right now this looks a bit problematic again but we will try to find a way..

[2017-04-20 11:11] moonso commented on #373
What do you think about this @robinandeer ?

[2017-04-20 11:16] moonso commented on #349
Could you please update us on this one @henrikstranneheim ?

[2017-04-20 11:16] #339 closed

[2017-04-20 11:18] moonso commented on #335
Old issue, can not find the case in new scout. Do you know anything more about this problem @henrikstranneheim ?
Anyway I will have another look at the CLNSIG information

[2017-04-20 11:18] moonso commented on #333
Please have a look at that @henrikstranneheim

[2017-04-20 11:24] moonso commented on #292
I guess that if are satisfied with information from the loqusdb dump this could be done easy. Otherwise it could slow down the variants page a lot.
Would that be ok @henrikstranneheim ?

[2017-04-20 11:25] moonso commented on #291
Also something to discuss in next meeting

[2017-04-20 11:27] moonso commented on #147
We can bring this up at the meeting 26/4

[2017-04-20 11:32] moonso commented on #225
This is still a fairly hard problem, this is the reason why nothing happens.
We could start by trying to create a VCF file with all variants from the gene that the variant belongs to and then load that into the alignment browser

[2017-04-20 11:33] moonso commented on #167
I consider this covered in #320 so closing

[2017-04-20 11:33] #167 closed

[2017-04-20 12:14] moonso commented on #100
I've spent some time on this but can not really understand how to use the web service. We could try together @dnil @robinandeer ...

[2017-04-20 13:04] dnil commented on #480
And I still think it is not a tremendous idea to populate the git threads with actual genetic variants, rather try to keep them in tickets instead and discuss general matters in issues? Anyway, the cat is out of the box on this one so here goes:
https://clinical-db.scilifelab.se:8083/cust002/F0002632/164642a9b2a2e3743dacc21c44d8eda1

I couldn't help taking a :eyes: too. Seems to go back to the tra

[2017-04-20 13:45] vwirta commented on #485
Header date incorrect. Should be 26th

Topic:
Use of multiple family ids for different combinations of family constellations

Sent from my iPhone

[2017-04-20 14:20] henrikstranneheim commented on #485
- [ ] Cohort tag button

[2017-04-20 14:24] henrikstranneheim commented on #480
Yeah, that might be prudent, but enough information to be able to loacate the issue is obviously necessary. Customer, case and gene should suffice for most issues.

[2017-04-20 14:56] henrikstranneheim commented on #100
Looking at the VEP documentation: http://www.ensembl.org/info/docs/tools/vep/script/vep_options.html

- Would "--hgvsg" be interesting to apply?

- This option "--shift_hgvs" seems to be performing the action you are talkning about.
"Enable or disable 3' shifting of HGVS notations. When enabled, this causes ambiguous insertions or deletions (typically in repetetive sequence tracts) to be "shifted"

[2017-04-20 15:36] robinandeer commented on #481
okej this is an easy fix from my point of view I believe

[2017-04-20 15:41] moonso commented on #480
Great! Please close the issue if you can agree on this @29vd and @dnil

[2017-04-20 15:44] robinandeer commented on #481
but it stills to work as expected for "cust000/P5357-1004fam" for example which I don't understand why...

[2017-04-20 15:54] robinandeer commented on #481
if you fill in `0,01` it won't filter the frequency at all... at least in my brief testing - I will look into that as soon as I can

isn't the problem that the field always exists but sometimes is filled in with `None` @moonso? Perhaps that's something to try in the query build function?

[2017-04-20 17:54] dnil commented on #480
We probably need to discuss transcript sets again. While I love to have the more complete ENSMBL set, that should not be at the expense of correct use of refSeq. Personally I'd then vote for switching to refseq completely if we can't figure out a better way for them to coexist.

[2017-04-20 19:09] henrikstranneheim commented on #292
Yes, that would be fine I think as long as it clear that it is the archived version.

Skickat från min iPhone

[2017-04-20 19:12] henrikstranneheim commented on #335
Yes, I thing the CLNSIG field is still malfunctioning sometimes. I will try to dig up an example.

Skickat från min iPhone

[2017-04-20 19:19] henrikstranneheim commented on #349
It is in place. I think we should collapse the information per case and just say no consanguineous members if none is above the threshold. If there are consanguinity state it and list the members that are above the threshold.

Skickat från min iPhone

[2017-04-20 19:28] henrikstranneheim commented on #373
If we are going to change it is easy in MIP when calculating the raw data for chanjo. However it will only be forward looking.

Skickat från min iPhone

[2017-04-20 19:42] henrikstranneheim commented on #454
Ok, let's discuss this. It might be easier to introduce a subtag for what kind of wes or wgs were performed.

Skickat från min iPhone

[2017-04-20 19:54] Martinengvall commented on #477
Hello Robin

Sorry for answering late.

I tried to order Sanger just now from 17059 but I saw that Michela already ordered Sanger so I didn’t want to mess things up by doing it again. Is there any other way I could test if it works?

Best regards
Martin

Från: Robin Andeer [mailto:notifications@github.com]
Skickat: den 19 april 2017 11:15
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Ko

[2017-04-20 22:19] vwirta commented on #454
I think it is incorrect to call the focused exome analyses anything related to WES, because it is by definition not 'whole'.
One general option would be to call all targeted analyses that are not WES for simply 'panel' or 'TGA' (targeted genome analyses). Then we do not need to differentiate between different kinds of focused exomes, mendeliomes etc

[2017-04-20 22:31] vwirta commented on #373
The 30x and 60x in the order refer to average coverage. One should not assume that % >30x would be especially high.
Genomics England seems to be using % >15x as cutoff for WGS. Therefore I do not think we need to add 30/60x as coverage levels in the report.

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
Department of Microbiology, Tumor and Cell

[2017-04-21 04:45] moonso commented on #373
Ok, if you agree @4WGH please close the issue

[2017-04-21 04:50] vwirta commented on #373
With cutoff i actually meant measure

Sent from my iPhone

[2017-04-21 06:02] moonso opened #486 "Cytoband coordinates for SVs"
We should add cytoband coordinates and make them searchable.
How would you like to search on cytobands @dnil ? Is it perfect match?

[2017-04-21 06:41] moonso commented on #486
More for @dnil : how should we think with large SVs that span multiple cyutobands? Should we only annotate for where the start is or do they have a start and stop coordinate?

[2017-04-21 06:43] 4WGH commented on #373
ok!

[2017-04-21 06:43] #373 closed

[2017-04-21 07:05] dnil commented on #486
At least default to wildcard on search term: e.g. 22q11 would return also 22q11.21. Ideally also return events that completely span the query: eg vcf event would be del(1q11;1q31) and search term 1q2 we’d still like to return the event.

Start and stop is a little clunky for most events, isn't it? Often one might generalise instead: e.g. a del(1q11;1q12) could be described instead as del(1q1)?Perh

[2017-04-21 07:13] dnil commented on #100
- --hgvsg seems interesting, but not something we are using just yet.

- Yes, if these were run with --shift_hgvs this is clearly not doing what it's supposed to - or messing up under certain conditions at least. Let's collect a few examples and see what they say!

[2017-04-21 08:39] moonso commented on #486
Ok it sounds a bit messy to implement.
I have prepared so that we can start annotating this but we need to discuss a bit more before applying.
I'll add it to the agenda

[2017-04-21 08:46] moonso commented on #449
This is fixed! You can check NPR3 if you like @4WGH

[2017-04-21 08:46] #449 closed

[2017-04-21 09:01] 4WGH commented on #449
super! thanks!

Michela

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 21 april 2017 10:47:00
Till: Clinical-Genomics/scout
Kopia: MichelaBarbaro; Mention
Ämne: Re: [Clinical-Genomics/scout] transcript not appearing (#449)

This is fixed! You can check NPR3 if you like @4WGH<https://github.com/4WGH>

—
You are receiving this because you were mentione

[2017-04-21 12:28] moonso opened #489 "Duplicated refseq ids"
For some transcripts there are duplicated NM ids, for example:
![screen shot 2017-04-21 at 2 27 35 pm](https://cloud.githubusercontent.com/assets/405278/25277387/b9b08bc0-269e-11e7-9ee1-26a84a14cc77.png)

[2017-04-21 12:32] #489 closed

[2017-04-24 09:39] J35P312 commented on #469
Hello again!
I downloaded the latest scout and tested the examples, now when I run the following command:
scout load panel tests/fixtures/gene_lists/panel_1.txt

I get this error:

Usage: scout load panel [OPTIONS] PATH

Error: Invalid value for "path": Path "tests/fixtures/gene_lists/panel_1.txt" does not exist.

I double checked, but could not find the fixtures folder either, is the fixtures fol

[2017-04-24 11:13] moonso commented on #469
Ok we have moved this so it has to be updated. Thank you

[2017-04-24 11:14] moonso commented on #469
Meanwhile you could try with `scout/demo/panel_1.txt`

[2017-04-24 12:20] 4WGH opened #491 "disease associated transcript giving wrong information"
see this variant
https://clinical-db.scilifelab.se:8083/cust003/17047/afe8321ff37fa43714ce4be64ca99605

there is only one associated transcript registered in our dbCMMSv10, while there are 2 appearing here.

[2017-04-24 12:28] henrikstranneheim opened #492 "Make variant page gene panels info link to corresponding scout panel view"

[2017-04-24 13:39] J35P312 commented on #469
Thanks, now I had no troubles running scout load panel!

I tried rerunning the scout serve --config ./config.py step, but I still got the same autentication error as last time(I copied the example config from the latest readme file). I'm using python 3.6.1, could it be some problems with that version of python?

[2017-04-25 10:58] henrikstranneheim opened #493 "Add sv rank model version to case page"

[2017-04-25 11:00] henrikstranneheim opened #494 "Link rank model version to corresponding rank model ini file uploaded in scout"
For transparency and traceability

[2017-04-25 11:32] moonso commented on #491
Hi, it looks like two transcripts because they both point to the same ENST.
You can see this by looking at the detailed gene information https://clinical-db.scilifelab.se:8083/genes/6617.

There is really no good way to get around this so hope it is ok, it is just extra information.

[2017-04-25 11:38] henrikstranneheim commented on #491
Yes, for the transcript overview I think this is fine. However, under disease associated transcript the information should be collected from the gene panel (right?). And there is only one transcript there (NM_000235).

[2017-04-25 11:45] 4WGH commented on #491
exactly!

the issue is with the  disease associated transcript

________________________________
Från: henrikstranneheim <notifications@github.com>
Skickat: den 25 april 2017 13:38:27
Till: Clinical-Genomics/scout
Kopia: MichelaBarbaro; Author
Ämne: Re: [Clinical-Genomics/scout] disease associated transcript giving wrong information (#491)

Yes, for the transcript overview I think this is fine. Ho

[2017-04-25 11:53] moonso commented on #491
Ok, we can have a look and see if it is possible

[2017-04-25 11:54] henrikstranneheim commented on #480
Take a look at REFSEQ_MATCH here:
http://www.ensembl.org/info/docs/tools/vep/vep_formats.html

Unfortunately available for GRCh37, but it seems to map discrepancies between the transcript builds.

[2017-04-26 08:43] #481 closed

[2017-04-26 12:06] KickiLagerstedt opened #497 "Manual gene names/panels: Filters / Hgnc Symbols"
I can enter a non existing genename in this field and there is no warning, as it used to be, regarding that this is not an valid genename.

Ex Gene name "1234"
![bild](https://cloud.githubusercontent.com/assets/17139607/25433644/67e6b942-2a89-11e7-96d3-48afbe752e36.png)

Would be 👍 if You could fix this! 😃

[2017-04-26 12:09] KickiLagerstedt opened #498 "Delivery report"
Would appreciate if the "delivery report" could be opened in a new "flik"  - as it is with the "coverage report".

Not a prioritized issue!

[2017-04-26 12:10] KickiLagerstedt commented on #497
OR gene name WRPQ for instance (if 1234 is a HGNC gene no)

[2017-04-26 12:14] KickiLagerstedt opened #499 "Coverage report - single gene search"
If I want to customize my coverage report using specific genes I have to write the HGNC ID (number) instead of the letters ie I have to write "12796" instead of "WT1"

Would it be possible to change it back to what is was before - the gene name / Approved symbol

//

[2017-04-26 14:17] 4WGH opened #500 "strange order of the compound variants?"
https://clinical-db.scilifelab.se:8083/cust003/17040/392193cd802b72b753fe331e484ca3d7

see link :)

the compound variants used to be listed with according to rank score, with the not uploaded at the end (this was very good and helping). now they are mixed....

Has something happened?

[2017-04-27 06:43] moonso commented on #500
We will try to fix that today!

[2017-04-27 06:44] moonso commented on #499
Sure we will look into this asap

[2017-04-27 06:45] moonso commented on #498
👍

[2017-04-27 06:46] moonso commented on #497
It should be possible, we will try to fix this

[2017-04-27 06:46] moonso commented on #494
Ok

[2017-04-27 06:51] 4WGH commented on #500
thank you Måns [😊]

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 27 april 2017 08:43:44
Till: Clinical-Genomics/scout
Kopia: MichelaBarbaro; Author
Ämne: Re: [Clinical-Genomics/scout] strange order of the compound variants? (#500)

We will try to fix that today!

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2017-04-27 08:03] moonso opened #501 "Sort compounds when loading"

[2017-04-27 08:07] robinandeer commented on #499
Will require an update to Chanjo with some JavaScript magic but I will look into it soon :)

[2017-04-27 08:13] robinandeer commented on #497
This should display a warning

We can also try to add autocomplete to the gene name box

[2017-04-27 08:23] robinandeer commented on #494
See henrikstranneheim/MIP#127

[2017-04-27 10:59] moonso commented on #471
Fixed now!!

[2017-04-27 10:59] #471 closed

[2017-04-27 11:05] robinandeer commented on #469
You need to customize the database authentication parameters in the config to suit your setup - the example in the README is simply showing which options are available

However, I suggest you try the demo setup and run: `scout --demo serve`

[2017-04-27 11:05] #469 closed

[2017-04-27 11:34] moonso commented on #484
@J35P312 any time estimation for this one?

[2017-04-27 11:41] J35P312 commented on #484
I'll Have a look at it next week!

[2017-04-27 11:46] #411 closed

[2017-04-27 11:52] #440 closed

[2017-04-27 11:52] #454 closed

[2017-04-27 11:52] #476 closed

[2017-04-27 11:52] #479 closed

[2017-04-27 11:52] #492 closed

[2017-04-27 11:52] #498 closed

[2017-04-27 11:52] #500 closed

[2017-04-27 12:01] #475 closed

[2017-04-27 12:39] 4WGH opened #503 "filter by gene symbol has become case sensitive again"
this is dangerous as we get a message of no variants identified, and not a message like Gene not found!!!

[2017-04-27 13:06] #423 closed

[2017-04-27 13:29] moonso commented on #503
Hi, this is related to #497 and will be solved in the same update.
I'm closing this for now, we hope to solve it in the next few days.

[2017-04-27 13:29] #503 closed

[2017-04-28 09:11] #485 closed

[2017-04-28 09:17] moonso commented on #100
If I understand it correct this is directly related to #480 ? Could we close that and focus on solving it here @dnil @henrikstranneheim ?

[2017-04-28 09:37] dnil commented on #100
To me they are different issues: this pertaining to how VEP treats transcript strand in HGVS coords, the other issue due to errors in mapping between ensmbl and refseq transcript identifiers.

[2017-04-28 10:23] henrikstranneheim opened #504 "Institutes have reverted to "custXXX" in sharing list on case page"

[2017-04-28 10:55] henrikstranneheim opened #505 "Add link to gnomeAD in frequency table"
For example: http://gnomad.broadinstitute.org/variant/X-153219942-T-G

[2017-04-28 11:09] henrikstranneheim opened #506 "Add link to beacon network in freq table"
For example: https://beacon-network.org/#/search?pos=32936732&chrom=13&allele=C&ref=G&rs=GRCh37

[2017-04-29 05:39] vwirta opened #507 "cannot access case from dev-scout"
cust000/P5357-1004fam

Dev-scout: -> 500 internal server error
Prod-scout: -> works without problems

[2017-04-29 06:46] moonso commented on #507
Hmm what do you mean with dev-scout and prod-scout? I can access it from port 8083

[2017-04-29 07:20] vwirta commented on #507
7071 does not work

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
Department of Microbiology, Tumor and Cell biology, Karolinska Institutet
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2017-05-02 08:27] moonso commented on #507
This is expected from our side. We have added stuff in the new version, like cohort tag, and then we break the old version. So if a case is analyzed and modified in new scout we can not guarantee that it will work in old. That might not be a huge problem though or what do you think @vwirta ?

[2017-05-04 07:42] 29vd opened #508 "Confirmation of paternity and maternity"
We have previously discussed that we would apprechiate that maternity and paternity could be confirmed for TRIO analyses. Can this be visualized somewhere in Scout? If the MPS can confirm that the analysed individuals are the mother and father of the proband, the detected sequencevariants can get a higher pathogenic score...(ACMG)

[2017-05-04 11:15] robinandeer opened #510 "scout load user doesn't work"
add_user is not called from the adapter

[2017-05-04 14:22] 4WGH opened #511 "link opening on the sme page instead of new"
https://clinical-db.scilifelab.se:8083/cust003/17052/sv/variants/86d04f5bdf0a6b3593ef6525ca703d61

from here the OMIM link open on the same page instead of a new page :)

[2017-05-05 08:14] henrikstranneheim opened #512 "Remodel variant priority tag"
- [ ] Rename to more generic "variant tag"
- [ ] Make it specific for each institute
- [ ] Add labels and/or numbers as categories
- [ ] Save in format for statistic aggregation in future cohort view

[2017-05-05 08:15] henrikstranneheim opened #513 "Add ACMG variant category in variant page"
- store in database + API: as strings @moonso
- interface: new box+form, `<select>` @robinandeer
- show instead of manual rank in variants list @robinandeer

pathogenic = P
likely pathogenic = LP
uncertain significance = US
likely benign = LB
benign = B

[2017-05-05 08:24] henrikstranneheim opened #514 "Add link to Swefreq browser in frequency table"
https://swegen-exac.nbis.se/variant/22-46615880-T-C

[2017-05-05 08:33] moonso opened #515 "Allow uploading of variants from browser"
There should be buttons in the browser where the user can upload research variants, research SV variants etc directly from browser.

[2017-05-05 08:35] moonso opened #516 "Allow viewing variants that are not loaded"
It should be possible to click at a variant that is not loaded and look at it in the **variant** page

[2017-05-05 11:17] robinandeer commented on #314
fixed in #517

[2017-05-05 11:17] #314 closed

[2017-05-05 11:18] #505 closed

[2017-05-05 11:18] #506 closed

[2017-05-05 11:18] #514 closed

[2017-05-05 12:39] #510 closed

[2017-05-07 12:05] J35P312 commented on #484
Aloha!
I started working on the ISCN coordinate thingy:

The problem is, that I do not know were to put the code. Maybe you could insert it wherever you want it, then I can continue to work on it!

[2017-05-07 18:45] moonso commented on #484
Hi,

you can add the function to the file `scout/parse/variant/coordinates.py`
Is that ok?

[2017-05-08 10:41] J35P312 commented on #484
That's great, I'll do so and then I will send you a pull request!
By the way, for inter chromosomal translocations, how are the two chromosomes stored? Am I correct that one of the chromosomes is stored in the "chromosome" field and the other in the field "mate_id" of the variant_obj dictionary?

[2017-05-09 08:54] KickiLagerstedt opened #519 "Filtering against ExAc - How???"
If I filter against ExAc "0.01" I get very few variants to look at
If I filter against ExAv "0,01" I get a lot of variants

My guess is that filtering with "0.01" removes all variants with no data in the ExAc db as well as those with a frequency above 1%?

Could You fix this so that it is impossible to do the wrong filtering....????

// Kicki

[2017-05-09 12:08] dnil opened #520 "Overlapping SVs not detected/displaying?"
Anna H just found a likely causative LMX1B inversion from the SV view. Very cool! But, it does no show as an overlapping SV from the SNV/MNV view?

Compare:

https://clinical-db.scilifelab.se:8083/cust002/F0005864/sv/variants?variant_type=clinical&hgnc_symbols=LMX1B&size=&chrom=&thousand_genomes_frequency=

https://clinical-db.scilifelab.se:8083/cust002/F0005864/b9c8f0b65b90bbef54fbd6b508368e2c

V

[2017-05-09 15:32] KickiLagerstedt opened #521 "Project details, Order portal BETA"
Kan inte skapa "Project details" och vet ej heller hur det ska skapas. Rutan som ska beskriva detta är tom:

[2017-05-09 15:33] KickiLagerstedt commented on #521
[Project details.docx](https://github.com/Clinical-Genomics/scout/files/987149/Project.details.docx)

[2017-05-10 07:21] robinandeer commented on #521
Hej!

Vad bra att du hjälper oss att testa portalen 👍

Enligt [instruktionerna](http://www.clinicalgenomics.se/bestallningar/):

Du kan fortfarande döpa den ticket i SupportSystems till vad du vill men iaf för nu skulle vi vilja:

1. öppna en ticket i SupportSystems
2. kopiera ticket id:t och ange det som "Project name" i orderportalen

[2017-05-10 07:23] robinandeer commented on #521
Annars ser det ut som att du fyllt i allt korrekt!

[2017-05-10 08:07] moonso commented on #521
Hej @KickiLagerstedt , det finns en sida för issues som gäller orderportalen, jag öppnade samma issue här: https://github.com/Clinical-Genomics/cgadmin/issues/9
Vi ska lägga upp en länk dit från orderportalens hemsida.
Stänger här så länge...

[2017-05-10 08:07] #521 closed

[2017-05-10 14:33] KickiLagerstedt opened #522 "Local freq db filtering"
Something must have happened with the clinical filter - we get a lot of variants with a high freq i our local db. Has something been changed???

https://clinical-db.scilifelab.se:8083/cust002/F0003853-2/2c399f9c29005a3b13e27d867e3273d9

[2017-05-12 09:14] parlar opened #523 "feature ideas"
After getting updated about the latest in Scout at yesterday's "bioinformatiknätverketsmöte", I decided to fire it up. Looks great!

A piece of functionality that I think would be very useful, at least for us, would be to be able to add/remove columns in the SNP/Indel view (perhaps also dynamically).

This could enable the user to:

- display previous pathogenicity assessments for variants directl

[2017-05-12 09:30] dnil opened #524 "Display autozygous region size from rhocall in Scout"
Display AZLENGTH and AZQUAL; fits best under inheritance model.

[2017-05-12 09:32] henrikstranneheim commented on #524
This is available from MIP v5.0.0

[2017-05-12 09:41] moonso commented on #523
Hi Pär,

I'm glad you managed to set it up!
So for your questions:

We have left the idea with dynamic columns, I think as the community grows, different types of analysis gets more mature and the number of scout developers increases we can find consensus solutions to questions like these. It has worked well this far 😄.

Not quite sure what you mean here, we display links to clinvar with all previ

[2017-05-12 09:42] moonso commented on #524
👍

[2017-05-12 09:43] 4WGH opened #525 "sanger validate feature"
https://clinical-db.scilifelab.se:8083/cust003/17052

I think the Sanger validate "feature" should appear only for variants where the Sanger has been ordered, not in pinned variants. It makes is a bit confusing otherwise

[2017-05-12 09:43] henrikstranneheim commented on #524
right!

[2017-05-12 09:44] moonso commented on #522
That looks  a bit strange, we will have a look asap

[2017-05-12 09:45] dnil commented on #524
Just below inheritance model was our idea - when AZLENGTH and AZQUAL are set for a variant, display a line label like "Autozygous region" and a field with "Length" one with "Qual". Cheers!

[2017-05-12 09:45] moonso commented on #520
We will look into this and see if we need to update how to search for overlapping variants

[2017-05-12 09:46] moonso commented on #519
This could be the same as for 1000G, we'll have a look

[2017-05-12 11:27] 4WGH opened #526 "panel mall"
Hi!
It would be very good if we get a "mall" text file for importing gene panels.
So we can work in Excell and then save it with the right format for importing in Scout.

Michela

[2017-05-12 11:29] parlar commented on #523
Thanks @moonso for a quick respose!

Maybe I have not spent enough time with Scout (obviously I haven't!).

The columns that I can see in the SNP/Indel view are: rank, score, chr, gene, 1kg, cadd, g.anno, f.anno, inheritance model. I meant that adding colums for local classifications (+ clinsig) for variants would be valuable. And perhaps also pos, ref, and alt fields, for orientation, as well as

[2017-05-12 11:36] moonso commented on #526
Hi,

great idea, we could add that to the documentation and send a mail when we're done

[2017-05-12 13:23] 4WGH commented on #526
👍

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 12 maj 2017 13:36:44
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] panel mall (#526)

Hi,

great idea, we could add that to the documentation and send a mail when we're done

—
You are receiving this because you authored the thread.
Reply to this email

[2017-05-12 13:27] dnil commented on #519
Oh, and exactly there it would still be great to have ExAC as well in the customer adjustable part of the clinical filter. We discussed that in issue #233, but only 1000G actually ended up on the customisable list. I don't dare touch that part right now. 😅

[2017-05-12 15:05] dnil commented on #508
Peddy? http://www.cell.com/ajhg/fulltext/S0002-9297(17)30017-4

[2017-05-13 15:54] 29vd commented on #508
Går det att implementera i Scout vore  det ju utmärkt- eller vad tror du?

Skickat från min iPhone

12 maj 2017 kl. 17:05 skrev Daniel Nilsson <notifications@github.com<mailto:notifications@github.com>>:

Peddy? http://www.cell.com/ajhg/fulltext/S0002-9297(17)30017-4

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Clinic

[2017-05-13 17:38] dnil commented on #508
Jepp - på gång också, delvis av andra anledningar. Dessutom produceras faktiskt ett par tre rätt hyggliga mått för varje prov nu, men det syns inte riktigt i Scout. Blir toppenbra!

// Daniel

[2017-05-15 05:59] dnil commented on #333
It operates with the at first sight counterintuitive result that changes to repeat stretches *are* likely to affect function. Unless in an unordered part of the protein. Interesting!

[2017-05-15 06:02] dnil commented on #333
Fig 3 reconciles the world views: one-aa changes to a e.g. a polyQ is not so likely to be disease-causing, but two much more so.

[2017-05-15 06:46] moonso commented on #508
We are working on including peddy in the analysis and then display relevant results

[2017-05-15 08:17] dnil commented on #480
We should probably get to implementing this. Had another one today which caused a lot of discussion in the lab.
https://clinical-db.scilifelab.se:8083/cust002/F0009777/2d213a6ad4e157c89573154fa4f7800c
Note how the designated canonical refseq transcript from HGNC is not available in the ENSEMBL GRCh37 build (and so not in Scout), but then the two RefSeq transcripts are also incorrectly assigned as

[2017-05-17 09:49] 4WGH opened #528 "Next Scout meeting - points from CMMS and Clin Genet"
points to discuss at next Scout meeting (CMMS+ KlinGen)
- [x] 1. priority point system and possibilty for a AMCG classification
- #512 and #513
- [ ] 2. show if a trio is a trio. (Peddy)
- #508
- Peddy has been added to MIP. Need evaluation/validation. (Henrik)
- [x] 3. "," or "." how is the program working when filtering for freq
- #519
- [x] 4.  gene name is case sensitive, good to inform everyb

[2017-05-17 10:22] 4WGH commented on #525
Kicki wants it.
We need to find a new way that fits both 😃

[2017-05-17 10:32] 4WGH commented on #522
how is it going with this?
(CMMS+ CLinGen)

[2017-05-17 10:39] 4WGH commented on #520
Hi!
this is an example of issue that would be good to notify to all.
we will try to inform you when this is applicable.

CMMS+ ClinGen

[2017-05-18 14:04] J35P312 commented on #484
Hello there!
I'm back, and I have continued to work on the code, now it is almost finnished, with proper and up to date format. However, I need the cytoband positions for the interchromosmal translocations. Where can I find them?
Oh, and here's the code, perhaps it is more convenient if you finish it up =P
//Jesper
[code]

[2017-05-19 10:03] dnil commented on #484
Nice! To be complete, the cytobands should also be on the intrachromosomal events. Support for cytobands was a bit thin before, but I think @moonso has amended that with #486 // #487?

[2017-05-22 11:44] robinandeer commented on #528
4. this is just how HGNC defined it - not all gene names use capital letters but we could handled it without considering case if you would like? @moonso

5. sorry for this - re-implemented in #530!

6. with the next update we will get this data and implement the filter. The local frequency is already part of the rank score!

[2017-05-22 12:05] robinandeer commented on #513
is this meant to replace manual rank?

should it be customizable by customers?

[2017-05-22 12:07] robinandeer commented on #507
now works in both interfaces - thank for the feedback tho!

[2017-05-22 12:07] #507 closed

[2017-05-22 12:17] robinandeer commented on #497
a warning will now be displayed again in the next update - see #530

[2017-05-22 12:17] #497 closed

[2017-05-22 13:28] moonso commented on #484
Yes we should add this asap, I will try to merge that pull request.
How do we handle cytoband coordinates for intrachromosomal events @dnil ? Do they need a start and a stop position?

[2017-05-22 13:33] moonso commented on #484
@J35P312 hehe you are trying to get away the easy way! Please create a pull request where this function is in a file called `scout/parse/variant/iscn.py`.
Then I can go and edit/comment on the PR. Tell me if you need any help.

Also it would be nice with some more comments to the code, for example what happens in the block
[code]
What does it mean?

[2017-05-22 13:36] moonso commented on #484
@J35P312 could you pretend that cytoband coordinates exist by adding `variant_obj['cytoband']` or something so I understand where you will use it=

[2017-05-22 13:37] dnil commented on #484
Cheers! Easiest just to include start and stop always? Its perfectly legit to say e.g. del(22)(q11q11) or if more bands involved e.g. del(X)(q21.31q22.1).

[2017-05-22 13:42] J35P312 commented on #484
That sounds great!
I will pretend that we have something like variant_obj['cytoband']["start"], variant_obj['cytoband']["end"]. I'll fix the last stuff and make a pull request!

[2017-05-22 20:43] henrikstranneheim commented on #513
No, I was thinking to add this as new function. ACMG is quickly becoming a standardised method, used in almost all clinics, so I think it is relevant to add this as a separate categorisation scheme.

However, the manual rank should be customizable by the users. To add flexibility, great idea!

[2017-05-23 10:05] moonso commented on #484
👍

[2017-05-24 12:35] henrikstranneheim commented on #519
Fixed in 4809f93

[2017-05-24 12:35] #519 closed

[2017-05-24 12:36] moonso commented on #512
Could you provide the labels?

[2017-05-29 12:07] moonso commented on #522
I'm not really sure why these are not down prioritized in the ranking process, do you have any idea @henrikstranneheim ? Anyway there is currently no filter in Scout that uses the local observations, but this will be added.

[2017-05-29 12:58] #52 closed

[2017-05-29 12:59] #225 closed

[2017-05-29 13:00] #243 closed

[2017-05-29 13:01] robinandeer commented on #289
Closing - we will consider this when someone has a use case!

[2017-05-29 13:01] #289 closed

[2017-05-29 13:04] robinandeer commented on #376
could be possible - I will investigate

[2017-05-29 15:32] Dilea opened #534 "compounds not displaying correctly"
In the case below there are 15 variants in a particular gene. When trying to see the compound variants you only get one variant that is not even within the gene boundaries and therefor is not loaded. Is this intended or a bug?

https://clinical-db.scilifelab.se:8083/cust004/217701600132fam/variants?csrf_token=1496072538%23%2347cf150835edd2fab1d004c6f8ad7ff3fb3b1070&variant_type=clinical&hgnc_symbo

[2017-05-30 08:57] 4WGH opened #535 "comments on variant"
https://clinical-db.scilifelab.se:8083/cust003/15126/variants?gene_panels=EP&gene_panels=IEM&variant_type=clinical

look into variant with tank score 142.

there is a "global" comment. but no sign on the above page about it. there used to be a little dot near the variant if the was a global comment if I remember well.
that was usefull.
what happened with that?

[2017-05-31 07:44] moonso commented on #524
Again things like this are hard to work on when we do not know how the entries look in the VCF and how they should be displayed

[2017-05-31 07:46] dnil commented on #524
I can take it instead if there are any issues - actually intended to, but you beat me to assigning.. 😄

[2017-05-31 07:46] moonso commented on #535
Yes that should appear...

[2017-05-31 07:51] moonso commented on #534
Hi, there are some things that are as they should be and some that are not.
When investigating the variants we see that almost all of them are present in the mother, thats why they do not show as compounds.
On the other hand the variant that you mention should be loaded so we need to check why that did not happened.
We can discuss this closer at the scout meeting tomorrow 1/6.

Måns

[2017-05-31 07:53] moonso commented on #524
Perfect! Remember you have to modify both parse (scout/parse/variant/) and build (scout/build/variant)

[2017-05-31 07:55] dnil commented on #524
I'll give it a try! 😸

[2017-05-31 08:03] moonso commented on #522
We will discuss this further at the scout meeting 1/6

[2017-05-31 08:58] moonso commented on #520
At the moment we are using gene symbols to get the overlapping variants. I will change that so coordinates are used instead, things should work then.

[2017-05-31 09:23] robinandeer commented on #442
as far as this is reported in MIP we will try to incorporate this information!

[2017-05-31 09:24] robinandeer commented on #442
perhaps it's even included in the VCF if we are lucky... :P

[2017-05-31 09:42] moonso commented on #442
Maybe @henrikstranneheim could add that otherwise?

[2017-05-31 09:45] henrikstranneheim commented on #442
Most of it is in qc_metrics or sample_info or the mip_logg. We need to put together a list of things that we want to see and then I can add them as appropriate (but most probably not the vcf file header unless the program responsible already added it there)

[2017-05-31 13:43] 4WGH opened #539 "inheritance model missing from OMIM"
https://clinical-db.scilifelab.se:8083/cust003/203/aee2609d244a989242f627dcb2855535

for our genes in the dbCMMS there is a inheritance model annotation manually curated by us, that could be used when the information is missing from OMIM as in this case.

[2017-05-31 16:13] moonso commented on #539
I was pretty sure that we have added a table to display both omim and manual inheritance right @robinandeer ?

[2017-06-01 08:14] moonso opened #540 "Add detailed ACMG evaluation of variants"
There will be a link to a new page from the detailed variant page where users can add ACMG evaluation criteria. The different evaluations will be displayed for all users in all institutes. There can be multiple evaluations for each variant

[2017-06-01 11:04] #525 closed

[2017-06-01 11:08] robinandeer commented on #499
- [ ] Show which genes are search for

[2017-06-01 11:21] moonso opened #541 "Display if variant is in PAR or not"

[2017-06-01 14:09] moonso opened #543 "New User View"
A new page that displays all the users of the instance, who they belongs to etc

[2017-06-02 11:43] moonso commented on #516
This is of low interest at the moment, closing

[2017-06-02 11:43] #516 closed

[2017-06-02 11:48] moonso commented on #515
We will start by adding a button on the case page for uploading all variants from a particular gene, disregarding rank score.
There are several suggestions where in the interface this is wanted but we start with the above.

[2017-06-02 11:48] moonso commented on #513
This is more or less done 😄

[2017-06-02 11:51] moonso commented on #512
We will send a suggestion to all users to start with and then change 0-5 to the suggestion if no one objects. If institutes want to have different labels in the future we will handle the situation then.
We could need a suggestion for labels if anyone have one @henrikstranneheim @dnil ?

[2017-06-07 09:31] robinandeer opened #547 "add option to change default panels for a case"
UI is done, need event method to update panels on case

[2017-06-07 09:32] robinandeer commented on #547
There's a PR open #546

[2017-06-07 12:27] bjhall opened #548 "Classification of somatic variants"
In the cancer variant view the variants should be classified according to the four-tiered system recently suggested by Association for Molecular Pathology et al. [1].

This is similar to the current "Priority" feature, but the classications should to be "global" for cases of the same indication. So if I classify a variant in a case with the indication "acute myeloid leukemia" the classification sh

[2017-06-07 12:36] moonso commented on #548
Ok, this is a new way of thinking for us, we need to think a bit on how to solve this.
Would it be possible for you to use a `cohort tag` on case level to group cases in "indication"?
What would be the different indications?

[2017-06-07 12:39] bjhall opened #549 "Persistent filter settings"
At least in the cancer variant list view, it would be useful to be able to save the filter settings for a case.

This would be useful for the "reporting module" I'm trying to implement. Let's say you don't want the report to contain any somatic variants that are synonymous and/or with a tumor variant frequency below 10%. Instead of somhow manually marking which variants should/shouldn't be include

[2017-06-07 12:43] moonso commented on #549
Would that be "last filter used"? Or would you like to create a filter, name it and save it?

[2017-06-07 12:53] moonso commented on #522
Ok so this was discussed. There will be a new dump of the local observations database with the new release of MIP which will correct this problem. Also there is already a filter for local observations. Closing.

[2017-06-07 12:53] #522 closed

[2017-06-07 12:54] robinandeer commented on #512
ping @henrikstranneheim

[2017-06-07 13:35] bjhall commented on #548
Sure, using the cohort  tag should be fine. Unless you think it is abusing that feature :)

The indications are different cancer types such as "lung cancer", "acute myeloid leukaemia" or "melanoma". I think it should be up to the user how fine-grained they want it to be.

The reason this is important is that some variants are highly recurrent in cancer, so you wouldn't want to classify them each t

[2017-06-07 13:39] bjhall commented on #549
Yes "last filter used" is how I've implemented it. Naming and having multiple filters saved seems like overkill?

[2017-06-08 07:05] moonso commented on #549
Sure we could do both, depends on how you work. I guess that if you often use the same filter/filters there is a point in saving the settings and name it.
There is a preset filter that is used by the rare disease people here that is called "Clinical Filter", so they only need to press one button and the parameters gets autofilled.

[2017-06-08 07:08] moonso commented on #548
Ok, it is fine to use the cohort tag. Our idea about that tag is to have it institute specific, guess that would work in your setup as well?

[2017-06-08 07:12] dnil commented on #549
Generalising persistent filters will be helpful for the development on the ID-screening side as well! :+1:

[2017-06-08 07:14] robinandeer opened #550 "store delivery report for prev runs (show list of prev runs)"
...and what else? to allow comparing runs maybe?

[2017-06-08 09:09] henrikstranneheim commented on #512
I have asked CMMS for tags. I will post them here asap

[2017-06-08 09:39] dnil commented on #512
Seemed from the meeting last time “Other” might be on the shortlist?

[2017-06-09 18:42] vwirta commented on #550
my suggestion, for previous runs store vcf, delivery report, chanjo report, logs

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
Department of Microbiology, Tumor and Cell biology, Karolinska Institutet
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: Tomtebodavägen 23 A, 171 65 Solna

[2017-06-12 11:29] moonso opened #552 "Coverage Report by hgnc symbol, not hgnc id"
This has been brought up in #528

[2017-06-12 11:30] moonso opened #553 "Coverage Report: Customise by gene panel"
brought up in #528

[2017-06-12 11:32] moonso commented on #528
Ok most of the stuff here is fixed. **2** will be fixed soon and has been added to release 3.3.0.
**14,15,16** are bigger features and will be added later, these now have their own issues so I'm closing this.

[2017-06-12 11:33] #528 closed

[2017-06-13 08:31] moonso commented on #534
The reason why not all compounds where loaded was the following:
**genmod** is the program that calculates all the compounds, in this case the VEP annotation was used to check if variants are in the same gene and in that case potential compounds.
VEP calls variants 5000 bases before and after a gene for `upstream_variant` and `downstream_variant` so **genmod** counts these variants as belonging to

[2017-06-13 08:33] moonso commented on #508
We will display the peddy information on the case page.
That is `confirmed sex`, `confirmed parent` and `predicted ancestry`🕺

[2017-06-13 08:36] moonso commented on #515
We have decided that variants needs to be uploaded by sending tickets. There will be problems if there are to many variants in a large region/gene

[2017-06-13 08:36] #515 closed

[2017-06-13 08:42] moonso commented on #512
Any news here @henrikstranneheim ? This is the last small thing that we have to fix

[2017-06-14 12:33] henrikstranneheim commented on #512
Here are the CMMS tags:

7 - known pathogenic 				(Previously known pathogenic in Clinvar Hgmd literature etc)
6 - pathogenic					(Novel mutation but overlapping phenotype with known pathogenic, no further experimental validation needed)
5 - novel validated pathogenic		(Novel mutation and validated experimentally)
4 - pathogenic partial phenotype	 	(Pathogenic variant explains part of patients phe

[2017-06-22 11:43] henrikstranneheim opened #557 "New SV annotations from clinical genetics"
- [x] decipher
- [x] clingen_cgh_benign
- [x] clingen_cgh_pathogenic
- [x] clingen_ngi
- [x] clingen_ngiAF

[code]

[2017-06-22 11:51] moonso commented on #557
Perfect!

[2017-06-22 20:13] henrikstranneheim opened #558 "Add 'PEDHEP' as cohort tag for CMMS"

[2017-06-27 08:42] dnil opened #559 "Flag structural variants causative"
Should be possible to
- [x] flag a struct var causative
- [x] classify it
- [x] pin it

[2017-06-29 15:40] 4WGH opened #560 "Migration Issues"
on the re-run just uploaded for fam 15037 that are no old comments.
this is strange.
Were comments missing or no comments have been kept as it is a old fam?

Michela

[2017-07-06 09:20] matthdsm opened #561 "Support for alternate oAuth severs"
Hi,

We're very interested in using Scout for our variant analysis. However, we use a self managed oAuth server for all our authentication needs. What are your views about supporting alternate (or custom) oAuth servers?

Cheers and kudo's for the great work!
M

[2017-07-12 13:14] 4WGH opened #562 "no compunds in pat 17089. Is it possible?"
look  here in the inherintance model column.
https://clinical-db.scilifelab.se:8083/cust003/17089/variants?variant_type=clinical&gene_panels=EP

it is OK or something has happend during analysis?

[2017-07-17 11:26] 4WGH opened #563 "dbCMMS update"
Hi
i need to add 40 genes to the dbCMMS, belonging to different panel.
How do I do now? :)

Michela

[2017-07-17 11:28] 4WGH commented on #563
I also need to update the information on some genes already in with info about penetrance/mosaicism; adding to another panel, etc

[2017-07-18 09:15] robinandeer commented on #563
Hej,

you can add genes to _individuals_ panels using the interface - for example for IEM:
https://clinical-db.scilifelab.se:8083/panels/5858f2ec0aa1e2b791c23b72

Just find the gene under "Pending changes" and update the information about penetrance/mosaicism and/or add new genes.

At the moment you would have to do this for each gene _and_ panel if the same gene is part of multiple panels.

If th

[2017-07-18 09:52] 4WGH commented on #563
I have 40 genes... So I will submit a file.  Just with the new genes or only the nee ones?

Do you have a "mall" to fill in? Mans sadi you had done it but I can not  find it 😊

One more questions: I need also to update info on the genes.... this i can so online afterward, but how does this affect the versioning?

________________________________
Från: Robin Andeer <notifications@github.com>
Skicka

[2017-07-18 13:04] robinandeer commented on #563
So every time you update information we will update the version of the gene panel

Here's a template for filling in the gene panel information:

[scout-3-panel-file-example.xlsx](https://github.com/Clinical-Genomics/scout/files/1155924/scout-3-panel-file-example.xlsx)

Justs fill in the genes that are either new or have updated information and we will copy the rest from the previous version :)

[2017-07-18 13:47] 4WGH commented on #563
thanks! perfect!

Michela

________________________________
Från: Robin Andeer <notifications@github.com>
Skickat: den 18 juli 2017 15:08:18
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] dbCMMS update (#563)

So every time you update information we will update the version of the gene panel

Here's a template for filling in the gene panel informati

[2017-07-27 11:12] Bianca-T opened #565 "STAG2 instead of SH2D1A"
Hi,

In case A1386 we found a mutation in _SH2D1A_. The mutation is known and everything is OK with it, but the alignment viewer annotate the exon as belonging to _STAG2_, which is a neighbour gene. Can you check?

We wanted to send a screenshot to the physician, but it is a bit confusing that the viewer states _STAG2_ instead of _SH2D1A_.

![screen shot 2017-07-27 at 13 08 04](https://user-images

[2017-08-15 11:59] vwirta opened #566 "inheritance pattern match tag incorrect"
https://clinical-db.scilifelab.se:8083/cust003/17127/c49e31b98a1259737d558242c07fe5b3

[2017-08-16 09:47] #465 closed

[2017-08-16 09:47] #483 closed

[2017-08-16 09:47] #504 closed

[2017-08-16 09:47] #511 closed

[2017-08-16 09:47] #520 closed

[2017-08-16 09:47] #535 closed

[2017-08-16 09:47] #543 closed

[2017-08-16 09:47] #292 closed

[2017-08-16 09:47] #508 closed

[2017-08-16 09:47] #512 closed

[2017-08-16 09:47] #526 closed

[2017-08-16 09:47] #539 closed

[2017-08-16 09:47] #541 closed

[2017-08-16 09:47] #547 closed

[2017-08-18 06:17] henrikstranneheim opened #567 "SV/SNV overlapp error"
Overlapping SVs from SNVs seem to work as intended, but the converse does not. That is the link from SVs to SNVs does not show up for the same variant.

[2017-08-18 06:27] henrikstranneheim opened #568 "Wrong title on Incomplete penetrance table"

[2017-08-21 08:17] KickiLagerstedt opened #570 "Gene lacking transcript from HGVS"
[SRD5A2](http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=11285)

NM-transkript finns ej med i genlistan - dvs vi missar mutationer i denna gen (DSD panelen, OMIM-panelen etc)

ALLVARLIGT FEL!

Hur länge har detta varit så?
Finns det fler gener med detta fel??

Kan vi lätt reanalysera alla prover avseende DSD???

// Kicki

[2017-08-21 09:31] moonso commented on #570
Hi,

ok this is a problem that we can not do much about, I will try to explain here.
We use HGNC as the definition of what genes that exists and what names they have. The problem is that HGNC is only available for human genome build 38 which we NOT use in the analysis pipeline. We map and annotate everything in human genome build 37.
We use ensembl to find out what transcripts that belongs to a ge

[2017-08-21 10:54] moonso commented on #567
I'll have a look

[2017-08-21 10:57] moonso commented on #565
Could you email or open a ticket with information on case and variant? Preferably a link

[2017-08-21 10:58] moonso commented on #563
Is this done now @robinandeer ?

[2017-08-21 11:16] moonso commented on #561
Hi,

glad to hear that you want to try out Scout!
I'll need to pass this question to @robinandeer , guess that you mean web login?

Best,

Måns

[2017-08-21 11:17] moonso commented on #560
Ok I'm not sure, do you know @robinandeer ?

[2017-08-21 11:20] moonso commented on #559
Yes, good point, I thought these things worked since variants are variants according to the database, we'll have a look. Do you know if there is a reason why this is not added @robinandeer ?

[2017-08-21 12:15] moonso commented on #562
Hi, I have studied this case a bit now. The problem here is the setup of the analysis with 2 children only. There are a lot of compounds in the raw analysis, problem is that when there are only two children all variants that are heterozygous in the affected and hom ref in healthy will be annotated as AD_dn and scored based on this. The AR and AR_comp variants will be pushed down in the list and th

[2017-08-21 12:29] moonso opened #571 "allow viewing genes from build 38"
This would make investigations such as #570 much easier for customers

[2017-08-21 13:07] dnil commented on #570
:+1: It may give some comfort to know that Alamut has exactly the same issue with SRD5A2 and FGF16. No hg19 version available, although well established disease gene - and refseq cDNA entry available.

[2017-08-22 08:51] dnil opened #573 "Comments not working?"
Hi,
having trouble commenting (locally or globally).
https://clinical-db.scilifelab.se:8083/cust002/F0012957/c5387df12a271d4361451d262d5b05d5
(Trying to add a note that the gene RECQL4 is broken in hg19: no full NM cDNA transcript available and >99,99% frameshift variants present. Gives artefactual fs annotations from VEP.

[2017-08-22 09:16] dnil commented on #524
Closing - solved and done with #542.

[2017-08-22 09:16] #524 closed

[2017-08-22 10:37] #571 closed

[2017-08-23 09:32] 4WGH commented on #562
Hi.
not follwing you.
It is not a case with 2 children only. there is a child and his father...

[2017-08-23 10:50] moonso commented on #562
Sorry I missed that, but I still think that one can make the same reasoning. 99% of the AD_dn variant that we see are probably present in the mother.
There are so many high scoring ones so the compound pairs are way down the list. When I look at the raw data I can see that there are compounds present but they have to low rank score to be seen in scout.

There is a problem here that we should work

[2017-08-23 11:38] 4WGH commented on #562
I can follow your thinking but if you compare this case with cases 17017 or 17018 where there are 2 siblings,

 case 17089 look totally different. (I'm not the only one reacting to this, I was charged to make the issue).

I've found 2 more cases where we have an index and one parental sample but they are not loaded in SCout (16034 and 15145)

If you say that all is correct with this analysis we wi

[2017-08-23 11:49] moonso commented on #562
No I'm terribly sorry, you are right. We are investigating it now.

[2017-08-23 13:17] 4WGH commented on #562
great! thanks,

Michela

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 23 augusti 2017 13:49:47
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] no compunds in pat 17088. Is it possible? (#562)

No I'm terribly sorry, you are right. We are investigating it now.

—
You are receiving this because you auth

[2017-08-24 07:22] 4WGH commented on #563
the panels have been updated.
Thanks!

[2017-08-24 07:22] #563 closed

[2017-08-24 07:25] 4WGH opened #574 "ACGM classification"
https://clinical-db.scilifelab.se:8083/cust003/17097/f91382d9b50c55abc2aa12175f4b8a81

1. I can not unselect it... would be good if  possible in case of mistake/regrets :)
2. I've click classify but in the new page I could not select anything...
3. minor comment: can we have the classification in a gradiante order?
P, LP, VUS, LB, B ?
4. Same thing in the classification page.

Michela

[2017-08-24 08:41] moonso commented on #574
Thanks, we will try to fix these!

[2017-08-24 09:59] 4WGH commented on #570
it would be good to know which of the genes in our panels are affected in order to at least take local solution if necessary. Is it possible?

[2017-08-24 11:33] dnil opened #575 "Case should no longer be Solved when the last causative variant is unmarked"
Unmark causative should set status active?

[2017-08-24 11:39] dnil opened #576 "Local observation case display should be based on user access to cases"
When viewing a shared case, the local observations only reflect the owner institute, not user. Would be very nice to be able to see case ids from the users own institute and ideally other cases shared with the users institute as well.

[2017-08-24 11:55] dnil opened #577 "Always allow ClinVar Pathogenic, Likely Pathogenic through Clinical filter"
It is counterintuitive to find known clinical pathogenic mutation filtered out as a result of a "clinical filter". Also apply to local "marked causatives" - but there we already have a sufficient mechanism?

[2017-08-24 12:44] #573 closed

[2017-08-24 12:45] robinandeer commented on #573
Review here @moonso : 5218b60930d1778925

[2017-08-24 13:02] #575 closed

[2017-08-24 14:17] 4WGH commented on #574
point 4 from top to down PVS, PS,PM,PP for pathogenic
BA,BS,BP for benign

[2017-08-28 08:19] matthdsm commented on #561
Hi,

Thanks for your reply! What I'm actually looking for is support for a authentication system analog to the google login. Both use oAuth2, but we have our own server for this. My question is if it would be possible to add support in the config file for alternate severs, besides google.

Thanks
M

[2017-08-28 13:39] 4WGH opened #579 "Search genes with HGNC id"
If I use a correctly updated HGNC gene symbol but in Scout there is the old HGNC symbol I get a message that the gen could not be found.

see
https://clinical-db.scilifelab.se:8083/cust003/17130/986e69ab21545acf10d7e92c2e1c13ef

symbol used in Scout "PROSC", updated gene symbol according to HGNC "PLPBP" (symbol used in the update of the panel and listed in the website, and that a scout user will u

[2017-08-29 14:45] dnil opened #581 "ClinSig filter broken"
ClinSig filtering is not working on the current version.

[2017-08-29 14:51] dnil commented on #577
Discuss at Scout meeting first?

[2017-08-29 14:55] dnil opened #582 "Autofill ACMG classifications"
It should be possible to automatically fill some of the fields on the ACMG classification form with data shown on the variant page. E.g. if a variant is of nonsense type, rare, predicted deleterious or de novo (in a trio) - even if it is a confirmed de novo with Peddy info.

[2017-08-30 07:13] moonso commented on #581
Fixed in #580

[2017-08-30 07:13] #581 closed

[2017-08-30 07:14] moonso commented on #581
For the future @dnil you can close issues by referring to them in a commit with "fix #581". When the branch is merged to master the issue will get closed.

[2017-08-30 07:14] moonso commented on #582
Sure I will see what I can do with this

[2017-08-30 07:20] moonso commented on #579
Hi I think it is an excellent idea, will try to add it asap

[2017-08-30 07:21] moonso commented on #577
👍

[2017-08-30 07:22] moonso commented on #576
Yes we'll see what we can do, right @robinandeer ?

[2017-08-30 07:40] robinandeer commented on #574
2. are you using the toggles next to each evidence criteria? The buttons on the top will reflect the ACMG classification based on the selection you make.

![screen shot 2017-08-30 at 09 39 44](https://user-images.githubusercontent.com/1220232/29860709-2e24318a-8d67-11e7-8995-ee6113563778.png)

[2017-08-30 08:01] moonso commented on #565
Hi @Bianca-T ,
we have now done some investigation and could see that the two genes overlap, in fact SH2D1A is included in STAG2

 Gene | Start | Stop
 --- | --- | ---
  SH2D1A | 123480193 | 123507005
  STAG2 | 123094061 | 123556514

So when pileup.js show the gene(s) it seems to choose one of the gene names. If one zooms out enough you will see both gene names.

Nothing we can solve, we fill open

[2017-08-30 08:55] #574 closed

[2017-08-30 09:05] robinandeer commented on #560
I believe this has to do with the migration script from old scout

we will have a look at this

[2017-08-30 09:19] #579 closed

[2017-08-30 10:34] #565 closed

[2017-08-30 10:35] robinandeer commented on #562
we will rerun these cases with an updated version of genmod, see email

[2017-08-30 10:35] #562 closed

[2017-08-30 10:40] robinandeer commented on #561
Hey Mat,

thanks for your feature request!

We are using a library called OAuthlib to handle authentication: https://flask-oauthlib.readthedocs.io/en/latest/client.html

I believe it's flexible enough to handle any OAuth server so this should be possible 🙂

If you want to experiment a little by adding support for generic servers we will be more than happy to take a look at your solution! Otherwise

[2017-08-30 10:43] robinandeer commented on #553
Go to the gene panel page from the case and press "Coverage report"

[2017-08-30 10:43] #553 closed

[2017-08-30 10:46] #540 closed

[2017-08-30 10:46] #534 closed

[2017-08-30 10:47] #513 closed

[2017-08-30 10:47] #486 closed

[2017-08-30 10:47] #501 closed

[2017-08-30 10:48] #335 closed

[2017-08-30 11:05] #558 closed

[2017-08-30 11:05] #566 closed

[2017-08-30 11:05] #568 closed

[2017-08-30 12:11] #550 closed

[2017-08-31 07:37] robinandeer commented on #320
<img width="640" alt="screen shot 2017-08-31 at 09 37 12" src="https://user-images.githubusercontent.com/1220232/29911898-fe00b8a6-8e2f-11e7-86a1-9b7ceb7c7cab.png">

[2017-08-31 07:42] dnil commented on #320
:+1:

[2017-08-31 07:45] henrikstranneheim commented on #320
Fantastic!

[2017-08-31 09:11] dnil commented on #559
Manual rank now ok. Official ranking systems will have to wait.

[2017-08-31 12:53] KickiLagerstedt opened #584 "New version of SCOUT - point of approvements KlinGen (1)"
Could we have the ACMG classification in order??? (B, LB, VUS, LP, P)
![bild](https://user-images.githubusercontent.com/17139607/29924123-23058dda-8e5c-11e7-9245-5fab938be3db.png)

[2017-08-31 12:55] KickiLagerstedt opened #585 "New version of SCOUT - point of approvements KlinGen (2)"
Change of order regarding criteria (-> Very strong, Strong, Moderate, Supporting)

![bild](https://user-images.githubusercontent.com/17139607/29924192-71bf625c-8e5c-11e7-82bd-c667c5f6d25d.png)

[2017-08-31 12:57] KickiLagerstedt opened #586 "New version of SCOUT - point of approvements KlinGen (3)"
Change of order (Benign) -> Stand alone, Strong, Supporting)

![bild](https://user-images.githubusercontent.com/17139607/29924250-aad7340c-8e5c-11e7-9fdf-4be0e8b32e86.png)

[2017-08-31 12:57] dnil commented on #584
Same as #574 - see that issue. But, solved in the developent version.

[2017-08-31 12:57] #584 closed

[2017-08-31 12:58] dnil commented on #585
Same as #574 - see that issue. But, solved in the developent version.

[2017-08-31 12:58] #585 closed

[2017-08-31 12:58] KickiLagerstedt opened #587 "Update filter name for local obs"
We would like to be able to filter in the active local db (not in the archived one)

![bild](https://user-images.githubusercontent.com/17139607/29924300-d62227fc-8e5c-11e7-9d1a-b081f0bc70cc.png)

[2017-08-31 12:58] dnil commented on #586
Same as #574 - see that issue. But, solved in the developent version.

[2017-08-31 12:58] #586 closed

[2017-08-31 13:00] KickiLagerstedt opened #588 "New version of SCOUT - point of approvements KlinGen (5)"
Would it be possible to see a popup when we scroll over comments to see what the comment says?

![bild](https://user-images.githubusercontent.com/17139607/29924413-204d2a70-8e5d-11e7-9321-ae05677dc8ad.png)

[2017-08-31 13:05] moonso commented on #587
The filter works on the dump of the local database, we do a dump at certain intervals.
So the filter is not on the archived version but the dumped one, we should update the name on that field!

[2017-09-04 07:53] dnil opened #590 "Gene panel view - add latest change date"
Some confusion ensued today due to gene panels not displaying latest change date. Would be nifty to add a latest version date stamp - or at the very least mark the creation dates clearly as such.

[2017-09-04 09:07] KickiLagerstedt commented on #590
Se tex här:
![bild](https://user-images.githubusercontent.com/17139607/30019497-13544036-9161-11e7-9e17-217ad11571f0.png)

Dvs man tror att panelen inte är uppdaterad sedan 2016-04-22, med e facto uppdaterades den förra veckan

[2017-09-04 09:07] KickiLagerstedt commented on #590
e facto = de facto

[2017-09-04 09:15] robinandeer commented on #587
Which name for this "dump" would make most sense? Is "dumped" good enough?
Perhaps we should add the date instead?

[2017-09-04 09:28] #590 closed

[2017-09-04 09:32] robinandeer commented on #590
Mistake by us, but we have the information so we will curate the information a little and display the correct dates

We are pushing an update to resolve the issue - thanks for your feedback!

[2017-09-04 10:34] henrikstranneheim commented on #587
I think we should use the date like Local obs (archive DATE)

[2017-09-04 10:39] henrikstranneheim opened #591 "aggregate_master.bed with genome build version info"
Since Scout holds several genome builds we need to record which genome build have been used to produce the aggregate_master.bed. It should be added to the header and perhaps even to the file name too avoid confusion.

[2017-09-04 13:40] #349 closed

[2017-09-04 13:41] henrikstranneheim opened #592 "Scout user meeting 6/9"
- Blog post [3.3](http://www.clinicalgenomics.se/scout/blog/new-3.3.html)
- https://github.com/Clinical-Genomics/scout/issues/587
- https://github.com/Clinical-Genomics/scout/issues/588

Coming up 3.4:
- Pin, mark https://github.com/Clinical-Genomics/scout/issues/559
- New SV annotations https://github.com/Clinical-Genomics/scout/issues/557
- Aggregate view https://github.com/Clinical-Genomics/sco

[2017-09-04 15:11] vwirta commented on #592
Made some additions

[2017-09-05 11:30] dnil commented on #304
I'm afraid this has broken again. Checking the CADD inclusive option does not seem to bring back variants without CADD to the query results.

[2017-09-05 14:04] #304 closed

[2017-09-06 07:15] KickiLagerstedt opened #594 "Clinical filter - own gene panel -- not the other way around"
We have an issue regarding filtering using "clinical filter" and an "home made" gene panel (HGNC Symbols (case sensitive) filter):

What we do now:
1) filter with "clinical filter"
2) add home made gene filter
3) see variants

What we would like to do:
1) add home made gene filter
2) see all variants regarding these genes

![bild](https://user-images.githubusercontent.com/17139607/30098693-4e76219

[2017-09-06 07:56] KickiLagerstedt opened #595 "Panel Template uploading new genes"
Johanna has issues with using the panel template in the user guide  - wrong headers???
(csv file)

"Internal error"

Henrik knows more...

[2017-09-06 07:56] dnil commented on #594
Good discussion point! I guess the current logic is that when you press clinical filter, you should get the pre-defined clinical gene list?

[2017-09-06 10:58] robinandeer opened #596 "Variant tag select input"
display "Select tag..." if no tag is selected
Not "other" is chosen by default...

[2017-09-06 11:00] robinandeer opened #597 "generalize "sanger" email"
- [ ] call it something like "verify"
- [ ] support for SV variants
  - [ ] size, coords

[2017-09-06 11:01] robinandeer commented on #592
New  issues:

"Sanger email for SV": https://github.com/Clinical-Genomics/scout/issues/597

[2017-09-06 11:06] dnil opened #598 "Show which gene was on panel for SV"
From Michaela at SCOUT meeting!
- on both pages? specific panel most important on the sv-variants view, all panels ok on sv-variant.

[2017-09-06 11:20] robinandeer commented on #592
- [ ] Show on variant if a gene doesn't have an NM transcript

[2017-09-06 13:16] henrikstranneheim commented on #595
I have investigated and there is there is a bug in the code. We will try to fix this as soon as possible. And also update the documentation and exampel file to be more clear.

[2017-09-08 13:32] henrikstranneheim opened #600 "Show INFO key 'set' in GT table for SV"

[2017-09-08 13:41] henrikstranneheim opened #601 "Add GT key info from SV callers"
Relevant information:

TIDDIT: DV, RV, CN
Delly: DV, RV, CN
Cnvnator: CN, RN
Manta: SR, PE

[2017-09-11 11:54] robinandeer opened #604 "command to create indexes"
[code]

[2017-09-11 12:24] KickiLagerstedt opened #605 "Requested tag from Clinical Genetcs //"
Regarding "Clinical report" Clinical Genetics would like to have the following options regarding variants (new)

Too common in public databases
Too common in local database
Not relevant phenotype
Inconsistent inheritance pattern
No compound variant
Not in RefSeq transcript
Does not affect splicing

WE would like to have the opportunity to check several options (krysslista motsvarande ex paneler)
!

[2017-09-11 12:31] dnil commented on #605
:+1: I think this is perfect for a report function: really helps with audit trace for us.
A very easy way would be to use that as a controlled vocabulary "phrase"-list that can be stored as comments.
A second option would be a new dictionary to help with reporting. Variants with any kind of annotation e.g one of these, a pin, ACMG, variant tag etc would be exported. The nice thing about this is th

[2017-09-12 06:55] johsko commented on #595
Hi
I am just wondering about the progress in uploading the new ID-panel or fixing the bug so I can upload it myself?
/Johanna

[2017-09-12 07:13] moonso commented on #605
Hi, would it be possible to use the `variant tag` field for this? We could customise it for your needs
![skarmavbild 2017-09-12 kl 09 11 43](https://user-images.githubusercontent.com/405278/30312622-92cb6f12-979a-11e7-94b8-c157e6887cd8.png)

[2017-09-12 07:14] henrikstranneheim opened #606 "Clinvar submission"
**Prerequistes:**
- Your organization must be registered in Submission Portal before you can submit your variant data
- Variant-level not case-level
- Single variants or a set of variants (such as compound heterozygotes)
	- They should be submitted as indiviual variants oand connected through the inheritance mode
- Any number of variants can be submitted in the same file
- SV is possible but let's

[2017-09-12 07:30] moonso commented on #595
Hi @johsko ! It is fixed in the code but we need to update the server. We will do this ASAP and contact you when done.

Måns

[2017-09-12 09:10] dnil commented on #605
As long as we allow multiple values that should be fine. But keep in mind that we currently also use the variant tag as the only classification for SVs; and CMMS still I believe for additional info in addition to ACMG.
So at least some of the present variant tags should still be on there. Consider including as set phrases for comments - that immediately solves display on the variants page, storage

[2017-09-12 13:12] moonso commented on #605
Yes @dnil that sounds like a clever solution. I guess that would be easy to implement, right @robinandeer ?

[2017-09-13 08:27] henrikstranneheim opened #607 "Link to mitomap seach query"
Would it be possible to add a link to the seach result for alleles in mitomap from the variant page?

https://www.mitomap.org/foswiki/bin/view////Main/SearchAllele

[2017-09-13 08:33] henrikstranneheim opened #608 "Use downsampled bam to display MT alignments"
For chrMT the alignment view never loads any reads because there can be 50 000 of them. Can one put a constraint on the loading process to terminate after loading say 500 (random) reads from the BAM file?

[2017-09-13 09:40] henrikstranneheim opened #609 "Always load all variants for MT as default"
1000G file: all_wgs_-phase3_v5b.2013-05-02, do not contain MT frequencies and hence MT variants are not filtered from the analysis even if they are common. But they are lowered on frequency in the rank score modell using Mitomap frequencies.

From a clinical perspective it is desirable to always load all MT variants into Scout i.e. disregard the deafult rank score cut-off when loading. From a WGS

[2017-09-13 14:50] NicoleCMMS opened #610 "Unable to save a comment on a variant"
In family 17133 I cannot save any comments on the variant level.

[2017-09-14 07:46] moonso commented on #610
Ok we will fix this tomorrow

[2017-09-14 07:48] moonso commented on #608
I think that will be hard, maybe MIP can create a MT-bamfile? I can look into it soon

[2017-09-14 07:51] moonso commented on #607
It looks like it is not possible but @robinandeer should check it out

[2017-09-14 07:54] moonso commented on #604
👍 this is more or less fixed. I will add those indexes to.
There is a command `scout index` that will handle this and/or update existing indexes

[2017-09-14 07:55] moonso commented on #601
This is fixed in #603

[2017-09-14 07:56] moonso commented on #600
What does it mean "vcf info key set"? Is this not the same as #601 ?

[2017-09-14 08:04] henrikstranneheim commented on #600
No. It is the set=Intersect or set=manta-tiddit flag from svdb. Like the one we have for gatk, freebayes etc in the snv/indel view.

[2017-09-14 08:05] moonso commented on #600
Ah ok

[2017-09-14 08:10] henrikstranneheim commented on #607
Otherwise let's fallback to just link to the search page without filling in the positions

[2017-09-14 08:11] henrikstranneheim commented on #607
Also it would be nice if this link only showed for MT variants as it is only relevant there

[2017-09-14 08:12] KickiLagerstedt commented on #610
Ser också detta!!!!

[2017-09-14 08:13] henrikstranneheim commented on #608
The best would be if the j.s.pileup?? has the feature to limit the loading of reads.

[2017-09-14 08:32] moonso commented on #604
Do you know if there are any indexes on case collection that are well used?

[2017-09-14 09:39] dnil commented on #610
See #573 / commit 5218b60

[2017-09-15 10:05] 4WGH opened #612 "ACMG not working"
bottons not active.
see https://clinical-db.scilifelab.se:8083/cust003/17139/aafee5813505c5416c264205cea8ee5d/acmg

[2017-09-18 10:35] moonso opened #613 "Visualise large scale UPD, auto/hemi/homozygosity, ploidy - and document these features"
We need to add what is collected from Scout to show UDP etc

[2017-09-18 10:41] dnil commented on #613
Aneuploidy, UPD, etc?

[2017-09-19 07:35] johsko commented on #595
Hi @moonso !

Is it possible to upload a gene panel yet? I have 100 cases that I am waiting to analyze using the new ID panel. :-)

//Johanna

[2017-09-19 07:47] henrikstranneheim commented on #595
Hej Johanna,

Ledsen för att det dröjer. Ändringarna är klara men måste valideras och rullas ut med andra viktiga uppdateringar i Scout. Måns och Robin jobbar för fullt för att uppdatera Scout så snart som möjligt. Scout kommer uppdateras denna vecka (jag vågar dock inte lova dag).

Mvh
Henrik

[2017-09-19 09:00] moonso commented on #595
Hi @johsko , we will try to fix today or tomorrow!

[2017-09-19 12:26] robinandeer commented on #612
Can you explain further?

The button on top are only for previewing the automatically calculated ACMG code base on your selection of criteria.

Can you select different criteria?

[2017-09-19 12:28] robinandeer commented on #604
nope we don't have any custom indexes on case

however for panels we do!

[2017-09-19 12:34] #604 closed

[2017-09-19 13:44] 4WGH commented on #612
i could not select the criteria

________________________________
Från: Robin Andeer <notifications@github.com>
Skickat: den 19 september 2017 14:26:33
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] ACMG not working (#612)

Can you explain further?

The button on top are only for previewing the automatically calculated ACMG code base on your select

[2017-09-20 11:30] #577 closed

[2017-09-20 13:31] moonso commented on #612
@4WGH can you try again now?

[2017-09-20 13:31] #610 closed

[2017-09-20 13:32] #601 closed

[2017-09-20 13:36] moonso commented on #595
Now finally @johsko you should be able to upload the panel. Sorry about the confusion, the headers should follow what is stated in the updated user guide on [gene panels](http://www.clinicalgenomics.se/scout/user-guide/panels.html). I have fixed the file that you created and will email the updated version to you. Then you can upload it in Scout.
Remember it can take some time since there are many

[2017-09-20 13:38] #595 closed

[2017-09-20 13:39] #592 closed

[2017-09-21 08:02] dnil opened #622 "Post-update 3.4 issues"
- [x] Cytobands missing from sv-view (presumably only an issue with the live server config?)
- [x] ACMG-button order got scrambled again?! Use P - LP - VUS - LB - B or B - LB - VUS - LP - P.

[2017-09-21 08:26] moonso opened #623 "Panel date does not change on update"
When updating a panel from the interface the date is not changed

[2017-09-22 08:37] 4WGH commented on #612
not it is working,
the graphic is misleading. If I click it works , but if  I try to pull the bottom from left to right it doesn't work. :)

[2017-09-22 11:33] 4WGH commented on #491
how is it going with this? several persons at our WGS meeting wonder why so many transcripts appear, instead  of the one(s) we have personally curated i´n our database.

[2017-09-23 12:20] robinandeer commented on #590
We can get the date from the objectId:
https://steveridout.github.io/mongo-object-time/

[2017-09-25 06:38] henrikstranneheim opened #625 "Add GNOMAD AF and AF_POPMAX fields"
MIP 5.1 now produce these fields in the VCF INFO:

##INFO=<ID=GNOMADAF,Number=A,Type=Float,Description="Allele Frequency among genotypes, for each ALT allele, in the same order as listed">
##INFO=<ID=GNOMADAF_POPMAX,Number=A,Type=Float,Description="Maximum Allele Frequency across populations (excluding OTH)">

In scout they can replace the EXAC freq info and I think we should display both fields.

[2017-09-25 06:40] henrikstranneheim opened #626 "Replace EXAC or simply add GNOMAD VCF INFO keys to freq pop-ups"

[2017-09-28 12:03] henrikstranneheim opened #627 "Overlapping variants compound table display HGNC_ID instead of HGNC_SYMBOL"
See:
https://clinical-db.scilifelab.se:8083/cust003/16062/34cd3f4ac9c67678b0f529d24c391506

[2017-09-28 13:28] henrikstranneheim opened #628 "Show variant tag in SV view for variant list"

[2017-10-03 15:05] AnnHam opened #632 "Search for a gene by HGNC:ID does not work"
When adding a gene to a gene panel (pending changes) searching for a gene by HGNC:ID does not work, only for the first two numbers then it tries to find aliases/synonyms etc.

I also had one gene that had a too short name to be found, since the gene's name was included in many other gene names. Shouldn't a perfect match be found? (The gene was ICK, eventually I could find it by searching for synon

[2017-10-04 10:31] 4WGH opened #633 "Show warning if filtering on a non-clinical gene"
I look for variants in the genes NDUFA5 and RFK in patient 17120 using the filter tool.
I get a message that there are not variants in this genes. I've checked if the genes where in the OMIM-auto list v.1 2017-03-21 and I could not find them.

Nicole and I understood that only genes in OMIM are visible in a clinical subject, otherwise we need to wish the research list to be opened in order to look

[2017-10-04 10:39] moonso commented on #633
Hi,

if the genes do not exist in omim or any of the other panels there will not be any variants in those genes unless one opens research.

If I understand correct you would like a way to know if a particular gene exists in omim or any other panel?

Or would you like the search result to display "no variants"/"variants can not be shown" ?

[2017-10-04 11:06] 4WGH commented on #633
We want that if we search for a gene and we get the answer not variants are present this is because there are No variants. So if it is not in OMIM I'd like to be notified.

Otherwise I get a sort of false negative answer :)
There could be variants but they can not be seen in the clinical setting.

So the answer "variants, if any, can not be shown" would be a  good answer :)

[2017-10-04 11:07] 4WGH commented on #633
By the way the gene is in OMIM but is NOT connected to a disease

[2017-10-09 13:57] NicoleCMMS opened #635 "Fam 52"
Two variants in the clinical list could not be opened.  The variants are in the following two genes - MAGED2 and TMEM260.  Is there an explanation for this?

[2017-10-11 11:06] dnil opened #637 "Scout meeting 2017-10-18"
- [x] Report functionality - see issue #147 and #605.

We would like a new flag for rapidly dismissing variants.
This works well in conjunction with a report function. A suggestion would be a report that first exports a "variants-view" list for all pinned/classifed/commented, variants on top, a "variants-view" list with dismissed variants below followed by a looong list of separate static copies o

[2017-10-11 11:09] dnil commented on #622
Sorry; any reason for the new order? Preferred would be

ACMG_MAP = OrderedDict([
 -    4: 'pathogenic',		 +    (4, 'pathogenic'),
 -    3: 'likely_pathogenic',		 +    (3, 'likely_pathogenic'),
 -    0: 'uncertain_significance'		 +    (0, 'uncertain_significance'),
 -    2: 'likely_benign',		 +    (2, 'likely_benign'),
 -    1: 'benign',		 +    (1, 'benign')
])

Thanks!

[2017-10-11 11:11] dnil commented on #626
Also correct typo gnomeAD -> gnomAD 😊

[2017-10-11 11:34] marchoeppner opened #638 "error in load_database.py prevents creation of users in 3.5 (pip)"
Hi,
just started trying to use Scout and ran into a small bump.

My setup: Fresh Install of Ubuntu Xenial in a Singularity Container with a minimal system, Python2.7 and pip 9 and the current stable release of scout from pip.

When trying to create a user, I got an error saying that the global variable institute_name was not defined; this seems to trace back to line 55 in load_database.py where th

[2017-10-11 11:42] marchoeppner opened #639 "Dashboard crashes when zero cases are in the database"
The dashboard reporting includes several percent-based statistics that are usually derived be dividing some data set by the number of cases - and if the cases are '0', then the whole thing implodes. Should perhaps be made safe against that sort of issue?

Cheers,
Marc

[2017-10-11 11:56] moonso commented on #639
Good point! We'll fix that.

[2017-10-11 11:59] moonso commented on #638
Hi,

nice to hear that you are trying out Scout!
Ok that procedure is a bit confusing, I will fix that.
Thx

[2017-10-11 12:01] moonso commented on #635
Hi, that looks strange. There are also no inheritance models. We'll have a look

[2017-10-11 12:03] moonso commented on #632
Thought we fixed this before.. We will try again

[2017-10-11 12:31] b4ckm4n commented on #637
- [ ] Update to MIP 5.0

[2017-10-11 12:40] #635 closed

[2017-10-11 12:40] #639 closed

[2017-10-11 13:51] marchoeppner opened #640 "Enabling authentication?"
Hi,

I was wondering how to enable OAuth Authentication (vs Google)? I followed the setup instructions at http://www.clinicalgenomics.se/scout to the letter and am now able to log in with any white-listed email address without providing any password (3.5 stable from pip). It just logs me in.

Obviously, that wouldn't be any good in a production setting ;)

/M

[2017-10-13 08:19] robinandeer opened #641 "Transcript overview: show ENS if no RefSeq"
Display all Ensembl tx if there aren't any refseq transcripts - especially for MT chromsome

[2017-10-13 08:21] #612 closed

[2017-10-13 08:23] robinandeer opened #642 "Chanjo: add MT transcripts to database"
- [ ] export MT exons/transcripts from Scout @moonso
- [ ] update prod chanjo4 database
- [ ] update pipeline files

[2017-10-13 08:29] #588 closed

[2017-10-13 08:34] moonso commented on #523
I'm closing this for now. You can reopen if it get's relevant in the future. Or you can make smaller issues when there is something that you know more exact.

[2017-10-13 08:34] #523 closed

[2017-10-13 08:46] #628 closed

[2017-10-13 08:48] moonso commented on #625
Replaced by #626

[2017-10-13 08:48] #625 closed

[2017-10-13 08:49] moonso commented on #626
MIP 5.1 now produce these fields in the VCF INFO:

##INFO=<ID=GNOMADAF,Number=A,Type=Float,Description="Allele Frequency among genotypes, for each ALT allele, in the same order as listed">
##INFO=<ID=GNOMADAF_POPMAX,Number=A,Type=Float,Description="Maximum Allele Frequency across populations (excluding OTH)">

In scout they can replace the EXAC freq info and I think we should display both fields.

[2017-10-13 08:51] moonso commented on #613
Could you elaborate on this one @bjhall ?

[2017-10-13 08:52] moonso commented on #608
Hmm this is a tricky one, we'll see when we can solve it

[2017-10-13 08:58] dnil commented on #605
More phrases / list options from the CMMS/ClinGen lunch meeting:
- Not in disease related transcript
- Inherited from unaffected - AD
- No plausible compound - AR
- Technical issues - likely false positive
- Not likely to affect protein function

Seems we need still would need a "dismiss" flag too. Should be activated by selecting any of the mentioned phrases/options. Grays out/clearly visibly mar

[2017-10-13 09:03] moonso commented on #567
This is a tricky one, I'll close until we have an idea how to solve it

[2017-10-13 09:03] #567 closed

[2017-10-13 09:05] moonso commented on #561
Any progress here @matthdsm @robinandeer ?

[2017-10-13 09:06] #559 closed

[2017-10-13 09:07] moonso commented on #552
I need you help to clarify this @robinandeer ...

[2017-10-13 11:12] 4WGH opened #643 "disease associated transcript not showing"
look at the link below
https://scout.scilifelab.se/cust003/14045/994e5710384a92220cea2d6f830a5fb1

according to my table the disease associated transcript was registered at submission. Could you cross chekc why it is not coming up?

thank
Mic

[2017-10-13 11:33] moonso opened #644 "Use scout to export Exons for chanjo"
See also #642

[2017-10-13 12:31] moonso commented on #638
Feel free to open a Pull Request if you find more like these 😄

[2017-10-13 12:32] #638 closed

[2017-10-13 12:39] #622 closed

[2017-10-13 13:23] #491 closed

[2017-10-13 14:12] moonso commented on #627
Ok we have checked this. It is probably a weird anomaly for this case. Please reopen if you see this again.

[2017-10-13 14:12] #627 closed

[2017-10-13 15:01] bjhall commented on #613
Sure, I'll try. I am not exactly sure what you're after, but I'll make a guess :) I am guessing you want to know what information needs to be imported into Scout to represent UPD data? The two things I can think of that need to be be collected for a UPDs are:

* Isodisomy or heterodisomy
* Parent of origin (the same UPD can lead to different diseases if the chromosomes come from the mother or the

[2017-10-17 08:10] moonso commented on #557
Ok I'm implementing this right now but it is a bit confusing...
What does these mean? `clingen_cgh_benign`, `clingen_cgh_pathogenic`
Are there two different databases? Aren't we interested in knowing if the variant is common or not.
And also each of the annotations have a count and a AF. We should choose one of those, which one do you think is most informative @henrikstranneheim , @dnil ?

[2017-10-17 08:11] moonso commented on #557
Why are this annotated all the time even if the count and frequency is 0?

[2017-10-17 08:33] dnil commented on #557
Those are from the KlinGen arrayCGH databases; curated events from a different technology. Think of it as a kind of ClinVar, DGV or Decipher track. Different beast.

Jesper, have you compared AF vs counts? It’s by no means obvious what is best. I would lean towards counts. They are more informative for rare events. DB AF will likely be a biased estimate of true AF if no joint calling has been perf

[2017-10-17 09:15] moonso commented on #557
Ok my part is done, waiting for @robinandeer ..

[2017-10-17 09:28] J35P312 commented on #557
Hello there!
I have not compared AF vs counts, maybe we should present both of them? I think both could be useful since we have many databases of different sizes and from different technologies, and the user might get very different AF values from each one of these.

[2017-10-17 10:31] moonso commented on #557
Aha all of them, fine for me but it will be a lot of information. What do the others of you think?

[2017-10-17 11:06] #609 closed

[2017-10-17 11:06] henrikstranneheim commented on #557
I think we should start with counts as above except for Swegen, which for me is okay to have only frequency.

I also think it would be nice to not record lots of 0 in the vcf as we talked about earlier.

[2017-10-17 11:08] moonso commented on #644
This is blocked at the moment since we are not sure how to define the exon boundaries

[2017-10-17 12:29] robinandeer commented on #644
Here's the code for parsing Biomart output including the URL to generate it in the first place.

I parse out the UTR regions and store everything in a dict with each of the exons as a key with a list of transcripts/genes appended to it.

[parse-ensembl-exons.zip](https://github.com/Clinical-Genomics/scout/files/1390968/parse-ensembl-exons.zip)

[2017-10-18 07:41] robinandeer commented on #637
Actions:

- [ ] document SVdb merge algorithm @dnil (in Scout or MIP)
- [ ] build in dismiss function into commenting for variants #605
- [ ] export variants: include every variant, that has been interacted with (will be saved as PDF) => dismissed variants will be listed with relevant information for the dismissal (@dnil)
- [ ] send in list of what to include in the export @henrikstranneheim (CMMS

[2017-10-18 11:20] moonso commented on #570
When we first look at all genes we could see the following:

`Nr of genes: 33578`
`Nr without transcripts: 11048`

So 1/3 of all genes are missing any refseq transcript. This came out as a high number at first, after some thought one might realise that many of these genes are not protein coding etc.

If we look at disease causing genes from OMIM there are 16 genes that are missing refseq id for an

[2017-10-18 11:43] moonso commented on #570
**TTC25**

Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
--- | --- |--- | --- |  --- | ---
 37 | HG185_PATCH | ENSG00000260703 | TTC25 | ENST00000569427 | -
 37 | HG185_PATCH | ENSG00000260703 | TTC25 | ENST00000561994 | -
 37 | HG185_PATCH | ENSG00000260703 | TTC25 | ENST00000569541 | NM_031421
 37 | HG185_PATCH | ENSG00000260703 | TTC25 | ENST00000565052 | -
 37 | 17 | ENSG00

[2017-10-18 11:52] moonso commented on #570
### PTPRQ

Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
--- | --- |--- | --- |  --- | ---
**37** | 12 | ENSG00000139304 | PTPRQ | ENST00000551042 | -
**37** | 12 | ENSG00000139304 | PTPRQ | ENST00000547376 | -
**37** | 12 | ENSG00000139304 | PTPRQ | ENST00000551573 | -
**37** | 12 | ENSG00000139304 | PTPRQ | ENST00000526956 | -
**37** | 12 | ENSG00000139304 | PTPRQ | ENST00000

[2017-10-18 11:59] moonso commented on #570
### SRD5A2

Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
--- | --- |--- | --- |  --- | ---
37 | 2 | ENSG00000049319 | SRD5A2 | ENST00000405650 | -
37 | 2 | ENSG00000049319 | SRD5A2 | ENST00000233139 | -
--- | --- |--- | --- |  --- | ---
38 | 2 | ENSG00000277893 | SRD5A2 | ENST00000622030 | NM_000348

Here we can see that two transcripts has been merged to one and been given a

[2017-10-18 12:03] moonso commented on #570
### PIGY

Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
--- | --- |--- | --- |  --- | ---
37 | 4 | ENSG00000255072 | PIGY | ENST00000527353 | -
--- | --- |--- | --- |  --- | ---
38 | 4 | ENSG00000255072 | PIGY | ENST00000527353 | -

Here the transcript is identical for both builds so we dear to guess that we do not miss any variants.

[2017-10-18 12:07] moonso commented on #570
### FGF16

Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
--- | --- |--- | --- |  --- | ---
 **37** | X | ENSG00000196468 | FGF16 | ENST00000439435 | -
 **37** | HG1426_PATCH | ENSG00000268853 | FGF16 | ENST00000600602 | -
--- | --- |--- | --- |  --- | ---
 **38** | X | ENSG00000196468 | FGF16 | ENST00000439435 | NM_003868

 The refseq transcript exists in build 37 but is missin

[2017-10-18 12:11] moonso commented on #570
### TRAC

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 37 | 14 | ENSG00000229164 | TRAC | ENST00000478163 | -
 --- | --- |--- | --- |  --- | ---
 38 | 14 | ENSG00000277734 | TRAC | ENST00000611116 | -

 Transcripts have different ENS ids in both builds but are most probably the same. No refseq identifier for any build.

[2017-10-18 12:14] moonso commented on #570
### PADI6

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 *37* | 1 | ENSG00000256049 | PADI6 | ENST00000434762 | -
 *37* | 1 | ENSG00000256049 | PADI6 | ENST00000358481 | -
 --- | --- |--- | --- |  --- | ---
 *38* | 1 | ENSG00000276747 | PADI6 | ENST00000619609 | NM_207421
 *38* | CHR_HG2095_PATCH | ENSG00000280949 | PADI6 | ENST00000625380 |

[2017-10-18 12:19] moonso commented on #570
### GDF1

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 **37** | 19 | ENSG00000130283 | GDF1 | ENST00000247005 | -
 --- | --- |--- | --- |  --- | ---
 **38** | 19 | ENSG00000130283 | GDF1 | ENST00000247005 | -

 Same transcripts, no refseq in both builds. No variants will be missed here

[2017-10-18 12:23] moonso commented on #570
### TUBB3

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 **37** | 16 | ENSG00000198211 | TUBB3 | ENST00000556922 | -
 --- | --- |--- | --- |  --- | ---
 **38** | 16 | ENSG00000258947 | TUBB3 | ENST00000555810 | -
 **38** | 16 | ENSG00000258947 | TUBB3 | ENST00000554444 | NM_001197181
 **38** | 16 | ENSG00000258947 | TUBB3 | ENST00000556565 |

[2017-10-18 12:29] moonso commented on #570
### IGHG2

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 **37** | 14 | ENSG00000211893 | IGHG2 | ENST00000390545 | -
 **37** | HG1592_PATCH | | ENSG00000270895 | IGHG2 | ENST00000603473 | -
 --- | --- |--- | --- |  --- | ---
 **38** | CHR_HSCHR14_3_CTG1 | ENSG00000274497 | IGHG2 | ENST00000621803 | -
 **38** | 14 | ENSG00000211893 | IGHG2 |

[2017-10-18 12:34] moonso commented on #570
### IGHM

 Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
 --- | --- |--- | --- |  --- | ---
 **37** | 14 | ENSG00000211899 | IGHM | ENST00000390559 | -
 **37** | HG1592_PATCH | ENSG00000271541 | IGHM | ENST00000605693 | -
 --- | --- |--- | --- |  --- | ---
 **37** | CHR_HSCHR14_3_CTG1 | ENSG00000282657 | IGHM | ENST00000626472 | -
 **37** | 14 | ENSG00000211899 | IGHM | ENST000

[2017-10-18 12:36] moonso commented on #570
### IGKC

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 2 | ENSG00000211592 | IGKC | ENST00000390237 | -
  --- | --- |--- | --- |  --- | ---
 **38** | 2 | ENSG00000211592 | IGKC | ENST00000390237 | -

 Same in both builds. No variants would be missing here

[2017-10-18 12:42] moonso commented on #570
### FCGR2C

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 1 | ENSG00000244682 | FCGR2C | ENST00000502411 | -
 **37** | 1 | ENSG00000244682 | FCGR2C | ENST00000496692 | -
 **37** | 1 | ENSG00000244682 | FCGR2C | ENST00000466542 | -
 **37** | 1 | ENSG00000244682 | FCGR2C | ENST00000465075 | -
 **37** | 1 | ENSG00000244682 | FCGR2C |

[2017-10-18 12:47] moonso commented on #570
### KMT2B

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 19 | ENSG00000105663 | KMT2B | ENST00000606995 | -
 **37** | 19 | ENSG00000105663 | KMT2B | ENST00000607650 | -
 **37** | 19 | ENSG00000105663 | KMT2B | ENST00000592092 | -
 **37** | 19 | ENSG00000105663 | KMT2B | ENST00000585476 | -
 **37** | 19 | ENSG00000105663 | KMT2B |

[2017-10-18 12:52] moonso commented on #570
### NEFL

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 8 | ENSG00000104725 | NEFL | ENST00000221169 | -
  --- | --- |--- | --- |  --- | ---
 **38** | 8 | ENSG00000277586 | NEFL | ENST00000610854 | NM_006158
 **38** | 8 | ENSG00000277586 | NEFL | ENST00000615973 | -
 **38** | 8 | ENSG00000277586 | NEFL | ENST00000639464 | -
 **38*

[2017-10-18 12:56] moonso commented on #570
### NR2E3

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 15 | ENSG00000031544 | NR2E3 | ENST00000561604 | -
 **37** | 15 | ENSG00000031544 | NR2E3 | ENST00000567496 | -
 **37** | 15 | ENSG00000031544 | NR2E3 | ENST00000562839 | -
 **37** | 15 | ENSG00000031544 | NR2E3 | ENST00000562925 | -
 **37** | 15 | ENSG00000031544 | NR2E3 |

[2017-10-18 13:03] moonso commented on #570
### MAP3K14

  Build | Chrom | EnsGeneID | Gene Name  | EnsTransID | RefSeq mRNA
  --- | --- |--- | --- |  --- | ---
 **37** | 17 | ENSG00000006062 | MAP3K14 | ENST00000587332 | -
 **37** | 17 | ENSG00000006062 | MAP3K14 | ENST00000592267 | -
 **37** | 17 | ENSG00000006062 | MAP3K14 | ENST00000586644 | -
 **37** | 17 | ENSG00000006062 | MAP3K14 | ENST00000344686 | -
 **37** | 17 | ENSG00000006062

[2017-10-18 13:28] robinandeer commented on #640
Hi! Great to get confirmation that the setup instructions are working for you at least

Being able to login without a password is the intended case. We are using Google OAuth in production, however, and this is enabled by providing a `GOOGLE` dict in the Scout/Flask server config.

You have to register as a Google developer and obtain a few details like consumer key and consumer secret to make it

[2017-10-18 14:10] robinandeer commented on #626
@moonso: you can assign me when you've added parsing for these keys 👍

[2017-10-18 14:25] robinandeer commented on #623
It seems to do know when I tested with current master (0b5298aa29c2102edc88b25d954a625a5c54fee6)

[2017-10-18 14:25] #623 closed

[2017-10-18 14:32] robinandeer commented on #598
What do you mean with "specific panel"? Is this the "default panels" for the case or something different?

[2017-10-18 14:53] robinandeer commented on #607
We can only link to the site where the user has to put in the query... it's using a POST form with some kind of validation it seems 😛  #dontBreakTheWeb 🚫

[2017-10-18 15:08] dnil commented on #598
Ideally the one(s) from the query I guess, but the default panel (or any panel) will help.

[2017-10-19 07:57] robinandeer commented on #598
@dnil: Would it work if we display the gene panels for each variant in the filter-view as a pop-up when hovering over the gene-cell in the table?

[2017-10-19 07:58] robinandeer commented on #598
We can investigate if we can make a more advanced query on the individual variant view were we display for each gene if they belong to any of the panels.

[2017-10-19 08:33] dnil commented on #598
Sounds like a plan! Hover highlighting gene of disease interest/panel will help considerably.

[2017-10-20 08:24] AnnHam opened #651 "Why is a pathogenic variant from ClinVar not shown in SCOUT?"
Why is a pathogenic variant from ClinVar not shown in SCOUT?

https://scout.scilifelab.se/cust002/F0013626-2/286717ce1d61848c0c18380786aa5d87
https://www.ncbi.nlm.nih.gov/clinvar/variation/381575/

//Anna

[2017-10-20 09:24] dnil commented on #651
Nice catch Anna!

Looks like the ClinVar entry is from January 2017. Could be a question for MIP / production: how often is the ClinVar reference updated? If so, for Scout: perhaps display references versions somewhere - like an extended delivery report?

[2017-10-20 10:09] dnil commented on #605
- Always c., p. coords, any comments, .

Too common in public databases
- frequency (ExAC/GnomAD, 1000G, swefreq?)
Too common in local database
- locusdb (arch & current)
Not relevant phenotype
- OMIM entries
Inconsistent inheritance pattern
- OMIM inheritance pattern, Variant inheritance models, GT call
No compound variant
- Compound table
No plausible compound - AR
- Compounds table
Not in RefSe

[2017-10-25 10:32] dnil opened #652 "local obs filter is currently not 0-inclusive"
3.4.1 has an issue with filtering on local obs. Needs to be made 0-inclusive again.

[2017-10-25 10:36] dnil commented on #652
db issue? see case 2017-05797 / 16166

[2017-11-01 10:03] 4WGH opened #654 "CSV - length -1 for a deletion of 80 genes"
https://scout.scilifelab.se/cust003/17159/sv/variants?variant_type=clinical&gene_panels=EP&hgnc_symbols=&size=&chrom=&thousand_genomes_frequency=

please have a look. Something doesn't fit here.
A deletion of 1 bp can not contain 80 genes.

thanks,
Michela

[2017-11-07 08:17] NicoleCMMS opened #655 "Matching causative not showing on family page"
The following two families have a matching causative variant in the POLG gene, 17042 and 17126.  When you go to the variant page you can see that this variant has been previously found as a causative variant and in which family but on the first page for each of these families it states that there are no matching causatives.  Is this a bug?

[2017-11-08 13:46] robinandeer commented on #598
this is too big, we need more time to solve this issue in a maintainable way :)

[2017-11-08 13:49] robinandeer commented on #651
This is a MIP related Issue - we have notified @henrikstranneheim

[2017-11-08 13:49] #651 closed

[2017-11-08 13:53] robinandeer commented on #654
This is how it's annotated in the VCF - but we will investigate how to better display it in Scout

[2017-11-08 13:58] robinandeer commented on #652
Might be because some cases don't have the key and other cases have a key with value "null"...

[2017-11-08 14:00] robinandeer commented on #643
There is a disease casusing transcript showing up - has this fixed your issue?

[2017-11-08 14:00] #643 closed

[2017-11-08 14:02] 4WGH commented on #643
probably someone has already fix this ! O_0

________________________________
Från: Robin Andeer <notifications@github.com>
Skickat: den 8 november 2017 15:00:28
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] disease associated transcript not showing (#643)

There is a disease casusing transcript showing up - has this fixed your issue?

—
You are r

[2017-11-09 08:53] moonso commented on #655
Thank you for discovering this serious problem, we will try to fix it before the weekend

[2017-11-09 08:54] moonso commented on #655
@robinandeer could you try to figure out where the problem occurs. It doesn't seem to be a problem on the variant page so the adapter is probably doing it right...

[2017-11-09 08:56] moonso commented on #100
Hi! Back to this old favourite issue🙃. I found [this](https://github.com/humanlongevity/hgvs) could you have a look @dnil , @henrikstranneheim to see if it could solve the problem?

[2017-11-09 11:58] moonso commented on #654
Hi @4WGH , unfortunately the SV analysis is not as simple as SNV/INDEL so there are cases like these where the callers say that there is a insertion or deletion of unknown length. We have chosen to represent this with `-1`  so that it is clear that the length is unknown.

[2017-11-09 12:06] moonso commented on #654
I will have a look anyway and see if there is anything we can do about it 👍

[2017-11-09 12:14] 4WGH commented on #654
ok. good to know.

Maybe a "n.d." (not determined)  instead of "-1" could be more clear for the user who can not know how is the analysis behind scout.

I've thoughtit was a bug.

Michela

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 9 november 2017 12:58:04
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Mention
Ämne: Re: [Clinical-Genomics/s

[2017-11-09 12:48] moonso commented on #654
There are cases where we can improve on this so we'll fix that

[2017-11-09 12:49] moonso commented on #654
Yes, good point with `n.d.` could you convert `-1` to `n.d.` @robinandeer ?

[2017-11-09 14:10] robinandeer commented on #655
We queried on the unique "_id" instead of the "variant_id" - but I fixed it now

[2017-11-09 14:11] robinandeer commented on #655
but we really should make a page for displaying all of these matches together!

it should be hard or slow and it would be really cool use of the data in Scout

[2017-11-09 14:33] robinandeer commented on #652
I found a way to do this in pymongo but it seems to work slightly different from Pymongo

just pointing it out:

[code]

is not the same as:

[code]

[2017-11-09 14:39] robinandeer commented on #626
@moonso: I still don't think this is parsed during scout load

Have you settled on some keys to use for the variant document?

[2017-11-10 09:34] henrikstranneheim commented on #651
We plan to update some references more frequently (perhaps once a month). Clinvar is included in this.

I have updated clinvar (clinvar_20171029.vcf) in the development branch and are running tests. Should be just a change in config to make into production if no tests fail.

[2017-11-10 12:03] #557 closed

[2017-11-10 12:03] #600 closed

[2017-11-10 12:09] #654 closed

[2017-11-10 14:52] #596 closed

[2017-11-10 14:52] #598 closed

[2017-11-10 14:52] #640 closed

[2017-11-10 14:52] #587 closed

[2017-11-10 14:52] #607 closed

[2017-11-10 14:52] #632 closed

[2017-11-10 14:52] #633 closed

[2017-11-10 14:52] #652 closed

[2017-11-13 14:37] 4WGH opened #659 "allignment view not loading"
in none of the fam I've tried.

https://scout.scilifelab.se/cust003/17175/e20a3996809e46086559f1613e8fd8db

this is just one of them to try at your side

Michela

[2017-11-15 08:50] dnil opened #660 "SV frequency filter"
- [x] add filter boxes for filter frequencies of interest (e.g. ClinGen NGI, array, SweGen)
- [x] clinical filter settings update for structural variants
- [x] clickable coordinates for start end of structural variant to enable view the edges of large variants

[2017-11-15 09:14] KickiLagerstedt opened #661 "Can not add samples in Orderportal..."
New version of orderportal?
Can not add samples...
![bild](https://user-images.githubusercontent.com/17139607/32827822-aef313cc-c9ed-11e7-9616-d99d81fd98e5.png)

[2017-11-16 08:40] robinandeer commented on #661
Hej Kicki!

I emailed about a new version of the portal was upcoming a week ago or so. I hope it reached you, I sent it on the scout email list.

Like the previous version of the portal you first need to add a family before you can add a sample to the family.

If you only want to order FASTQ files you can add samples right away but for analysis of the samples we need the family info for all sample

[2017-11-16 08:40] #661 closed

[2017-11-16 08:43] robinandeer opened #662 "Export VCF with (causaitive/selected) variants"
Could just be the position and alt/ref with the GT calls

Would be very interesting to run the VCF of the causative variants against [GAVIN](https://molgenis20.gcc.rug.nl/menu/main/gavin-app/) to see which are automatically annotated as Pathogenic and for what reason!

[2017-11-16 10:18] robinandeer opened #664 "Integrate with variant classification sharing platform"
Developed in Netherlands. Contacted for access on email 16 November.

Interface: https://molgenis05.gcc.rug.nl/

[2017-11-16 16:26] dnil commented on #655
Sorry, did we loose the checking of self here? Note e.g. on case F0012102: gives matching other for its own causative for what can't really be anywhere else (and only one case noted on loqus).

[2017-11-16 16:29] robinandeer opened #665 "Investigation: causative vs. HPO term"
For cases with HPO terms and causative variant(s)

...we could check if the HPO list includes the gene where the causative variant exists

[2017-11-17 12:34] robinandeer opened #667 "Link to Google Scholar"
Add link to publication search for the variant in google scholar

Clare Turnbull had an example in her tool...
https://www.icr.ac.uk/our-research/researchers-and-teams/dr-clare-turnbull

[2017-11-17 13:11] henrikstranneheim opened #668 "Mutec2 and Pindel in consensus calling string"
https://scout.scilifelab.se/cust003/15016/beb526b483648e8b8cf33703a5333bad

[2017-11-17 13:12] henrikstranneheim opened #669 "Locus dynamic total count seem to not increment"
Seem to stay at 898

[2017-11-22 13:31] PeterARBork opened #670 "Scout setup demo fails due to NameError ('transcripts38_reduced_path')"
Having just gotten a fresh scout version 3.5.0 and after starting a fresh mongo service, I ran the commands copy+paste style from the install.md document step 2, and arrived at the the following output:

[code]

What can I do to help debug?

[2017-11-23 12:03] moonso commented on #670
Thanks, I will have a look. Meanwhile  you could just try to setup the regular way.
That is `scout setup database`

[2017-11-23 12:05] moonso commented on #659
I had no problem loading the alignment view in this example...
Could it be a temporary problem?

[2017-11-23 12:06] moonso commented on #667
👍

[2017-11-23 12:09] moonso commented on #655
Thanks @dnil I'll create a new issue for this

[2017-11-23 12:09] #655 closed

[2017-11-23 12:10] moonso opened #671 "Matching causatives refers to itself"
For example in cust002 F0012102. Could the magics of aggregation have anything to do with this @robinandeer 😈

[2017-11-23 12:15] moonso opened #672 "Generating a gene panel from phenomizer does not work"
When choosing some phenotypes and clicking `select` nothing happens

[2017-11-23 12:17] moonso commented on #608
Could we agree that this is a MIP issue? There should be an alternative in scout config to point at a downsampled bam file for MT

[2017-11-23 12:53] PeterARBork opened #673 "load user fails due to NameError: 'institute_name' is not defined"
Using scout 3.5.0 on a fresh mongo database, the following sequence of commands results in a NameError:

[code]

I've run the same sequence with and without `scout setup database` and `scout serve`, with the same outcome.

Full show:
[code]

[2017-11-23 13:01] PeterARBork commented on #673
Ah, looking into the code it seems line 55 in load_database.py was changed about a month ago so the line no longer uses `institute_name` but `institute_id`.

Perhaps the problem will be solved when I get the newest version. I'll try that.

[2017-11-23 13:13] henrikstranneheim commented on #659
I believe Robin has fixed this!

[2017-11-23 13:13] #659 closed

[2017-11-23 13:20] henrikstranneheim commented on #608
Yes, I will try and fix this on my end

[2017-11-23 13:35] PeterARBork commented on #673
Yes, scoute version 3.5.1 no longer has the error.

[2017-11-23 13:35] #673 closed

[2017-11-23 13:36] moonso commented on #673
thx

[2017-11-24 09:52] moonso commented on #670
I cheated a bit here so the gene defenitions for build 38 is the same as 37 in the demo version. At least it should work. We will need to look through all the demo data at some point

[2017-11-24 09:55] #670 closed

[2017-11-29 11:53] moonso opened #677 "Expand update user"
The `scout update user` command should be able to add and remove roles.

[2017-11-29 11:54] moonso opened #678 "Add arguments to load user"
It should be possible to choose roles and institutes when creating a new user from the cli.

[2017-11-29 13:38] moonso opened #679 "Problems with uploading a new gene panel"
- [x] The error message is cryptic `Line 1 is malformed` when using the interface.
- [x] CLI throws an error when `version` not supplied

[2017-11-29 13:51] moonso opened #680 "Add scout delete panel"

[2017-11-29 13:55] #660 closed

[2017-12-01 13:11] #677 closed

[2017-12-01 13:11] #678 closed

[2017-12-01 13:11] #680 closed

[2017-12-04 14:57] NicoleCMMS opened #682 "Coverage report for family 17057--2"
There are two individuals sequence in this family but the coverage report seems to have got mixed up.  According to the report both individuals are females (incorrect) and have the exact same coverage.  Can somebody look into this for me? Thanks!

[2017-12-05 15:10] PeterARBork opened #683 "Loading panel fails due to code error in commands/load/panel.py"
In line 62 of  [commands/load/panel.py](scout/scout/commands/load/panel.py), "name" is used instead of "field":
https://github.com/Clinical-Genomics/scout/blob/a9a388455380907507983cd86567a13f8baffa40/scout/commands/load/panel.py#L44-L63

Command and error stacktrace:

[code]

[2017-12-05 18:37] PeterARBork opened #684 "How to update panels for a case?"
After looking around in the documentation it is still not clear to me if its possible and how I can update the panels available to a particular case.

It would be nice with this stuff in the documentation somewhere.

Is there already a way to do this without re-loading the case?

Thank you.

[2017-12-05 20:48] moonso commented on #684
Hi @PeterARBork , it is not possible to change the panel for a case that is already loaded. When we have a situation like that we reanalyze the case with the new/updated panel(s) and reload them into scout.

[2017-12-05 20:49] moonso commented on #683
Thx I will fix that tomorrow 👍

[2017-12-06 09:09] PeterARBork commented on #684
Alright, this situation arose in playing with scout, so I'll close this issue and open a new one if the situation comes up in "real life."

[2017-12-06 09:09] #684 closed

[2017-12-06 09:13] moonso commented on #684
Ok, we have a long term plan to solve this within scout. It will take a lot of work since all variants has to be reranked etc...

[2017-12-06 09:49] PeterARBork opened #685 "String misformat in case loading warning (minor)"
I think the author of the line below intended a '%' rather than a ',':
https://github.com/Clinical-Genomics/scout/blob/f9fef6c4d18a8b68b16be704a588c543bcefda08/scout/adapter/mongo/case.py#L221

The line comes out as
[code]

[2017-12-06 09:53] moonso commented on #685
Nice catch

[2017-12-06 10:23] #683 closed

[2017-12-06 10:23] #685 closed

[2017-12-06 13:37] PeterARBork opened #687 "VCF preparation steps"
Can you share what steps you take to generate the vcf's, i.e. from after you run variant calling?

I.e. do you run haplotypecaller, then VQSR, then SnpEff, and if so, with which settings?

It would be nice with a description of what the vcf's should (not) contain for Scout to fill in the variant columns.

Thank you.

[2017-12-06 13:56] moonso commented on #687
Sure we can expand on that in the documentation, unfortunately it will take a while.
Meanwhile you can check out the [MIP documentation](http://mip-api.readthedocs.io/en/latest/index.html) and also ask @henrikstranneheim

[2017-12-07 13:58] PeterARBork commented on #687
@henrikstranneheim would it be possible for you to share the sequence of commands which annotates the vcf files?

[2017-12-07 14:47] henrikstranneheim commented on #687
Well it all depends on what you are analyzing. But we support Rhocall, Vt, VEP, SnpEFF, SnpSift, Vcfanno, Svdb, Genmod. There are nummerous annotations and parameters but some of the more important ones are Inheritance models, frequency, CADD, Spidex, CSQ, Clinvar.

[2017-12-08 08:07] moonso commented on #687
@PeterARBork have you read [this](http://www.clinicalgenomics.se/scout/admin-guide/annotations.html) from scout docs?

If it is lacking information we could expand that.

[2017-12-10 18:16] moonso opened #688 "Scout fails with VEP annotation of HGNC_ID"
It seems like VEP have different formats for how to annotate `HGNC_ID`.
Some versions only output a number and other versions outputs on the format`HGNC:00001`

[2017-12-10 18:32] #688 closed

[2017-12-11 01:08] PeterARBork commented on #687
It's warming up and with the latest changes to the repo I managed to add some of our own vcf content.

Thank you for working on this.

How can I access the scout database to see what annotations scout has successfully read from a given vcf?

I'm using VEP release 90 and getting a CLIN_SIG column in the CSQ-field which is seemingly not read by scout. The value benign(0), which I get for some varian

[2017-12-11 08:25] moonso commented on #687
Ok could you email a part of your vcf or show here exactly how this field is annotated in your file?
What is the VEP column name, what are the different options for the value and if the value has separators, what are they?

[2017-12-11 12:06] PeterARBork commented on #687
The VEP CSQ column name is CLIN_SIG with clinvar version from june this year, and options for values include: benign(0), not_provided and more.

I'm not quite sure why there's a "(0)" on the benign tag in this version - at the moment we are moving to vep version 90. I'll return with a better understanding of the options for the value.

Here's an example of vcf-file:

[code]

[2017-12-11 16:46] moonso commented on #687
@PeterARBork I think that CLIN_SIG does not have any value in the two variants that you have included.
`benign(0)` refers to SIFT and polyphen and is the readable term and the numeric.
At least if I understand correct. So please get back when you know how CLIN_SIG annotation looks like with VEP. If I'm right we annotate clinvar with SnpEff, is that correct @henrikstranneheim ?

[2017-12-11 17:27] henrikstranneheim commented on #687
Yes, that is correct!

Skickat från min iPhone

[2017-12-12 08:26] robinandeer opened #690 "Cancer callers showing up in GT call in SNV view"
Seems like a bug no?

[2017-12-12 10:05] robinandeer opened #692 "BRCA1 not in OMIM-AUTO 😕"
Seems very odd, right @moonso?

From OMIM dump in Scout:
113705	gene	672	BRCA1	ENSG00000012048,ENST00000357654

[2017-12-12 10:43] robinandeer opened #693 "Filter on SPIDEX prediction"

[2017-12-12 12:51] henrikstranneheim commented on #690
Yes, definietly

[2017-12-12 14:47] moonso commented on #692
I don't get it... you show that the gene is in scout?

[2017-12-12 15:56] dnil commented on #692
In scout, but not on a clinical panel. Attempting to filter with it gives an error - missing from Clinical panels. Looks to me like only BRCA2 is on any panel. The reason is simple: BRCA1 and several other “pure” cancer risk genes are noted as a { susceptibility to} gene in OMIM. If there is another type of tumor or such, the gene gets upgraded to a Syndrome disease gene - hence BRCA2 in the panel

[2017-12-12 15:58] moonso commented on #692
Aha, so we could start with checking how many more genes we would get if we include "susceptibility to"

[2017-12-12 16:04] dnil commented on #692
Yes. But a lot of that is going to be noise.
Kicki is submitting a cancer panel now, which will solve the particular issue.

On a side note, perhaps use this as a pretext to update OMIM-auto? 2016-2017 have been productive gene discovery years. I’ll help look at conflicts. Next time the obvious gene will have entered OMIM just after the last OMIM-auto release...

[2017-12-13 08:48] moonso commented on #690
Duplicated in #668

[2017-12-13 08:48] #690 closed

[2017-12-14 11:22] PeterARBork commented on #687
That's a blunder on my part, thanks for the correction.

[2017-12-14 13:04] moonso commented on #687
No problems!

[2017-12-21 14:42] patrikgrenfeldt opened #695 "Parsing CLNACC from clinvar in Scout"
"Here is a heads up for parsing CLNACC from clinvar in Scout:

- Clnvar has removed the CLNACC and replaced it with a variant id in the vcf ID column. When MIP downloads clinvar it will preprocess the clinvar vcf as follows:
   1. Relay the clinvar variant id from the clinvar vcf ID column as a vcf info key in the same file.
   2. Add a new vcf INFO key pair and header as; '##INFO=<ID=CLNVID,Numbe

[2017-12-22 09:37] moonso commented on #695
When will this change happen in the VCFs?

[2017-12-22 09:39] henrikstranneheim commented on #695
Next update of MIP (v6.0.0). We cannot update this outside of MIP now since there is a major change of format.

[2017-12-22 09:47] robinandeer commented on #682
This seems to have been fixed: now a male and female shows up in the report

https://scout.scilifelab.se/reports/report?panel_name=Inborn+Errors+of+Metabolism+%2811.0%29&sample_id=ACC3170A9&sample_id=SVE2645A12&level=10

[2017-12-22 09:47] #682 closed

[2017-12-22 10:33] robinandeer commented on #669
Since we updated to loqusdb2 we have used a different database for new uploads

I've switched over to that one for Scout now - but we need to make a push to load variants into loqus for already sequenced cases to get up-to-date!

[2017-12-22 10:33] #669 closed

[2017-12-22 13:02] robinandeer commented on #679
Solved on master

[2017-12-22 13:02] #679 closed

[2017-12-27 11:19] NicoleCMMS opened #696 "Coverage for family 17094 not correct"
I just downloaded the coverage report for this family and discovered a mistake.  The index patient is a male but in the coverage report appears as a female.  Can you confirm that the analysis is correct and if so correct the coverage report?  Thanks!
[Coverage_17094.pdf](https://github.com/Clinical-Genomics/scout/files/1588909/Coverage_17094.pdf)

[2018-01-04 11:45] KickiLagerstedt opened #697 "Local obervations no decreased"
When looking at a variant the no regarding local observations has decreased from 898 to 347...
How is that possible?

![bild](https://user-images.githubusercontent.com/17139607/34562075-189952c4-f14d-11e7-9f59-f7d4f0773852.png)

[2018-01-04 13:01] dnil commented on #697
Launch of the new loqusdb (now with SV support)? Will be a little while until it has seen all cases again, I guess.

[2018-01-04 15:49] moonso commented on #697
Yes that is correct @dnil , I don't think SV-support is there yet. @KickiLagerstedt it will catch up...

[2018-01-04 15:49] #697 closed

[2018-01-09 07:37] emmser opened #698 "PDF coverage report empty"
Coverage report PDF-download generates empty reports

[2018-01-09 08:17] emmser opened #699 "Analysis date in Coverage report for re-runs doesn't update"
Coverage report doesn't update analysis date after re-run

[2018-01-09 08:17] emmser opened #700 "Delivery report is missing"
Delivery report is missing after update

[2018-01-09 08:26] 29vd opened #701 "Missing gene in OMIM panel"
The gene KIF7 is not included in current OMIM (auto). Why? Because of that two out of four phenotypes starts with an ? mark???

[2018-01-09 14:36] 4WGH opened #702 "HPO term problem"
we got the following answer when trying to add the HPO term: "HP:0012335"

Bad Request

unable to add phenotype: HP:0012335

what does it mean?

this seams to be a general problem, as we tried with several other numbers.

[2018-01-10 13:22] moonso commented on #701
I heard that you accidentally got an old omim panel. It is present in the current omim_auto.

[2018-01-10 13:22] #701 closed

[2018-01-10 13:23] moonso commented on #702
Will check

[2018-01-10 13:25] moonso commented on #692
When using the current definitions for OMIM-AUTO BRCA1 should not be there. We can discuss this issue in a user meeting

[2018-01-10 13:25] #692 closed

[2018-01-11 07:44] moonso opened #703 "Add gene count on gene panels page"

[2018-01-11 07:45] moonso opened #704 "Make update of OMIM-AUTO easy"
Should be able to just run `scout update panel --omim --api-key asdgfsdfg`

[2018-01-11 07:47] moonso commented on #693
Could you take this @dnil ? I need some help now when robin is gone 😰

[2018-01-11 08:13] dnil opened #705 "Gene panel ownership"
Gene panels should in effect have write permissions that can be given to users or admins.

[2018-01-11 08:14] dnil opened #706 "Display old versions of gene panels"
The gene panel page should allow inquiry into changes made to a gene panel over time. In particular a user should be able to determine if a gene of interest was included on a particular version of a panel.

[2018-01-12 15:22] henrikstranneheim opened #708 "Link to clinvar open to incorrect aa position for correct RCV"
https://scout.scilifelab.se/cust003/17212/4024393711b11ae5d25ad4845373095c

p.Gln638Ter(Clinvar-webb) vs  p.Gln35Ter (Scout-Clinvar)
Looks correct in local dump of clinvar.
Seems like clinvar webb and local clinvar could be out of sync. GRCh38 vs 37 issue?

[2018-01-13 07:51] dnil commented on #703
Ahem, opening again.. Wanted to amend the commit message as well, and had a moment of git confusion. :blush:

[2018-01-14 15:49] dnil opened #710 "Enable HPO list filter for SV list"
I have not tested this explicitly yet. Anyone else?

[2018-01-15 20:59] #703 closed

[2018-01-15 20:59] #706 closed

[2018-01-16 12:24] henrikstranneheim opened #712 "Add missing rank model version to snv/Indel view"

[2018-01-16 12:35] henrikstranneheim commented on #712
![screen shot 2018-01-16 at 13 33 23](https://user-images.githubusercontent.com/584738/34989229-05e01b6c-fac2-11e7-9b90-195f72f9aff7.png)

[2018-01-16 12:35] henrikstranneheim commented on #493
![screen shot 2018-01-16 at 13 33 23](https://user-images.githubusercontent.com/584738/34989242-1bb90c28-fac2-11e7-95f0-2431bcacffc4.png)

[2018-01-17 07:45] emiliaol opened #713 "Compund links not activated after loading all variants for a region"
The variants in the compound list still shows as (not loaded) despite actually being loaded.

![screen shot 2018-01-17 at 8 44 44 am](https://user-images.githubusercontent.com/12113434/35031332-bc66cdcc-fb62-11e7-8965-9a3e00bda3e5.png)

[2018-01-18 06:15] henrikstranneheim opened #714 "Add download vcf2cytosure data feature"
MIP now produced the ".cgh" data for SV using vcf2cytosure. Let's discuss if these files could be downloaded via Scout's interface as they are connected to the corresponding SV variants and need to be updated for reruns and easily accessible when analysing a case. File size is roughly 94 MB for 30x WGS. This file is currently not splitted in clinical test and research.

Another approach is to add

[2018-01-18 06:16] henrikstranneheim commented on #626
Supported from next MIP update

[2018-01-18 06:27] henrikstranneheim commented on #608
MIP will now produce a downsampled MT.bam and MT.bam.bai for the alignment view. This is recorded in the qc_sampleinfo.yaml file under the "samtools_subsample_mt/path=file_path".

[2018-01-18 08:12] dnil commented on #714
Two connected issues are filtering & ranking. The current .cgh files are unfiltered, so part of that 90 Mb is normal variation/artefacts. A first step might be to add a crude filter, removing really common variation. One could also imagine eventually removing really low-ranking variants to keep a certain manegeable number of variants to triage. The rank model needs a bit more work first.

[2018-01-18 09:28] henrikstranneheim commented on #714
1. Do you want the cgh file to be produced on the select and research file instead? Now it is produced from the SV callers merged file upstream of VEP.

2. The develop rank model now includes the swegen AF, as well as clingen ngi (400 samples). We could add a bcftools filter on either rank or these frequencies. What would you prefer?

[2018-01-18 12:01] #704 closed

[2018-01-18 12:04] moonso commented on #698
@emmser I think you need to be more specific. What case? Is it always like this?

[2018-01-18 13:28] emmser commented on #698
@moonso all cases I have checked are the same. On the case-page, when you use Download PDF, the report that is generated contains no data, only an empty table. For example case 18005

[2018-01-19 07:49] patrikgrenfeldt opened #715 "Automate "Request research" to avoid having to wait for the data"
As a Clinician
I want the Research data to be available immediately after requesting it
so that I don't have to wait for it

Suggested solution:
Automate the handling of "Research request"'s

[2018-01-19 08:04] dnil commented on #710
Ok checked. Not working. Adding to todo.

[2018-01-24 15:07] patrikgrenfeldt opened #717 "Error when viewing whitelisted users"
Steps to reproduce:
1. In the Hippo-environment run command: scout view users

Expected result:
List of users

Actual result:
List of users and then a crash:
Traceback (most recent call last):
  File ".../bin/scout", line 11, in <module>
    sys.exit(cli())
  File ".../lib/python3.6/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File ".../lib/python3.6/

[2018-01-25 08:16] moonso opened #718 "scout view cases does not behave as expected"
When querying for `solved` cases no results are shown

[2018-01-25 08:29] #718 closed

[2018-01-25 08:31] moonso commented on #717
I'm quite sure that this is has to do with old code on Hippo.
Try the same command from rasta.

[2018-01-25 08:35] moonso commented on #100
Hi @dnil and @henrikstranneheim , this issue is soon three years old. Should we close? There are no bright skies ahead for this.
Could you please look at the link that I posted and comment otherwise I want to close

[2018-01-25 08:36] moonso commented on #147
I hope that this could be a good thing for @patrikgrenfeldt to start with

[2018-01-25 09:05] moonso commented on #717
There was a error in the database

[2018-01-25 09:05] #717 closed

[2018-01-25 17:07] dnil commented on #100
I tried a random poll of indels from current analyses. A sample of some 20 pulled none of this issue. I think the situation today is much improved - perhaps due to --shift_hgvs implementation? Let's close it, unless @henrikstranneheim has seen other ones recently?

Doing this, I did encounter an instance of another error, but I'll dop that on that issue... ;-)

[2018-01-25 17:08] #100 closed

[2018-01-25 17:18] dnil commented on #147
:+1:
It might be easier to start from #605? But, not really needed. Just a pdf writer for anything touched plus general info will do wonders.

[2018-01-25 19:33] henrikstranneheim commented on #100
👍

[2018-01-29 21:16] 4WGH opened #720 "no coverage report"
for fam 18002.
I get this error message:
502 Bad Gateway

can you help? thanks,
Michela

[2018-01-29 21:31] ingkebil commented on #720
Please refresh! Should work :)

Does this happen a lot or was this the first time?

[2018-01-29 21:39] 4WGH commented on #720
not the first time,
but I would not say a lot :)
working now! thanks!

I see I'm not he only one working evenings ;)

[2018-01-29 21:42] ingkebil commented on #720
OK then. I'll fiddle around with the setting and hopefully I can make it go away.

Of course! Kids asleep: time for satisfying work :)

[2018-01-29 21:42] #720 closed

[2018-01-30 13:54] PeterARBork opened #721 "ModuleNotFoundError requires python version 3.6"
Now that Scout requires python version 3.6 (since ModuleNotFoundError is new in the line below), I though it might be helpful to write that version requirement on the github frontpage or somewhere else visible.

Perhaps the line below could even have a try-except clause with a hint printed to help people realize that the reason they get an error is that their python is too old - I found realized i

[2018-01-30 14:34] PeterARBork commented on #687
I'm having a bit of difficulty getting the annotated frequencies to appear in Scout.

Whether I use the key `1000G` or `1000GAF` in the vcf-file, Scout doesn't present the frequency of a variant I chose at random (details below).

The documentation says the key for 1000 genomes frequency should be `1000G`,
https://github.com/Clinical-Genomics/scout/blob/master/docs/admin-guide/annotations.md#annot

[2018-01-30 14:37] ingkebil opened #722 "Update MIP API for process that reads qc_sample_info.yaml for Scout load"

[2018-01-30 14:39] ingkebil opened #723 "Reload samples into LocusDb"

[2018-01-30 14:40] ingkebil opened #724 "New locusDb dump"

[2018-01-30 16:00] moonso commented on #687
Hi @PeterARBork ,
we annotate frequencies outside VEP but scout should definitely handle VEP annotations.
I know @bjhall worked on this some time ago.
Anyway I will see tomorrow if there is anything obvious that I can fix.

[2018-01-30 16:25] bjhall commented on #687
We ended up annotating frequencies with both Genmod and VEP, but only the ones from Genmod end up in the database. The bugfix I submitted the other month just prevented a crash while loading VCFs with ExAC-annotations from VEP. Would be great if it could use the VEP freqs though, to avoid the double annotation.

[2018-01-31 07:41] moonso commented on #687
@bjhall @PeterARBork what are the frequency keys that we would expect in the VEP entry?
Is VEP always annotating with the same keys or is it up to the user to define what the keys should look like? It is no problem if we expect the keys to always look the same...

[2018-01-31 08:03] moonso commented on #721
Sure I will look at that

[2018-01-31 08:17] moonso commented on #715
The process of uploading research variants will always take some time so it will not be instant. At the moment there is a cronjob running once per week that checks which cases have requested research and then upload the variants for those. We can change the interval for the automatic job so it runs once every day or something.
@emiliaol can you close this when you're done?

[2018-01-31 08:23] moonso commented on #724
Not a scout issue, there are so many issues here already. Please put these somewhere else. MIP would be more suitable

[2018-01-31 08:23] #724 closed

[2018-01-31 08:23] moonso commented on #723
Not a scout issue, there are so many issues here already. Please put these somewhere else. MIP would be more suitable

[2018-01-31 08:23] #723 closed

[2018-01-31 08:23] moonso commented on #722
Not a scout issue, there are so many issues here already. Please put these somewhere else. MIP would be more suitable

[2018-01-31 08:23] #722 closed

[2018-01-31 08:48] emiliaol commented on #715
The upload has been changed so it will check once every day. If needed we can do this more frequently in the future.

[2018-01-31 08:48] #715 closed

[2018-01-31 11:28] moonso commented on #708
If I remember correct this is not a scout issue, right? Can you close @henrikstranneheim ?

[2018-01-31 13:58] bjhall commented on #687
@moonso The key names are predefined by VEP. Unfortunately the key names have changed in recent versions (between v87 and v90). And they have also replaced ExAC with gnomAD exomes (ie not WGS). I've summarized the key names for v87 and v90 below (with links to the documentation)

VEP 87
------
**GMAF** - 1000G all popluations combined
**xxx_MAF** - 1000G (or NHLBI-ESP) individual populations
**ExA

[2018-01-31 14:08] moonso commented on #687
Thanks a lot!! Makes the problem much easier. The only thing I don't like is that we have to loop aver all transcripts but I guess the information will be identical for these entries.
Can it still be multiple entries for one frequency? (separated by `&`)

[2018-01-31 14:19] #721 closed

[2018-01-31 14:20] #712 closed

[2018-01-31 16:18] dnil commented on #687
The AFs from 90 and onwards are supposed to be given only for the variants on that entry - so presumably only one for spit VCFs.

[2018-01-31 18:27] bjhall commented on #687
Yes the frequencies are identical for all transcripts. I usually just use the values from the first transcript to avoid the looping.

And dnil is correct about it showing frequencies only for the relevant allele.

[2018-02-01 07:02] moonso commented on #687
Ok, I guess we want to support version 87 so we still need to split then

[2018-02-01 10:00] PeterARBork opened #726 "How to provide bam-files for scout"
When viewing a variant in a case I've loaded, scout tells me that no bam file was provided. I've looked around, but the example config files do not seem to show what the keyword should be for providing a bam file with a case.

Can you share how to add bam files to a case?

[2018-02-02 12:36] moonso commented on #726
Sry about that, it should be added to the documentation.
In the load config you add a key for each individual called `'bam_file': str`.
So in to take the demo file as an example it would look like:

[code]

[2018-02-05 10:23] 4WGH opened #730 "PANEL VERSION TO FIX - IMPORTANT"
Hi
I did an update of the IEM panel from v11 to 12.
I've edded several genes
I needed to so some extra edit and the versioning went up to 14, even if in the updated I've choosen v12.

Could you please change the version from  14 to 12?

Thanks!
Michela

[2018-02-05 11:26] 1ctw opened #731 "Missing variants in mtDNA"
We have decided that all variants in mtDNA should be loaded in Scout in all cases. It has been like that for a while, but now they are not there anymore. One example is 17137 which has only one variant in mtDNA loaded. There are also cases, example 131, which has only variants in coding regions loaded but the ones in non-coding regions are missing.

[2018-02-05 12:26] moonso commented on #731
@henrikstranneheim can you check how the VCF:s looks like for these?

[2018-02-05 15:00] moonso commented on #731
Ok then I guess we have some kind of bug

[2018-02-05 18:32] moonso commented on #730
Fixed

[2018-02-05 18:32] #730 closed

[2018-02-06 08:56] golivag opened #732 "Can't login because address is not witelisted for admin user"
Hi,
on a fresh installation of scout, when I try to login as an admin user I get:
"your email is not whitelisted, contact admin."
Regards

[2018-02-07 07:35] patrikgrenfeldt commented on #732
You may want to try to do the 'demo' mode to learn if scout is set up in
such a way that it can start at all.

Have you whitelisted your user via the scout CLI?

If unsure, you might try: 'scout --help' to learn how to use the CLI

BR
Patrik Grenfeldt
Clinical-Genomics

Den 6 feb. 2018 9:56 fm skrev "golivag" <notifications@github.com>:

[2018-02-07 13:01] golivag commented on #732
Hi Patrik,
thank you very much for your comment.
I already played with the demo version of scout.
I have added the user and made him admin and I can see it with:
scout view users
But I can't find any command to update the whitelist, on the documentation, the inline help of the cli and browsing the source code.
Can you please tell me how do I add a user to the whitelist by using the command line?
T

[2018-02-07 14:13] patrikgrenfeldt commented on #732
Hi,
If you just change the demo user to have your own user info, can you then
log in into the demo setup?
BR
Patrik

Den 7 feb. 2018 2:01 em skrev "golivag" <notifications@github.com>:

[2018-02-07 14:55] golivag commented on #732
Hi Partrik,
the demo site and the development site are on two different databases; I can log in as clark.kent@mail.com in the demo site, but I cannot log in in the development site.
Do you want me to change the email field from clark.kent@mail.com to my address in the user collection of the demo database? Why?
Thank you very much for your help

[2018-02-07 15:04] moonso commented on #732
Hi, perhaps @robinandeer could say something about this

[2018-02-07 16:43] patrikgrenfeldt commented on #732
Ok, maybe that doesn't make sense in that case.
Do you know the status of your database connectivity from the Scout app?
Have you tried applying the authentication setup used in the demo setup?

BR
Patrik

Den 7 feb. 2018 3:56 em skrev "golivag" <notifications@github.com>:

[2018-02-07 17:41] golivag commented on #732
Since scout view users and institute works, I'm assuming there is no problem with the db connectivity. I don't use any particular setup in the demo I just use scout --demo serve, and this has no authentication: you only specify the email address and get in.

[2018-02-09 09:00] patrikgrenfeldt commented on #732
Yes, database connectivity seems fine, since you installed Scout for development I assume you have some development experience and can debug the auth of your user in Scout? I suggest that you might go for the auth-setup in the Demo setup unless you are working with real patient data or have any production setup.
Does it make sense?

[2018-02-09 11:32] 1ctw commented on #731
Now you have done some changes in the presentation av mtDNA, that connect the mutations to all possible transcripts. This makes the analyzing of mtDNA in Scout almost impossible. Could you please check this out and change this back...

[2018-02-09 15:55] dnil commented on #714
1. It is indeed preferable to keep it generated from the merged file. For now, it is best if a manual assessment is made as to if an aberration could influence a gene. This avoids unncecesary mistakes in leaving genetic disorders or known CNV-syndromes etc out of a gene list if a single causative gene is not known.

2. As discussed elsewhere, lets start with a crude filter on frequency in current

[2018-02-12 10:31] moonso commented on #732
Hi @golivag , I've tried to replicate your problem without success.
Could you please repeat the commands you used to get this problem?
How did you install scout, what version are you using?

[2018-02-12 10:33] moonso commented on #687
I break out the frequency part to another issue and close this one

[2018-02-12 10:33] #687 closed

[2018-02-12 10:33] moonso opened #733 "Parse frequencies from VEP"
VEP 87
------
**GMAF** - 1000G all popluations combined
**xxx_MAF** - 1000G (or NHLBI-ESP) individual populations
**ExAC_MAF** - ExAC all popluations
**ExAC_Adj_MAF**- ExAC all popluations (adjusted)
**ExAC_xxx_MAF** - ExAC individual populations
[http://dec2016.archive.ensembl.org/info/docs/tools/vep/vep_formats.html](http://dec2016.archive.ensembl.org/info/docs/tools/vep/vep_formats.html)

VEP 9

[2018-02-13 08:51] moonso commented on #733
@PeterARBork @bjhall @dnil I will only support the 90 annotation since the code will be awful if we need to support both.
I don't have a larger file with information on how the VEP entries may look like so I will assume the keys above and that the value is only a float.
If you have an example VCF with more variants or any other information please inform me.

[2018-02-13 08:56] PeterARBork commented on #733
@moonso you have my support for supporting vep 90 and disregarding the earlier versions.

[2018-02-13 13:46] moonso commented on #733
Fixed in #734

[2018-02-13 13:46] #733 closed

[2018-02-13 14:04] #726 closed

[2018-02-13 15:09] bjhall commented on #733
@moonso

I checked some larger VCFs and unfortunately spotted a problem... All of the *AF fields are strictly floats, except for "AF" (1000G).

In rare cases (always for INDELs as far as I can tell) this field will contain two values separated by an &. For example "0.0791&0.07905". The weird thing is that they appear to almost always be the same value, just with different precision (4 vs 5 decimal

[2018-02-13 19:13] moonso commented on #733
Hmm ok, we should post an issue on VEP:s GitHub.
I think I wrote a try catch for this but we would still loose information.

[2018-02-14 09:32] moonso commented on #731
@1ctw I do not really follow here, what do you mean?
Should we not display all transcripts that a variant affects?

[2018-02-14 10:01] moonso commented on #731
I'm closing this issue since I have fixed the problem with missing mt variants, they should all be uploaded. If there is another problem please open a new issue.

[2018-02-14 10:01] #731 closed

[2018-02-14 11:50] 1ctw opened #737 "mtDNA variant presentation in Scout"
Sorry for not being clear in my first issue (#731). I wrote transcripts but meant genes in this case. MtDNA only has one "transcript" despite all genes.

All cases, analyzed after you fixed the problem with the missing mtDNA variants, are now presented really strange in Scout.

Since mtDNA only has one transcript all variants have earlier only been showed connected to one gene. Not all other upstr

[2018-02-14 13:09] moonso commented on #737
Hmm ok I understand that it is a problem, it is hard to see anything there. This is also a MIP issue since scout displays what MIP is annotating. We need to discuss with @henrikstranneheim how to solve this and if it should be solved in MIP or Scout.

[2018-02-14 14:01] henrikstranneheim commented on #737
It is odd. It has to do with VEP and a specific setting for MT. We have not (should not) have touched this for quite some time. I will have a look

[2018-02-14 15:24] henrikstranneheim commented on #737
The problem was a VEP plugin had been overwritten due to a bad way of using curl in the production setting. I have restored the plugin and tested it and now it seems to work well. **NOTE:** Analyses that has passed the VEP step, but is still not uploaded into scout will still have too inclusive annotations, but all analyses prior to VEP but already started will benefit from the change.

[2018-02-14 15:24] #737 closed

[2018-02-16 15:06] northwestwitch opened #739 "Scout load demo panel and case fail in master"
Demo files were moved from tests/fixtures to scout/demo so they can't be found when attempting to following instructions in the README page

[2018-02-16 15:11] #739 closed

[2018-02-17 12:00] moonso opened #740 "Error when diagnosing case"
[code]

[2018-02-17 15:20] moonso opened #741 "Error when updating gene panel"
[code]

[2018-02-19 15:34] northwestwitch commented on #606
Ok, some comments. My idea, as I also mentioned during the meeting on Friday, is to create a required "Variant" sheet + an optional "CaseData" sheet. According to the instructions you either have the aggregate data of all all samples showing  a variant in the "Variant" sheet or you provide "CaseData", with one line per subject. I'm doing the latter.

I'm finding several things in Scout but I still

[2018-02-19 19:32] moonso commented on #733
Great job!

[2018-02-20 13:53] moonso commented on #696
Could anyone have a look on this one @emmser or @emiliaol ?

[2018-02-21 06:00] emmser commented on #696
Now correct
[17094-180102.pdf](https://github.com/Clinical-Genomics/scout/files/1742969/17094-180102.pdf)
When I looked in the old tickets for this case, I found a ticket regarding this problem (355180). It says that this was only a problem for the coverage report and not for the analysis.

[2018-02-21 07:11] moonso commented on #733
Btw, did anyone try this?

[2018-02-21 08:30] moonso commented on #696
Ok can you close then?

[2018-02-21 08:37] #696 closed

[2018-02-21 08:50] henrikstranneheim commented on #695
Here are the header from clinvar:
[code]
and some vcf info fields:
[code]

Here is an address for linking to the hompage:
https://www.ncbi.nlm.nih.gov/clinvar/variation/95677/

where: 95677 is the CLNVID.

[2018-02-21 13:23] henrikstranneheim opened #742 "Gene annotation displays integers instead of symbol"
Gene: 28546
https://scout.scilifelab.se/cust003/17063/7ef63145cb03f6a30d52673a947e2eb0

[2018-02-22 10:25] ingkebil commented on #741
[code]

[2018-02-22 10:44] moonso commented on #741
Yes I also got this, do you have any idea what happened when the error occurred?

[2018-02-22 13:04] PeterARBork commented on #733
I just loaded a vcf with only vep annotations, but found no variants in Scout - probably because there's no Gene.refGene field in the vcf. Does that sound about right, since I didn't annotate with annovar or other tools?

Is Scout already supporting gene identifier annotation from vep or could it do so in the future?

[2018-02-22 13:22] moonso commented on #733
Scout parses hgnc ids from VEP. Sounds weird. You can email me a reduced version of the file if you don't get any progress

[2018-02-22 13:37] PeterARBork commented on #733
Here's a few of the lines in the vcf:

[code]

Here's the panel:
[code]

I've been playing with panels also, but in this case I thought the SDHB variants should appear in scout?

[2018-02-22 13:56] KickiLagerstedt opened #743 "Something wrong with scoring?"
If we summarize the scores for this variant we and up with 16 - but SCOUT ends up with 10.
Is there something wrong - or something we do not understand?

https://scout.scilifelab.se/cust002/F0016058/27f034804a71d67cdeb01f343dc853ad

[2018-02-22 15:53] bjhall commented on #733
Your VCF is missing a lot of important VEP fields. Consider using --everything

@moonso I will test this on our setup next week! I'm on paternity leave and travelling at the moment...

[2018-02-22 16:18] ingkebil commented on #741
Nor really. I remembered you had opened an issue non this and that the input that causednthe error was different than the one I just posted. So its just some more information.

[2018-02-22 16:22] moonso commented on #742
My guess is that the gene is not present in the Scout definition

[2018-02-22 16:27] moonso commented on #743
Hi @KickiLagerstedt the reason for the penalty is that the variant only follows AR_comp and AD and since all compounds are low scoring it get -6.
This discussion comes back sometimes, the reason is that if the variant had no compounds it would be considered uninteresting. And since all compounds are uninteresting the variant is uninteresting.
Does that make sense?

[2018-02-22 16:27] #743 closed

[2018-02-22 16:28] moonso commented on #741
This is almost exactly the same issue, the problem is the input format.
This is a perfect issue for @patrikgrenfeldt or @northwestwitch to start with

[2018-02-22 16:29] dnil commented on #743
Unfortunately the disorder in question is dominant..

[2018-02-22 16:33] moonso commented on #743
I understand, when we decided this rule we where aware of that problem. It is a compromise since if we would not follow this rule the list would be flooded with uninteresting variants. I think the reasoning was that if one is looking for a dominant variant a trio is chosen. It's super hard to find a dominant variant in a single case right?

[2018-02-23 07:16] northwestwitch commented on #741
I can take a look at it!

[2018-02-23 07:31] moonso commented on #741
Thank you @northwestwitch ! Just shout at me if you need any help. I'm not sure but I would recommend you to look at https://flask-wtf.readthedocs.io/en/stable/

[2018-02-23 10:44] 4WGH opened #745 "date on delivery report is not updated"
I look into fam 17074
the are 2 delivery report dated
2017-06-02
2018-02-02

inside the date in both of them is 2017-06-03
and they look identical. is this OK?

Michela

[2018-02-23 11:42] 4WGH opened #746 "Add button for remove sanger"
how can  I remove a Sanger order?

[2018-02-23 11:43] 4WGH commented on #746
See fam 18021. we would like to remove the  Sanger order on the  variant on VPS11, but keep the  variant pinned.

[2018-02-23 11:48] northwestwitch commented on #740
This looks similar to the other, I believe I can fix it!

[2018-02-23 12:43] moonso commented on #740
👍 👍 👍

[2018-02-23 12:46] #741 closed

[2018-02-23 14:07] moonso opened #747 "Error when not authenticated"
[code]

[2018-02-23 14:08] moonso commented on #747
We should write something that takes care of
[code]

Another one for @northwestwitch ? 👀

[2018-02-23 14:24] northwestwitch commented on #747
Don't get too used it :)

[2018-02-23 18:35] #740 closed

[2018-02-23 18:37] moonso commented on #746
Hi,

we don't have any functionality for that implemented

[2018-02-25 12:40] PeterARBork commented on #733
Alright it works when using --everything.

It would be great with some specifications or an example of how you annotate the vcf's, to make them ready for Scout.

[2018-02-25 14:48] moonso commented on #733
👍 sure @PeterARBork I'll make a new issue for that.

[2018-02-25 14:56] moonso opened #749 "Document VCF annotation"
We should document the whole workflow for vcf annotation to get the most out of Scout

[2018-02-26 06:27] emmser commented on #745
The delivery report function disappeared in the update in September 2017, so the report is the one that was created in June. We are working hard to get the delivery report function back as soon as possible. We're sorry about this and hope for this to work during the nearest weeks.

[2018-02-26 06:27] #745 closed

[2018-02-26 11:58] #747 closed

[2018-02-26 18:36] northwestwitch commented on #698
I'll try to fix this one!

[2018-02-27 07:16] moonso commented on #698
👍

[2018-02-27 07:58] PeterARBork opened #751 "HGNC ID 3514 is not in the gene database"
[HGNC:3514](https://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=HGNC:3514) is not in the gene database.

When loading gene panels during a normal setup of the whole of scout, one of my new panels fail:
[code]

We'd like this gene in a gene panel. How do we achieve this?

Side note: where are the log messages? Nothing of interest to this was in the scout.log file.

Thanks.

[2018-02-27 13:39] PeterARBork opened #753 "Bam-file not loaded"
When looking at variants, Scout displays "Bam file(s) missing," even though I've added the bam-file to the case (and no messages are related to this in the logs).

The first part of the case file looks like this:

[code]

What can I do to debug?

Thanks.

[2018-02-27 13:56] ingkebil commented on #747
Got another email regarding this. I guess this hasn't been pushed to production?

[2018-02-27 14:04] northwestwitch commented on #747
Or it was not the solution, I don't know!

On Tue, Feb 27, 2018 at 2:56 PM, Kenny Billiau <notifications@github.com>
wrote:

[2018-02-27 14:59] moonso commented on #747
No it is not updated on the server

[2018-02-28 09:17] moonso commented on #751
Hi @PeterARBork , as you can see in the link that you posted EXT3 is not a gene but a phenotype.
You can also see that in the [OMIM](https://omim.org/entry/600209?search=EXT3&highlight=ext3) explanation it refers to a region and not a gene.
In general when genes are missing in Scout there are some typical things that has happened:

1. The gene is 'Withdrawn' in HGNC
2. The gene only exists in buil

[2018-02-28 09:17] #751 closed

[2018-02-28 09:20] moonso commented on #753
Could you post the complete message from scout? Is the bam file indexed?

[2018-02-28 09:20] moonso commented on #742
There is not much to do about this so I'm closing

[2018-02-28 09:20] #742 closed

[2018-02-28 10:01] PeterARBork commented on #751
@moonso thank you for your patience.

[2018-02-28 11:50] moonso commented on #751
Haha no problems😉

[2018-02-28 12:58] moonso opened #754 "Gene panel showing up on variant level even though gene is not present in panel"
A panel was updated by removing some genes. Then a case was reanalysed. For some variants on the genes that was deleted form the panel there was information that the variant belongs to the panel.
Crystal clear 🌟

[2018-02-28 14:15] #713 closed

[2018-03-01 12:54] barrystokman opened #755 "Reload samples into LocusDB"

[2018-03-01 12:54] barrystokman opened #756 "New LocusDB Dump"

[2018-03-01 13:03] moonso commented on #755
Please stop putting these issues in the scout repo. Second time it happens

[2018-03-01 13:03] #755 closed

[2018-03-01 13:03] #756 closed

[2018-03-02 09:04] 4WGH opened #757 "genes not deleted from panel!!! urgent"
Hi, in fam 18033 I filtered for IEM and EP I can see variants in the PAX8 gene and DUOX2 gene. these genes are in our ENDO lit not in the IEM version 12. these 2 genes were in version 11!
They do not appear in the IEM panel v 12 in Scout, however at the PAX8 variant level it states this gene is in the IEM panel too! and is coming up.
The panel list really used by Scout is still including these gen

[2018-03-02 09:36] northwestwitch commented on #754
Is this the same as in #757 ?

[2018-03-02 10:26] moonso commented on #757
Hi this is a bug already reported in #754 I will try to fix that asap, think we know what is wrong

[2018-03-02 10:26] #757 closed

[2018-03-02 10:54] 4WGH commented on #757
Good!

does this imply any othet issue?

Or is it restricted to deleted genes?

Michela+

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 2 mars 2018 11:26:28
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] genes not deleted from panel!!! urgent (#757)

Closed #757<https://github.com/Clinical-Genomics/sc

[2018-03-02 11:50] moonso commented on #757
No this would only affect deleted genes

[2018-03-02 15:13] #754 closed

[2018-03-07 08:27] #698 closed

[2018-03-07 10:15] moonso commented on #732
@golivag I'm closing this for now since there are many issues open. If the problem is still there please reopen with the information mentioned above.

[2018-03-07 10:15] #732 closed

[2018-03-07 14:08] NicoleCMMS opened #759 "Ensembl transcripts now in Scout???"
In a number of recently run samples we are getting hits high up in the rank score that come from ensembl transcripts.  As far as I can remember we have not seen this before.  Is there any explanation?  Here is an example: https://scout.scilifelab.se/cust003/14030/0fc8299e0ce74e90b5077ff35622d153

[2018-03-08 10:00] moonso opened #761 "Error when displaying manual rank"
[code]

[2018-03-08 10:01] moonso commented on #761
Should be a `get` when fetching `manual_rank`

[2018-03-09 13:12] b4ckm4n opened #762 "Quality of life: Buttons in left panel are too similar"
Hej!

This is a quality of life thing. The buttons in the left panel are a bit too similar, it is easy to press the wrong button (e.g. Request Rerun instead of View Report).

Maybe it's a good idea to color the buttons?

Best Regards,
Daniel

[2018-03-09 13:42] northwestwitch opened #763 "Add indication if variants for a case are in beacon"
So customers can see which cases are in beacon already from the scout case page. @moonso @henrikstranneheim @vwirta we want this right?

[2018-03-09 13:45] vwirta commented on #763
Sounds like a good feature to have, especially given that we would expect all unsolved cases (with consent) being uploaded in the end

----
Valtteri Wirta, PhD
Enhetschef / Head of unit, Clinical Genomics, Science for Life Laboratory
Department of Microbiology, Tumor and Cell biology, Karolinska Institutet
valtteri.wirta@scilifelab.se | +46 8 5248 1545 | Box 1031, 171 21 Solna
Visiting address: To

[2018-03-09 13:48] northwestwitch commented on #763
I agree, it was a good suggestion from @emmser @emiliaol and @b4ckm4n . They were in fact wondering how to know which variants are uploaded if the customer asks. This way the customer doesn't ask, because it shows on Scout!

[2018-03-09 18:24] henrikstranneheim commented on #763
👍

[2018-03-12 09:06] PeterARBork opened #764 "Feedback from clinicians"
Hi guys,
Last week I sat down with a couple of clinicians and we had a look at Scout. What follows is their feedback, intended to help you make Scout as useful as possible (for us). The order of comments is random.

- It's great that comments are visible from the list of variants.
- Entering percentages into the variant filters could be either as % or as decimal and its not clear which is required

[2018-03-12 10:12] PeterARBork commented on #753
I had a look at the code and found out that the config.yaml should have the line bam_path instead of bam_file.

https://github.com/Clinical-Genomics/scout/blob/bcf2d79db83ece780de68e6d4730d28678f837b3/scout/parse/case.py#L192

I now do get a link on the pages for the variants, but I'm taken to a page which looks like the one below without coverage etc. Is it because it expects the format to be pil

[2018-03-12 12:45] PeterARBork opened #765 "Loading SVs annotated by VEP fails"
Having just annotated a candidatesSV.vcf from MANTA with VEP using the command below, I started Scout with a single case given the path to the annotated vcf and ran into the issue seen in Scouts output below.

[code]

VEP annotation command:
[code]

Since it seems the key is an empty string, I think it might be a loose reading of the vcf or something similar which could be solved by removing keys

[2018-03-13 07:22] emiliaol opened #766 "Change the submission email for re-runs requested through scout"
Today the requests for re-runs are submitted to SuSy using RAs sciliflab email, we need to change that to a mail that won't dissappear soon.

[2018-03-13 12:02] northwestwitch commented on #710
Hi @dnil, I don't know if you discussed about this issue with someone else already but if nobody is doing it I can work on this. You want to display some HPO terms in the same table as the SVs ..?

[2018-03-13 13:35] northwestwitch commented on #699
I'll try to fix this

[2018-03-13 13:51] northwestwitch commented on #699
Nevermind I've found one!

[2018-03-13 15:40] #761 closed

[2018-03-14 06:57] dnil commented on #710
Thanks @northwestwitch!

It’s about connecting the HPO-queries over to the SV-view as well.

Let’s talk about this today; I’ve got a few things to sort at the clinic in the morning, but will be over at Clinical Genomics by 10.30 or so.

// Daniel

[2018-03-14 06:58] northwestwitch commented on #710
👍

[2018-03-14 07:50] moonso commented on #766
Sure that shouldn't be a problem. What email should we use? Yours @emiliaol ?

[2018-03-14 07:53] moonso commented on #765
@PeterARBork yes I think you are right. How comfortable are you with git and python? This would be an excellent start to contribute😃. Just add an `if` and create a pull request! If it look weird I can help out.

[2018-03-14 07:58] moonso commented on #764
Wow, you've come a long way then! I'm happy to hear that. I think it is important that you mention what kind of analysis we are talking about here. When reading some of your notes it sounds like you have looked at a cancer analysis? We have a basic track for that implemented in Scout, it needs more work and we hope a lot will happen there this year.

[2018-03-14 08:19] moonso commented on #764
👍

Aha i see your point, we have always used decimal here anything else would be quite confusing.

    - read depth of reference and alternative
    - mutation nucleotide and protein change
    - exac frequency
    - (Inheritance model was less interesting, so this could be replaced with the above).

This is highly dependent on the analysis type, which analysis type did you perform? Frequencies wi

[2018-03-14 08:23] moonso opened #768 "Add link to st jude protein paint"
Should be easy, the link is like https://pecan.stjude.cloud/proteinpaint/ADK

[2018-03-14 08:28] moonso commented on #759
Hmm we have used ensembl transcripts for a long time, what is the problem here? This particular transcript does not have a RefSeq id so we display the Ensembl id instead. Since there are no RefSeq transcripts affected in the gene this transcript is shown in the overview table.
What would you like to see in this case?

[2018-03-14 09:22] northwestwitch commented on #699
I've checked the code and this is more a cg bug than a scout one. I'll open an issue there as well. Correct me if I'm wrong but whenever an analysis is ready it is uploaded to scout via "cg upload". "cg upload" calls in turn all the other modules like validate, genotypes, observations, scout and COVERAGE. if you call "cg upload coverage" manually and you want to produce an updated coverage report

[2018-03-14 09:29] moonso commented on #763
@northwestwitch just keep in mind that there are users outside our setting that use scout. Try to make this as generic as possible

[2018-03-14 09:41] northwestwitch commented on #763
Yes, I agree. I was thinking about something like a label that appears only
for the cases in scout, otherwise you are not even aware of the option.

On Wed, Mar 14, 2018 at 10:29 AM, Måns Magnusson <notifications@github.com>
wrote:

[2018-03-14 13:15] #395 closed

[2018-03-14 13:15] #762 closed

[2018-03-14 13:15] #768 closed

[2018-03-14 14:04] #693 closed

[2018-03-15 07:38] patrikgrenfeldt commented on #493
"Hej,

MIP heter “tagen” på filen: “sv_rank_model”

Mvh
Henrik Stranneheim"

[2018-03-15 15:37] #710 closed

[2018-03-15 15:41] moonso commented on #493
What?

[2018-03-16 13:57] northwestwitch commented on #702
@moonso if you have not starting working on this one I can take a look at it!

[2018-03-16 14:06] moonso commented on #702
@northwestwitch yes please 🌾 🥋

[2018-03-16 14:10] moonso opened #774 "Way to update HPO terms"
There are new terms added so we need a way to update the HPO terms in scout

[2018-03-16 14:11] moonso commented on #702
The reason is that the term has been created after we updated the HPO terms in scout.
So the term is not in scout.
I've created a new issue #774

[2018-03-16 14:11] #702 closed

[2018-03-16 14:16] moonso commented on #774
There should be a command that says
```scout update hpo```
It should use requests to fetch the latest version of the HPO terms from http://compbio.charite.de/jenkins/job/hpo.annotations.monthly/lastStableBuild/artifact/annotation/ALL_SOURCES_ALL_FREQUENCIES_phenotype_to_genes.txt
There are functions in scout to parse build and load the terms.
https://github.com/Clinical-Genomics/scout/blob/master/

[2018-03-16 14:46] northwestwitch commented on #774
Hi, I think the problem of scout not finding HPO terms when they're in hpoweb is also related to the fact that certain terms don't have associated genes. This is the case of HP:0012335, and I think that the track used for updating scout is the one composed of HPO codes vs genes, so it lacks all those HPO terms with no genes. If it makes sense having in scout HPO terms not associated to genes than

[2018-03-18 19:53] moonso commented on #774
Hehe that sounds right. We need to find another source for HPO terms then.

[2018-03-19 14:34] northwestwitch commented on #774
We might always use one of the persistent URLs (like https://raw.githubusercontent.com/obophenotype/human-phenotype-ontology/master/hp.obo). It would be quite easy to parse this one actually, but I wonder how this would affect scout. For instance whenever it is called a subroutine that does stuff with a gene list of an HPO terms, and we have those. We have to be careful and test well before, other

[2018-03-20 05:33] northwestwitch commented on #699
Thisbug was fixed in cg https://github.com/Clinical-Genomics/cg/issues/95. I close this issue.

[2018-03-20 05:33] #699 closed

[2018-03-23 07:56] moonso opened #775 "Translate HPO terms to Swedish?"
Hi, Human Phenotype Ontology have a project where the terms are translated to different languages. I know there has been these discussions earlier that medical doctors are used to Swedish terminology. Perhaps we could start an effort to translate the terms.
If you want I can contact them here https://github.com/Phenomics/HPO-translations

[2018-03-23 11:23] KickiLagerstedt opened #776 "Inheritance pattern (OMIM) wrong in SCOUT"
https://scout.scilifelab.se/cust002/F0016063/c82efc7cc7d258cccea13b53a9a937b6

According to OMIM this disease is AD but in SCOUT annotated as AR

[2018-03-23 15:00] 4WGH opened #777 "coverage report missing one family member"
in this fam F0003928 (trio!)
the coverage report show the results for only for the index patient (2016-04539) and his father (2016-04541).
it is missing for the mother (2016-04541).

a bug?

Michela

[2018-03-23 15:02] northwestwitch commented on #777
On it!

[2018-03-23 15:07] 4WGH commented on #705
Fully agree!
I think each panel should have admin person and not that all users can access and change them. :+1:

[2018-03-23 15:11] northwestwitch commented on #777
Try now!

[2018-03-23 15:38] #777 closed

[2018-03-23 15:59] 4WGH commented on #777
working ! thanks

Michela

________________________________
Från: Chiara Rasi <notifications@github.com>
Skickat: den 23 mars 2018 16:11:07
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] coverage report missing one family member (#777)

Try now!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitH

[2018-03-23 16:01] northwestwitch commented on #777
Prego! Buon weekend! :)

[2018-03-23 16:02] 4WGH commented on #777
anche a te 🎈

________________________________
Från: Chiara Rasi <notifications@github.com>
Skickat: den 23 mars 2018 17:01
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] coverage report missing one family member (#777)

Prego! Buon weekend! :)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHu

[2018-03-26 08:44] dnil commented on #776
Nice! Any idea what brought this one about in the first place? Error in a particular OMIM morbid snapshot or sth else?

[2018-03-26 08:48] northwestwitch commented on #776
I was checking if the entry was modified in OMIM lately but I haven't found any "history" option so far. But I'll let you know if I find out!

[2018-03-26 08:50] northwestwitch commented on #776
Naaa it hasn't been modified since 2011, so the error must be by our side!

[2018-03-26 08:53] dnil commented on #776
Still, what is on the OMIM pages and what is in their exported files is not 100% identical. Otherwise a parse error on load?

[2018-03-26 09:18] northwestwitch commented on #776
I don't know, but I've registered to omim to be able to download all files, not just "mim2gene.txt" from here https://www.omim.org/downloads/. Once they approve me I'll check if there is an error in their files (I really hope so!!)

[2018-03-26 09:37] northwestwitch commented on #776
The error is in their file (genemap2), where under phenotypes there is written "autosomal recessive" instead of dominant. This is the line:

chr3 | 111542078 | 111665995 | 3q13.13 | 3q13.1-q13.2 | 606037 | CD96, TACTILE | CD96 antigen | CD96 | 10225 | ENSG00000153283 |   | C syndrome, 211750 (3), Autosomal   recessive | Cd96 (MGI:1934368)
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2018-03-26 09:37] #776 closed

[2018-03-26 09:38] henrikstranneheim commented on #776
👍

[2018-03-26 09:55] dnil commented on #776
*phew* Ahem, as suspected! Thanks - good job!

[2018-03-26 10:05] PeterARBork commented on #765
I contribute python via git at my other job, so I'm reasonably comfortable with both.

First I removed the empty functional annotations to get rid of the KeyError, and the KeyError disappeared. I did this by adding the line
`functional_annotations = [a for a in functional_annotations if a is not '']`

Everything seemed to work, until I accessed the SV variants webpage, which gave an internal serve

[2018-03-26 13:44] keyvanelhami opened #778 "Different coverage report uploaded in scout"
When uploading a family in Scout, one can get two different values in the coverage reports on the different level of coverage.

For example if clicking on the "View report" in Scout, the values for the different coverage depth will be shown. If the URL link is copied and pasted in a new tab, all values will change and totally new coverage values will been shown. The same appear for the covered tra

[2018-03-26 14:52] northwestwitch commented on #778
I've found the reason why the report seems to acts weird. Whenever you click on the coverage report button from scout you pass a gene list to chanjo_report and this list is used to calculate the coverage I guess. See the first figure: there's a lot of genes passed to the page for panel 1.

<img width="984" alt="screenshot_0" src="https://user-images.githubusercontent.com/28093618/37913442-29d4bab2

[2018-03-27 12:35] PeterARBork commented on #749
Upvoting @moonso. Of all the items we care about here at børneonkologisk laboratorium at Rigshospitalet, this would make the biggest difference to us. I think most of the issues that I've raised here on Scout's github arise because we treat the vcf's in slightly different ways after variant calling.

If you can provide the sequence of commands you apply to freshly called vcf-files,* I will quickly

[2018-03-27 13:43] northwestwitch commented on #778
I have fixed the issue, now I just have to know where I should I do the pull request: on our forked chanjo-report repository on clinical genomics (see the new branch), or the original. See here: https://github.com/robinandeer/chanjo-report/issues/29  .

[2018-03-28 09:56] northwestwitch commented on #778
There is a problem with the release version of chanjo-report running on clinical-db. The installed version is in fact version 3.0.something while the updated one is 4. The fix I wrote does not apply to the old version at all so this bug is not fixable until we do a major upgrade of chanjo-report (and scout?). We'll fix it but for the time being keep in mind that if you are interested on the covera

[2018-03-28 13:37] northwestwitch commented on #776
I just got a reply from OMIM confirming that the new version of genemap2 doesn't have the error, so when we update the OMIM definitions is fine!

[2018-03-28 13:43] patrikgrenfeldt commented on #732
Did you check out the FAQ? http://www.clinicalgenomics.se/scout/faq.html

[2018-04-03 11:20] barrystokman commented on #700
We need to have MIP6

[2018-04-05 13:43] KickiLagerstedt opened #780 "Genotyping wrong?"
https://scout.scilifelab.se/cust002/F0001621/eb3195743b234c53c9833e3a61067258

According to GT call 210-1-1A is heterozygous - but when I look at alignment it seems that 210-2-1U is a carrier....????

Is something wrong with the analysis?

[2018-04-05 15:01] dnil commented on #780
Looks scary.. Family presumably ok as confirmed e.g. by inheritance on X and parenthood test.
The variant is only displayed for FreeBayes - is that were something went sour?

[2018-04-06 05:57] #774 closed

[2018-04-06 06:05] moonso commented on #780
Hmm it certainly looks wrong... I can not understand why not all variant callers called 210-2-1U??
Do you have any idea @henrikstranneheim ?

[2018-04-06 06:15] moonso commented on #759
I'm closing this, please reopen if there are any questions.

[2018-04-06 06:15] #759 closed

[2018-04-06 06:22] moonso opened #781 "CHANGELOG + Contributing"
We should keep a changelog to make it more transparent what the features are coming up in new releases and to keep a history of releases.
Also we should have a file that describes how to contribute to Scout

[2018-04-06 08:25] moonso commented on #781
Fixed

[2018-04-06 08:25] #781 closed

[2018-04-06 08:36] moonso commented on #780
Hi, ok me and @vwirta have done a small investigation now and this is going to be very technical.
I think that this problem has occurred during the splitting of the original VCF. If that is true we really need to take some action because then the splitting does not work as expected.

When we look in the VCF there are 3 different variations, 2 on position 6458993 and 1 on 6458994, this is most prob

[2018-04-11 10:48] dnil opened #784 "PanelApp again"
It's panel update season again, and we are doing a lot of comparing to PanelApp. It is maturing well, and may be time to add import to Scout. We tentatively think "level 3" aggregation is a good panel level, and important to be able to pull only "Green" reviewed gene symbols.

API instructions available [here](https://panelapp.genomicsengland.co.uk/#!Webservices).

[2018-04-11 12:13] 4WGH opened #785 "only E! transcript for a variant when it is on a NM_ transcript"
https://scout.scilifelab.se/cust003/18045/063a5d00d6f7850a5bb1cfcd132f82f3

the variant is on this transcript (NM_006086) when I follow the UCSC link in Scout but the NM number  doesn't come in scout
 a simple bug ?

[2018-04-11 12:32] moonso commented on #785
Hi @4WGH , the transcript NM_006086 only exists in build 38 in the ensembl database. This is why ot does not show up here.

[2018-04-11 12:32] #785 closed

[2018-04-11 12:33] moonso commented on #784
Hi @dnil , I have played around with the API before and it should be fairly easy to add a functionality to scout. Perhaps we can discuss more on Friday?

[2018-04-11 12:50] 4WGH commented on #785
thanks

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 11 april 2018 14:32:46
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Mention
Ämne: Re: [Clinical-Genomics/scout] only E! transcript for a variant when it is on a NM_ transcript (#785)

Hi @4WGH<https://github.com/4WGH> , the transcript NM_006086 only exists in build 38 in the ensembl datab

[2018-04-12 09:04] dnil opened #786 "Polyphen missing for most cases?"
We seem to be missing polyphen calls for most cases. If this is intended, perhaps time to drop that line from the interface, otw time to troubleshoot! VEP, loading, ...?