[2018-04-12 09:14] dnil opened #787 "Nucleotide repeat expansion (STR) view"
ExpansionHunter is almost ready in MIP (see eg https://github.com/Clinical-Genomics/MIP/issues/252) so soon time to add a view for STR VCFs. Potentially ranked (https://github.com/moonso/genmod/issues/84), but as long as we stay with known clinically relevant, they will fit on a page in list view anyway.

- [x] load STR VCF
- [x] STR variants list view
- [x] STR variant view

[2018-04-13 12:40] dnil commented on #786
Tentatively not a scout problem: plenty of missing polyphen annotations in VCFs, and at least in dev version, polyphen loads ok for a variant.

[2018-04-13 20:56] henrikstranneheim commented on #786
It is an old problem with the VEP cache (not related to MIP - actually we pointed it out to them :), it is been around a while and have been fixed now by VEP. It will be present again with MIP v6.0.0.

[2018-04-13 21:05] henrikstranneheim commented on #787
Yeah, we are practically done (just merged) thx to @jemten . We have now put them in the SV vcf with no special treatment in the rank model. They are so few that it seems unnecessary, what do you think? We were think that these could be detected in the loading phase and added to a separate collection for display in the STR views. Let's discuss the best approach @dnil @moonso .

[2018-04-14 16:57] #786 closed

[2018-04-15 06:27] henrikstranneheim opened #789 "Evaluate other Decision Support Tools"
https://amelie.stanford.edu/

https://www.biorxiv.org/content/early/2017/08/02/171322

[2018-04-18 08:44] moonso commented on #753
We are only using bam-files so it should work...

[2018-04-18 08:57] moonso commented on #778
@northwestwitch can we close this since it is chanjo-related and not scout-related?

[2018-04-18 08:58] moonso commented on #766
@patrikgrenfeldt could you fix this since you've just worked on that part of the code?

[2018-04-18 09:00] moonso commented on #765
Hmm I do not recognise this problem. Could you provide us with some more information? Like how the VCF looks like? Or have you found out any solution for this?

[2018-04-18 09:04] moonso commented on #667
Closing since I can not find where this is described. Also this might be replaced by #789

[2018-04-18 09:04] #667 closed

[2018-04-18 10:12] #570 closed

[2018-04-18 10:13] #561 closed

[2018-04-19 02:45] northwestwitch commented on #778
Yes, I'm closing it!

[2018-04-19 02:45] #778 closed

[2018-04-20 06:50] moonso commented on #746
Fixed in #788

[2018-04-20 06:50] #746 closed

[2018-04-20 06:59] moonso commented on #780
So @henrikstranneheim has traced the issue back to freebayes where for some positions freebayes mixes the individual genotype calls. This is terrible of course and we need to investigate further when and why this happens.

Fortunately GATK and samtools does not do this so the correct variant is present in our data, we will NOT miss anything.

Well spotted @KickiLagerstedt 😸

Closing here since th

[2018-04-20 06:59] #780 closed

[2018-04-20 07:48] 4WGH commented on #746
how does it work?

Michela

[2018-04-20 07:55] moonso commented on #746
It will be obvious when we install the updated code

[2018-04-20 08:54] 4WGH commented on #746
great!

you closed the issue so I though all was ready, but so it is not 😊

when it is goign to be?

thanks

Michela

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 20 april 2018 09:55:21
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] Add button for remove sanger (#746)

It will be obvious when we inst

[2018-04-20 09:11] moonso commented on #746
Yes it is a bit confusing, we have solved the issue but we need to update the code on the server for you  to see it. In the future we will update often, like once per week. At the moment we are waiting for some things before we can update but we will soon...

[2018-04-24 12:53] northwestwitch opened #791 "Add ranking ranges to Rank score results"
Suggestion from @KickiLagerstedt:
At the variant level, Rank score results table, it would be better to know where the tank score numbers lay. For instance: Splicing: 3 (out of?), Consequence: 5 (range?). it would help to understand the weight that the scoring has on the ranking sum.

[2018-05-04 07:22] 1ctw opened #792 "Visa alla varianter i mtDNA i Scout"
Enligt tidigare diskussion med Henrik och Anders önskar vi att alla varianter i mtDNA (m.1 till m.16569) ska presenteras i Scout. Anders har i testfall tagit fram alla varianter, d.v.s. även de som saknar transkript.

Se även nästa issue som jag kommer skapa angående mtDNA, där vi önskar möjlighet att ta ut en rapport på alla varianter i mtDNA.

[2018-05-04 07:34] 1ctw opened #793 "mtDNA variant report"
Enligt överenskommelse på ett möte 2018-03-29 mellan Nicole och Chiara skapar jag nu en issue för önskemålet att få ut en rapport med mtDNA-varianter från Scout.

Bifogar en excelfil med som visar vilka delar vi behöver få ut i rapporten.

Vi önskar en rapport i excelformat.
Titel på rapporten ska innehålla "Sample name" från Scout.
Icke-kodande delar får bli tomma i kolumnen för "Gene".
Icke-prot

[2018-05-04 07:38] dnil commented on #792
any chances of getting some annotation along with that? Eg ClinVar or some such source indicating previously known pathogenic positions for us that do not know them by heart? 😊

[2018-05-04 08:12] 1ctw commented on #792
Vissa mtDNA varianter finns i ClinVar men det lägger vi ingen vikt vid i vår bedömning, då det sällan stämmer. Vi behöver fortsättningsvis göra en manuell bedömning av alla varianter. Det verktyg vi har är Mitomap.org. Där finns en del varianter som har status "Confirmed", som vi räknar som säkert patogena, men även en stor mängd varianter som har status "Reported", som oftast slutar i en tolkning

[2018-05-04 08:35] 1ctw commented on #792
Detta är exempel på utdrag från Mitomap. Nu tog jag ut dem i .pdf format men de går att få som .csv eller .xls m.fl.

Den information som finns här är alltså vilken status den har i Mitomap och vilken "GB frequency" den har. Den visar också om tidigare påvisade fall har varit i heteroplasmi eller homoplasmi. För varianter i mRNA visar den också en kolumn för hur prediktionsverktyget "MitoTIP" har

[2018-05-07 07:29] northwestwitch commented on #793
AD Reference and AD Alternative is the number of reads with with either the reference of the alternative allele?

[2018-05-07 07:40] 1ctw commented on #793
I mean the part shown under GT call in Scout, number of reads of Reference or Alternative allele. From this we can quantify the level of heteroplasmy of a heteroplasmic mutation.

![bild](https://user-images.githubusercontent.com/15033593/39690317-edf00a98-51d9-11e8-95e9-aefd0616bacf.png)

I will get back to you regarding your first question after discussion with Nicole. I will meet her after lunc

[2018-05-07 07:43] 1ctw commented on #793
Please also see my other issue #792. We will need all variants in mtDNA to be loaded in Scout to get a report with all information about mtDNA.

[2018-05-07 07:53] northwestwitch commented on #793
Ok, thanks for the explanation! When we had that meeting on the 2018-03-29 I remember I was told that all mtDNA variants are already loaded into scout now, so that would not be an issue!

[2018-05-07 08:58] 1ctw commented on #793
Sorry but that is an issue! Nicole had missed that they are not. We have got all variants in some test cases manually from Anders but they are not in Scout. The variants in the D-loop region of mtDNA are missing in Scout. The D-loop region contains essential transcription and replications elements that could be of importance, but this part does not have transcripts and are not picked up.

The miss

[2018-05-07 09:38] northwestwitch commented on #793
Ok, I was sure that the whole MT contig was uploaded to scout. @moonso are we excluding regions from this chromosome for some reason?

[2018-05-07 11:07] 1ctw commented on #793
Now I have mentioned your first question to Nicole. CMMS has at the moment no wish to export all variants from chromosomal regions except mtDNA.

If you feel it is necessary we could have a meeting next week to explain exactly what we want in the export and why we need it?

[2018-05-07 11:38] northwestwitch commented on #793
Hi again, the idea of exporting variants from custom regions was entirely mine so I don't know if there is an actual need for it. I guess I have to discuss about it with my colleagues and see if it could be useful for other groups. I reasoned that it would have been convenient to have a general export since to export variants mapping to the mitochondria or other chromosomes would require the same

[2018-05-11 08:02] 4WGH opened #795 "no access to SCOut _ PRIO PLEASE!!!!!"
this the message:

*****
Anslutningen avbröts

Servern på scout.scilifelab.se svarar inte.

    Webbplatsen kan tillfälligt vara nere eller upptagen. Försök igen om en stund.
    Om du inte kan öppna sidor, kontrollera datorns nätverksanslutning.
    Om datorn eller nätverket skyddas av en brandvägg eller proxy, kontrollera att Firefox har tillstånd att ansluta till webben.
******

I would appreci

[2018-05-14 07:56] 1ctw opened #796 "BAM files missing"
After the problems with Scout on friday, all(?) cases are missing their BAM files. It is not possible for us to check alignment.

[2018-05-14 13:40] ingkebil commented on #796
Should be fixed now!

[2018-05-14 13:40] #796 closed

[2018-05-14 14:47] northwestwitch commented on #795
The problem is solved now so I'm closing the issue. Sorry for the inconvenience!

[2018-05-14 14:48] #795 closed

[2018-05-15 14:18] ingkebil opened #797 "migrate cases"
When a case from 'scout archive' is rerun, all comments from that case should be migrated to the scout in production. This used to be achieved with `migrate-cases.sh` which is now defunct.

Is this functionality still needed?

[2018-05-15 14:38] northwestwitch commented on #797
I'm sure, but we could handle the migration in some other way, directly at the moment of the upload of the new variants perhaps. Let's discuss about it tomorrow.

[2018-05-16 07:00] moonso opened #798 "Limit number of compounds for SVs"
The number of compounds retrieved grows to big if there are many variants in a gene that is requested or if the SV spanns many genes.

**Action**
Add a sort and limit to the query when getting compounds for svs

**Solution**
[code]

[2018-05-18 08:49] moonso opened #799 "HPO terms should be presented in relevant order when searched"
At the moment, when one searches for a broad term the terms lower down in the tree might show up early in the list of results and clog it

[2018-05-18 12:43] moonso commented on #797
https://github.com/Clinical-Genomics/scout/blob/master/scripts/transfer-archive.py

[2018-05-21 09:15] henrikstranneheim commented on #793
The entire MT contig is analysed regardless of transcript info and I also think that Scout should load all variants regardless of transcript info. However, If you are in the clinical part the region most probably have to be part of a gene panel. If the D-loop is not included in a gene panel it will not be shown (my guess). @moonso Can you confirm this!

[2018-05-21 11:16] moonso commented on #793
Hi, we have implemented that all variants from MT should be loaded. Just like it is with many other problems we have solved, this is not working since the code on the server has not been updated in a long time. Clinical Genomics is working hard on solving that at the moment. As soon as the new version is deployed all mt variants will be loaded.

Regarding the report I think this should be a small

[2018-05-21 12:18] northwestwitch commented on #793
@moonso we can discuss about it but personally I don't think the general case report and the MT variants should go together.
First reason is that not all users that want to generate a case report would like to see the MT variants (or general variants from genomic coordinates) in it. I think the idea of the case report is to show phenotype-related data and ONLY the variants of interest (marked in a

[2018-05-21 15:08] moonso commented on #793
Hi @northwestwitch , I totally agree😃 Just thought that you might be able to reuse some code from #800 so when implementing that you could have this in mind.

[2018-05-22 06:53] 1ctw commented on #793
I agree that mtDNA report should be something else than the general case report. The mtDNA report needs specific information in a special format to be able to be imported in our LIMS.

Do I understand you right @moonso:
Will we get all variants in mtDNA (even the ones in D-loop) in the next version of Scout, even in the clinical part? What is the time plan for this?
Can we today be 100% sure that

[2018-05-24 07:25] moonso opened #803 "Update display name for Institute from CLI"
- [x] Add cli functionality
- [x] Add tests
- [x] Update docs

[2018-05-24 10:51] #803 closed

[2018-05-24 11:32] KickiLagerstedt opened #805 "Delivery report?"
Can not find this report any more - has it been removed by accident of by choice?

// Kicki

[2018-05-29 06:41] northwestwitch commented on #805
Hi! We made some changes in the code and the delivery report creation is one of the things we are still working on. For the time being delivery reports are not created automatically ( we will reintroduce the functionality soon ). If you need reports for some cases we can create them manually. Lets us know which cases you are interested in.
Sorry for the inconvenience!

[2018-05-30 10:54] #799 closed

[2018-05-30 10:56] moonso commented on #805
Ok so can we close this for now then?

[2018-05-30 10:57] #700 closed

[2018-05-30 10:58] moonso commented on #700
Duplicated in #805

[2018-05-30 11:19] dnil commented on #147
Solved by #802! :+1:

[2018-05-30 11:19] #147 closed

[2018-05-30 11:28] northwestwitch commented on #805
I guess so

[2018-05-30 11:33] moonso commented on #792
Hi we could have a look on if it is possible to add information from MITOMAP in Scout.
For now this issue will be closed. All variants from MT is uploaded to scout(when the new version is installed on rasta.

[2018-05-30 11:33] #792 closed

[2018-05-30 12:05] northwestwitch opened #809 "Make a view for HPO terms"

[2018-05-30 12:09] moonso commented on #147
🎆 🍾 This one should be celebrated!! Almost 3 years old 🙈

[2018-05-30 12:34] #805 closed

[2018-05-30 12:41] dnil opened #810 "Showing more cases in list"
I would like to be able to browse through more cases..

[2018-05-30 12:58] northwestwitch commented on #798
Compounds of SVs are "Overlapping SNVs" right?

[2018-05-30 13:19] moonso commented on #695
I am sorry but these fields does not really make sense to me...
What should we actually display? Is it enough with a link to clinvar?

How should we display the above example?

or how should we display:

[code]
?

[2018-05-31 05:58] #810 closed

[2018-05-31 12:34] moonso opened #813 "Test GAVIN with our causative variants"
We should run our causative variants with [GAVIN](https://molgenis20.gcc.rug.nl/menu/main/gavin-app/) and see how it behaves

[2018-05-31 13:39] northwestwitch opened #814 "Fix scout cli to collect OMIM key from conf file"
So you don't have to type --api-key all the time maybe? At least check if the user doesn't provide any key than it checks into the conf file

[2018-05-31 16:15] moonso commented on #814
That functionality is already in place. If you run with `scout --config scout_config.yaml update genes` for example it will collect the omim api key from there if there is a line in the yaml file like:
[code]

[2018-05-31 16:15] #814 closed

[2018-05-31 19:07] northwestwitch commented on #814
Ah ok, sorry, I didn't know that!

[2018-05-31 19:15] #662 closed

[2018-05-31 19:21] moonso commented on #626
Fixed

[2018-05-31 19:21] #626 closed

[2018-05-31 19:21] moonso commented on #608
Fixed

[2018-05-31 19:21] #608 closed

[2018-06-01 06:34] moonso commented on #753
Hi! I finally found out the problem here. pileup.js needs some reference files, genome and axons defs. These paths where hard coded to our production cluster.
I'm working on including these in the scout distribution instead so soon the viewer will work for everyone 🍰

[2018-06-01 07:49] #695 closed

[2018-06-01 07:49] #591 closed

[2018-06-01 07:49] #753 closed

[2018-06-01 08:54] moonso commented on #766
ping @emiliaol

[2018-06-04 07:11] moonso commented on #766
should we use scoutbrowser@gmail.com for this?

[2018-06-04 07:27] emiliaol commented on #766
Yes!
Sorry for ignoring you.

[2018-06-04 07:36] northwestwitch commented on #766
But gmail.com doesn't look professional at all

[2018-06-04 08:26] dnil opened #815 "Long gene list after HPO filter - can't add additional filters"
First search with a long HPO-term generated gene list is ok, but for additional searches one runs into the character limit of the gene symbol field. E.g. HPO term + clinical filter or HPO term + frequency filter fails, though a first browsable HPO term list can be generated.

[2018-06-04 09:17] moonso commented on #766
Ok do you have any other suggestion @northwestwitch ?

[2018-06-04 11:51] moonso commented on #815
Hmm this is a hard problem for me. I remember that @robinandeer talked about the limit length of URLs and that it can be problematic with many gene symbols. Do you have any idea how to solve this @dnil ?

[2018-06-04 12:23] dnil commented on #815
For HPO lists I guess we could work around by regenerating the gene list with each request without having to go via populating the form request. That said, I would prefer solving the main issue. Most modern (non IE) browsers support very long http get requests, so the limit is likely in some other component? Do you know where, or should I try to locate the offender?

[2018-06-04 12:29] moonso commented on #815
Aha, I guess that Robin added some limit in the code because of this, have no idea where....

[2018-06-04 12:29] moonso commented on #813
This is a great issue for @emmser or @b4ckm4n

[2018-06-04 12:31] dnil commented on #815
Its probably in the web server (unicorn?) settings, but it seems this might make things unpredictable for users at different locations as web proxies might also impose limits etc. Ok, so why not simply use http post for the forms?

[2018-06-04 12:32] moonso commented on #793
@1ctw All variants with chromosome name 'MT' will be loaded, regardless if it is clinical or research variants, regardless of rank score. This will work after we update scout.

[2018-06-04 12:33] moonso commented on #815
I do not have the knowledge to be able to answer yes or no to that question

[2018-06-04 12:43] emmser commented on #813
Absolutely, we can discuss it this week

[2018-06-04 12:52] dnil commented on #815
Looks like that might work. Fingers crossed; I'll just try to recast the "clinical filter" etc as posts instead?

[2018-06-07 12:42] hassanfa opened #816 "Scout install on ubuntu"
Installing scout on Ubuntu gives the following error and installing urllib3 fixed it : ` conda install urllib3` . It should be included in the requirements.txt ?

[code]

[2018-06-08 08:27] moonso commented on #816
Hmm [request](https://docs.python.org/3/library/urllib.request.html) is a part of python3 standard library. It looks like you are using python 3.6 so I don't really understand why it doesn't work...

[2018-06-08 08:31] moonso commented on #816
I guess something is messy with you're environment. Please make sure you are using python version > 3.6

[2018-06-08 08:42] moonso commented on #813
Could you please comment here what has been done and how it performed so we have notes somewhere?

[2018-06-08 08:43] #797 closed

[2018-06-08 08:45] hassanfa commented on #816
I tried again in a clean ubuntu installation right now, and I couldn't replicated it. Probably something was missing in the environment. Let's close this issue.

[2018-06-08 09:37] emmser commented on #813
I tried to upload a very simple vcf with only 5 columns and 6 variants. It took 49 seconds for this short file, it could annotate 4/6 variants.
Message:
4 valid VCF lines
2 lines contained insertions or deletions without a cadd score. Please pre-score these variants using the CADD service.

[2018-06-09 07:26] northwestwitch opened #819 "Ensembl links for the genes in SVs are broken"
They point to scout instead. This happens because the field gene.common.ensembl_link is None in the code (sv_variant.html).

[2018-06-11 13:24] dnil opened #821 "Provide family specific default filenames for generated pdfs"
If a user downloads more than one a mixup risk ensues. Better to suggest naming according to family / sample name in addition to covereage, delivery, analysis etc.

[2018-06-12 08:21] 4WGH opened #822 "Matching causatives from other cases"
to discuss at the user meeting:

Should we restrict this to appear for variants in affected cases? in order to avoid to see patogenic variants in unaffected parental samples?

[2018-06-12 16:00] moonso opened #825 "List comprehensions produce different types"
Hi @northwestwitch ! I found a strange thing in `scout/server/blueprints/cases/controllers.py`.

The function looks like this (cropped)
[code]
When creating `suspects` and `causatives` above it says
[code]
This means that we either get a list with variants (dictionaries) or variant_ids (strings) or a mix of those.
The problem arises later in the code when the result is sent to the function `varian

[2018-06-13 06:54] northwestwitch commented on #825
I'll try to fix it today!

[2018-06-13 07:14] moonso opened #826 "Agenda 2018-06-20"
## Fixed
- Adapts CLINVAR parsing to new format, this means CLINVAR is back:)
- Makes it possible to give a bam file that is specific for MT region. Previously it was not possible to view variants from MT since the read depth was to large
- Compound links are added when case is uploaded

## Added
- Added an analysis report page (html and PDF format) containing phenotype, gene panels and variants t

[2018-06-13 07:15] moonso commented on #822
Hi @4WGH , I've added it to the agenda (#826 ). 🥇

[2018-06-13 07:27] northwestwitch commented on #825
Ok I'll do that!

[2018-06-13 08:04] northwestwitch commented on #825
Good that you noticed!

[2018-06-13 11:00] emiliaol opened #829 "SCOUT-STAGE: 502 bad gateway when trying to access Chanjo report for some gene panels"
Trying to access the Coverage report for certain gene panels from the following case returns a 502 bad gateway error. The log file is attached.
[scout.log](https://github.com/Clinical-Genomics/scout/files/2097808/scout.log)

Some gene panels are OK to open. Examples below.

**case:** https://scout-stage.scilifelab.se/cust000/15035-validation

**Panels with 502 error**: OMIM (auto), PID Candidates,

[2018-06-13 11:02] emiliaol opened #830 "SCOUT-STAGE: Log-in page displays wrong version"
At the scout-stage log in page it still says it's 3.5.2. @moonso, @northwestwitch please change to 4.0 before validation.

[2018-06-13 11:03] moonso commented on #830
We need to update scout first

[2018-06-13 11:36] emiliaol opened #831 "SCOUT-STAGE: scout load research -c usablemarten not working"
Trying to upload research variants via the CLI for case usablemarten gives a python error:

[code]

Also tried it with a more recently added case from may this year (that should have the angrybird name for sure) with the same result.

Code is exactly the same for v4 as production version, which works with the angrybird names.
@moonso @northwestwitch might be a bug in how the names are retrieved?

[2018-06-13 11:37] northwestwitch opened #832 "KeyError: 'madeline_info'"
The program crashes for cases where key 'madeline_info' is not specified. Specifically the code to fix, in the function names "pdf_case_report" is this:

if case_obj['madeline_info'] is not None:

[2018-06-13 12:14] moonso commented on #831
Use `-i` and provide institute id, then it should work.
so:
[code]

[2018-06-13 12:18] emiliaol commented on #831
Yeah, you are right. It worked using that. Thanks

[2018-06-13 12:18] #831 closed

[2018-06-13 12:22] northwestwitch commented on #829
The PDF version works tho!

[2018-06-13 12:30] emiliaol opened #834 "SCOUT-STAGE: lower case to upper case conversion for filtering of HGNC symbol does not work"
Searching for snc2a in the HGNC Symbols/Ids field in Filters gives the error:
```HGNC symbol not found: scn2a```

Expected behaviour:
When entering a HGNC symbol in lower case this should be automatically converted to upper case in the search. The search returns the results for SCN2A

[2018-06-13 13:33] moonso commented on #834
The search function should be case sensitive

[2018-06-13 13:33] #834 closed

[2018-06-13 13:36] northwestwitch commented on #825
Fixed!

[2018-06-13 13:36] #825 closed

[2018-06-13 13:50] northwestwitch commented on #819
This was fixed in #820

[2018-06-13 13:51] #819 closed

[2018-06-13 14:39] malkva opened #836 "502 bad gateway på forskningslista F0014453"
Subject says it all. :)

[2018-06-13 14:42] dnil commented on #836
(And also on a previously pinned variant from said list?!)

[2018-06-13 15:19] emiliaol commented on #829
Alright, but how come it works in production right now for those gene panels? More info being sent in v4?

[2018-06-13 15:26] emiliaol opened #837 "SCOUT-STAGE: 502 bad gateway on the Clinvar sumission page when pressing `Generate clinvar submission form`"
Issue occurred here: https://scout-stage.scilifelab.se/cust000/15035-validation/23ee9c72b1aa788cbbe4c234fc25f88d/clinvar

Selected `Submit all pinned variants for this case` and checked `Submit case data for this variant`. Then pressed the create form button with a 502 bad gateway error as a result.

@moonso @northwestwitch is this something we can fix before the validation?

[2018-06-13 15:42] emiliaol opened #838 "SCOUT-STAGE: information about variant caller missing from SV genotype table?"
Example: https://scout-stage.scilifelab.se/cust000/15035-validation/sv/variants/04fa42a549a0d9358865a4abd2bffc29

Under the genotype and allele table I was expecting badges telling me which caller called the variant. Missing or not implemented?
@moonso and @northwestwitch

[2018-06-13 15:47] emiliaol opened #839 "SCOUT-STAGE: ensembl link in Genes table in SV variant view links to incorrect page"
Example: https://scout-stage.scilifelab.se/cust000/15035-validation/sv/variants/04fa42a549a0d9358865a4abd2bffc29

Clicking the Ensemble transcript link in the Genes table just opens the variant page in an new window.

@moonso and @northwestwitch bug or intended behaviour?

[2018-06-13 15:52] northwestwitch commented on #839
No, it was a bug, but we've fixed it. Only the scout stage is not
updated.but good that you noticed it!

On Wed, Jun 13, 2018, 17:47 emiliaol <notifications@github.com> wrote:

[2018-06-13 19:50] ingkebil commented on #829
There was a configuration error for scout-stage CLI, not for the UI.

[2018-06-13 19:50] ingkebil commented on #829
The actual error from the nginx error.log is:
[code]

[2018-06-13 19:56] ingkebil commented on #829
Fixed it by increasing the proxy_buffer_size of nginx:

[code]

[2018-06-13 19:56] #829 closed

[2018-06-13 20:01] ingkebil commented on #815
This is interesting reading: https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers

[2018-06-13 20:08] ingkebil commented on #815
If I may post my opinion. @dnil is right: all lengthy requests should be POST requests due to their technical nature. They have only a size limit set by the webserver. That, at least, we can set ourselves.

[2018-06-13 20:35] ingkebil commented on #837
Works for me. Fixed together with #829.

From the logs:
[code]

[2018-06-13 20:35] #837 closed

[2018-06-13 20:46] ingkebil commented on #836
Fixed by setting gunicorns timeout setting to 60s instead of 30s.

[2018-06-13 20:46] #836 closed

[2018-06-13 21:02] ingkebil commented on #832
Added instructions to the scout validation document on how to keep stage up to date: https://github.com/Clinical-Genomics/atlas/blob/scout-validation/validations/scout.md

[2018-06-14 06:27] emiliaol commented on #839
Super! Then I'll just close this again :)

[2018-06-14 06:27] #839 closed

[2018-06-14 06:56] northwestwitch commented on #838
I think this might be a feature you find only in the recent runned samples: for instance in this one there is a reference to Manta : https://scout-stage.scilifelab.se/cust003/18080/sv/variants/4e23126635b1ec0b97d89b99f2ffd4fa

And in this one Manta and Delly: https://scout-stage.scilifelab.se/cust003/18050/sv/variants/db824d95340668980f567dc374c391cd

[2018-06-14 07:02] moonso commented on #838
Hi, it seems like something fishy is going on here.. In the case you point to @emiliaol there are only 60 variants and all of them are `Intersection` that means that al variants where found in all callers which can not be right for SVs.
For example in the case that @northwestwitch points to there are 4241 variants but only 7 are found by all callers.

[2018-06-14 10:58] moonso commented on #838
I think you are right @northwestwitch ! There was probable a bug in the code when those samples where uploaded but it seems to work now.

[2018-06-14 10:58] #838 closed

[2018-06-14 20:20] ingkebil commented on #839
I've added instructions on how to update scout-stage to the scout validation checklist.

I've checked this now on scout-stage and the ensembl link oens ensembl.

[2018-06-15 10:29] dnil commented on #815
Yeah, agree with @ingkebil. We (you) can probably get a lot further by increasing buffer sizes on web-servers and proxies that are within reach, but there are no guarantees. POST should just work everywhere with the cost of being a less RESTy.  See  #842 for a POC.

[2018-06-15 11:23] northwestwitch opened #843 "Case report fails for some cases"
In scout stage

[2018-06-15 11:23] northwestwitch opened #844 "Show just the default panel in case report"

[2018-06-15 11:24] northwestwitch commented on #844
Or those checked in the list, even better

[2018-06-15 11:27] northwestwitch opened #845 "Add if a variant has sanger ordered in the case report"

[2018-06-15 11:32] northwestwitch opened #846 "Save automatically the selected options when dismissing a variant"

[2018-06-15 11:38] northwestwitch opened #847 "F0016075 doesn't show genome build"

[2018-06-15 11:40] northwestwitch opened #848 "Long strings for SNVs are ugly in clinvar submission form"
And fix also "length" spelling

[2018-06-15 11:42] northwestwitch opened #849 "Search for submitted to clinvar"
At the cases level

[2018-06-15 11:43] northwestwitch commented on #849
And add a link to the submission on the "created" label

[2018-06-15 11:48] northwestwitch opened #850 "Add genes to a panel using a file with options "add" or "replace""

[2018-06-15 11:57] northwestwitch opened #851 "Dismiss SVs option"

[2018-06-15 11:58] northwestwitch commented on #843
F005756

[2018-06-15 12:03] northwestwitch commented on #847
In scout stage

[2018-06-15 12:28] northwestwitch commented on #843
Ah nevermind, I've found it. I was missing a zero! Thanks anyway!

[2018-06-15 13:36] northwestwitch opened #853 "Clinvar submission form crash"
For variant https://scout-stage.scilifelab.se/cust000/15078-miptest/df781c32e54aeb0d0c79106464536401

[2018-06-15 14:22] #843 closed

[2018-06-15 14:30] northwestwitch commented on #853
And variant https://scout-stage.scilifelab.se/cust000/15026-miptest/ff46a94e58a85ec4e26d95782207d54d/

[2018-06-15 14:48] #853 closed

[2018-06-15 14:54] northwestwitch commented on #848
Fixed in #854

[2018-06-15 14:54] #848 closed

[2018-06-15 14:58] dnil commented on #826
Also added
- Dismissing variants
- Panel history

[2018-06-18 06:55] northwestwitch commented on #845
Fixed

[2018-06-18 06:55] #845 closed

[2018-06-18 06:56] northwestwitch commented on #844
Fixed

[2018-06-18 06:56] #844 closed

[2018-06-18 09:19] moonso opened #856 "Add loqusdb as a dependency"
[Loqusdb](https://github.com/moonso/loqusdb) should be more tightly linked to Scout in such a way that scout uses it as a default

[2018-06-18 09:21] moonso opened #857 "Add Chanjo as a dependency"
Just like loqusdb(#856 ) chanjo should also be tighter connected to scout. There should be a mongo alternative in chanjo that scout uses in the same mongod instance as default.

[2018-06-18 13:21] emiliaol opened #859 "SCOUT-STAGE: alignment view does not seem to work for mip 6 cases"
Here is an example:
https://scout-stage.scilifelab.se/cust000/F0005756-validation/f8bcd0d571c638a0b064b1170044bda3

Clicking View Alignment just shows me this:
![screen shot 2018-06-18 at 3 20 41 pm](https://user-images.githubusercontent.com/12113434/41538282-41b74b26-730b-11e8-90b9-4e0ae0d22a8c.png)

[2018-06-19 09:07] emiliaol commented on #859
@moonso @northwestwitch this is something that needs to be working for the validation :(

[2018-06-19 09:11] moonso commented on #859
Ok I'll have a look

[2018-06-19 10:12] moonso commented on #859
Please continue with validation meanwhile!

[2018-06-19 10:31] northwestwitch commented on #859
The files for that case that you gave us the link for are on the server. I'll take a look at this as in the afternoon!

[2018-06-19 13:00] northwestwitch commented on #859
Is this solved?

[2018-06-19 13:19] moonso commented on #859
No, I can not understand what's the problem. I've updated code [here](https://github.com/Clinical-Genomics/scout/blob/master/scout/server/blueprints/pileup/templates/pileup/pileup.html) so that pileup.js uses a remote genome source instead of a local one. It could be this that causes the problem but I am not sure.

 Before the genome source was a file on disc with hard coded paths...
Maybe @robina

[2018-06-19 13:23] northwestwitch commented on #859
I don't think there is a problem with the location of the files (bam, bai, vcf). Try to use the scout link @emiliaol gave us without the "-stage" . The visualization works!

[2018-06-19 15:13] northwestwitch commented on #859
Guys, it works. The problem is that the browser thinks that the javascript code is unsafe and blocks it. This is the screenshot of the url on my browser:

![image](https://user-images.githubusercontent.com/28093618/41606287-9b7954c8-73e3-11e8-8886-15e621068a69.png)

If I click on the small icon on the right of the address:
![image](https://user-images.githubusercontent.com/28093618/41606346-ba3826

[2018-06-20 10:11] dnil opened #861 "scout sv view BND end coord should show target chromosome if not self"
Pertains to both SV-variant and SV-variants views. Same with cytoband.

[2018-06-20 10:33] northwestwitch opened #862 "check disease causing transcripts"
Should work for IEM panel cust003

[2018-06-20 10:48] northwestwitch opened #863 "Set up config['MAIL_USERNAME'] for scout stage"
Otherwise it doesn't show option to un-sanger

[2018-06-20 11:44] dnil commented on #822
@northwestwitch and I think its fixable.. Lets give it a shot at low prio.

[2018-06-20 11:52] dnil opened #864 "Between institute sharing only easy within same legal unit"
Each institute defines which units they can easily share with. Other sharing by more guarded process.

[2018-06-20 11:56] northwestwitch commented on #377
One unique variant can be mosaic or not

[2018-06-20 12:04] dnil opened #865 "Show HGNC id in gene view"

[2018-06-20 12:11] dnil opened #866 "gene panel upload - replace option"
- [x] Add option to allow replacing gene panel on upload
- [x] Multiple changes should be possible on same
- [x] UI should be clearly separated for what can be changed on edit, upload versus on creation of new panel
- [ ] Upload file should be able to have options `add`, `modify`, `replace`and `delete`

[2018-06-20 12:12] dnil commented on #866
Partly overlaps #850

[2018-06-20 13:53] KickiLagerstedt opened #868 "Notation on gene level regarding existance of pseudogenes?"
Regarding some genes / some regions of genes annotation could be false positive / difficult due to the presence of duplicated region. Would it be possible to annotate this on the gene page or something like that?

For inspiration see list here
https://blueprintgenetics.com/pseudogene/

// Kicki

[2018-06-20 14:05] dnil commented on #868
One solution would be to view a mappability score, e.g. one of
http://rohsdb.cmb.usc.edu/GBshape/cgi-bin/hgFileUi?db=hg19&g=wgEncodeMapability

Another perhaps just to instruct chanjo / sambamba not to count reads with MAPQ == 0 towards coverage, I e value non-uniquely mapping reads as little as not existing ones.

[2018-06-20 14:10] dnil commented on #868
..or we could provide a link to the good old seg_dup track from the Eichler lab - which appears to be exactly what BluePrint Genetics has intersected with.

[2018-06-21 07:09] northwestwitch opened #869 "Show calls from all callers even if they don't call"
Now the callers without call are not shown, should we show the again?

[2018-06-21 07:10] northwestwitch opened #870 "Fix callers view on case report"
See this case: https://scout-stage.scilifelab.se/cust004/217701600132fam/case_report

[2018-06-21 07:31] northwestwitch opened #871 "Get a list of all Sanger ordered, and those evaluated or not"

[2018-06-21 08:13] northwestwitch commented on #871
It would be useful to somehow get a list of all variants with Sanger ordered, but especially those with Sanger ordered but not yet evaluated

[2018-06-21 08:14] northwestwitch commented on #863
It's working!

[2018-06-21 08:14] #863 closed

[2018-06-21 08:27] #826 closed

[2018-06-21 09:10] #859 closed

[2018-06-21 09:10] dnil commented on #871
:+1: Good also for later bulk data extraction before phasing out Sanger. Also note that not all use the Confirmation order email, but do validate all causative and some pinned. Ideally those would then be marked true/false positive: will be nice to see if this happens.

[2018-06-21 11:40] 4WGH commented on #377
Hi,
here come a suggestion about the mosaicism: where to locate it and possible comments

it is relevant to have this info for variants that are pinned and for which we annotate the SAnger validation.
Have a look and please come with more comments.

[mosaicism.pptx](https://github.com/Clinical-Genomics/scout/files/2123411/mosaicism.pptx)

[2018-06-21 11:41] 4WGH commented on #826
see a comment at #377 with suggestion ;)

[2018-06-22 06:35] #870 closed

[2018-06-25 05:55] northwestwitch opened #876 "Fix connections to work with Flask-PyMongo 2.0"
See #875 . This should be done after summer 2018, when the new version of Flask-PyMongo is released.

[2018-06-25 07:41] dnil commented on #377
Nice illustration! All those alternatives are not mutually exclusive, so a MultiSelect then!

[2018-06-25 07:48] 4WGH commented on #377
Thanks!
feel free to correct my typos (sorrry for that!)
and even add more alternatives if you need :)
I've ordered the alternative with the more likely on top :)

[2018-06-26 07:04] northwestwitch commented on #865
Fixed

[2018-06-26 07:04] #865 closed

[2018-06-28 05:52] northwestwitch commented on #94
Are we interested in switching directly to igv viewer of do we want to keep both pileup and IGV for a while? I was thinking that it would be smoother to do the transition if we keep pileup and ww show a beta igv viewer. Than if nobody complains for a while we just keep igv. What do you think?

[2018-06-29 07:14] northwestwitch opened #879 "Visualize structural variants"
Some of them might be shown using IGV, but I've found this package: https://github.com/svviz/svviz . It might be worth a try! This is the link to the official paper: https://academic.oup.com/bioinformatics/article/31/24/3994/196848

Any other suggestion @dnil ?

[2018-06-29 07:17] hassanfa commented on #879
I have added a new module to BALSAMIC to plot static snapshots of SVs using a new tool called samplot : https://github.com/ryanlayer/samplot maybe this one might of an interest for scout as well.

[2018-06-29 07:29] dnil commented on #879
Yeah, Ive had a look at svviz and samplot before.

While none are as good as IGV in the general case, they have many strong features for specialized cases. The bulk of the events that we will confidently interpret as causative today do fall into a limited number of specialized cases.

IGV is still going to be much needed for interspersed duplications, inversions with a little more than the most co

[2018-06-29 07:30] northwestwitch commented on #879
It's really nice plots you are  creating with samplot! Correct me if I'm wrong but you export static images with that software, right? The advantage of svviz would be that it creates interactive web pages on the fly. You have an interface that allows you to zoom in and out on the SV, like IGV. The current version has support for translocations, deletions and insertions and I think they're working

[2018-06-29 07:32] northwestwitch commented on #879
So which viewer(s) would you like to have implemented in Scout for visualizing SVs?

[2018-06-29 07:41] hassanfa commented on #879
You're right. I am using samplot for an static report, so it is quite ideal. If there are only a handful of SVs samplot is useful, otherwise it'll be troublesome to generate and store all those images.

[2018-06-29 09:29] northwestwitch commented on #821
where, in the delivery report?

[2018-06-29 09:36] dnil commented on #821
The issue with file name pollution is most pressing for all that auto-generate downloading pdfs - like the coverage report pdf. It would be nifty if the delivery report did that as well though.

[2018-06-29 15:37] dnil opened #880 "Overlapping SV hover next to compound on SNV view"
Much as for SNV compounds, quick scanning for a second SV without clicking through to the variant page would be helpful.

[2018-07-03 09:16] northwestwitch commented on #847
I close this issue because I can't find this case any more.

[2018-07-03 09:56] northwestwitch opened #884 "New looks for Scout?"
Switching to Bootstrap 4 and playing a bit with the website colors would improve the looks of Scout.

[2018-07-04 05:50] northwestwitch commented on #861
Could you explain it a bit more extensively, so I fix it? :)

[2018-07-04 07:40] dnil commented on #861
BNDs sometimes have their start and end coordinates on different chromosomes. This is not well represented everywhere.

[2018-07-04 07:41] northwestwitch commented on #861
What's BND?

[2018-07-04 10:48] northwestwitch commented on #871
@dnil I see your point but I don't think it's a good idea to show on top of the "cases" page also all those cases that are not solved but have pinned variants (that can be potentially validated), because that would be a huge list.. But can discuss about this more!

[2018-07-04 11:14] dnil commented on #871
Right you are! So separate view - or specifically asking for it on the cases page. And the same goes for the ongoing Sanger orders, don’t you think? It’s probably not something one would like to see first in the list anyway. Perhaps a fifth category: not quite “active” anymore, but clearly not “solved”?

[2018-07-04 11:15] northwestwitch opened #886 "Reset variant validation status to null if you change your mind?"
It looks like that after you have decided that a validation if either a true or a false positive you can't reset its status to null (not existing key in the variant document I think). I took a look at the past issues but haven't found out if this was discussed before.
Do you think it would be useful to include a validation reset option?

[2018-07-04 11:21] dnil commented on #861
Jargon.. Break-eNDs; the way ectopic joining of DNA is represented in the VCF 4.x standards when they don’t quite fit any of the other categories (INV,DEL,DUP). Can represent translocations, interspersed duplication (hence two different chromosomes sometimes), more complex rearrangements - or in general just a lazy variant caller that didn’t quite figure out the far apart joining was indeed caused

[2018-07-04 11:22] northwestwitch commented on #871
So, so far I've done this:

![image](https://user-images.githubusercontent.com/28093618/42274378-bce51610-7f8c-11e8-8b98-56c06edca316.png)

And then you click and you get this:

![image](https://user-images.githubusercontent.com/28093618/42274423-e7cb00b0-7f8c-11e8-90c9-971f6c282542.png)

We could add a collection of checkboxes on the top of the cases page were we leave it to the users to choose w

[2018-07-04 11:40] northwestwitch commented on #861
Ah OK! I never noticed those SV with type BNV! I'll look into it!

[2018-07-05 08:15] northwestwitch commented on #861
Open a pull request #887

[2018-07-06 10:49] northwestwitch commented on #866
Since I'm working on this I'll fix also the issue of the same gene saved multiple times among the pending changes when you update a panel.

[2018-07-06 11:45] northwestwitch opened #889 "Error 'refseq_id' is not defined when editing a gene in a gene panel"
Internal Server Error when you try to edit a gene of a panel from the gene panel view, by using the action "edit". It happens in scout-stage. Must be fixed asap!

[2018-07-06 11:59] northwestwitch commented on #889
@emiliaol keep this in mind when testing. I am going to fix it but I don't know if I'll manage today.

[2018-07-06 12:50] #889 closed

[2018-07-06 14:05] emiliaol opened #891 "SCOUT-STAGE: global variant comments are not shown globally"
Example: variant X_67414426_C_T_clinical has a global comment in cust002 cases that does not show up in a cust002 case.
[cust002 case 1](https://scout-stage.scilifelab.se/cust002/F0015268/5f1a00e07c8e84db619883bbc1f30a9d)
[cust002 case 2](https://scout-stage.scilifelab.se/cust002/F0015456/7f870a4f94db24ef34b14bc04edc99e7)
[cust003 case](https://scout-stage.scilifelab.se/cust003/126/4ce6af6a0d8e084

[2018-07-09 07:16] northwestwitch commented on #891
I'm not really sure that this isn't the expected behavior. Could it be that:
1) when the comment is local then it is seen only for that case
2) when the comment is global then it's seen for all cases of that institute?

Because that's what you observe.

Is it so, or a global comment should be seen across institutes as well? @moonso ?

[2018-07-09 07:40] northwestwitch commented on #891
Ok! @dnil what you describe makes a lot of sense but it doesn't seem to work like that in scout-stage. And @emiliaol you are right: it looks like they behave the same way.
I'm not really understanding how this 2 levels comments work so I'll need to dig into the code. I'll keep you updated! Thank you both!

[2018-07-09 12:20] northwestwitch commented on #891
I've updated scout-stage with the code from this pull request (directly from the branch, without merging into master). @emiliaol give it a try when you have time! :)

[2018-07-09 13:18] northwestwitch commented on #891
I've removed the previous comments and re-commented the variants above, and it seems to work. However I see a problem with this GLOBAL comments visible by anybody: being private data and all, would it problematic by the GDPR point of view? Maybe we should make global comments visible only across cases from the same institute..

[2018-07-09 13:48] northwestwitch opened #893 "Both alignment viewers display MT variants wrong"
Both aligners (pileup and IGV) fail to display MT variants in a decent way.

Problem with pileup: when trying to display the alignments it hangs with the following message: "loading alignments... (Fetching BAM index -- use index chunks to speed this up)".

Problem with IGV (more easy to fix than the other I suspect): the MT reference genome is wrong, and it looks like this:

![image](https://user-

[2018-07-09 13:50] northwestwitch commented on #893
MT variant, for testing: https://scout-stage.scilifelab.se/cust000/F0007437-validation/879872d2d5b3c9ca04653fcd8fdf455a

[2018-07-09 15:25] nvteja opened #894 "scout v4 cannot parse vep92 annotations."
Hello,
I cannot get scout v4 to parse vep92 annotations specifically CADD_Phred, gnomAD frequencies. Here is my vep92 header.

##INFO=<ID=CSQ,Number=.,Type=String,Description="Consequence annotations from Ensembl VEP. Format: Allele|Consequence|IMPACT|SYMBOL|Gene|Feature_type|Feature|BIOTYPE|EXON|INTRON|HGVSc|HGVSp|cDNA_position|CDS_position|Protein_position|Amino_acids|Codons|Existing_variation|D

[2018-07-10 05:49] northwestwitch commented on #894
Hi! Scout should support the VEP annotation keys for VEP 90+ (https://www.ensembl.org/info/docs/tools/vep/vep_formats.html). Do you get any error message while loading the variants into scout or it just skips the fields?

[2018-07-10 10:10] northwestwitch commented on #893
Ok now it works at least on the IGV viewer. After lunch I'll try to fix the other!

[2018-07-10 12:53] nvteja commented on #894
It does not give me any errors - it just skips the fields..

Teja

[2018-07-10 12:54] #851 closed

[2018-07-10 13:01] moonso commented on #894
Hi @nvteja, I will try to do the parser a bit more intelligent. Could you send a minimal example file with a few variants so I can test that it works?

email: mans.magnusson@scilifelab.se or a [GitHub gist](https://gist.github.com)

Måns

[2018-07-10 13:10] nvteja commented on #894
Just emailed the file.

Thank you,
Teja.

[2018-07-10 15:09] northwestwitch commented on #893
It looks like pileup.js expects the bam indexes (bai) to be indexed. See here: https://github.com/hammerlab/bai-indexer

I'm not really understanding much of this code right now, so it will take some time..

[2018-07-10 15:38] northwestwitch commented on #893
An explanation of the above problem: http://www.hammerlab.org/2015/01/23/faster-pileup-loading-with-bai-indices/

[2018-07-10 16:21] nvteja opened #898 "scout v4 ped file issue"
Hello,

Looks like Scout v4 is unable to parse ped files. Scout keeps giving me "WARNING ped line is in wrong format" error.

Here is the ped file that I am trying to load

003     661TR0094       0       0       1       1
003     661TR0092       661TR0094       661TR0093       1       2
003     661TR0093       0       0       2       1

Thanks,
Teja.

[2018-07-10 16:48] #876 closed

[2018-07-10 16:56] moonso commented on #898
Hi,

I suspect something is wrong with your file, you could email me that file to and I can check it.

[2018-07-10 17:09] nvteja commented on #898
Sent! Thank you.

[2018-07-10 17:31] nvteja commented on #898
Sure, I will! Thank you!

[2018-07-10 17:54] #894 closed

[2018-07-10 17:54] #898 closed

[2018-07-10 18:18] nvteja commented on #898
Hello, I pulled the latest commit and tried to load the ped file again and
got this error.

2018-07-10 14:00:41 ccm-3603-1nml.sickkids.ca scout.commands.base[25974]
*INFO* Running scout version 4.0.0

2018-07-10 14:00:41 ccm-3603-1nml.sickkids.ca scout.commands.base[25974]
*INFO* Setting database name to scout

2018-07-10 14:00:41 ccm-3603-1nml.sickkids.ca scout.commands.base[25974]
*INFO* Test if

[2018-07-10 18:20] nvteja commented on #898
Never mind, i had to supply the institute ID as command line argument.

Thanks,
Teja

On Tue, Jul 10, 2018 at 2:17 PM viswateja nelakuditi <nvteja@gmail.com>
wrote:

--
Viswateja Nelakuditi
MS Bioinformatics
~~/Senior (Bioinformatics)? Programmer/
Dept of Human Genetics
University of Chicago

[2018-07-10 18:40] nvteja commented on #898
Hello,

Is ped file enough for Scout to infer pedigree? After I loaded the vcf file with the ped file (the same one I shared via email), when I go to the family page on Scout GUI, Scout says its a single sample family, instead of a Trio as the pedigree file says. Here is the command I used

scout load case --vcf test_data/661d.gatk.vep.vcf --ped test_data/643594.ped --owner 001

![screen shot 2018

[2018-07-10 19:10] moonso commented on #898
Hi, sorry that is confusing. That field is reserved for a pedigree picture (produced by Madeline), when the picture is missing Scout prints that standard message. It should be edited in this case.

[2018-07-10 19:18] nvteja commented on #898
Aah, okay, gotcha! Thank you.

On Tue, Jul 10, 2018 at 3:15 PM Måns Magnusson <notifications@github.com>
wrote:

--
Viswateja Nelakuditi
MS Bioinformatics
~~/Senior (Bioinformatics)? Programmer/
Dept of Human Genetics
University of Chicago

[2018-07-11 12:47] nvteja commented on #898
Okay. I will into running genmod on my vcf files before loading them in
Scout.

Thank you,
Teja.

On Tue, Jul 10, 2018 at 4:27 PM Måns Magnusson <notifications@github.com>
wrote:

--
Viswateja Nelakuditi
MS Bioinformatics
~~/Senior (Bioinformatics)? Programmer/
Dept of Human Genetics
University of Chicago

[2018-07-11 13:57] northwestwitch commented on #893
Ok, the pileup problem is much more simple: in our genome reference MT contig is named 'MT' while in the genome references used by pileup.js the same chromosome is named 'M'. It doesn't work to rename our contig before passing the bam files to the script.

A possible solution to this would be converting our reference to .2bit format and reference to a local copy of it, but doing so we would recrea

[2018-07-11 15:03] nvteja commented on #894
Hello Måns,

Looks like Scout still isnt parsing/recognizing  gnomad_AF column from the VEP header. I can see CADD_Phred and 1000G frequencies however. Could you please look into it?

Thank you,
Teja

[2018-07-11 16:56] moonso commented on #894
I'll have a look

[2018-07-12 06:58] northwestwitch opened #901 "Feedback from clinvar"
@dnil has just received a feedback from Clinvar after the first submission attempt (which dates back to before Easter 2018!) with files produced by Scout Clinvar submission tool. We should make a couple of changes to it, specifically:

* Variant tab/file: Reference sequence. A version number for each reference sequence must be provided in order to confirm the specific variant. i.e., NM_001604.5. W

[2018-07-12 10:40] northwestwitch commented on #893
Pileup problem was fixed in #902

[2018-07-12 10:40] #893 closed

[2018-07-12 11:39] northwestwitch commented on #861
It was merged, so I'm closing this

[2018-07-12 11:39] #861 closed

[2018-07-12 13:49] northwestwitch opened #903 "Don't show link to alignment view for SVs if bam files are not available"
The link for the alignment viewers is shown for SVs even if bam files for the sample are not available. the links lead to error pages (of course!)

[2018-07-17 18:36] nvteja opened #906 "Scout setup database error on MAC"
Hello,

I am trying to setup the Scout's database on my MAC(High Sierra 10.13.4) with Python 3.6 and a valid OMIM API key (tested the key today) - but I am running into this error.

2018-07-16 14:10:39 ccm-3603-1nml.sickkids.ca scout.commands.base[16526] INFO Running scout version 4.0.0
2018-07-16 14:10:39 ccm-3603-1nml.sickkids.ca scout.commands.setup.setup_scout[16526] INFO Setting database name

[2018-07-17 19:52] dnil commented on #906
Hi Teja! Nice to see you are trying it out! Thanks for the patience with us being in vacation mode over here!

I had a similar issue when OMIM for some reason had not enabled access to all files for my account (API key). If you look at the list of your downloadable assets over at omim.org, can you see mim2gene, morbidmap and genemap2? Otherwise the omim admin will open them up for you (which used

[2018-07-17 19:59] nvteja commented on #906
Hi Daniel,

Thank you for the reply. That might be it. I just put in a request with
OMIM for download access. I will try it again after I get the access.

Teja.

On Tue, Jul 17, 2018 at 3:52 PM Daniel Nilsson <notifications@github.com>
wrote:

--
Viswateja Nelakuditi
MS Bioinformatics
~~/Senior (Bioinformatics)? Programmer/
Dept of Human Genetics
University of Chicago

[2018-07-17 20:08] dnil commented on #906
Cool - thanks for feedback. Ideally we should catch that and give an intelligible error. I’ll close this for now anyway; just reopen if it persists!

[2018-07-17 20:08] #906 closed

[2018-08-09 13:54] ingkebil opened #908 "Enable authentication for mongodb"
Currently, scout is running with authorization disabled. This disables the application of any roles on the connecting user, roles will simply be ignored.

It would be nice to be able to set the connecting user to the `read` role for maintenance.

The process for setting up authentication is described here: https://docs.mongodb.com/manual/tutorial/enable-authentication/

[2018-08-10 13:26] dnil opened #909 "Verification bug report"
Looking very good, but a couple of minor issues spotted:
- [ ] Rank model versions not displayed (SNV and SV)
- [ ] 15x coverage not filled in on coverage report?
- [ ] Direct links to pileup views of start and end of SVs went missing, presumably with the IGV-beta update? These are quite nifty for large variants.

And a more long term issue of the rank models  [1.20 / SV 1.2 :-)]
- [ ] Rank of in

[2018-08-13 07:58] northwestwitch opened #910 "Display again breakpoint alignments for SV"
Third point of #909

[2018-08-13 07:58] northwestwitch opened #911 "Rank model versions not displayed (SNV and SV)"
First point of #909

[2018-08-13 07:59] northwestwitch opened #912 "15x coverage not filled in on coverage report"
Second point of #909

[2018-08-13 07:59] northwestwitch opened #913 "Rank of in particular frameshift mutation has gotten worse."
Rank of in particular frameshift mutation has gotten worse. Also rank model for SVs is performing poorly with regard to the rank of pathogenic calls. We should revisit this during autumn. Fourth point of #909

[2018-08-13 08:00] northwestwitch commented on #909
We've created 4 smaller issues from this one, thanks @dnil !

[2018-08-13 08:01] #909 closed

[2018-08-13 10:07] northwestwitch commented on #912
This is most likely NOT a bug of Scout. I checked the database and the field named "completeness_15" of the table "transcript_stat" has a NULL value for all transcripts.

[2018-08-13 10:16] henrikstranneheim commented on #912
It is most likely because the analysis has been performed with other coverage cut-off values. The global config for the analysis needs to be updated to match the expected thresholds. The defaults for MIP v7.0 has been changed to match what was used in production, but not version 6.0. See issue in MIP repo closed yesterday.

[2018-08-13 10:29] northwestwitch commented on #912
Ah ok, you've fixed it already in Mip. That was easy to solve! :)

[2018-08-14 11:48] northwestwitch commented on #847
Now I see: genome build is not displayed in any sample on the side panel at the case level. In stage!

[2018-08-14 12:37] northwestwitch commented on #911
This is the same problem as in #847. The new configuration files from MIP lack 'human_genome_build' and 'rank_model_version' so these values are not captured at the moment that a case is parsed and inserted into scout database. We should discuss if this should be fixed here or in MIP.

[2018-08-14 12:46] northwestwitch commented on #911
Opened an issue in MIP (https://github.com/Clinical-Genomics/MIP/issues/539)

[2018-08-16 06:34] northwestwitch commented on #911
It's a cg problem, which will be hopefully solved by https://github.com/Clinical-Genomics/cg/pull/163.
So I close this issue.

[2018-08-17 06:59] #910 closed

[2018-08-20 09:13] dnil opened #917 "Report visualisation fails on current production 4.0.0??"
Another one interaction issue, somewhere between a production issue and a potential scout bug.

While everything looked fine on stage-scout we seem to have an issue with reports on the production version? Anyone around to check logs when @ingkebil is away? Takes a long time, so could be a timeout, but as this was fairly quick on stage I'm leaning toward something else going amiss?

Cheers!

[2018-08-20 09:15] northwestwitch commented on #917
Good that you noticed, I'll look into it!

[2018-08-20 10:28] northwestwitch commented on #917
It worked! I close the issue :)

[2018-08-20 10:28] #917 closed

[2018-08-20 11:00] northwestwitch opened #919 "Case report pdf looks UGLY in production"
I bet it has to do with the visualization libraries.. Another version in production than the ones on stage??

[2018-08-20 12:08] northwestwitch commented on #919
Hi @ingkebil, this issue might be due to the fact that the production environment doesn't have installed one or more libraries required by the library that exports html to pdf, weasyprint.  I'm specifically thinking about these two libraries: cairo and/or pango. It could also be that the libraries on production are older than those on stage.
Could you take a look at it when you have time? I think

[2018-08-20 20:10] ingkebil commented on #919
I've downgraded cairocffi from 0.9.0 to 0.8.1 so far. There are a lot of differences between both environments, mostly because production has packages that are almost 2 months newer.

Can you link a page that opens a PDF report so I can test this out?

[2018-08-20 20:11] ingkebil commented on #919
I haven't had time to investigate: I presume the PDF report is generated on the fly, correct?

[2018-08-20 20:17] dnil commented on #919
Correct! I’m not behind firewall now, but clicking ”visualise report” to the top left on any case page to get to the html version and then selecting pdf download from the far right should reproduce it. Content is truncated.

[2018-08-20 20:22] ingkebil commented on #919
oooh. Well, that didn't get fixed with my downgrade. Will have to continue digging :)

[2018-08-21 08:44] northwestwitch commented on #919
Ok, here is a difference between stage (and my local copy) and prod: if I run "pip freeze", production env is lacking Flask_WeasyPrint, while stage has this line:
Flask-WeasyPrint==0.5

While re-installing scout on stage I noticed that it doesn't install  Flask-WeasyPrint, and says:
Requirement already satisfied: Flask-WeasyPrint in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.5/site-packa

[2018-08-21 09:08] northwestwitch commented on #919
HAA! That was the problem. If I launch a python shell from production and try to import Flask-WeasyPrint from there by typing "import flask_weasyprint" from there, it says:

ModuleNotFoundError: No module named 'flask_weasyprint'

Is there a way to force install a module even if python thinks it's there?

[2018-08-21 09:36] northwestwitch commented on #919
Well that didn't fix the PDF visualization :(

[2018-08-21 10:27] ingkebil commented on #919
... Meaning weasyprint is not in scout's requirements.txt? :)

wkr,
Kenny
--
Composed and sent on the road

On Tue, 21 Aug 2018, 11:08 Chiara Rasi, <notifications@github.com> wrote:

[2018-08-21 10:51] northwestwitch commented on #919
It is!

On Tue, Aug 21, 2018, 12:27 Kenny Billiau <notifications@github.com> wrote:

[2018-08-21 11:09] ingkebil commented on #919
Sorry for all the stupid questions, I don't have access to a computer atm.

Clinical-db has 2 envs which can be seen as the production env: prod and
prod170926. As far as I remember, scout should be updated in the latter
which you can check in scout's update script.

It sounds as if you're upgrading with the `--no-deps` flag of pip, which
ignores the requirements.txt. is that correct?

wkr,
Kenny

[2018-08-21 11:27] northwestwitch commented on #919
It's ok!
I'm using the "update-scout-prod.sh" bash command from clinical-db, which has no --no-deps flag, so it tries to install the Flask-WeasyPrint because it's in the requirements.txt file.  Since it finds Flask-WeasyPrint under /home/hiseq.clinical/miniconda/envs/prod/lib/python3.5/site-packages (from scout-browser==4.0.0) skips this step.

The thing is the bash file is activating the "prod" e

[2018-08-21 11:32] ingkebil commented on #919
It would be nice not to c/p production scripts publicly ;)

wkr,
Kenny
--
Composed and sent on the road

On Tue, 21 Aug 2018, 13:27 Chiara Rasi, <notifications@github.com> wrote:

[2018-08-21 11:36] northwestwitch commented on #919
Ok, but no passwords are involved. i just wanted to show you that everything is done on prod and not prod170926. I guess the script should be changed to activate the latter, right?

[2018-08-21 11:47] ingkebil commented on #919
Of course! Didn't want to have it turn into a habit ;)

To know which env is used, you have to check the supervisord.conf and
search for the scout section. Scout is run behind gunicorn which is
installed in a certain env. Scout needs to be installed in the same env.

wkr,
Kenny
--
Composed and sent on the road

On Tue, 21 Aug 2018, 13:36 Chiara Rasi, <notifications@github.com> wrote:

[2018-08-21 11:59] northwestwitch commented on #919
Checked on supervisord.conf where the gunicorn is and found it under "prod", so we're good with bash file. You know what, I have a wreck of a computer at home with ubuntu mate. It's not the same distro as in clinical-db but I'll try to install everything on it and see what the problem might be from that.

[2018-08-21 12:01] northwestwitch commented on #919
And I'm removing the script from here! :)

[2018-08-21 12:08] northwestwitch commented on #919
Last message here for today because this issue is starting to look like a chat.

I think we should change bash script and supervisord.conf and whatever else there is, to use "prod170926" for installing and running scout since in "prod" all libs are old, including the fact that python version id 3.5 in there, and not 3.6.

[2018-08-21 19:42] ingkebil commented on #919
so what action will come of this? Well, why don't we upgrade prod properly now?

[2018-08-21 20:18] ingkebil commented on #919
In any case: the issue itself it fixed )

Upgraded WeasyPrint itself, not Flask_WeasyPrint, and hopla!

[2018-08-21 20:18] #919 closed

[2018-08-22 06:52] northwestwitch commented on #919
Nice! We should update the requirements to make it use the WeasyPrint version that works!

[2018-08-22 08:16] dnil opened #922 "Generate pdf from gene panel"
We would like to be able to export gene panels (of a given version) to pdf, for easy retrieval and linking from answer reports. Add a weasy-pdf view for the panels?

[2018-08-22 08:26] dnil opened #924 "SV variants should default to default panel"
Default filter is not enabled on start on SV-variants filter.

If I remember, I'll fix this in #842, whenever, but just in case.

[2018-08-22 11:14] ingkebil opened #925 "Have `scout update genes` perform index rebuild in the background"
As someone running `scout update genes` I do not want scout to be irresponsive while the index are being rebuilt.

According to https://docs.mongodb.com/manual/reference/command/createIndexes/ you can pass in the parameter `background` so the indexes get built in the background. That function translates to http://api.mongodb.com/python/current/api/pymongo/collection.html#pymongo.collection.Collect

[2018-08-22 13:27] patrikgrenfeldt commented on #766
It has been changed

[2018-08-22 13:27] #766 closed

[2018-08-23 05:37] #911 closed

[2018-08-23 05:47] northwestwitch opened #927 "Set missing rank model and chromosome build."
All samples runned since Sept 2017 are missing rank model and chromosome build info in mongodb. After  a cg fix all new runned samples will get these params from the cg upload by default, but the old cases will still be missing them. We should introduce these key-values in the database for these.

[2018-08-23 05:58] northwestwitch commented on #927
@moonso I was thinking about you because you are good with the db, but we can do it together! :)

[2018-08-23 06:27] northwestwitch opened #928 "Need to introduce a new SO_TERM"
We recently experienced a problem while uploading a case into scout. This is the error message:
...
Building hgncid_to_gene
Building interval trees...
Start inserting clinical variants into database
1000 variants inserted
unexpected error
Traceback (most recent call last):
  File "/mnt/hds/proj/bioinfo/SERVER/miniconda/envs/prod170926/lib/python3.6/site-packages/scout/adapter/mongo/variant_loader.

[2018-08-23 08:43] henrikstranneheim commented on #879
@northwestwitch Let's go for IGV, which you also have implemented so nicely.

[2018-08-23 08:46] northwestwitch commented on #879
Someone suggested svviz2, which is actively developed: https://github.com/nspies/svviz2

[2018-08-23 08:50] moonso commented on #927
I wonder if it really is a problem, as long as the new samples are working. Customers could ask us for those old cases it they are really interested.
What do you think @henrikstranneheim ?

[2018-08-23 08:56] henrikstranneheim commented on #927
@moonso Agreed, let's see if this is requested by customer first before spending time on it.

[2018-08-23 08:57] northwestwitch commented on #927
Good, I close the issue then!

[2018-08-23 08:57] #927 closed

[2018-08-23 19:24] ingkebil opened #930 "report problem"
Hi guys!

todays errors message was: `werkzeug.routing.BuildError: Could not build url for endpoint 'report.report' with values ['level', 'panel_name', 'sample_id']. Did you mean 'cases.hpoterms' instead?`

This error did **not appear on our stage env** and only appeared on production.

Production does not have the latest packages and is still a python 3.5 env.
Stage has all latest packages and is

[2018-08-23 20:03] northwestwitch commented on #930
The method call that triggers the error is not part of scout, but
chanjo-report. I think the problem is that chanjo report is either not
installed or it was removed from the production environment.

To install chanjo-report you should copy the relative line present in the
bash script of update-scout-stage into the bash script of
update-scout-prod.

But I agree that production environment should ha

[2018-08-24 07:27] northwestwitch opened #931 "Increasing timeout flag for scout and scout stage"
We are having an issue while visualizing case reports for some samples in scout. The case report is not produced and we get a 502 Bad Gateway error ([CRITICAL] WORKER TIMEOUT).

I think it might be worth trying to increase the Gunicorn timeout flag a bit (now it only is 60) to see if this fixes the problem, before thinking about more invasive ways..

Could we try @ingkebil ?

[2018-08-24 07:29] northwestwitch commented on #931
@dnil about or chat of yesterday!

[2018-08-24 07:34] dnil commented on #931
Right; that should solve the immediate issue with little negative consequences, so 👍.  But prudent to also go over query/index matchup for the report to see that key queries are well indexed. Worst case, we would have to introduce a non-live queued request system. That's always a pain.

[2018-08-24 07:47] ingkebil commented on #931
Can you point me to a case or provide a link that does not work so I can
test the behaviour on scout-stage?

wkr,
Kenny

On 24 August 2018 at 09:34, Daniel Nilsson <notifications@github.com> wrote:

--
Kenny Billiau
Team Leader IT
SciLifeLab :: Clinical Genomics
Tomtebodavägen 23A
SE-171 65 Solna, Sweden
Phone: +46 73 44 44 732

Email: kenny.billiau@scilifelab.se

[2018-08-24 07:49] ingkebil commented on #931
So this family: `F0026632`.

What report times out?

[2018-08-24 07:54] dnil commented on #931
Html:

https://scout.scilifelab.se/cust002/F0026632/case_report

Still times out from here, although I did start to titrate the number of reported events down a bit to see if that would help. Slightly below 20 now.

// Daniel

[2018-08-24 08:44] northwestwitch commented on #922
I'm working on this. Would you like to have the HGNC ids of the PDF report to be linked to some other external pages, like HGNC database, NCBI .., or the scout gene page?

[2018-08-24 08:48] dnil commented on #922
Thank you! Yep, external pages is the way to go: the beneficiaries would not have scout access and HGNC/genenames, ensembl, Ncbi, Omim or panelApp should all be nice sources.

[2018-08-24 11:47] northwestwitch commented on #922
HGNC/genenames, ensembl, Ncbi, Omim etc is all contained in the genenames archive, so for now I'll just add a link to that, then we can discuss about other useful links to include

[2018-08-24 13:25] ingkebil commented on #931
ok, this should be fixed now :)

Increased proxy_connect_timeout for nginx and matched it with gunicorn worker timeout.

[2018-08-24 13:25] #931 closed

[2018-08-24 15:03] dnil commented on #931
Works!

[2018-08-24 15:39] northwestwitch commented on #931
Nice, thanks @ingkebil !

[2018-09-03 09:02] henrikstranneheim opened #936 "Scout user meeting agenda 19/9 -18"

[2018-09-05 16:01] KickiLagerstedt opened #937 "Something wrong with the compound filter???"
Trio analysis  - looking at one variant and then looking at compound variants - BUT when looking the variants are inherited from the SAME parent

Variant 1:
https://scout.scilifelab.se/cust002/F0015588/516541efcc88b4d0cac832448669dade
Variant 2 (from list):
https://scout.scilifelab.se/cust002/F0015588/00128c3f3bf51531f9be0338f4bde354

The list of compounds are much longer than usual....

[2018-09-05 17:14] KickiLagerstedt opened #938 "Update OMIM "window" in SCOUT"
Looking at that variant page - one phenotype is visible under OMIM
https://scout.scilifelab.se/cust002/F0015588/eccaeae31d8067363bd798edeb91f0cc

Looking in OMIM  - three phenotypes are visible
http://omim.org/entry/604392

Would be good to see all the phenotypes in the SCOUT window

[2018-09-05 17:37] dnil commented on #938
Tricky one! If you look closely on the OMIM page you will find that all are the same, and also have merged to the same pheno number.

[2018-09-05 18:11] KickiLagerstedt commented on #938
You mean the same Phenotype MIM number? In that case I understand.

Kärt barn har många namn??? As we say in swedish...

[2018-09-06 06:15] #938 closed

[2018-09-06 06:28] dnil commented on #937
O_o! For a possible clue, one of the variants is a low qual indel? The same apparently goes for at least another cis-pair. @moonso this is hardly to do with the compound loading, is it? Rather an issue to pass along to MIP?

[2018-09-06 06:38] emmser commented on #937
![screen shot 2018-09-06 at 08 36 47](https://user-images.githubusercontent.com/659228/45139465-205b1280-b1b0-11e8-99d0-edcbe9db91ed.png)
![screen shot 2018-09-06 at 08 36 57](https://user-images.githubusercontent.com/659228/45139466-205b1280-b1b0-11e8-8ef4-900ae07b7341.png)

If we look at the genotypes it looks like the variants have been inherited from different parents, or have we missed someth

[2018-09-06 06:43] northwestwitch commented on #937
It is. The heterozygous one has no alternative reads and the other way
around..!

On Thu, Sep 6, 2018 at 8:40 AM Daniel Nilsson <notifications@github.com>
wrote:

[2018-09-06 06:45] dnil commented on #937
The bam file appears to confirm the Allele Depth calls. (Although the indel appears slightly out of place in that repeat, hence the Filtered status and low GQ.)

[2018-09-06 06:46] dnil commented on #937
What does it look like in the VCF?

[2018-09-06 07:00] moonso commented on #937
Hi, genmod who does the genetic models looks at the genotype calls have done the correct conclusion. It seems to be a problem with the genotype calling process. The variant is filtered by all callers but (at least) one of them have called it a variant. Most probably this is a complex position with multiple alternatives. I point this to @henrikstranneheim

[2018-09-06 07:45] henrikstranneheim commented on #937
It is unclear why mpileup assigns the GT as 0/0, for 2018-17381-02 looking at the PL it should be assigned as a 0/1 and for 2018-17380-02 it looks like it should be 0/0 and not 0/1.

I do not see anything wrong in either MIP or Scout (as they are just faitfullt relaying the info). I guess you have to decide if you want to go with the mpileup version of the GT or make an own call in judging this va

[2018-09-07 12:26] moonso commented on #937
Can we close this? This problem needs to be adressed outside scout

[2018-09-07 12:26] #937 closed

[2018-09-07 12:27] moonso opened #939 "Add `scout view variant`"
Just a small cli command

[2018-09-07 12:28] moonso opened #940 "scout view cases gives wrong result"
When using the `--causatives` flag cases with empty list of causatives are returned

[2018-09-07 14:42] KickiLagerstedt commented on #937
Jepp

Skickat från min iPhone

7 sep. 2018 kl. 14:26 skrev Måns Magnusson <notifications@github.com<mailto:notifications@github.com>>:

Can we close this? This problem needs to be adressed outside scout

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/Clinical-Genomics/scout/issues/937#issuecomment-419423652>, or mute the

[2018-09-10 16:03] #939 closed

[2018-09-10 16:03] #940 closed

[2018-09-11 13:58] moonso commented on #775
Seems to be no interest for this

[2018-09-11 13:58] #775 closed

[2018-09-11 14:11] moonso commented on #930
Closing this then since it is not a Scout issue

[2018-09-11 14:11] #930 closed

[2018-09-11 14:13] moonso opened #942 "Move documentation to mkdocs"

[2018-09-11 14:36] moonso commented on #925
Use command `scout index` when this is deployed to rebuild indexes with `backgroud=True`

[2018-09-11 14:36] #925 closed

[2018-09-11 15:00] moonso commented on #913
Is this something you can fix @henrikstranneheim and @dnil ?

[2018-09-11 15:07] moonso commented on #886
Closing this and add it to the agenda for next shout user meeting. If there is a need we can reopen. Need to do some issue cleaning 😅

[2018-09-11 15:07] #886 closed

[2018-09-11 15:08] moonso commented on #884
It's up to you @northwestwitch , please submit a PR if you feel like it

[2018-09-11 15:11] #809 closed

[2018-09-11 15:16] moonso commented on #922
Closed by #932

[2018-09-11 15:16] #922 closed

[2018-09-11 15:29] northwestwitch commented on #901
I'm working on a new version of clinvar integration on scout which will allow the creation of submission files with an unlimited number of variants and case data from different cases. I'll be able to fix the second problem described above but I haven't figures out yet how to solve the first.

[2018-09-12 05:53] northwestwitch commented on #913
If you want I could join the discussion as well, I've got experience with SVs and I remember that when I studied how the ranking was assigned for this category I noticed that yes, it could be improved.

[2018-09-12 10:38] #891 closed

[2018-09-12 10:47] #637 closed

[2018-09-13 05:55] 4WGH opened #947 "coverage for gene look odd"
https://scout.scilifelab.se/reports/genes/2592?sample_id=ACC4698A11

see link in fam 18177
variant in CYP11B2
I try to get the coverage for the gene and the 15X does not appear

[2018-09-13 06:00] northwestwitch commented on #947
Hi Michela! The coverage for this sample was probably analysed with the wrong settings (see this issue: https://github.com/Clinical-Genomics/scout/issues/912). How do we fix this @henrikstranneheim, we re-run it from a certain point of the pipeline?

[2018-09-13 06:56] 4WGH opened #949 "Pileup viewer shows the wrong gene (IVG the correct one)"
https://scout.scilifelab.se/cust003/18173/0cf4da80ff2e27c74280fc0914e27f59

If I look at the alignment with IGV it looks OK. Variant in STXBP1
if I use Pileup I see the variant in another gene not in STXBP1

The same issue occurs in other variants that I've random tested.

[2018-09-13 07:05] northwestwitch commented on #949
It might be due to a genome build issue. I'll look into it!

[2018-09-13 08:30] #924 closed

[2018-09-13 09:03] northwestwitch commented on #949
The problem is with the gene track, and apparently it is a known issue in Pileup (see here: https://github.com/hammerlab/pileup.js/issues/451).
Before we spend time on fixing this by using a custom bigBed file I think we could discuss if we want to keep both viewers during next user meeting meeting, next week. What do you think?

[2018-09-13 09:13] moonso commented on #949
I think we are ready to drop pileup. As mentioned we can discuss it in the [user meeting](https://github.com/Clinical-Genomics/scout/issues/936). What do you think @4WGH ?

[2018-09-13 09:15] moonso commented on #871
Done!

[2018-09-13 09:15] #871 closed

[2018-09-13 09:17] northwestwitch commented on #947
It is solved but it has been pushed into production only today. So If you need the 15X coverage for this sample I'm afraid you need to go through the usual procedure: open a ticket and ask for a re-run, sorry!

[2018-09-13 09:28] moonso commented on #868
@KickiLagerstedt @dnil Could you elaborate on this? Where would the information be to help analysis? If chanjo we should open the issue there instead...

[2018-09-13 09:28] moonso commented on #866
@northwestwitch are you still working on this? In that case could you merge the issues?

[2018-09-13 09:29] moonso commented on #864
Ok up for discussion next scout meeting

[2018-09-13 09:30] northwestwitch commented on #866
I'm not actively working on this right now. But yes, feel free to merge the issues!

[2018-09-13 09:33] moonso commented on #850
Included in #866

[2018-09-13 09:33] #850 closed

[2018-09-13 09:33] northwestwitch commented on #869
Agreed, also because from the title I wrote looks like I was on acid trip!

[2018-09-13 10:00] moonso commented on #869
😂😂
On 13 Sep 2018, 11:33 +0200, Chiara Rasi <notifications@github.com>, wrote:

[2018-09-13 10:12] 4WGH commented on #947
thank for the update.

I do not need the 15X for this I just reported as a general issue.

thank for the fast replay

________________________________
Från: Chiara Rasi <notifications@github.com>
Skickat: den 13 september 2018 11:17:53
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] coverage for gene look odd (#947)

It is solved but it has been pus

[2018-09-13 10:13] northwestwitch commented on #947
You're welcome! :)

[2018-09-13 11:07] moonso commented on #793
Fixed in #926

[2018-09-13 11:09] moonso commented on #791
Sure this is possible but then we need a way to transfer the rank models into scout so I would not label it `Easy`

[2018-09-13 11:26] henrikstranneheim commented on #949
I am much in favor for IGV

[2018-09-13 11:27] moonso commented on #784
Should we display all panels from panel app or how could this be done?

[2018-09-13 11:28] moonso commented on #765
Closing this for now, please reopen and send files if there are any further problems

[2018-09-13 11:28] #765 closed

[2018-09-13 11:29] moonso commented on #764
Closing, reopen or split into smaller issues if this becomes relevant

[2018-09-13 11:29] #764 closed

[2018-09-13 11:31] moonso commented on #868
Ok so please close this or make it more clear what should be done

[2018-09-13 11:32] dnil commented on #868
How about we settle for flagging the Eichler segmental duplication regions for now: that together with the Chanjo coverage should give a decent picture? The UCSC genomicSuperDups that is. @henrikstranneheim is that annotated somewhere already, or should we try to query automatically? BluePrint settled on a static page with a list of regions, but personally I would prefer a flag on the variant page

[2018-09-13 11:49] dnil commented on #787
If I could get access to an environment/sample files from a test case where this has been run, I could give making a draft page a go? Sounds like much fun! Otherwise, perhaps an "extreme programming" style paired session would be a good way forward? I could guide someone who has access to a suitable env?

[2018-09-13 11:49] dnil commented on #949
Concur! I rarely open pileup.js now. IGV.js needs colouring on InsertSizeAndOrientation like the standalone app, but that should be an issue to forward to them.

[2018-09-13 11:50] moonso commented on #597
Would you like to Gove this some thinking @northwestwitch ?

[2018-09-13 11:51] moonso commented on #787
Could you provide that @henrikstranneheim ?

[2018-09-13 12:51] northwestwitch commented on #597
Yes but I don't know if I'll have the tine before the next user meeting.

[2018-09-13 13:18] moonso commented on #784
In PanelApp there are two indications on gene level that indicates confidence in the gene. There is `Evidence: ['Expert list', 'Expert Review Green']` and also `LevelOfConfidence: 'HighEvidence'` (examples). You mention only green genes @dnil , is it ok to instead collect only **HighEvidence** gene.
Evidence levels are:
-  HighEvidence
-  ModerateEvidence
-  LowEvidence

I guess the result would b

[2018-09-14 14:02] dnil opened #952 "Gene symbol list file upload for SV variants"
Should be the same as for the SNVs, really. 😊

[2018-09-14 15:03] dnil opened #953 "Capitalisation of dismiss options, new option"
- [x] Add a dismiss option for "not matching established pathogenic mutation type".
- [x] Capitalize the short dismiss options for dropdown.

[2018-09-14 15:15] dnil opened #955 "Report: Add gene name to dismissed variants"
As a bare minimum, it will help convey at a glance what has been dismissed.

[2018-09-15 08:50] #953 closed

[2018-09-15 09:10] dnil opened #957 "Display exon number (range) on SV variant view"
More or less on SNVs. Can immediately carry meaning for the clinician: the common deletion of exon something in such and such gene, or the particular fusion between exon this and that in a form of leukaemia.

[2018-09-17 05:56] moonso commented on #784
Regarding number of panels. We could group them according to disease group, in that case we would get the following:

| Disease Group | Number of panels |
| ------------- | ---------------- |
| No group | 17 |
| Cardiovascular disorders | 16 |
| Ciliopathies | 3 |
| Dermatological disorders | 13 |
| Dysmorphic and congenital abnormality syndromes | 12 |
| Endocrine disorders | 15 |
| Gastroenterol

[2018-09-17 05:57] moonso commented on #784
Otherwise I don't really have any suggestion for how to group them

[2018-09-17 06:33] moonso commented on #784
be able to cherry pick panels (panelApp or local custom ones) into own aggregate panels/panel groups - much like the old lists and panels.

This is how I thought this will be used. Clinicians choose among these panels and then a aggregated panel is constructed, just like we do today so the support is already there.

I don't know about level 2 and levet 3, when I parse the panels it Is disease grou

[2018-09-17 07:53] dnil commented on #784
E.g. the NMDs. To replace the current list, I could use 20 PanelApp panels. They are all from the same group (level 2) - but I don't want all 38 panels from that group. They are from several different subgroups (level 3), but again not the full subgroups either. I can accomplish this *once* using the current PR - taking great care to pick the right 20. That is a good step forward. But, tomorrow I

[2018-09-17 07:56] dnil commented on #784
Oh, and when you are at PanelApp: have you seen their "region" and "STR" type entries? Really nice: we should mirror that: its just what we need for the new STR view, and for region filtering SVs in e.g. leukaemia.

[2018-09-17 08:14] moonso commented on #784
Ok there is, as always, a lot of suggestions here 😅 . Let's start with something fairly easy that works.

The problem that I can see with this one is that if you change your mind and remove 2 small panels and add another one, what do you have then? There are numerous ways this could get complicated. Shouldn't we just start with grouping them like they have done to begin with and see how that works

[2018-09-18 09:52] northwestwitch opened #959 "Error in stage/scout/server/blueprints/cases/controllers.py"
File "/home/hiseq.clinical/SERVER/apps/scout-stage/git/scout-stage/scout/server/blueprints/cases/views.py", line 47, in cases
    sanger_unevaluated = controllers.get_sanger_unevaluated(store, institute_id)
  File "/home/hiseq.clinical/SERVER/apps/scout-stage/git/scout-stage/scout/server/blueprints/cases/controllers.py", line 255, in get_sanger_unevaluated
    if variant_obj.get('sanger_ordered')

[2018-09-18 11:26] #959 closed

[2018-09-18 11:31] northwestwitch opened #960 "Link to the case page doesn't work from Sanger modal in cases view."
This issue occurs in stage but affects potentially production as well. Should be fixed asap

[2018-09-18 11:53] patrikgrenfeldt opened #961 "Rank model shows wrong version"
The rank model is a string in the case-config but is handled as a number in scout:
E.g. In config:
'rank_model_version': '1.20'
In Scout:
 Rank model
Version 1.2

Steps to reproduce:
1. start scout
2. open newly uploaded case

Expected outcome:
Rank model
Version 1.20

Actual outcome:
Rank model
Version 1.2

[2018-09-18 11:56] northwestwitch commented on #960
It's due to use of case._id key instead of case.display_name. at some point in the code, I guess. Worked with the demo data because the two values there are the same.

[2018-09-19 07:04] northwestwitch commented on #947
I'm going to close this one

[2018-09-19 07:04] #947 closed

[2018-09-19 07:05] northwestwitch commented on #879
Ok, I'm closing this for now, we can always re-open it at a later moment!

[2018-09-19 07:05] #879 closed

[2018-09-19 07:10] 4WGH opened #963 "UCSC link goes to browser hg38 insterad of hg19"
links to UCSC in fam 18182 link to UCSC hg38 and not hg19 as it used to do
so does NOT link to the right position !

This is a major issue, as we use the link for several checks

MichELA

[2018-09-19 07:29] northwestwitch commented on #763
This is probably not required at this stage, so I'm closing the issue!

[2018-09-19 07:29] #763 closed

[2018-09-19 09:26] henrikstranneheim commented on #936
@northwestwitch Could you post screen shoots for the new Sanger features?

[2018-09-19 09:42] northwestwitch commented on #936
There are some at #871!

[2018-09-19 10:07] henrikstranneheim commented on #936
👍

[2018-09-19 11:29] dnil commented on #936
1. Rolling releases are in progress: more often progressively during autumn.
2. Phenotype groups split by institute.
3. Most in favour of IGV, but lets keep both for a while longer unless it becomes a burden,
4. Sharing perhaps rather too easy for some users?
- [] Institutes sends in whitelists for quick sharing. Other sharing by request to admin.
5. Try to solve this with LIMS/StarLIMS initially

[2018-09-19 11:53] northwestwitch commented on #936
You're welcome, next time we can have video conference! :)

[2018-09-19 12:01] dnil commented on #936
Issue: more of gene name & possibly HPO disease directly on overview HOVER

[2018-09-19 12:03] dnil opened #964 "gene info hover on variants list, gene name on variant detail page"
Issue: more of gene name & possibly HPO disease directly on case overview HOVER
Issue: gene name on variant detail page

[2018-09-19 12:05] dnil opened #965 "clinical filter to use gnomAD"

[2018-09-19 12:06] dnil commented on #936
Bump #377!

[2018-09-19 12:08] dnil opened #966 "Adapt filter to use best fred available (exac/1000G/gnomAD)"

[2018-09-19 12:09] dnil opened #967 "Externally loaded cases flagged as such"
Eg NGI cases.. Involves passing info from CG. Note data available in delivery report.

[2018-09-19 12:16] dnil commented on #967
Also on a similar note: also show tissue type in Scout (and pass it on from CG/orderportal).

[2018-09-19 12:18] dnil commented on #936
- [ ] check that additional samples from same individual does not count more than once towards loqusdb local variant database. @moonso

[2018-09-19 13:53] dnil commented on #961
I had a quick look: it is actually the PyYAML parser that (correctly, according to the yaml re definition) returns this as a float. The most correct (and easiest for Scout developers :stuck_out_tongue_winking_eye:) is probably to quote it already when dumping it from CG / MIP. Would you happen to know where it is written out? @patrikgrenfeldt

[2018-09-20 09:30] #955 closed

[2018-09-20 10:33] #787 closed

[2018-09-20 13:17] #960 closed

[2018-09-26 12:11] dnil commented on #613
The leukaemia cases (and solid tumors for that matter) would benefit from also showing any gross anueploidy as well in a similar manner. Data for the latter can be exported from TIDDIT as a polidy tab. However, there is no standardised way to convert this to a VCF that I know of, short of adding "fake" chromosome level CNVs to a SV track. I would initially propose reading the TIDDIT tabs anyway an

[2018-09-26 20:18] moonso commented on #963
Hi, something has went wrong when adding the genome build. I have added a fix for this.

[2018-09-27 08:46] 4WGH commented on #963
will the fix be retroactive?

can you flag all samples affected by this?

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 26 september 2018 22:18:59
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] UCSC link goes to browser hg38 insterad of hg19 (#963)

Hi, something has went wrong when adding the genome

[2018-09-27 09:01] northwestwitch commented on #963
It's not retroactive, I'm afraid. But you should be able to identify those without the genome build because this info is missing in the side bar at the case level:
![image](https://user-images.githubusercontent.com/28093618/46135050-9baa6400-c244-11e8-8de4-d0fb85d8a81a.png)

Am I right @moonso ??

[2018-09-27 09:33] moonso commented on #963
Hi @northwestwitch, it should say '37' or '38'.
@4WGH This will affect all cases regardless of when they where sequenced. If genome build is not `37` or `38` (like in the picture) the wrong link is in production now.
When we update scout **ALL** cases will have the correct link

[2018-09-27 11:28] #963 closed

[2018-09-27 11:28] #964 closed

[2018-09-27 14:07] moonso opened #971 "Update Pymongo to 3.7.1"
This might take some effort...

[2018-09-28 20:28] ingkebil commented on #971
Will you lock it to that version or always use the latest release?

[2018-10-01 06:15] moonso commented on #971
We can lock it, guess that will be easiest

[2018-10-01 06:17] moonso commented on #949
Since this is a pileup issue I am closing this. If you want to proceed please go to hammerlab/pileup.js#451

[2018-10-01 06:17] #949 closed

[2018-10-01 06:58] #784 closed

[2018-10-01 07:00] moonso commented on #913
This is a MIP issue, opened [here](https://github.com/Clinical-Genomics/MIP/issues/594)

[2018-10-01 07:00] #913 closed

[2018-10-01 07:51] henrikstranneheim commented on #787
Expansion hunter is now a seperate file (one per family).
https://github.com/Clinical-Genomics/MIP/issues/252

Recorded in qc_sampleinfo.yaml:
[code]

[2018-10-03 08:37] dnil commented on #936
- [ ] As for point 5, I've been in touch with the StarLIMS-community. They can add a Synopsis as a new comment type (local admin level; will be approved if CMMS and Klingen admin agree). They can also add exporting HPO phenotype and the synopsis to the ordering JSON files, but this will have to be queued on StarLIMS development, so will likely happen in spring 2019.

[2018-10-03 08:52] northwestwitch opened #974 "Collecting refseq versions to build improved clinvar submission files"
This is not so easy, but in order to submit complete info via clinvar variant submission files we need to add  the refseq version to the submission. So far we save in Scout just the refseq code. Maybe it's easily fixable by querying some external database on the fly..

[2018-10-03 08:56] northwestwitch commented on #974
I forgot to add that if users decide to add a refseq code (and they should, because it adds a lot to the submission) without specifying the version, then the submission is rejected until they don't add the missing field.

[2018-10-03 09:06] northwestwitch commented on #901
Handling first problem in #974

[2018-10-03 09:06] #901 closed

[2018-10-03 09:16] henrikstranneheim commented on #974
Here is a flat file with a genbank=NM.version that one can use: ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/annotation/GRCh37_latest/refseq_identifiers/GRCh37_latest_genomic.gff.gz

One could add this to the VEP annoation, and I will look into if I can include this in the MIP analysis. Other option is to add this to Scouts internal database of transcripts.

[2018-10-03 09:34] KickiLagerstedt opened #975 "Analysis report; Add OMIM phenotype to variants"
Would appreciate if "OMIM window"
![bild](https://user-images.githubusercontent.com/17139607/46402367-d0fcf900-c6ff-11e8-8bdf-2b140e3ace98.png)

could be included in the "variant box" for variants that are causative, pinned, ACMG classified, other manual ranked variants, other commented variants.

// :=)

[2018-10-03 13:49] northwestwitch commented on #597
What should be done here? Pass info such as chromosome, start and stop and print them in the Sanger email?

[2018-10-03 14:04] dnil commented on #597
Yep, that should be it: e.g. ref, alt, subtype of variant as well. And rename to something more general, such as "Verify" or such instead of "Sanger".

[2018-10-03 14:21] northwestwitch commented on #597
Ok, I'll work on it soon!

[2018-10-03 18:57] 4WGH commented on #963
when will you update scout?
We are depending on our routine work on the link.....

This is very inconvenient for us. Can this issue get priority?

[2018-10-03 19:15] moonso commented on #963
Hi @4WGH , we are working on it. Can get back tomorrow with info on when.
If you really want it is super easy to get to the correct build. If you right click the link and then `copy` and then paste the link in the browser it looks like: `
http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg20&position=chr4:996535-996535&dgv=pack&knownGene=pack&omimGene=pack`

If you look in the beginning it says `...db=h

[2018-10-03 19:20] 4WGH commented on #963
thank for the update!

[2018-10-04 07:26] northwestwitch opened #977 "sv_variant page error with demo data"
Hi! I'm working on something unrelated to this but I noticed that there is the following error message when trying to visualize a structural variant using the demo data:

``
 File "/Users/chiararasi/Documents/work/GITs/scout/scout/server/blueprints/variants/views.py", line 165, in sv_variant
    data = controllers.sv_variant(store, institute_id, case_name, variant_id)
  File "/Users/chiararasi/Doc

[2018-10-04 08:10] northwestwitch commented on #977
It's a potential bug, I've assigned you @moonso because you have been working on this specific code recently!

[2018-10-04 08:11] moonso commented on #977
Ok I'll check the links again later today 👍

[2018-10-04 08:12] northwestwitch commented on #977
It doesn't have to do with the fact that I'm using the demo data. I think the error is triggered when from the code is called a function that is a string instead

[2018-10-04 08:54] northwestwitch commented on #597
Extending the Sanger sequencing to SVs is kind of tricky, because what if they're too big? Should we sequence each of the breakpoints instead?

[2018-10-04 10:48] dnil commented on #597
Exactly, more or less. :-) Large on reference, but not necessarily on the affected individual DNA - with a deletion eg. As long as all info on the SV is on the email, the user can determine wether to use eg Sanger, MLPA, array or FISH. Hence verification, rather than Sanger!

[2018-10-04 12:15] northwestwitch commented on #597
Ok! But then I didn't grasp the whole thing here, and I have other questions (sorry):

1) Should Sanger functionality for SNVs stay as it is and I should implement a similar but distinct one for the SVs?

2) What do you mean with "Large on reference .."? I should write as more as possible about the SV?

3) Should be a multiple choice present for the options you mentioned (Sanger, MLPA, array or FI

[2018-10-04 13:36] dnil commented on #597
Don’t ever be sorry for having questions! 😄
My recollection of the discussion is now after some time likely very biased by my own opinions, but here goes:

1. Same content as before for SNVs, but new name.  Verify is nice and general and would most often be done by Sanger for SNVs.

2. I can draw that at some point,  but yeah, details on the whole variant.

3. From our perspective, it being true/c

[2018-10-04 15:02] AnnHam opened #978 "Report issue - coverage also in general case report"
1. Dismissed variant description in report does not agree with what I want to say...

If I use "Common variation type" in the "dismiss-variant-rullgardin" - the text on the report says: "Found in a gene with much benign such (e.g. missense) variation" - Spelling(?) and is it obvious that "common variation type" means that?

AND

"no protein function" meaning "Not likely to alter protein function -

[2018-10-04 15:51] dnil commented on #978
1. We did discuss these extensively at a couple of meetings, but I'm to blame (😊) for the final touches. New input is welcome!

First, would you perhaps rather also have the short form of the option repeated on the report?

Then, for "common variation type": I cant see the spelling error? Please help! 😊 Please also suggest an alternative text - that would be lovely!

"No protein function". Some ch

[2018-10-05 07:09] AnnHam commented on #978
"Found in a gene with much benign such (e.g. missense) variation"

- It's the explanation on the report I find a little bit odd (not the dismiss label)... I see what it means, but would re-phrase.

Some "dismissed options" I might just have to learn what it means for the report, but now when we start using it - I think we will find alternative labels that are more useful. Since I have done a lot o

[2018-10-05 11:30] #977 closed

[2018-10-05 12:07] KickiLagerstedt opened #980 "Analysis report: Order of variants"
Variants that are causative, pinned, ACMG classified, other manual ranked variants, other commented variants. when in the pdf report are in a complete random (at least for me) order ie; within commented variants the list are variant rank; 36, 194, 72, 57, 71, 20, 196, 10, 11, 1, 239

https://scout.scilifelab.se/cust002/F0008261

Would it be possible to get them in variant rank order?

[2018-10-05 12:08] northwestwitch commented on #980
Yes, that is easy!

[2018-10-07 14:10] KickiLagerstedt opened #982 "Comments om variant - all are global? BUG???"
Analyzing a case and a comment is written on my variant. I open the variant and ca see a comment I have written regarding another case - this is not suppose to be happening!!!

https://scout.scilifelab.se/cust002/F0012595/fb25475084db5a36742af698e167fafb

[2018-10-07 14:10] KickiLagerstedt commented on #982
om = on....

[2018-10-08 07:52] KickiLagerstedt commented on #982
Another example
https://scout.scilifelab.se/cust002/F0011704/74928d6eaf0cbd72d8a1a27456122911

[2018-10-08 07:53] dnil commented on #982
Well found!

[2018-10-08 07:56] northwestwitch commented on #982
I'll check. I was recently fixing a big on the local-global variants and I might have introduced another. Thanks for the examples!

[2018-10-08 07:57] #980 closed

[2018-10-08 09:12] KickiLagerstedt opened #983 "Annotation of compunds lacking"
When hoovering (?) over the list of compound variants annotation of compound variants are lacking (empty boxes) (page 2-) (I showed Daniel) but are there when I go back to repeat..
![bild](https://user-images.githubusercontent.com/17139607/46600595-e81a5d00-caea-11e8-8689-587a407815a1.png)

I´ll get back to this issue if I can repeat it on a new case...

[2018-10-08 09:33] KickiLagerstedt commented on #983
compunds = compounds ...

[2018-10-08 09:56] northwestwitch commented on #982
Ok, I checked this on scout stage, where the code is updated after my bug fix (merged in to master about one month ago) and I couldn't reproduce this error.
For instance I added a specific comment on variant:
https://scout-stage.scilifelab.se/cust002/F0011704/74928d6eaf0cbd72d8a1a27456122911

and another on variant:
https://scout-stage.scilifelab.se/cust002/F0012595/9c5458bf686b26647e28298d584a013

[2018-10-08 10:18] KickiLagerstedt opened #984 "Can not "Download PDF" Report"
https://scout.scilifelab.se/cust002/F0013129/case_report

"504 Gateway Time-out"

I have tried x3

[2018-10-08 10:52] northwestwitch commented on #984
I'll look into it. For the time being if the HTML version of the report is working (for me it woks but the page is slow to load), you might save a PDF of the report by pressing "print" and then "save as pdf" from the browser page. Not optimal I know, but it should work!

[2018-10-08 12:28] KickiLagerstedt commented on #983
![bild](https://user-images.githubusercontent.com/17139607/46608892-75b77600-cb06-11e8-8d37-ae3301675e42.png)

[2018-10-08 12:29] KickiLagerstedt commented on #983
Efter reload:
![bild](https://user-images.githubusercontent.com/17139607/46608939-95e73500-cb06-11e8-94a2-a066462620d2.png)

[2018-10-08 13:36] dnil commented on #961
- [ ] Issue to CG
- [ ] Check that all downstream use of semantic versions in Scout are with string type where relevant.

[2018-10-08 14:29] northwestwitch commented on #975
This will be quite easy. OMIM id code is currently displayed only for structural variants, but I can add some more info including the OMIM term (not only the id) for all variants.

[2018-10-08 14:32] northwestwitch commented on #975
And the phenotype!

[2018-10-08 20:55] northwestwitch commented on #984
The query optimization in #985 is still not fixing the issue, so I reopen it and I'll find a real solution!

[2018-10-09 06:51] patrikgrenfeldt commented on #961
If one runs the command cg upload scout --print [family_id] for any recently uploaded analysis one can see the data that is passed to scout and that it has quotations, i.e. 'rank_model_version': '1.20'. Looking at the same case in scout gives Rank model Version 1.2 This issue seems to be somewhere downstream of cg, closed the issue in cg.

[2018-10-09 07:16] dnil commented on #961
Thanks for checking! Seems the demo files are out of date here too then, and likely a remaining float somewhere downstream. Me fix.

[2018-10-09 08:05] #961 closed

[2018-10-09 09:05] moonso opened #988 "Create a view for institutes"
This would simplify updates to institutes, e.g.

- [ ] Update institutes to share cases with
- [ ] Update phenotype groups
- [ ] Set rank score tresholds

[2018-10-09 09:07] moonso commented on #983
So could it not be ok that it works after a reload?

[2018-10-09 09:08] moonso commented on #983
I think this will happen for old cases, new cases should include this information right away

[2018-10-09 09:09] moonso commented on #982
Ok, this will be fixed when we update production. Hopefully today 9/10-18.

[2018-10-09 09:09] #982 closed

[2018-10-09 09:15] dnil commented on #983
We tested it with a decently recent case, but please remind me to show you tomorrow! The user did not realise that something was missing, which is risky. We should at least have a reasonable understanding of why this happened before dismissing it.

[2018-10-09 09:41] #975 closed

[2018-10-10 13:18] moonso commented on #963
Fixed now! 🍾

[2018-10-10 13:55] 1ctw opened #996 "Problems after update to 4.1.0"
The "Comments" in cases are changed to "None" after the update. Not all comments but there are both old and new ones that are affected.

See for example:
https://scout.scilifelab.se/cust003/18104
https://scout.scilifelab.se/cust003/18028

[2018-10-10 14:11] KickiLagerstedt commented on #996
I see this too!!!
https://scout.scilifelab.se/cust002/F0005922

[2018-10-10 14:12] KickiLagerstedt commented on #996
Verkar vara kopia av "activity": när ngt gjorts med provet så får man kommentar "none"

[2018-10-10 14:12] 1ctw opened #997 "Missing transcript"
I recently found a variant in ETFDH in case 18188.

https://scout.scilifelab.se/cust003/18188/ecc12041f2f3e62f7eeed08fceaa0fd0

Those are the only transcripts shown in Scout as it is now:
![bild](https://user-images.githubusercontent.com/15033593/46741982-6d963c80-cca6-11e8-82ff-983f9c5066c8.png)

The disease associated transcript NM_004453 is now missing, but it has been there before. I can see f

[2018-10-10 14:13] dnil commented on #996
On my end, it looks like other events than "comments" are rendered as comments.

[2018-10-10 14:19] KickiLagerstedt opened #998 "Problems after update to 4.1.0 - Sanger verification"
Would appreciate if the pop-up would be not according to site - but according to person that clicked on the Sanger button - We have some cases where Sanger has been verified by CMMS or Clinical immunology...
i.e. shared cases...

[2018-10-10 14:20] northwestwitch opened #999 "KeyError: 'ensembl_id'"
This happens when you try to visualize some variants. We should fix it!

Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.5/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.5/site-packages/flask/app.py", line 1815, in full_dispatch_request
    r

[2018-10-10 14:21] northwestwitch commented on #998
That's a good suggestion, and quite easy to fix!

[2018-10-10 15:17] NicoleCMMS opened #1000 "Request BAM files to remain in Scout for 6 months"
Last week at a GMCK Scout users meeting where there are representatives from clinical genetics, immunology and CMMS we discussed the length of time the BAM files are available in Scout and all three clinics are in agreement that 3 months is too short.  Ideally we would like to have access to them until the case is solved/archived but we understand that there is a lack of data capacity for this.  W

[2018-10-10 15:51] northwestwitch commented on #996
Yeah, something went wrong here. We'll try to fix it as soon as possible!

[2018-10-10 18:17] moonso commented on #1000
Number 1000 🍰 🍾 👾 Congratulations!!!

[2018-10-10 18:18] moonso commented on #999
I have fixed this in #1002

[2018-10-10 18:18] #999 closed

[2018-10-11 05:04] henrikstranneheim commented on #1000
It is not possible in our current cluster. However, the installation of the new cluster with more data storage is progressing nicely so far. We could probably extend the availability once we have migrated there. I do not dare say when have completed the migration, but we are talking months here. We are also looking into software that will increase our ability to reduce the storage footprint of BAM

[2018-10-11 08:32] NicoleCMMS commented on #1000
Excellent, good to hear it is on the wish list when the problem with data storage is solved.  Måns it’s always good to celebrate….even the small things in life 😉

Från: Henrik Stranneheim <notifications@github.com>
Skickat: den 11 oktober 2018 07:04
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Nicole Lesko <nicole.lesko@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clin

[2018-10-11 09:59] northwestwitch commented on #984
The 2 query optimizations I make didn't make much difference so I was thinking that we could try to do something at the level of the server configuration. Could we try to increase the Gateway timeout in the conf file (ngix?, I don't understand much of this stuff I'm afraid) @ingkebil ?

[2018-10-11 10:34] northwestwitch commented on #984
When there are a lot of variants involved like in the case above the server takes more time then 5 minutes. I can see if I find some other place where the code could be improved, I'll let you know!

[2018-10-11 14:56] dnil commented on #1000
Here is some food for thought regarding implementing user initiated deletion fully. Most cases that do get (marked) solved are indeed solved within a shorter time frame than three months:
<img width="1555" alt="screenshot 2018-10-11 at 16 02 07" src="https://user-images.githubusercontent.com/758570/46811934-034bcd80-cd74-11e8-86a0-4c1d27892d90.png">

The same picture can be seen for archiving, tho

[2018-10-11 15:06] moonso commented on #1000
Well done @dnil ! This might be something for @ingkebil to see to?

[2018-10-11 18:10] henrikstranneheim commented on #1000
Nice work Daniel! At least now we now that we should focus on the other options.

[2018-10-11 19:29] ingkebil commented on #1000
As Henrik says: in our setting this is near to impossible.

Some context on the shelf life of files on our main storage unit:
- fastq files: 100 days
- temporary analysis files: 21 days
- bam files: 100 days
- result files (vcf): 2 years

We can reduce the amount of time we keep the fastq files and augment the amount of time for bam files for now. e.g. take 30 days from the fastq and add them to t

[2018-10-12 06:38] NicoleCMMS commented on #1000
For us at CMMS the majority of the reruns are ordered to enable analysis against an updated version of our databases.  A small number are rerun in order to get the bam files back.

Från: Kenny Billiau <notifications@github.com>
Skickat: den 11 oktober 2018 21:29
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Nicole Lesko <nicole.lesko@sll.se>; Author <author@noreply.github.com>
Äm

[2018-10-12 06:46] AnnHam opened #1006 "Report issue - disease transcript"
Missing information in the report

It's easy to see which transcript is the canonical transcript in the report, but we need to know which transcript is the disease transcript (according to HGNC/RefSeq).

Could it be possible to highlight the disease transcript like in the interface of the variant?

[2018-10-12 06:46] KickiLagerstedt opened #1007 "Issue regarding General Report - clearer boundaries between variants"
Would it be possible to get "thicker" lines regarding boxes including the different variants? It would clarify what "facts" belong to what variant.

The green/blue/yellow/red lines regarding the different classes could also be thicker...

[2018-10-12 07:19] dnil opened #1008 "HPO search view is down in 4.1.1/production"
500 Internal Server Errors after entering a search term and hitting search. Check log?

[2018-10-12 07:28] KickiLagerstedt commented on #984
504 Gateway Time-out
https://scout.scilifelab.se/cust002/F0026810/case_report

When I try to print the report from the browser page suggested by Chiara @northwestwitch I do not get the whole report - only a few pages... ; everything BUT the commented variants (only two pages out of X pages) that I am interested in- Possibly also only two pages from dismissed variants.

[2018-10-12 07:43] dnil commented on #1008
Ok, that worked. Closing. ☺️

[2018-10-12 07:43] #1008 closed

[2018-10-12 07:52] northwestwitch commented on #1006
I'll work on it!

[2018-10-12 07:53] northwestwitch commented on #1007
I'll try!

[2018-10-12 10:31] moonso commented on #997
Hi @1ctw , I am not 100% sure when this changed but I guess it was when we started to handle genes and transcripts in a more exact way.
Transcript `NM_004453` does only exist in build 38. In build 37 the same transcript has refseq id `NM_001281738`.

Hope that is fine. Please close issue if there are no other questions

[2018-10-12 10:40] moonso commented on #997
![skarmavbild 2018-10-12 kl 12 39 34](https://user-images.githubusercontent.com/405278/46864914-f7b3e180-ce1b-11e8-9626-84b7a4c12fdb.png)

You can confirm from this picture that they have the same ensembl id

[2018-10-12 11:04] 4WGH commented on #333
question about prediction of in frame deletion come up again.
something to look into?

[2018-10-12 11:57] #997 closed

[2018-10-12 16:46] moonso commented on #1007
Fixed in #1011

[2018-10-12 16:46] #1007 closed

[2018-10-12 16:47] moonso commented on #1006
Fixed in #1011

[2018-10-12 16:47] #1006 closed

[2018-10-12 20:02] ingkebil commented on #1000
I find it reasonable to hang on to the BAM files for as long as we can and favour deleting fastq files over BAM.

What if we change the the shelf life as such:
- fastq: 30 days
- BAM: 170 days

@emiliaol @vwirta anyone any objections?

[2018-10-12 20:08] vwirta commented on #1000
This would reruns from fastq more challening.
How easy would it be to go from BAM to fastq? Or start MIP from BAM?

Did you have a more indepth look at Petagene? Could this be part of the solution?

[2018-10-12 20:34] ingkebil commented on #1000
This would only be a solution for rasta. I don't think we need to keep ourselves to these strict shelf lives on hasta. Yet.

I don't know how much we are rerunning a case in the first 100 days. Querying scout might give us an answer to that. Or querying EOL ;)

[2018-10-12 20:36] vwirta commented on #1000
Ok, for rasta this sounds like a good quick fix.
Let’s query EOL to get her opinion :)

[2018-10-12 20:39] hassanfa commented on #1000
IMHO, making an unaligned bam file might be even better solution. Going to aligned bam file from unaligned bam file is fairly straightforward.

[2018-10-12 20:44] ingkebil commented on #1000
I don't know if that is relevant for Nicole's question? Current focus is only to shelf life of BAM files.

If it is relevant, can we take that up in another thread?

[2018-10-12 20:51] hassanfa commented on #1000
You're right another thread. But we should remember, aligners are not prefect. If fastq files are removed and only bam files are kept, then possible analysis reruns might be tricky. If a decision is made to keep bam files, a complete bam file which includes unaligned reads has to be an option.

[2018-10-13 04:09] northwestwitch commented on #1000
What about converting bam to cram files? The format is supported by igv and it would save us a lot of space. Could we start doing it on the new cluster?

[2018-10-15 06:09] sofievonlanthen commented on #998
Not sure if this is not working, or if I don't understand it, but I can see a long list of Sanger verifications in cases even if no Sanger has been ordered on any of the variants pinned in that case. I can also see cases where the Sanger has been verified, put still show up on the list. Is the list only suppose to contain cases where Sanger has been ordered, but not validated?
I would prefer to be

[2018-10-15 07:13] northwestwitch commented on #998
Hi Sofie, could you post here an example of the cases you are mentioning? I'm improving the functionality of the Sanger validations on these days so I'll fix any bug of this type. Thanks!

[2018-10-15 09:12] sofievonlanthen commented on #998
![sanger_screenshot_list](https://user-images.githubusercontent.com/36202149/46941344-32f81f80-d06b-11e8-94cb-338a0905b65b.PNG)
![sanger_screenshot_nosanger](https://user-images.githubusercontent.com/36202149/46941345-3390b600-d06b-11e8-9b33-f63aebdef3dc.PNG)
![sanger_screenshot_validated](https://user-images.githubusercontent.com/36202149/46941346-3390b600-d06b-11e8-9202-efe6332185da.PNG)

[2018-10-15 09:13] sofievonlanthen commented on #998
So the first is the list. The other pic is on an archived case, which has no sanger ordered, and the third pic is a case which is solved and the sanger has been validated. Maybe I am missing something?

[2018-10-15 09:55] northwestwitch commented on #998
Hi! I think I understood what is wrong here.

**First case (the archived one):** I checked in the database and the case has actually one variant with sanger ordered and canceled (https://scout.scilifelab.se/cust004/318701400067fam/a90bb8e83968ddce620e5e1a8fdacceb).

**Second case:** Second case has 2 sanger ordered in database:

1. https://scout.scilifelab.se/cust004/318701400042fam/8b9ef5ed8529b5

[2018-10-15 10:11] northwestwitch commented on #984
@moonso what is slowing down the queries and the case report creating might be the search of the sanger sequenced variants.
I'm testing something else and a stupid query like this:
sanger_vars = db.variant.find({ 'case_id': 'blablabla', sanger_ordered:true }) takes ages.
Could we index the field?? To be certain we should create the same report with the Sanger sequenced info and see if it's faster!

[2018-10-15 14:13] #847 closed

[2018-10-15 15:52] #984 closed

[2018-10-16 08:03] 4WGH commented on #912
the coverage report still show the 15X empty can we remove it or fix it?
10-15-20 maybe to many we can skip 15X.  :)

[2018-10-16 08:07] northwestwitch commented on #912
@4WGH is it a new case, because new cases should have 15X coverage. Old ones like the one you opened the issue for aren't fixed by default.

[2018-10-16 08:53] 4WGH commented on #912
sorry! recent  case but from before the update of SCout.

Always get confused when there is a gap between closed issue and update 😊

I've checked a new case an it works.

Michela

________________________________
Från: Chiara Rasi <notifications@github.com>
Skickat: den 16 oktober 2018 10:07:50
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Mention
Ämne: Re: [Clinical-Genomics/scout] 15x co

[2018-10-16 08:56] northwestwitch commented on #912
It's OK! :)

[2018-10-16 13:00] #998 closed

[2018-10-16 13:02] moonso commented on #988
Could you start on this one when you have time @northwestwitch ?

[2018-10-16 13:07] northwestwitch commented on #988
Ok!

[2018-10-16 19:14] #965 closed

[2018-10-17 07:46] henrikstranneheim opened #1018 "Slice case data in dashboard"
_Filter function_
- [ ] Case(s)/sampleID(s)
- [ ] HPO-term
- [ ] Gene
- [ ] Casual variants
- [ ] Pinned

[2018-10-17 14:11] KickiLagerstedt opened #1021 "Feedback "General Report""
I just want to say that we really like the "General report" that we are able to use now when performing SCOUT analysis - it has improved the speed of analysis remarkably and we really like the "dismiss variant" feature as well as the PDF report!

THANK YOU ALL who has been working with this! :1st_place_medal:

// Kicki & Helena & Anna mm

[2018-10-17 20:28] ingkebil commented on #1000
bump @emiliaol :)

[2018-10-18 07:39] dnil opened #1022 "gnomAD PLi"
New pLI scores based on the entire gnomAD 2.1 are now available! https://macarthurlab.org/2018/10/17/gnomad-v2-1/
Should replace old exac pLI table!

[2018-10-18 07:42] 4WGH commented on #997
![etfdh](https://user-images.githubusercontent.com/12525201/47138522-f4a46f80-d2b9-11e8-9f3e-b58ec33b4a9d.PNG)

the transcript NM_004453 exist in hg38...... and is not the same as transcript NM_001281738

Something else is happening here, unfortunately.

[2018-10-18 08:06] moonso commented on #997
Hi, yes we are saying the same thing. The NM transcript exists in build 38 but in build 37 it does not exist. In 37 it has another NM id. Since the case is run with 37 we can not see the NM id.

[2018-10-18 08:15] 4WGH commented on #997
no Måns...

NM_004453 exists in both bilds 37 and 38

It has disappeared!

Look at the Sanger order in fam 18147 and 18188.

Look into Scout for fam 18147 NM_004453  is not appearing any longer.

(By the way the "Disease associated transcripts" is also empty and so should not be )

Something else has happened and we can not undestand it but it is removing important information for us .

__________

[2018-10-18 08:16] dnil commented on #997
Hm, that it exists in hg38 was pretty much what @moonso said, but the funny thing is that there used to be a merged entry in hg19 including NM_004453, but primarily NM_001281738 - which appears in ENSEMBL as a preferred name for the same entity:
![screenshot 2018-10-18 at 09 59 40](https://user-images.githubusercontent.com/758570/47139672-aa70bd80-d2bc-11e8-97bf-1e8bba7a7f32.png).
Perhaps we could

[2018-10-18 08:30] dnil commented on #997
Oh, but the conceptual translations of NM_004453 (the nice 617 aa) and NM_001281738 (some funky 556 aa) actually differ! So the ENSMBL transcript table is broken - or at least I understand it wrong. Didn't you introduce a length check on peptides at some point to confirm identity @moonso?

[2018-10-18 14:19] AnnHam opened #1023 "Matching causative..."
Hej,

Broken link to the "matching causative from other cases" keycolt. (Now Daniel could help me with that - problem is that I would like our family-ID name instead of "keycolt".

Another question: This variant has been seen 4 times in our local database - can we be sure that this is true and not due to re-run of these two patients?

[](url)
![image](https://user-images.githubusercontent.com/3248

[2018-10-19 06:05] moonso commented on #997
Ok so I think there will always be problems like this whichever method we choose to use when defining the transcript/gene dataset. According to the rules we decided on to build the gene and transcript data in scout everything is right. We stated that each transcript will have one refseq id (if any is available) and we use HGNC as our anchor. So when HGNC says that NM_001281738 is the primary trans

[2018-10-19 07:40] 4WGH commented on #997
Sorry but I still don't understand why NM_004453 has disappeared.

It is in build 37 and 38.

 for each variants there are several NM_xxx trancripts listed in the transcript overview with the corrisponding HGVS Description.

why NM_004453 doesn't come up anylonger? it did Before....

When you write "We stated that each transcript will have one refseq id (if any is available)" do you mean that if a

[2018-10-19 08:36] moonso commented on #997
Yes, there is only one NM identifier per transcript in Scout. This is why we don't see NM_004453. We see NM_001281738 instead because it is stated as canonical in HGNC

[2018-10-19 09:07] moonso commented on #1022
Could you point to that file?

[2018-10-19 09:10] dnil commented on #1022
Here, I guess:
https://console.cloud.google.com/storage/browser/gnomad-public/release/2.1/ht/constraint?pli=1

(from gnomAD Downloads page).

[2018-10-19 15:23] henrikstranneheim opened #1025 "Scout user meeting agenda 14/11 -18"
Welcome to the user meeting! Please help us fill the agenda with topics that may interest you.

## Agenda

1. **Scout workshop**: Prel half-day workshop for Scout users during the week 5, 2019
1. Transcripts again...
1. New dashboard
1. Panel upload updates
1. Mosaicism
1. Overlapping SVs in variants' page
1. SweGen frequencies
1. New search function from the case view (HPO-term and synopsis)
1. I

[2018-10-20 07:54] #320 closed

[2018-10-22 07:21] ingkebil commented on #1000
Shelf life of files has been changed to:

    fastq: 30 days
    BAM: 150 days

Please be aware we might have to adjust these numbers to take some pressure off of requested reruns.

Hope that helps.

[2018-10-22 07:22] #1000 closed

[2018-10-22 07:59] ingkebil commented on #1000
Hi Nicole,

shelf life has now been changed to:
- fastq: 30 days
- BAM: 150 days

Please be aware we might have to adjust these numbers depending on the amount of reruns requested.

Hope this helps,
Kenny

[2018-10-22 12:05] moonso commented on #1022
Hmm in this file we have different pLi scores for different transcripts. Not really sure how to handle that in Scout. Any suggestions?

Also I think pLi scores are included in the rank model so MIP has to update and score per transcript, not sure if it is MIP or VEP who does that, do you know @henrikstranneheim ?

[2018-10-22 15:16] henrikstranneheim commented on #1022
Not by heart. I will take a look soon, I am about to update VEP in the near future

[2018-10-22 18:54] #1023 closed

[2018-10-23 07:25] #815 closed, assigned to nobody

[2018-10-23 14:01] dnil commented on #815
Yep; the commit lost the fix tag in a makeover / heavy rebase.

[2018-10-23 14:18] NicoleCMMS commented on #1000
Excellent, thanks!

Nicole

Från: Kenny Billiau <notifications@github.com>
Skickat: den 22 oktober 2018 10:24
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Nicole Lesko <nicole.lesko@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] Request BAM files to remain in Scout for 6 months (#1000)

Hi Nicole,

shelf life has now been changed to:

  *   fastq

[2018-10-24 18:16] northwestwitch opened #1031 "PDF-exported gene panels look bad when their genes are shared by too many other panels"
Example:

![image](https://user-images.githubusercontent.com/28093618/47452060-8e43b380-d7c9-11e8-8c44-ddf2526e28e1.png)

[2018-10-25 06:58] northwestwitch commented on #1031
@dnil what do you think if I fix this by printing let's say the numbers of 10 panels and if the gene is present in more, I write + n other panels?

[2018-10-25 07:41] dnil commented on #1031
Sounds good enough to me! It’s a nice bonus. I’d personally prefer the other panels over say “Disease associated transcripts” or “Mosaicism” in this particular view. Perhaps try cutting some of those columbs now and we can ask at the next user meeting! Regardless, the number of other panels shown needs to be limited to something finite and short of the right margin. 😄

[2018-10-25 08:29] northwestwitch commented on #1031
You could also plot the table in the landscape sense, but of course it will be spread on more pages. I'll try cutting the other columns because they're mostly empty anyway!

[2018-10-25 08:47] dnil commented on #1031
Sounds good! One could also group panels that co-occur, but It would be technically more complicated, and is not guaranteed to save space if the panels change too much over time. We could perhaps also sacrifice differentiating between different versions of the same panel, but that's more scary.

[2018-10-25 08:47] dnil commented on #1031
Or use only the current status, ie latest version of each? That would be defendable.

[2018-10-25 08:48] northwestwitch commented on #1031
I didn't think about that, but yes, it would be quite easy to do

[2018-10-25 10:28] dnil opened #1032 "Chanjo report: show transcripts with missing coverage"
Todays mutation round issue. Current coverage report shows only how many transcripts for each gene have incomplete coverage, not which. The view from variants - gene coverage is excellent, but cannot be reached if there are no high-ranked variants to reach the variant page for.

[2018-10-25 10:48] henrikstranneheim commented on #1032
Does the coverage overview from the gene panel view help? I think it lists all transcripts that descending order with missing transcripts independent of rank score (I think...). Of course your gene has to be in a panel.

[2018-10-25 11:50] #866 closed

[2018-10-29 11:46] #1031 closed

[2018-10-30 13:32] #952 closed

[2018-10-30 15:16] AnnHam opened #1041 "Clinical filter not working properly"
Is clinical filter not working properly after the latest update? There are loads of intronic variants after filtering...

[2018-10-30 15:49] northwestwitch commented on #1041
You're right! I've touched that code yesterday and I introduced a bug, I'll fix it, thanks!

[2018-10-31 08:17] ellikasahlin commented on #1041
Do you have any updates on when this might be fixed?

[2018-10-31 08:32] northwestwitch commented on #1041
We'll fix it today, working on it now. I'll write it down here when it's down. Sorry for the inconvenience!

[2018-10-31 11:59] #1041 closed

[2018-10-31 12:15] northwestwitch commented on #1041
Not yet..

[2018-10-31 12:36] #880 closed

[2018-10-31 12:46] moonso commented on #1041
It's working again!

[2018-10-31 12:47] ellikasahlin commented on #1041
Wohoo!

[2018-10-31 15:44] dnil opened #1046 "Overlapping SVs hover misinterprets BNDs"
BNDs appear to have a very large size (approximation for infinite). They should for the purpose of overlapping only occur in a gene they hit with their start / end coord - size does not matter here.

[2018-10-31 15:53] dnil commented on #966
Hm, this does not work well for current and older cases where gnomAD frequencies are missing?! We need a workaround until we get these values populated. As in heading, use best available for case rather?

[2018-11-01 06:35] moonso commented on #1021
Great work @northwestwitch and @dnil !! 🍰

[2018-11-01 08:47] #1021 closed

[2018-11-01 08:47] northwestwitch commented on #1046
@moonso are you working on this? Otherwise I could take it

[2018-11-01 08:47] #978 closed

[2018-11-01 10:11] dnil commented on #333
One version seen operational in Lund; Paul P has a working setup running CADD locally on indels - I'm sure he would help iron out any issues we may run into there. SIFT Indel looks nice enough, but CADD seems like a great place to start.

[2018-11-01 19:48] moonso commented on #1046
Hi, this needs some thinking. If the algorithm for choosing what to show gets to complicated it will take a long time to load variants. Exactly which BNDs should we show? Should this apply to all SVs?

[2018-11-02 15:56] NicoleCMMS opened #1048 "Sanger confirmation mail lacks info about which gene is to be analysed"
The e-mail that is automatically generated from Scout has changed along with the most recent update of Scout.  The subject heading has lost information about which gene is to be sequenced.  It would be nice if we could get this back as it is extremely useful for us at CMMS. Thanks!

[2018-11-04 19:55] 4WGH commented on #997
yes!

thanks

Michela

________________________________
Från: Måns Magnusson <notifications@github.com>
Skickat: den 29 oktober 2018 15:25:33
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Mention
Ämne: Re: [Clinical-Genomics/scout] Missing transcript (#997)

[skarmavbild 2018-10-29 kl 15 24 20]<https://user-images.githubusercontent.com/405278/47656116-c151c280-db8e-11e8-99cc-c853c75bd36e.p

[2018-11-05 07:47] NicoleCMMS commented on #1048
Excellent, thank you.  When you have fixed it can you let us know so I can test it?

Från: Chiara Rasi <notifications@github.com>
Skickat: den 5 november 2018 08:28
Till: Clinical-Genomics/scout <scout@noreply.github.com>
Kopia: Nicole Lesko <nicole.lesko@sll.se>; Author <author@noreply.github.com>
Ämne: Re: [Clinical-Genomics/scout] Sanger confirmation mail lacks info about which gene is to be an

[2018-11-05 07:48] northwestwitch commented on #1048
Sure!

On Mon, Nov 5, 2018 at 8:47 AM NicoleCMMS <notifications@github.com> wrote:

[2018-11-07 08:07] #1046 closed

[2018-11-07 10:33] northwestwitch opened #1052 "Gene edit in panels doesn't show all required features"
- Inheritance should be of manual type (AR, AD, [AD,AR], XL, XR, digenic)

- Entry version

[2018-11-07 10:36] northwestwitch opened #1053 "Switch columns "mosaicism" and "reduced penetrance" in gene panel example csv file"
Doesn't affect gene panel table shown on the panel page

[2018-11-07 10:44] northwestwitch opened #1054 "Die gracefully and show error message when gene panel is not formatted correctly"
App shouldn't crash on file parsing error

[2018-11-07 10:52] northwestwitch commented on #1054
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 28212: invalid start byte

Could it be that a line is terminated by \r instead of \n?

[2018-11-07 11:27] northwestwitch opened #1055 "Add DR (digenic) OMIM inheritance model"
Example: gene SLCO1B1 and SLCO1B3

[2018-11-07 11:30] northwestwitch opened #1056 "Add overwrite option in gene panel edit"
So that if the same gene is found in the old panel it is modified with the info provided in the csv file

[2018-11-07 14:53] northwestwitch commented on #1052
This has to be fixed after #1055

[2018-11-07 14:58] 4WGH opened #1059 "comment on gene panel not appearing"
Hi,
 in the IEM panel v13 Iäve added a gen through the pending changes window.
I've written a comment but it is not appearing.

A new bug  discoverd  :)

[2018-11-07 14:59] northwestwitch commented on #1059
I'll check!

[2018-11-08 12:15] henrikstranneheim opened #1061 "Display swegen SV freq in SV view"
This tag has been in since MIP 6.0.
[code]

[2018-11-08 14:22] 1ctw commented on #793
Finally I have had time to check the function of ”The filter and export” function that we first of all want to use for export of mtDNA variants from Scout.

In my first comment May 4, 2018, I wrote a specification of our wishes for the report, see points below. The report must present everything we need to import to our LIS in the right format. I again attach my example .xls file from then.
[Repor

[2018-11-08 14:26] 1ctw opened #1062 "mtDNA issues after Scout update"
1.	After last update in Scout all the fields for “Transcript overview” are empty for mtDNA variants. If you under “HGVS Description” want to present both c. and p. it is ok, but as I said in #793 it is not relevant with c. for the report.

![bild](https://user-images.githubusercontent.com/15033593/48204724-cff86080-e36a-11e8-929b-694659997f26.png)

2.	We have run Case 17121 before and after last u

[2018-11-08 14:49] 1ctw commented on #1062
Please notice that I also made comments in the closed issue #793. Could you please open this issue again.

[2018-11-08 15:05] northwestwitch commented on #793
Hello! We should discuss about this during the next user meeting. I tried to make a report that is usable by any scout user but I see that what you need is something  a bit more customized and ready to work with the software at your facility (and probably not so useful for other users?).

I'm not saying this can't be done but it would require several days of work and we should coordinate it a bit.

[2018-11-08 15:13] 1ctw commented on #793
Thanks Chiara! Good to discuss at next user meeting and maybe good to deliver the MT analysis report as specific files. The file we need is not usable for anytning else than for mtDNA I guess.

[2018-11-08 16:54] dnil opened #1064 "Generalise causatives view"
Causatives view can show case-variants. Add slice filter and allow searching the full variants collection, with restrictions on institute. Tentatively search with gene, rank, CADD, HPO term, phenotype group and functional_annotation. Indexing and optimisation and will be needed.

[2018-11-09 07:09] dnil opened #1065 "Extend cases filter"
The search function on the cases page should also include
- [x] phenotype group
- [ ] gene of variants in causative or pinned collections
- [x] default gene panel (if we can figure out a smooth way to do that..)

[2018-11-09 07:10] dnil commented on #1018
As discussed, we solve this issue by separating it into three parts:
- [ ] dashboard data view will remain as before, and be sliced according to institute, HPO-term, phenotype group
- the cases filter will be extended to include search on phenotype group as well as gene with a causative or pinned variant. See #1065.
- causatives and pinned variants directly - then later all variants when we can so

[2018-11-09 07:38] northwestwitch commented on #1048
This should be fixed now!

[2018-11-09 13:48] moonso commented on #793
I might not have been clear enough here. All variants that exists in the VCF are loaded from MT. If the variants is not in the VCF they will not be uploaded. I can not answer if variants from the D-loop are in the selected VCF. We should ask @henrikstranneheim about that

[2018-11-09 14:12] northwestwitch commented on #1059
This should be fixed in the new release so close it!

[2018-11-09 14:12] #1059 closed

[2018-11-09 14:12] northwestwitch commented on #1054
This should be also fixed in the new release so I close this issue

[2018-11-09 14:12] #1054 closed

[2018-11-09 14:38] northwestwitch commented on #1052
I know, I did it on purpose because it should reflect a panel version and panel versions are floating point numbers..

[2018-11-09 14:42] 4WGH commented on #1052
If I do an upload It takes the text though....

this is helpfull for me as some genes are shared by some panel but wehre entered in different versions.

I'm open to alternative suggestions for dealing with this?

Thank for all the work till now 😊

________________________________
Från: Chiara Rasi <notifications@github.com>
Skickat: den 9 november 2018 15:38:52
Till: Clinical-Genomics/scout
Kopia:

[2018-11-12 09:23] 4WGH opened #1067 "panel export as pdf failed"
I've tried to export the IEMv13 panel and for the following error

504 Gateway Time-out

Michela

[2018-11-12 09:32] northwestwitch commented on #1067
Hi! I think the problem is that for each gene it's searching if the gene is part of any other panels (those numbers on the right), and if there are thousands of genes it has to search for a long time, therefore the time out. We could try to optimize the algorithm but I don't know how much it will work when it comes to huge panels.
I don't see any attachment, try a screenshot instead! Thanks! :)

[2018-11-12 11:41] 4WGH commented on #1067
I can not attach or paste any file....
An issue in the issue?

o_O

[2018-11-12 12:49] #1061 closed

[2018-11-12 12:49] henrikstranneheim opened #1068 "Display local SV freq dump in SV view"
Live from MIP 7.0 Clinical-Genomics/MIP/issues/523
[code]

[2018-11-14 08:58] henrikstranneheim commented on #1062
Thx for the feedback it is greatly appreciated!
1. The transcript overview is for refseq transcript and as far as I know there are no refseq transcripts identifiers for the MT genes. Therefore the transcript overview will be empty. We could use the ensembl transcript IDS for MT, but it will have to be a custom solution. Perhaps we could use the ensembl ID as the identifier in the map and display t

[2018-11-14 12:33] northwestwitch commented on #1025
Check gene update (edit)

[2018-11-14 12:34] northwestwitch commented on #1025
Important to work on the issue to check who modifies panels and permission to do so

[2018-11-14 13:14] northwestwitch commented on #291
New button on variant page: "Partial Causative" that not put the variant in "solved" mode.

[2018-11-14 13:20] northwestwitch commented on #1025
Filter for variant size range (min and max size)

[2018-11-14 14:38] henrikstranneheim opened #1069 "Add bcftools as caller for “set” vcf flag"
Samtools mpileup has migrated to bcftools mpileup

[2018-11-14 14:52] henrikstranneheim commented on #641
This seem to have been lost in the last update. There is a strong request to get it back.

[2018-11-14 15:06] henrikstranneheim opened #1070 "Consider always loading MT variants from research file"
As all MT variants are considered clinically relevant would it be possible to always load MT variants from the research file for both snv and SV into the clinical view?

That would solve the issue of variants located in no coding regions like the D-loop which is hard to include in a gene panel.

[2018-11-15 12:03] northwestwitch opened #1073 "Filter for variant size range (min and max size)"
This is important for structural variants

[2018-11-15 12:05] northwestwitch opened #1074 "Add feature in dashboard to see statistics of the last month, six months, 12 months ..?"

[2018-11-19 09:36] AnnHam opened #1076 "Coverage report missing in general report..."
Hej,

Coverage report is not included in the general report anymore. Lost in last update?

Other users (på klinisk genetik) report that it works for them sometimes, but not always. Maybe depend on when the sample was sent to you?

[2018-11-19 09:48] northwestwitch commented on #1076
Hi, It should be in the PDF version of the general report of every case..  Could you post here an example of a case where the coverage is lost? Thanks!

[2018-11-19 10:18] AnnHam commented on #1076
All my cases from the previous (maybe) two weeks... Helena and Kicki had some cases too, but not all their cases. Here are some of my examples with missing coverage in the report...
F0027765
F0027823
F0027576
F0027428

Anna Hammarsjö, PhD
Clinical genetics, L4:02 | Molecular Medicine & Surgery, J10:20
Karolinska University Hospital | Karolinska Institutet

171 76 Stockholm

_______________________

[2018-11-19 10:29] northwestwitch commented on #1076
Hi again, have you tried to click on the "download PDF" button in the upper-right corner of the general report? Because the intended behavior is that the coverage is shown only in the PDF version of the report. If you can't see it from there then there is the bug. I've tested the 4 cases you mentioned and with my user I can see the coverage at the end.

[2018-11-19 11:00] AnnHam commented on #1076
Thank You! Ok, sorry - Yes I can see the coverage in the pdf, but not in the browser before downloading the report... You can close this issue! //Anna

________________________________
Från: Chiara Rasi [notifications@github.com]
Skickat: den 19 november 2018 11:29
Till: Clinical-Genomics/scout
Kopia: Anna Hammarsjö; Author
Ämne: Re: [Clinical-Genomics/scout] Coverage report missing in general rep

[2018-11-19 11:16] northwestwitch commented on #1076
No problem, and if you think that it would be useful to have the coverage also in the HTML version we can fix it!

[2018-11-19 11:16] #1076 closed

[2018-11-20 10:28] 4WGH opened #1078 "odd variant call for WDR45 in case 18220"
1. inheritance model is annotated as AR_comp (the gene is X linked) in the variant list  :(
Other variants on the X chromosome are correct.

2. the GT calls in the father is 0/1 but the reads are 11 (ref)/ 0(Alt)
in the BAM file I can not see the variant  in the father.

Bug or bad luck with the variant callers. All of them are :passed ?
I've pinned the variant so you can easily see it :)

[2018-11-20 10:37] 4WGH commented on #1078
Sorry.
Noticed now a re-run is pending on this family. Maybe we should wait it is done.

[2018-11-21 09:25] henrikstranneheim opened #1079 "Clinvar filter does not seem to work"
Tried filtering for Benign in this case:

https://scout.scilifelab.se/cust003/18232/371c47ef74b1ff6f9b77262aba7cb482

[2018-11-21 09:32] henrikstranneheim opened #1080 "Add HGNC primary transcript to disease associated transcripts table"
- Rename the disease associated transcript header to: "Transcripts"
with columns "HGMD_transcripts: RefSeqID"  and "HGNC_transcripts: RefSeqID"
- The blue background in primary transcripts can then be removed

[2018-11-21 12:34] dnil commented on #1079
Yep, broken, specifically for searches where no other criteria are added. Presumably means the test is also not complete.

[2018-11-21 13:00] henrikstranneheim opened #1081 "Add example text for searches in case view"
Below the search field in the case view.
Example: case_id =18201, HPO-term=HP:0001166, synopsis=synopsis:epilepsy

[2018-11-21 13:46] northwestwitch opened #1082 "Fix the 'NoneType' object has no attribute 'message' in login view"
This is a recurring error email, so I post it here to have it fixed someday soon!

2018-11-21 14:03:14,372 - flask.app - ERROR: Exception on /authorized [GET] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1761]
Traceback (most recent call last):
  File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/login/views.py", line 71, in auth

[2018-11-21 13:52] dnil commented on #1079
Looks like it works as intended for older cases: 2017 ok, 2018 aug ok, but not 2018 oct. Something that changed in MIP 6 that we haven't covered for in Scout?

[2018-11-21 17:10] northwestwitch commented on #1079
It looks like that at a certain point the clnsig.value of the variant was saved as a string, instead of a number, as for old variants and the ones in the demo data. For the variant mentioned above this value is "Benign, Likely benign" instead of 2,3. I can fix it tomorrow. But why did we change these values?

[2018-11-21 18:14] dnil commented on #1079
Well found! Looks like it was changed a bit en passant in "Adds one more way to parse CLINVAR. Fix #695". Ask @moonso if there was any particular reason, or if it was just more straight-forward? The filter could probably live with either; the integer representation has no particular meaning and is used in a one-to-one fashion with the string anyway.

[2018-11-22 07:46] #1081 closed

[2018-11-22 14:34] northwestwitch commented on #1080
I might use a  bit of help here. Where do I get the HGMD_transcripts: RefSeqID and HGNC_transcripts: RefSeqID values?

This is what a gene list of a random variant look like in the database:

[code]

[2018-11-23 06:05] northwestwitch commented on #1080
While I know where to look for the HGNC RefSeqID, where's the HGMD one? There's a field named HGMD-PUBLIC in the VCF, is it that?

[2018-11-23 06:35] henrikstranneheim commented on #1080
No, it is the manual one added in the gene panels. Basically the already on display. Nicole wanted to change the title.

[2018-11-23 06:52] northwestwitch commented on #1080
Ok, so a recap, to be sure:

Take for instance gene ABCB11 (https://scout.scilifelab.se/genes/42).
It is the first gene of this panel: https://scout.scilifelab.se/panels/5be2b988124f63334d723689, with a manual refseqid of NM_003742.2

So when you go to this variant:
https://scout.scilifelab.se/cust003/18222/147b0f6c7ff5d0a7875346dacb639671

Under "Disease associated transcripts" (---> renamed to T

[2018-11-23 08:12] dnil commented on #1080
Just be careful so that the HGNC refseq (which sometimes went as "primary") is still appropriately highlighted on the table. Users have grown accustomed to using that (blue) row for reporting to other places. Some care must be taken in documenting changes here as this has been a source of confusion before. 😅

[2018-11-26 09:01] henrikstranneheim opened #1087 "Scout user meeting agenda 13/3 -19"
Welcome to the Scout user meeting @9:00-10:30 am Milkyway alfa 2, Scilifelab!

Please help us fill the agenda with topics that may interest you.

## Agenda

1. Transcripts info #1080
1. Bug post mortems
    - ClinVar not searchable for aug-nov cases (#1085). Affects all cases from finerdassie/2018-08-13
       Fixed at 2018-12-14, one might want to review cases between those dates
    - DecipherAF

[2018-11-26 09:03] henrikstranneheim commented on #1080
This was added after feedback from CMMS, however, it seems like all information is already there in the interface.
- Blue background is the Scout primary ensembl transcript ID. This maps to several RefSeq IDs where **one or several** will be the manually curated HGNC refseq transcript ID.

- Lacking a manually curated HGNC refseq transcript ID in Scout can be due to:
   - Transcript does not exist

[2018-11-26 09:35] moonso commented on #1078
Ok I close this and you can reopen if the problem remains?

[2018-11-26 09:35] #1078 closed

[2018-11-26 09:35] moonso commented on #1073
I assign this to you @dnil, scream if you don't have time

[2018-11-26 09:47] moonso commented on #1065
@dnil do you have time for this?

[2018-11-26 09:49] moonso commented on #1053
Hi @northwestwitch , the order of the columns should not matter. If it does I think we should open a issue for changing the code. I'm closing this for now

[2018-11-26 09:49] #1053 closed

[2018-11-26 09:49] #1025 closed

[2018-11-26 09:50] moonso commented on #1018
I'll close this since it has been divided into two separate issues

[2018-11-26 09:50] #1018 closed

[2018-11-26 09:51] moonso commented on #983
@dnil  need to show this, when do you have time?

[2018-11-26 09:59] moonso commented on #1062
I do not really know what to do with this issue. Could you @henrikstranneheim and @1ctw close this and create smaller issues that defines what needs to be changed?

[2018-11-26 10:17] henrikstranneheim commented on #1062
1. See https://github.com/Clinical-Genomics/scout/issues/641
2. See https://github.com/Clinical-Genomics/scout/issues/1070
3. Solved in MIP/Cg https://github.com/Clinical-Genomics/cg/issues/234
4. Not Scout related
5. Done. https://github.com/Clinical-Genomics/MIP/issues/639 and https://github.com/Ensembl/ensembl-vep/issues/321
6. Not an issue.
7. See https://github.com/Clinical-Genomics/MIP/issue

[2018-11-26 10:17] #1062 closed

[2018-11-26 12:50] moonso commented on #1055
Ok I'll add this. We need to reload all genes to make this work.
ATM the following genes in OMIM have the new inheritance model:

| Mim Number | HGNC Symbol | Models |
| ---------- | ----------- | ------ |
| 602024 | CLCNKA | DR |
| 602023 | CLCNKB | AR, DR |
| 610162 | CCDC28B | AR, DR |
| 605616 | SLC6A20 | AD, AR, DR |
| 608845 | ARL6 | AR, DR |
| 604588 | NEK1 | AR, DR |
| 608893 | SLC6A19 | A

[2018-11-26 12:53] 1ctw commented on #793
Yes, if the variant hits multiple genes I think that will be the best solution.

There will not be multiple transcripts of genes encoded from mtDNA, so that will not be a problem as far as I understand.

[2018-11-26 13:39] #1080 closed

[2018-11-26 14:18] northwestwitch commented on #793
Ok! I've done some developing and there is a demo of this functionality on the test server of scout:

https://scout-stage.scilifelab.se

You could give it a try. You can download the excel reports by clicking on the new button on the side panel at the case level:
![image](https://user-images.githubusercontent.com/28093618/49019537-6fe92300-f18e-11e8-8d10-0a2ceb4b83b3.png)

Let me know if it's OK o

[2018-11-26 14:21] northwestwitch commented on #793
Woa I didn't expect the preview to be so huge! :)

[2018-11-26 15:51] #1055 closed

[2018-11-26 16:01] moonso commented on #846
Could you elaborate on this @northwestwitch , perhaps we should have input from @dnil as well. I don't understand the issue...

[2018-11-26 16:04] #1069 closed

[2018-11-26 16:06] northwestwitch commented on #846
Someone wanted the possibility to automatically update the database when a dismiss option is clicked, without selecting all the desired options first and having to click save to trigger the action.

[2018-11-26 16:08] northwestwitch commented on #846
I can do this, but it's not an urgent one

[2018-11-26 16:10] moonso commented on #846
Wow is that really necessary? I think it works perfect atm, what do you say @dnil . We don't have to obey for every small request from the customers. Some functionality could just be in a certain way

[2018-11-26 16:12] dnil commented on #846
I sort of see the point, but it is a usability tradeoff issue. Personally I relatively often check more than one, which would have me waiting for the first to save before checking the next - and next. Possibly quite annoying. At a low prio, we could run a little query on the db to see how many dismissed variant have only one reason, and how many have more? If everyone else is just checking one, th

[2018-11-27 08:48] moonso opened #1092 "Visualise structural variations with Samplot?"
We should checkout [samplot](https://github.com/ryanlayer/samplot) and see if we could use it in the SV view. What do you think @dnil @northwestwitch ?

[2018-11-27 08:51] northwestwitch commented on #1092
Yeah, I was also looking for the other issue :)

[2018-11-27 08:53] moonso commented on #1092
Oops! Ok closing this then.

[2018-11-27 08:53] #1092 closed

[2018-11-27 08:58] moonso commented on #793
Great work @northwestwitch ! I'm closing this since the branch is merged. Lets create new issues in the future if there are other problems/requests with the MT report

[2018-11-27 09:04] dnil commented on #1092
Feel free to reopen the old one after consideration.. :)

[2018-11-27 10:38] #1073 closed

[2018-11-27 13:00] dnil commented on #957
I think I'll take this as an excuse to merge the variant and sv-variant views then!

[2018-11-28 13:26] 4WGH opened #1095 "date in panels hisotry is wrong!"
Hi,
The data of submisssion for panel is wrong.
It looks like we submitterd v.12 in Nov this year and the same day or by few days differece we submitted version 13.  The number of genes fits with the versions but not the dates!

[2018-11-28 13:32] northwestwitch commented on #1095
I'll check, it could be that when I've updated the code to be more flexible with the versioning I haven't taken care of updating the date of the new version. Thanks for spotting it!

[2018-11-30 07:48] #1095 closed

[2018-11-30 09:13] #1079 closed

[2018-11-30 15:35] dnil opened #1097 "STR view: model & show STR_STATUS from stranger"
Display and color STR view rows according to STR_STATUS.
See [stranger GitHub repo](https://github.com/moonso/stranger).
Available from MIP 7.0: [#653](https://github.com/Clinical-Genomics/MIP/issues/653).

[2018-12-05 09:18] 4WGH opened #1098 "GT call: genotype and read do not fits toegether"
https://scout.scilifelab.se/cust003/14006/68c935a1f2956a19ed3633b625e19c95
A variant in SMC1A , gene on X chromosome.

I can not understand how a 14006-II-1U (male) can have genotype 0/1 but reads are 10 for the Reference and 0 for Alternative..... I can not see any reads in IGV with the alternative nt so why the  genotype is 0/1?
this wrong genotype leads to a "NO" in the window for matching inhe

[2018-12-05 14:40] 1ctw commented on #793
Thanks Chiara!

I know finally had some time to check the report. It looks great! The only thing is that silent variants are presented strange at protein level in the report. Instead of for example p.Gly203= it is prestented as p.Gly203%3D.

I can not check that the column "Gene" gets empty in those cases where the variant is outside a gene, since we don´t get those variants in Scout yet. Issue #1

[2018-12-06 08:21] northwestwitch commented on #793
@1ctw nice! And thanks @henrikstranneheim, the weird protein symbol is an easy fix, and I'll change the code today so we can have it right in the next scout release.
I also like the suggestion to rename the button to mtDNA report, I'll change this as well! :)

[2018-12-06 11:35] 1ctw opened #1099 "Transcripts on sanger order"
There are many transcripts showed in Scout which are not shown in sanger order email.

Example:

![bild](https://user-images.githubusercontent.com/15033593/49581726-2e593480-f953-11e8-9cb8-0d0cc83cdcd0.png)

![bild](https://user-images.githubusercontent.com/15033593/49581744-3a44f680-f953-11e8-9d82-24a7d229a7d5.png)

[2018-12-06 11:38] 1ctw commented on #1098
Another example of the same problem with another variant on X chromosome:

https://scout.scilifelab.se/cust003/139/93651fbf1b8f368c67f8a411425f84ae

[2018-12-06 11:41] 1ctw commented on #1098
And another example:

https://scout.scilifelab.se/cust003/18239/28b8e5b0836c688cf24bd721060a2f51

[2018-12-06 11:41] northwestwitch commented on #1099
Hi!

That's because we haven't modified the Sanger order email after we changes
the transcript view. We'll update it!

On Thu, Dec 6, 2018 at 12:35 PM 1ctw <notifications@github.com> wrote:

[2018-12-07 06:42] moonso commented on #1098
This looks weird, something for @henrikstranneheim to check in MIP

[2018-12-07 08:09] moonso commented on #1070
This will be done in MIP , see https://github.com/Clinical-Genomics/MIP/issues/662, so scout does not change internally. For customers this means that when we use mip 7 in production all MT variants from the research VCF, which means ALL mt variants found in the whole genome sequencing, will be loaded both in clinical AND research.

[2018-12-07 08:09] #1070 closed

[2018-12-07 08:10] moonso commented on #1097
You or me @dnil ? I can work on it today if you did not already start or have an idea

[2018-12-07 08:12] dnil commented on #1097
Either! :) Please go ahead - I have some samples to work on today!

[2018-12-07 12:30] henrikstranneheim commented on #1098
I think it is the genotype refinement that introduce this error. The goal of the Genotype Refinement workflow is to use additional data to improve the accuracy of genotype calls and to filter genotype calls that are not reliable enough for downstream analysis.
This genotype refinement process is only done for trios. This mis-assignement of GT type seems to occur more frequently on chr X (pure spec

[2018-12-07 14:09] northwestwitch opened #1103 "Can't update scout until they fix an issue in "requests" (or use another way to send requests)"
Tried to install from a branch on stage and got the following error:
[code]
This is due to this issue: https://github.com/requests/requests/issues/4890.
Maybe we can lock requests to a previous version.

[2018-12-08 08:49] #1097 closed

[2018-12-10 15:30] #1099 closed

[2018-12-11 09:44] northwestwitch commented on #1103
This is fixed now. ----> Requests 2.21.0 is up on PyPi now supporting idna 2.8.
I'll close the issue and @moonso we can proceed with a new release!

[2018-12-11 09:44] #1103 closed

[2018-12-11 09:53] northwestwitch commented on #1067
This should be fixed by the new release so I'm closing this issue

[2018-12-11 09:53] #1067 closed

[2018-12-11 09:56] northwestwitch commented on #793
This should be up and running in the next release  so I'm closing this issue.

[2018-12-11 09:56] #793 closed

[2018-12-12 13:58] dnil opened #1105 "Known pathologic non-conforming variants"
A fair body of knowledge of pathologic variants that currently receive a poor rank is available. Let's implement a system for them, be that by annotation, ranking, separate collection in scout - or perhaps best by a combination of all.

A quick sampling of non-exonic variants that Blueprint genetics annotate (e.g. https://blueprintgenetics.com/tests/panels/hematology/anemia-panel/) has some 30-50%

[2018-12-12 15:43] northwestwitch opened #1106 "Flag cases where clinical filter (and clinsig filter in general) misbehaved under the last months"
This is a suggestion from @dnil actually. It would be good for users to know which cases would need some attention because the filter was not working under the last months.

[2018-12-12 15:43] northwestwitch commented on #1106
Relative issue was #1079

[2018-12-13 13:09] henrikstranneheim commented on #333
Decided to:
- Skip SIFT locally for indels as it is not practical to implement in a production setting and will most likely add less than CADD.
- Added dynamic calculation of CADD for indels. VCF key "CADD" as usual.

[2018-12-13 13:48] dnil commented on #333
Ok, if the keys are as for regular SNVs, we simply close this issue! Thank you - this should be helpful! :+1:

[2018-12-13 13:48] #333 closed

[2018-12-13 20:00] henrikstranneheim commented on #974
MIP 7.0 now uses VEPs merged cash to add the refseq transcript version which can then be picked up by Scout in the CSQ field.
@northwestwitch There was another field required as well which scout do not have right? Was it the refseq for the entire build?

[2018-12-13 20:43] northwestwitch commented on #974
It was just that I think, the other problem was much simpler to fix, see #901

[2018-12-14 06:38] henrikstranneheim commented on #974
Excellent! Thx

[2018-12-14 07:04] northwestwitch commented on #974
Thank you! :)

[2018-12-17 08:52] northwestwitch opened #1108 "Bug in File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/adapter/mongo/variant.py", line 317, in other_causatives"
File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/adapter/mongo/variant.py", line 317, in other_causatives
    not_same_case = other_variant['case_id'] != case_obj['_id']
TypeError: 'NoneType' object is not subscriptable

[2018-12-17 08:53] northwestwitch commented on #1108
Fresh from this morning, who's fixing this? If nobody is doing it I can assign myself!

[2018-12-17 11:50] #1108 closed

[2018-12-17 16:22] dnil opened #1110 "pdf generation from gene panel is untidy after update.."
Seems the panel header now gets overlayed on the first list page?! See e.g. NMD panel from cust002.

[2018-12-17 18:09] KickiLagerstedt opened #1111 "OMIM Gene / Phenotype"
Update needed?

When looking at this variant (https://scout.scilifelab.se/cust002/F0016360-2/eb40f370677eb4bb39c20479cda9156a) is seems it is inherited AR - but when opening OMIM it is actually two disorders described - one AR and one AD (http://omim.org/entry/610463)

Is it so that we can not trust the OMIM window in SCOUT and should open OMIM for every variant just to be sure?

[2018-12-17 19:19] dnil commented on #1111
And in particular, it should now only be AD as the AR one is not solid. Was last updated at OMIM in January it would seem. As it starts off with a “?” marked entry, best check to see that nothing went wrong with parsing upon loading @moonso?

[2018-12-18 08:52] northwestwitch commented on #1110
I'll take a look at it!

[2018-12-18 08:58] moonso commented on #1111
Hi, I'm investigating this now. I thought we decided to include phenotypes with ´?´ ...

[2018-12-18 08:59] dnil commented on #1111
Right you are: I would prefer to include only the ones we or our friends wrote ourselves, but.. ;-)

[2018-12-18 09:07] moonso commented on #1111
This should be fixed now! The disease collection hadn't been updated in a wile, thank you for noticing this

[2018-12-18 09:07] #1111 closed

[2018-12-18 09:09] moonso commented on #1106
We will announce in the next meeting during what period this was affected in the next user meeting. See [agenda](https://github.com/Clinical-Genomics/scout/issues/1087). If users really need a new tag or message we can discuss that in the meeting.

[2018-12-18 09:09] #1106 closed

[2018-12-18 09:10] moonso commented on #1105
This is a bit tricky since most of this functionality needs to be implemented upstream of scout. Ideally the pipeline should handle this and adjust the rank score accordingly. In that way scout would not need any modifications at all.

[2018-12-18 09:13] moonso commented on #1098
I'm going to close this since there is nothing we can do in scout. Please continue discussion in https://github.com/Clinical-Genomics/MIP/issues/681

[2018-12-18 09:13] #1098 closed

[2018-12-18 09:14] moonso commented on #1082
Is this solved? Have not seen it in a while...

[2018-12-18 09:15] northwestwitch commented on #1082
I haven't touched it. Should we close and re-open the issue if it shows up
again?

On Tue, Dec 18, 2018 at 10:14 AM Måns Magnusson <notifications@github.com>
wrote:

[2018-12-18 09:34] moonso commented on #1082
Lets do that

[2018-12-18 09:34] #1082 closed

[2018-12-20 14:16] henrikstranneheim commented on #868
Available in MIP 7.0 as:
VCF key in CSQ field: "genomic_superdups_frac_match". For a variant found in overlapping multiple segdups the annotation uses "&" to split each annotation record within the field.

Should be displayed at the variant level even though the information is present in each transcript in the CSQ field.

[2018-12-20 16:33] Bianca-T opened #1114 "new feature: connecting genes to clingen"
Hello!

Would it be possible to connect the genes to clingen with a link or something? Not all genes have been curated but if they are the database has nice information.

See for example MEFV
https://search.clinicalgenome.org/kb/genes/HGNC:6998

Cheers,
Bianca

[2018-12-21 15:05] 4WGH opened #1115 "Sanger order"
The exon or intron number is not appearing any longer after the transcript

EXemple from today:
Case 18215: 2_166019184_G_C_clinical
•Variant type: SNV (SNV)
•Breakpoint 1: 2:166019184
•Breakpoint 2: 2:166019184
•HGNC symbols: SCN3A
•Gene panels: OMIM-AUTO, EP
•GT call
•18215-I-1A: 0/1
•18215-II-2U: 0/0
•Amino acid changes
•SCN3A:NM_006922-ENST00000283254:c.849C>G:p.Ser283Arg
•SCN3A:NM_001081676-E

[2019-01-02 13:07] KickiLagerstedt opened #1116 "Report - missing phenotype and sex"
Phenotype and gender are missing on the generated general report. "Phenotype overview" window.

[2019-01-07 07:58] northwestwitch opened #1117 "Check input when querying variants by size"
It keeps giving an error.  For instance:

2019-01-02 11:25:31,499 - flask.app - ERROR: Exception on /cust002/F0005868-3/sv/variants [POST] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1761]
Traceback (most recent call last):
  File "/home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py", line 2292, in wsgi_app
    response = self

[2019-01-07 08:00] northwestwitch commented on #1116
I'll check, Thanks for submitting the issue!

[2019-01-07 09:33] northwestwitch commented on #1115
I'll take a look at this today!

[2019-01-07 11:39] northwestwitch commented on #846
Ok this is a really a low priority one and I think you are right: it's very likely that one checks more checkboxes at the same time, so I close the issue for now. We can always re-open it of anyone feels like this should be changed.

[2019-01-07 11:39] #846 closed

[2019-01-07 12:01] #1117 closed

[2019-01-08 08:50] #1116 closed

[2019-01-08 09:09] moonso commented on #1114
Sure that should be easy as @dnil already pointed out :)

[2019-01-08 15:56] ellikasahlin opened #1122 "All variants have score 0"
Please see case F0027119 (sample ID 2018-28870-02). All variants have score 0. What has happened here?
Ellika

[2019-01-08 17:49] northwestwitch commented on #1122
Hi Ellika, something must have happened before loading the variants into scout. We'll check and fix the problem ASAP!

[2019-01-09 08:45] patrikgrenfeldt opened #1123 "Remove loqusdb python dependency"
In order to make the applications less tightly coupled, loqusdb could be removed as a python dependency and instead be used/called via the loqusdb-cli to avoid accidentally using things informally defined as private in loqusdb.

E.g. see integration between cg and loqusdb: https://github.com/Clinical-Genomics/cg/tree/uncouple-loqus

[2019-01-10 10:06] emmser commented on #1122
The reason must have been that the case was set as unaffected in the pedigree. I changed that to affected and re-run the analysis. Now the variants have been scored.

[2019-01-10 10:06] #1122 closed

[2019-01-15 08:58] moonso commented on #1123
This will unfortunately be as straightforward, but I agree that we should decouple!

[2019-01-16 10:45] Bianca-T opened #1124 "Coverage overview generates an address that is too long"
414 Request-URI Too Large is the message

[2019-01-16 10:48] dnil opened #1125 "Conservation values have gone bye-bye?"
It appears we have lost touch with evolutionary conservation. We wonder where and when?

[2019-01-16 12:09] dnil commented on #1124
Yep, that is a known issue, essentially with Chanjo, but thank you for filing the issue. We'll see what we can do in the near term, otherwise look forward to resumed Chanjo development in a bit!

[2019-01-16 13:43] sofievonlanthen opened #1126 "See all variant callers"
We used to be able to see all variant callers, even if they haven't called the variant, is it possible to bring it back? For example saying "not called" or "filtered", to be reminded of the different callers that are used, both for SNVs and SVs.

[2019-01-16 21:15] ingkebil opened #1127 "Replace Flask-OAuthlib with Authlib"
`cg` is using Flask-Dance and Scout is using Flask-OAuth to handle oauth requests. The latter has been abandoned in favour of Flask-Dance: https://github.com/mitsuhiko/flask-oauth

The problem that arises is that Flask-Oauth requires oauthlib<3.0.0 but Flask-Dance's requirement requests-oauthlib requires oauthlib>=3.0.0.
https://github.com/mitsuhiko/flask-oauth/blob/master/setup.py#L31
https://git

[2019-01-17 06:09] northwestwitch commented on #1127
I'd say that we should use this Flask-Dance in Scout as well, we don't want to stick to a library that is unmaintained, right? I'll start looking into Flask-Dance as soon as I have some time, but if you are at a good point with this uncoupling between cg and scout, go ahead!

[2019-01-17 06:31] northwestwitch commented on #1125
I'll take a look at it!

[2019-01-17 07:37] henrikstranneheim commented on #1125
Here is what MIP 6.0 produces:
``
##INFO=<ID=dbNSFP_GERP___NR,Number=A,Type=Float,Description="Field 'GERP++_NR' from dbNSFP">
##INFO=<ID=dbNSFP_GERP___RS,Number=A,Type=Float,Description="Field 'GERP++_RS' from dbNSFP">
##INFO=<ID=dbNSFP_phastCons100way_vertebrate,Number=A,Type=Float,Description="Field 'phastCons100way_vertebrate' from dbNSFP">
##INFO=<ID=dbNSFP_phastCons46way_primate,Number=A,Typ

[2019-01-17 07:38] northwestwitch commented on #1125
So far I understood when this happened. The last case with variants having conservation data I found was uploaded on date: 2017-10-05.

[2019-01-17 07:52] northwestwitch commented on #1125
Ok then 2 fields (phastCons46way_primate and phyloP46way_primate) are gone, but the other fields should still be there, right?

[2019-01-17 08:20] ingkebil commented on #1127
Uncoupling of scout and cg has not even started yet ;)

The temporary solution to get cg to work again is to remove scout-browser as a dependency and install it separately before we install cg. Fixed here: https://github.com/Clinical-Genomics/servers/pull/55

[2019-01-17 09:55] northwestwitch commented on #1125
The problem might not be in scout.
I'm comparing two analyses:

- https://scout.scilifelab.se/cust002/F0009924 (family decenttick), has conservation values.

- https://scout.scilifelab.se/cust002/F0004049-2 (family sharppiglet), doesn't have conservation values.

I dont have yet a full understanding of which VCF file get uploaded to scout, but checking in the bundles at files tagged as "vcf-snv-cl

[2019-01-17 10:46] northwestwitch commented on #1125
Or some MIP parameter for the execution of genmod that changed when upgrading to MIP 5?

[2019-01-17 11:39] moonso commented on #1125
Hi, those are not annotated by genmod

[2019-01-17 12:02] henrikstranneheim commented on #1125
The keys are all present in the snv/indel and SV for both research and clinical (sharppiglet). Something goes wrong when loading would be my guess. Most probably that the key names have changes and we have forget to update the scout dict handling this.

[2019-01-17 12:08] henrikstranneheim commented on #1125
Here: https://github.com/Clinical-Genomics/scout/blob/master/scout/parse/variant/conservation.py
Keys expected in VCF are:
- GERP++_RS_prediction_term
- phastCons100way_vertebrate_prediction_term
- phyloP100way_vertebrate_prediction_term

and they are not any more. I think this was probably removed from vcfparer (in MIP) some time ago that produced a term instead of raw number for these keys. I wi

[2019-01-17 12:08] northwestwitch commented on #1125
Are you sure that exactly these keys are present in sharppiglet ?

ID=GERP++_RS_prediction_term
ID=phyloP100way_vertebrate_prediction_term
ID=phastCons100way_vertebrate_prediction_term

Because these are the keys used by scout, see this file:
https://github.com/Clinical-Genomics/scout/blob/master/scout/parse/variant/conservation.py

By looking in the VCF file that I mentioned above I've seen the f

[2019-01-17 12:09] henrikstranneheim commented on #1125
One second ahead of you , YES!

[2019-01-17 12:09] northwestwitch commented on #1125
Exactly! :)

[2019-01-18 13:24] dnil opened #1129 "LoFtool / pLI score rank confusion?"
@henrikstranneheim @moonso
@AnnHam alerted me to a presumably causative frameshift variant in a case with a somewhat low-ish score (12). Not hopeless, but could be better. In particular, she noticed there not being any loss of function (gene intolerance) contribution, although the pLI on exac is very very close to 1.

Looking at the 1.20 model, I'm confused: it appears the scoring has been inverte

[2019-01-18 14:15] henrikstranneheim commented on #1129
You are right we seem to have reversed the scales. Have updated production to:
- rank_model_cmms_-v1.21-.in
- svrank_model_cmms_-v1.4-.ini
with
[code]

[2019-01-18 14:18] dnil commented on #1129
Great - much better. I wonder if the limits for medium and high should not also be shifted upwards. Perhaps >0.98-0.99 or so for a high? E,g. the gene in question had 0.9999999999997 or so.

[2019-01-18 14:19] moonso commented on #1129
The LoF score will not contribute so much to the rank score result. Any other suggestion on how to push these kinds even more?

[2019-01-18 14:20] henrikstranneheim commented on #1129
Let's do it for MIP7.0 and add more weight to the really intolerant ones

[2019-01-18 14:36] henrikstranneheim commented on #1129
How about this:
[code]

[2019-01-18 14:41] dnil commented on #1129
Looks good to me, but the arbitrariness is a little scary. We can't increase the score too much as this is a per gene score that is dealt out regardless if the variant has any reasonable chance of causing a loss of function. But, this should have shoved the variant in question up to 16. Many of these will also receive an additional new indel CADD contribution from MIP7 onwards.

[2019-01-18 14:46] dnil commented on #1129
Based on some rather general statements (e.g. ExAC FAQ "We consider pLI >= 0.9 as an extremely LoF intolerant set of genes.") I'd suggest making the medium category 0.9 >= pLI >= 0.99.

[2019-01-18 15:04] henrikstranneheim commented on #1129
Done

[2019-01-18 16:01] dnil commented on #1129
Ok; closing this for now then. Let's revisit frameshift ranking when we have validation cases from MIP7 at hand!

[2019-01-18 16:01] #1129 closed

[2019-01-21 10:45] northwestwitch commented on #1126
Is anyone working on this, otherwise I can take it!

[2019-01-21 11:54] northwestwitch commented on #1126
Ok I see that this happened after #1069. It's easy to fix but I was just wondering why the calls of "BCFtools" are returned as calls of "SAMtools" instead

![image](https://user-images.githubusercontent.com/28093618/51472936-40642a80-1d7b-11e9-9838-6550d15cde06.png)

[2019-01-21 11:55] AnnHam opened #1131 "Clinical filter for SV"
Hemizygous deletion disappear when I press "clinical filter", why?

DEL(Xp21.1) (intragenic deletion of the DMD gene for F0028046)

[2019-01-21 12:45] dnil commented on #1126
I guess since SAMtools, BCFtools, HTSlib: same difference nowadays, but used to be (m)pileup or samtools, so someone stuck with that?

[2019-01-21 12:47] #1131 closed

[2019-01-24 10:32] dnil commented on #1126
Solved by #1132 - will appear on a server near to you in the not too distant future!

[2019-01-24 10:32] #1126 closed

[2019-01-25 07:02] #1124 closed

[2019-01-26 21:52] northwestwitch opened #1136 "'common' key missing in gene_obj"
I keep seeing it a lot lately.

Error message :

  File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/variants/views.py", line 169, in variant
    data = controllers.variant(store, institute_obj, case_obj, variant_id)
  File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/variants/controllers.py", line 579, in variant
    parse_gene(gene_obj, g

[2019-01-31 12:43] #1136 closed

[2019-01-31 12:59] #1125 closed

[2019-01-31 14:10] 47KW opened #1138 "Change panel name"
Hello
could you please change the panel name "Inhereted Dementia" to "Neurodegeneration".
Thanks!

[2019-02-01 09:05] ellikasahlin commented on #1122
Hi! This has happened again for case F0028569 (sample ID 2018-29733). Thankful for help!

[2019-02-01 09:26] northwestwitch opened #1139 "Create code to view and download the variants contributing to the dashboard stats."
For instance validated true positive : 279. Include also how many from customer institution and the possibility to download them (just from their own institution) as a list.

This list should include:
1) Gene name, region and function
2) The HGVS description
3) All information which comes in the GT call box including which variant caller has called the variant
4) Information in the summary box in

[2019-02-06 13:59] northwestwitch opened #1142 "Fix all cli commands to use @app context"

[2019-02-06 14:04] northwestwitch opened #1143 "Write tests for all cli commands"
After #1142. Test all cli command as described here: http://flask.pocoo.org/docs/1.0/testing/#testing-cli-commands

[2019-02-06 14:17] northwestwitch opened #1144 "Test app views"
Test as many app views as possible.

- To do so one must overcome the problem of mocking a valid session -->https://flask-dance.readthedocs.io/en/latest/testing.html

- Testing should be done by sending requests to the server, as described here: http://flask.pocoo.org/docs/1.0/testing/#the-testing-skeleton

[2019-02-06 14:18] northwestwitch opened #1145 "Show coveralls coverage for scout"

[2019-02-06 14:21] northwestwitch commented on #1145
Has nothing to do with Flask 1.0.2 but it would be nice to see an improvement in test coverage after the efforts

[2019-02-08 08:57] moonso commented on #499
I will assign you @adrosenbaum to some chanjo related stuff, don't panic 🍡

[2019-02-08 08:58] moonso commented on #548
Could you also have a look at this @hassanfa ?

[2019-02-08 09:00] moonso commented on #552
Duplicated in #499

[2019-02-08 09:00] #552 closed

[2019-02-08 09:01] moonso commented on #560
From what I know this works now. I'll close this and we can reopen if it is an issue

[2019-02-08 09:01] #560 closed

[2019-02-08 09:02] moonso commented on #576
I think we should be able to fix this one @dnil

[2019-02-08 09:04] moonso commented on #594
Could you have a look at this when you have time @dnil ?

[2019-02-08 09:06] moonso commented on #642
Hi @adrosenbaum , this is one of the main tasks for you to start with. It will be a milestone when this issue is solved:=)

[2019-02-08 09:14] moonso commented on #644
This is more of a Chanjo issue. We will add functionality to export exon definitions from Scout. New issue is [open](https://github.com/Clinical-Genomics/chanjo/issues/204) in chanjo

[2019-02-08 09:16] moonso commented on #642
Move this to [chanjo](https://github.com/Clinical-Genomics/chanjo/issues/205)

[2019-02-08 09:16] #642 closed

[2019-02-08 09:18] moonso commented on #665
This will be included in the new dashboard functionality

[2019-02-08 09:18] #665 closed

[2019-02-08 10:26] #641 closed

[2019-02-14 08:32] northwestwitch opened #1150 "Keyerror sample_id not found"
flask.app - ERROR: Exception on /cust003/16068/aa472e7a595ae25d0c499ced46653cb4 [GET] [in /home/hiseq.clinical/miniconda/envs/prod/lib/python3.6/site-packages/flask/app.py:1761]

....

Then the main error:
File "/home/hiseq.clinical/SERVER/apps/scout/git/scout/scout/server/blueprints/variants/controllers.py", line 574, in variant
    individual = individuals[sample_obj['sample_id']]
KeyError: 'ADM

[2019-02-14 13:19] northwestwitch commented on #1150
I've just realized that this error occurred when someone tries to open a variant of a case in another case.
Form instance in the above address:
**/cust003/16068/aa472e7a595ae25d0c499ced46653cb4**
case **16068** doesn't have variant **aa472e7a595ae25d0c499ced46653cb4**, which belongs to another case.

It' s not a bug but the app shouldn't crash like this I think

[2019-02-17 15:53] KickiLagerstedt opened #1153 "Wrong genotyping?"
https://scout.scilifelab.se/cust002/F0017184/bc115d1382b1281e7d0b29ae0fc7299c

Looking at IGV it seems as the father is the carrier of this variant and not de novo in the child?

[2019-02-18 11:16] maripe1 opened #1154 "F0028569 in Scout set as unaffected"
Case F0028569 is set as "unaffacted" in Scout so i can't analyze it. Can you change it to "affected"? Thanks

[2019-02-18 17:54] emmser commented on #1154
Please request this through Support System, this requires a re-run of the analysis and corrections in our database.

[2019-02-20 08:57] #1154 closed

[2019-02-20 09:02] dnil commented on #1153
MIP issue, most likely: ping @henrikstranneheim and @jemten. A complicated call, where a wild-type SNV next to a heterozygous SNV in one parent. The formed MNV is somehow assigned to the child instead. Upon split or already from FreeBayes, one wonders?

[2019-02-20 11:44] henrikstranneheim commented on #1153
There is a MNV (TT,AC) from freebayes that is only called in the index. With AD=0,0 in the parents even though is looks different in the BAM file. Probably, it looks different in freebayes haplotype algorithm (it does not use the precise aligment) compared to the BAM, leading to difference between the BAM and the vcf. Hard to say.

In the same position (12:120171994) there is a (T,A) called by gat

[2019-02-25 08:41] northwestwitch opened #1155 "Gene coverage overview is always 0"
Even for default panel.

[2019-02-25 08:56] northwestwitch commented on #1155
The problem occurred after #1134. gene_ids are passed by POST method:
[code]

But Chanjo-report still reads them as args and not from the submitted form (request.form.get('gene_ids'))
[code]

Easily fixed in Chanjo-report

[2019-02-25 12:59] northwestwitch opened #1156 "Add more info to validated variants export"
Fix excel files so that:

1. All individuals are on a separated row
2. Sample genotype (ref and alt) are in distinct columns
3. Include genotype quality (GQ)
4. Include functional annotation (ex: frameshift_variant)

[2019-02-28 06:54] #1155 closed

[2019-03-01 10:08] northwestwitch opened #1158 "Do not crash when importing variants from an empty VCF file"

[2019-03-01 12:49] #1156 closed

[2019-03-01 12:49] #1150 closed

[2019-03-01 16:01] #1158 closed

[2019-03-01 16:08] bjhall opened #1160 "Clinsig filter not working if variant has multiple values"
If a variant has multiple clinsig values, for instance "Pathogenic/Likely pathogenic", it cannot be found using the CLINSIG-filter.

Multiple clinsig.values are stored in the database as a comma-separated string, like this: "Pathogenic, Likelypathogenic":
https://github.com/Clinical-Genomics/scout/blob/e531c3b15769672b0b6ad92e5d75ecd0ac9c5f8a/scout/parse/variant/clnsig.py#L42

When the filter is a

[2019-03-03 08:47] northwestwitch commented on #1160
Hi and thanks for noticing!
This problem is not caused by variants having multiple clinsigs, but because the numerical clinsig values are treated as strings in the query downstream.

Try to change the code in scout/scout/adapter/mongo/query.py, line 272, into:
rank.append(**int**(item))

If it works you can create a pull request that fixes the bug! :)

[2019-03-04 07:38] moonso commented on #1153
Moving to [MIP](https://github.com/Clinical-Genomics/MIP/issues/752)

[2019-03-04 07:38] #1153 closed

[2019-03-04 10:36] northwestwitch opened #1162 "Split adapter. build_query into smaller and simpler queries"
And write a test for each one of them.
Bug #1160 has been there for months and nobody noticed before. We need to have a better control of the variant filter functionality.

[2019-03-04 12:56] northwestwitch commented on #1145
This id done, thanks @dnil

[2019-03-04 12:56] #1145 closed

[2019-03-04 13:13] dnil commented on #1145
And thank you for the review and suggestion! Sorry, I didn't notice you had assigned yourself until now: still, good timing now..

[2019-03-04 13:14] northwestwitch commented on #1145
No problem :)

[2019-03-04 13:15] dnil commented on #1139
And this is basically done, isn't it?

[2019-03-04 13:16] northwestwitch commented on #1139
Yes, done, thanks!

[2019-03-04 13:16] #1139 closed

[2019-03-04 15:37] bjhall commented on #1160
Thanks for the response!

I tested your suggested fix and unfortunately it did not solve my problem. We are not using numerical clinsig values. I'll try to be more specific:

In the VCF, the CLNSIG-annotation for the variant looks like this (toplevel INFO):
`...CLNSIG=Pathogenic/Likely_pathogenic;...`

After the vcf is loaded into scout the clnsig field for the variant looks like this in the datab

[2019-03-04 16:05] bjhall commented on #1160
I suppose that you are still using the old ClinVar format? I read the parsing code in scout/scout/parse/variant/clnsig.py again and realized that the clinsig-field is constructed very differently for the old ClinVar-version (with numeric values) than for the new one.

I can probably make an attempt at fixing the parsing code for the new Clinvar-format tomorrow, unless the person who wrote that cod

[2019-03-04 16:12] northwestwitch commented on #1160
Ok then it was another bug that we've fixed.

regarding the points above I haven't written this part of the code but I think that the issue is in

scout/parse/variant/clnsig:

In your case the code enters line 30 (if isinstance(acc, int)). In our case it goes in the else (line 46).

In your database you shouldn't have strings like "value" : "Pathogenic, Likely pathogenic" but different clinsigs sh

[2019-03-04 17:57] northwestwitch commented on #1160
We might have the same issue with our variants: #695

[2019-03-05 08:18] bjhall commented on #1160
Thanks Chiara for being so responsive! Your commit (5643e6f) should fix the problem described in this issue. However the same problem remains for the REVSTAT-filter. Not really a problem for us at the moment, since we're not really using that filter.

As @moonso is implying in #695, the new ClinVar-format does not really fit with how Scout is storing the ClinVar-data, since the CLINSIG and REVSTAT

[2019-03-05 08:53] northwestwitch commented on #1160
Hi, I think the easiest would be to loop over the value string and create as many clinsig array elements as the terms separated by comma. I'm trying to address this in #1163. You could maybe test this branch and see it works?

[2019-03-05 09:12] northwestwitch commented on #1160
The idea is to fix the query so instead of being like this:
[code]
You'll have this:
[code]

One could do the same to fix the revstats

[2019-03-05 11:51] bjhall commented on #1160
I tested the branch and it seems to work!

However, I am not sure what the expected behaviour is when both selecting for instance "Pathogenic" in the CLNSIG-select and checking the "CLINSIG Confident"-box. I expected to see variants which were Pathogenic **and** had high confidence REVSTAT. Instead it appears that I get any high confidence REVSTAT regardless och CLNSIG-value.

Maybe that's the exp

[2019-03-05 11:52] northwestwitch commented on #1160
Ok then we need to add an $and instead of an $or somewhere!

[2019-03-05 13:07] northwestwitch commented on #1160
I've pushed an update to the branch so it should combine the revstat + value values for filtering. Could you give it a try when you have time?

[2019-03-05 13:29] bjhall commented on #1160
Works perfectly! Thanks for bearing with me :)

[2019-03-05 13:31] northwestwitch commented on #1160
You're welcome, a problem of a user is everybody's problem with a software ;)
Thank you for for notifying the bug!

[2019-03-05 13:36] dnil commented on #1160
Well found, fought and fixed! Expected output indeed Pathogenic and high confidence revstat, although this may be rather confounded by variants with multiple unordered values for CLNSIG and REVSTAT. Fingers crossed for the test on a heavily populated db.

[2019-03-08 07:03] dnil commented on #1105
Eh, couldn't we perhaps reuse the mvl structure from Balsamic/Scout-Cancer here? That already has Scout support. @hassanfa: expect questions. 😄

[2019-03-08 09:19] dnil opened #1165 "Minor SV view adjustments"
The SV whole variant view disappeared again, and the IGV.js max track height is smaller than need be on modern screens.

[2019-03-08 09:40] dnil opened #1167 "Implement (parts of) manual test protocol in the py.test / flask-test framework"
Implement some of the currently manual verification tests (see doc) to be automagically run as "unit" tests.

[2019-03-08 12:03] #1160 closed

[2019-03-08 14:36] northwestwitch opened #1169 "Display rank score and filter by gene on causatives page"

[2019-03-08 14:38] northwestwitch opened #1170 "Admin-level slice-dash access"

[2019-03-08 15:47] northwestwitch opened #1172 "Fix gene_variants to display same hgnc symbol and remove weird popups"

[2019-03-08 20:42] dnil commented on #1172
Lets add the popups back instead. They derived from a set of common functions, imported, if not inherited, to both this and other views. Actually is both informative and seems to not slow things down perceptibly. The same imported macros are responsible for falling back to hgnc_id when hgnc_symbol is missing from the variant in the db. I'll see what can be done about that, but not tonight.. 😄

[2019-03-12 09:08] #1172 closed

[2019-03-12 10:46] #1165 closed

[2019-03-12 11:04] dnil commented on #1170
Solved in #1173.

[2019-03-12 11:04] #1170 closed

[2019-03-12 13:17] dnil commented on #1169
Also limit the displayed size of small indel variant names. Some are veeery long.

[2019-03-12 14:40] dnil commented on #1169
And add in zygosity or mode of inheritance. And ACMG + the other classifications if available.

[2019-03-12 17:12] dnil opened #1175 "Slice dash interaction with variant level export"
- [x] variant export broken for (at least) cust002: using sanger_ordered as a proxy for validation is not enough as variants can be marked true / false at the pin level without a sanger_order.
- [ ] totals on the variants is for a slice. Actually use a sliced query anyway for the export? That is best given the page as it is today, otherwise let's make a more clear boundary btw the sliced and unsli

[2019-03-12 18:58] northwestwitch commented on #1175
I might have drunk a little wine this evening, but I swear the second point might as well been explained in Chinese! But I guess we'll fix it! :)

[2019-03-12 19:07] dnil commented on #1175
No worries; I can express it in python instead! Enjoy the wine - you've earned it! 😄

[2019-03-13 08:22] northwestwitch opened #1177 "Create a page for users to import known pathologic variants"

[2019-03-13 08:25] northwestwitch commented on #1177
See #1105

[2019-03-13 08:34] northwestwitch opened #1178 "Remove not causative buttons from Causatives page"

[2019-03-13 08:43] northwestwitch opened #1179 "Retrieve also SVs by searching by gene and ranking?"

[2019-03-13 08:46] northwestwitch opened #1180 "Show picture on case level with info on how a gene looks like"

[2019-03-13 08:58] northwestwitch opened #1181 "Support for showing tissue type for each sample"

[2019-03-13 09:00] dnil commented on #1179
Use a strict size filter for indexing here: might work!

[2019-03-13 10:07] northwestwitch commented on #1175
I've just found out that in the code I wrote to export validated variants to the excel (point 1) I'm not using 'sanger_ordered' to collect the validated variants to be exported. I'm actually running this query:

[code]
Over the events collection. This code is in adapter.variant.verified

Something else must go wrong for cust002  then!

[2019-03-13 10:21] #1087 closed

[2019-03-13 10:30] northwestwitch commented on #1175
I've tried to assign myself to institute cust002 on scout-stage database. When my institute is 'cust002' the variant export works for me on stage

[2019-03-13 12:04] northwestwitch commented on #1175
Looks like point 1 is not an issue, and it's working now.

[2019-03-13 12:05] dnil commented on #1175
Yep, some glitch after/during updates yesterday? Anyway, good start!

[2019-03-13 12:16] dnil commented on #1175
Ok.. I stand corrected! Lets use the verb query you supplied instead: this looks very workable!

[2019-03-13 12:42] northwestwitch opened #1182 "Disease associated transcripts disappear when there are many transcripts"
See for instance https://scout-stage.scilifelab.se/cust000/643594-300M/914500e4e62673da9edcac3036163f82.

If you look down at the transcript list the first panel disappears:
![image](https://user-images.githubusercontent.com/28093618/54279608-c9d2f480-4595-11e9-9964-4bfde06cec47.png)

[2019-03-13 14:26] 4WGH opened #1183 "question about validation"
Hi,
when we valiadate by Sanger a variant and the results show that there is a mutation, but the annotation of the mutation in Scount is NOT correct.
Is it a false positive or a false negative?

see the follwing ex.
https://scout.scilifelab.se/cust003/18182/c172c3d60dd749a1b1fc32cf2c7065bc

variant annotated as:                                 c.832_833insCGG p.Glu277_Val278insAla
real variant acc

[2019-03-13 14:40] northwestwitch commented on #1183
I would say it's a false positive because the validation is relative to the annotated variant, but the variant which is supposed to be there was not found by sequencing.
A false negative would be the case when you don't observe the variant by sequencing but you find it by Sanger sequencing.

I think!

[2019-03-13 14:45] 4WGH commented on #1183
ops!
the choice in Scout between:
not validated
true positive
false positive

I will choose false positive, but it is good to know for  the future if some statistic will be taken out of SCout  :)

[2019-03-13 14:45] northwestwitch commented on #1183
So c.893_895dupAGG, p.Glu298dup (found by Sanger seq.) would be a false negative, but this is not the annotated variant present in scout.
?

[2019-03-14 07:36] henrikstranneheim commented on #1183
Are you looking at different transcripts? There is also this one for this variant:
GRCh37
NM_001286074 -> c.895_896insCGG p.Glu298_Val299insAla

Or can you show that NM_004606 has incorrect placement for the gene? The primary transcript seem to have different mapping between genome builds in ensembl.

[2019-03-15 10:52] 4WGH opened #1185 "deletion coordinates"
Hi, I've noticed that the coordiantes for one deletion we are interested on are not completely fitting with what I see in IGV
See:
https://scout.scilifelab.se/cust003/19018/sv/variants/833c92ab637c72bedb58b7f87437840f

chr7:146,486,001-146,547,000 deleted region 61kb according to Scout coordinate
chr7:146,486,086-146,547,488 deleted region 61kb according to IGV view

The difference of 86 bp for th

[2019-03-15 12:09] 4WGH commented on #1185
https://scout.scilifelab.se/cust003/18250/sv/variants/7bbdb69bc2d54531400233225affa05d

thing here
coordinates are  20:62069001 -62073000

Could it be that CNVnator round up the coordinates?

[2019-03-15 12:46] dnil commented on #1185
:smile: Yes, quite right Michela! CNVnator counts coverage in bins of a predetermined size across the genome, and calls variants by segmentation based on deviations also on neighbouring bins. The bins are very similar to probes on a micro-array in this way: they limit the resolution. For many variants, we also have support from readpairs or split reads, which gives much better resolution, but this

[2019-03-15 12:48] dnil commented on #1185
See the Scout user guide, section on variants for more details on this and links to the literature!

[2019-03-15 12:49] dnil commented on #1185
I'm closing the issue - good luck with verification!

[2019-03-15 12:51] #1185 closed

[2019-03-15 13:19] 4WGH commented on #1185
Thankyou DAniel !

Michela

________________________________
Från: Daniel Nilsson <notifications@github.com>
Skickat: den 15 mars 2019 13:51:01
Till: Clinical-Genomics/scout
Kopia: Michela Barbaro; Author
Ämne: Re: [Clinical-Genomics/scout] deletion coordinates (#1185)

Closed #1185<https://github.com/Clinical-Genomics/scout/issues/1185>.

—
You are receiving this because you authored the thread.

[2019-03-15 13:36] 4WGH commented on #1185
thank you DAniel.

1. Suggestion: should we put a "warning" signal that the coordinates are "rounded up" so the beginner user get a sort of warning signal?

[2019-03-15 13:40] dnil commented on #1185
Sure: doesn't hurt anyone, and may be helpful! There is a flag passed to VCF from the callers that indicate that these are inexact that could be shown. We could investigate if it is loaded in scout, or implement that for new cases.

[2019-03-15 14:59] genecracker opened #1186 "gnomAD-SV"
See the pre-print on gnomAD-structural variants, based on WGS data from 14,891 individuals

https://www.biorxiv.org/content/10.1101/578674v1

vcf with data is downloadable

[2019-03-15 15:56] dnil commented on #1186
Thank you Bianca! See issue on MIP, but we missed the VCF!

[2019-03-18 12:38] #1175 closed

[2019-03-18 14:30] northwestwitch commented on #1178
One should remove the 'not causative' yellow button, right?

![image](https://user-images.githubusercontent.com/28093618/54537186-616b8500-4992-11e9-87f4-ddab8798a300.png)

Could we hide the not causative variants at the bottom of each panel instead? It could still be useful info!

[2019-03-18 14:34] dnil commented on #1178
Yep, the "Not causative" is misleading! Good with sorting! A column with zygosity and inheritance pattern (also for the "causative" ones) will tell part of the rest of the story: i e whether this is likely a carrier status (possibly unsolicited) finding, or a diagnostic finding waiting to happen!

[2019-03-18 15:06] northwestwitch commented on #1178
Remember to substring the name of SVs

[2019-03-19 11:31] northwestwitch commented on #1162
I'm starting with this. Wish me good luck 😒

[2019-03-25 12:48] northwestwitch opened #1191 "Transcript parsing test uses key(s) which are not in transcript collection"
I'm working on the CLI functions and I've just noticed that the test
**tests/parse/test_parse_ensembl_transcripts.py::test_parse_ensembl_line**

Uses this transcript object (available from fixtures):
[code]

While the real transcript objects used in database are like this (from scout/parse/ensembl.py):
[code]
I don't think we are testing the real thing..

[2019-03-25 12:56] northwestwitch commented on #1191
I've found also other tests which use the wrong transcript object.

[2019-03-25 13:39] northwestwitch commented on #1191
This is probably not a bug or an issue, so I close it

[2019-03-25 13:39] #1191 closed

[2019-03-25 16:18] dnil opened #1192 "Shared cases no longer visible on institute cases"
BUG: Cases view no longer shows shared cases. Presumably something goes awry with asking for owner rather than collaborator, very likely as a consequence of an only partly thought through tightening of the query for the dashboard view.

[2019-03-25 16:23] dnil commented on #1192
Thanks to @AnnHam for noticing cases suspiciously not listed on a research institute (cf cust002 vs cust064).